<template>
    <div>
      <div class="row ">
        <div class="block-title col-md-11 ">
            <h1>ESTADÍSTICAS COMESI</h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
            <div class="block full">
                <div class="block-title">
                    <h2>Usuarios por cada actividad Existente</h2>
                </div>
                <bar-chart ref="activitysChart"></bar-chart>
            </div>
        </div>
        <div class="col-sm-6">
            <div class="block full">
                <div class="block-title">
                    <h2>Usuarios por Ciclos</h2>
                </div>
                <bar-chart ref="userChart"></bar-chart>
            </div>
        </div>
      </div>
    </div>
</template>
<script>
import BarChart from "../charts/BarChart.vue"
import axios from "axios";
export default {
    data: function(){
        return{
            var:"",
            activities:[],
            cycles:[]
        };
    },
    mounted() {
      this.getActivities();
      this.getCycles();
  },
  components:{
    BarChart
  },
  methods:{
    getActivities: function(){
      setTimeout(
      axios
      .post("/graphql", {
        query: `query{
                    activities {
                      id
                      name
                      assistants{
                        id
                      }
                    }
                }`
      })
      .then(response => {
        this.activities = response.data.data.activities;
        this.loadChart();
        console.log(response);
      })
      .catch(error => {
        console.log(error);
      }),3000);
      
    },
    getCycles: function(){
      setTimeout(
      axios
      .post("/graphql", {
        query: `query{
                  cycles{
                    id
                    name
                    assistants{
                      id
                      registration
                    }
                  }
                }`
      })
      .then(response => {
        this.cycles = response.data.data.cycles;
        this.loadChart();
        console.log(response);
      })
      .catch(error => {
        console.log(error);
      }),3000);
    },

    loadChart: function(){
      let activitys = this.activities.map(element => {
        return element.name;
      });
      let assistants = this.activities.map(element => {
        return element.assistants.length;
      });
      let ciclos = this.cycles.map(element=>{
        return element.name;
      });
      let asistencias = this.cycles.map(element=>{
        return element.assistants.length;
      });
      console.log(ciclos);
      console.log(asistencias);

      
      this.$refs.activitysChart.chartData = {
        labels: activitys,
        datasets: [{
            data: assistants,
            label:'Actividades',
            backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
        borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)'
            ],
            borderWidth: 1
        }]
    };
    this.$refs.userChart.chartData ={
     /* labels: user,*/ 
      labels:ciclos,
      datasets:[{
        data: asistencias,
        label:'Usuarios',
        backgroundColor: [
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
        borderColor: [
                'rgba(255, 99, 132, 1)',
                'rgba(54, 162, 235, 1)',
                'rgba(255, 206, 86, 1)',
                'rgba(75, 192, 192, 1)',
                'rgba(153, 102, 255, 1)',
                'rgba(255, 159, 64, 1)',
                'rgba(255, 99, 132, 0.2)',
                'rgba(54, 162, 235, 0.2)',
                'rgba(255, 206, 86, 0.2)',
                'rgba(75, 192, 192, 0.2)',
                'rgba(153, 102, 255, 0.2)',
                'rgba(255, 159, 64, 0.2)'
            ],
            borderWidth: 1
      }]
    };
    
      this.$refs.activitysChart.options = {
          scales: {
              yAxes: [{
                  ticks: {
                      beginAtZero: true
                  }
              }]
          }
      };
      this.$refs.userChart.options ={
        scales:{
          yAxes:[{
            ticks:{
              beginAtZero:true
            }
          }]
        }
      };
    }
  }
}
</script>