= form_with(model: type_cost, local: true) do |form|
  -if type_cost.errors.any?
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3 Ocurrio un error al guardar el registro:
      %ul 
        - type_cost.errors.full_messages.each do |message|
          %li= message

  %div{:class => 'row form-group'}
    %div{:class => "col-md-1"}
    %label{:class => "col-md-2 control-label"}Nombre:
    %div{:class => "col-md-7"}
      %div{:class =>"input-group"}

        = form.text_field :name,class: "form-control"
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-pencil-square-o"}

  %div{:class=> 'row form-group'}
    %div{:class => "col-md-1"}
    %label{:class => "col-md-2 control-label"}Descripción:
    %div{:class => "col-md-7"}
      = form.text_area :description,class: "form-control"
 

  %div{:class =>"row text-center form-group form-actions"}
    = button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
  
    %a{:href => type_costs_path,:class => "btn btn-custom btn-primary btn-effect-ripple"}
      %i{:class =>"fa fa-reply"}
      Regresar