%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Editar Tipo de Costo :
                = @type_cost.name
        %div{:class => 'form-horizontal form-bordered col-12'} 
            %span{:id => "notice"}= notice  
            = render 'form', type_cost: @type_cost