%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Tipos de Costos
      %a{:href => new_type_cost_path ,:class => "btn btn-custom btn-primary pull-right"} 
        %i{:class => 'fa fa-plus'}
        Agregar Nuevo Costo 
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
    %div{:class => "table-responsive"}
      %table{:id=>'#table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th Nombre
            %th Descripción
            %th Administración
        %tbody
          - @type_costs.each do |type_cost|
            %tr
              %td= type_cost.name
              %td= type_cost.description
              %td
                = link_to type_cost do
                  %i{:class => "fa fa-eye i-admin i-admin-read"}
                = link_to edit_type_cost_path(type_cost) do
                  %i{:class => "fa fa-pencil-square-o i-admin i-admin-edit"}
                %i{:id => type_cost.id, :class => "i-admin i-admin-delete btn-eliminar fa fa-trash-o"} 
- content_for :javascript do
  = javascript_include_tag 'type_costs'                 


