%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2 Agregar Tipo de Costo
        %div{:class => 'form-horizontal form-bordered'} 
            %span{:id => "notice"}= notice 

            = render 'form', type_cost: @type_cost

            -#%div{:class =>"col "}
            -#%a{:href => type_costs_path,:class => "btn btn-primary fa fa-reply ",:style => "margin-top:2em; margin-left:480px;"} Regresar

