%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Tipo de Costo : 
      = @type_cost.name
  %div{:class => 'row form-bordered form-horizontal'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'form-group'}
      %label{:class => "col-md-3 control-label"}Nombre:
      %label{:class => "col-md-9 control-label",:style => 'text-align:left'}= @type_cost.name

    %div{:class => 'form-group'}
      %label{:class => "col-md-3 control-label"}Descripcion:
      %label{:class => "col-md-9 control-label",:style => 'text-align:left'}= @type_cost.description
    %div{:class => 'form-group form-actions text-center'}
      %a{:href => edit_type_cost_path(@type_cost),:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-pencil-square-o'}
        Editar

      %a{:href => type_costs_path,:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-reply'}
        Regresar
