<%= form_with(model: graduation_institution, local: true) do |form| %>
  <% if graduation_institution.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(graduation_institution.errors.count, "error") %> prohibited this graduation_institution from being saved:</h2>

      <ul>
      <% graduation_institution.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :average %>
    <%= form.text_field :average %>
  </div>

  <div class="field">
    <%= form.label :specialty %>
    <%= form.number_field :specialty %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
