<h1>Editing Graduation Institution</h1>

<%= render 'form', graduation_institution: @graduation_institution %>

<%= link_to 'Show', @graduation_institution %> |
<%= link_to 'Back', graduation_institutions_path %>
