<p id="notice"><%= notice %></p>

<h1>Graduation Institutions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Average</th>
      <th>Specialty</th>
      <th>Status</th>
      <th>Student</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @graduation_institutions.each do |graduation_institution| %>
      <tr>
        <td><%= graduation_institution.name %></td>
        <td><%= graduation_institution.average %></td>
        <td><%= graduation_institution.specialty %></td>
        <td><%= graduation_institution.status %></td>
        <td><%= graduation_institution.student_id %></td>
        <td><%= link_to 'Show', graduation_institution %></td>
        <td><%= link_to 'Edit', edit_graduation_institution_path(graduation_institution) %></td>
        <td><%= link_to 'Destroy', graduation_institution, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Graduation Institution', new_graduation_institution_path %>
