<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @graduation_institution.name %>
</p>

<p>
  <strong>Average:</strong>
  <%= @graduation_institution.average %>
</p>

<p>
  <strong>Specialty:</strong>
  <%= @graduation_institution.specialty %>
</p>

<p>
  <strong>Status:</strong>
  <%= @graduation_institution.status %>
</p>

<p>
  <strong>Student:</strong>
  <%= @graduation_institution.student_id %>
</p>

<%= link_to 'Edit', edit_graduation_institution_path(@graduation_institution) %> |
<%= link_to 'Back', graduation_institutions_path %>
