<template>
  <div>
    <block
      v-if="level_academic_exist"
      :title="'Nivel Académico: ' + level_academic.name"
    >
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control uppercase"
              v-model="level_academic['name']"
            />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">RVOE:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="level_academic['rvoe']"
            />
            <span class="input-group-addon">
              <i class="fa fa-mortar-board" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Tipo:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="level_academic['type']" class="form-control">
              <option value="Licenciatura">Licenciatura</option>
              <option value="Maestría">Maestría</option>
            </select>
            <span class="input-group-addon">
              <i class="fa fa-mortar-board" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Inscripción:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['inscription']"
            />
            <span class="input-group-addon">
              <i class="fa fa-money" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Reinscripción:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['reinscription']"
            />
            <span class="input-group-addon">
              <i class="fa fa-money" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Colegiatura:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['tuition']"
            />
            <span class="input-group-addon">
              <i class="fa fa-money" />
            </span>
          </div>
        </div>
      </div>

      <div class="row form-group form-actions">
        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <router-link
            :to="'/niveles/academicos'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      level_academic_exist: false,
      level_academic: {
        name: "",
        rvoe: "",
        type: "Licenciatura"
      },
      cost: {
        inscription: 0,
        reinscription: 0,
        tuition: 0
      }
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post("/graphql", {
        query: `{
  levelAcademic(id: ${this.id}){
    id
    name
    rvoe
    type
    cost {
      inscriptionLic
      reinscriptionLic
      tuitionLic
      inscriptionMaster
      reinscriptionMaster
      tuitionMaster
    }
  }
}`
      })
      .then(response => {
        this.level_academic = response.data.data.levelAcademic;
        if (this.level_academic.type == "Licenciatura")
          this.cost = {
            inscription: this.level_academic.cost.inscriptionLic,
            reinscription: this.level_academic.cost.reinscriptionLic,
            tuition: this.level_academic.cost.tuitionLic
          };
        else
          this.cost = {
            inscription: this.level_academic.cost.inscriptionMaster,
            reinscription: this.level_academic.cost.reinscriptionMaster,
            tuition: this.level_academic.cost.tuitionMaster
          };
        this.level_academic_exist = true;
      })
      .catch(error => {
        this.level_academic_exist = false;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
  levelAcademic(id: ${this.id}){
    id
    name
    rvoe
    type
    cost {
      inscriptionLic
      reinscriptionLic
      tuitionLic
      inscriptionMaster
      reinscriptionMaster
      tuitionMaster
    }
  }
}`
        })
        .then(response => {
          this.level_academic = response.data.data.levelAcademic;
          if (this.level_academic.type == "Licenciatura")
            this.cost = {
              inscription: this.level_academic.cost.inscriptionLic,
              reinscription: this.level_academic.cost.reinscriptionLic,
              tuition: this.level_academic.cost.tuitionLic
            };
          this.level_academic_exist = true;
        })
        .catch(error => {
          this.level_academic_exist = false;
        });
    }
  },
  methods: {
    guardar: function() {
      if (this.level_academic.name)
        if (this.level_academic.rvoe)
          if (
            this.level_academic.type == "Licenciatura" ||
            this.level_academic.type == "Maestría"
          )
            if (this.cost.inscription)
              if (this.cost.reinscription)
                if (this.cost.tuition)
                  axios
                    .put(
                      BASE_URL +
                        "/niveles/academicos/" +
                        this.level_academic.id,
                      {
                        level_academic: this.level_academic,
                        cost: this.cost
                      }
                    )
                    .then(response => {
                      if (response.data.status == "200")
                        Swal.fire({
                          title: "Éxito!",
                          text: response.data.msg,
                          icon: "success"
                        }).then(result => {
                          if (result.value) window.location.reload();
                        });
                      else {
                        var errors = "";
                        for (var [key, value] of Object.entries(
                          response.data.msg
                        )) {
                          errors += `${key} ${value} `;
                        }
                        Swal.fire({
                          title: "Error!",
                          text: errors,
                          icon: "error"
                        });
                      }
                    });
                else
                  Swal.fire({
                    title: "Error!",
                    text: "El Costo de la colegiatura es requerido",
                    icon: "error"
                  });
              else
                Swal.fire({
                  title: "Error!",
                  text: "El Costo de la reinscripción es requerido",
                  icon: "error"
                });
            else
              Swal.fire({
                title: "Error!",
                text: "El Costo de la inscripción es requerido",
                icon: "error"
              });
          else
            Swal.fire({
              title: "Error!",
              text: "El tipo es requerido",
              icon: "error"
            });
        else
          Swal.fire({
            title: "Error!",
            text: "El RVOE  es requerido",
            icon: "error"
          });
      else
        Swal.fire({
          title: "Error!",
          text: "El nombre es requerido",
          icon: "error"
        });
    }
  }
};
</script>
