<template>
  <div>
    <block
      title="Niveles Académicos"
      buttonTitle="Agregar Nivel Académico"
      buttonRef="#/niveles/academicos/crear"
    >
      <v-client-table
        :data="level_academics"
        :columns="columns"
        :options="options"
        v-if="level_academics"
      >
        <div slot="administration" slot-scope="props">
          <router-link :to="'/niveles/academicos/ver/' + props.row.id" class="col-md-4">
            <i class="fa fa-eye i-admin i-admin-read"></i>
          </router-link>
          <router-link :to="'/niveles/academicos/editar/' + props.row.id" class="col-md-4">
            <i class="fa fa-pencil i-admin i-admin-edit"></i>
          </router-link>
          <a @click="eliminar(props.row.id)">
            <i class="fa fa-trash i-admin i-admin-delete"></i>
          </a>
        </div>
      </v-client-table>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      level_academics: undefined,
      columns: ["name", "rvoe", "type", "administration"],
      options: {
        headings: {
          name: "Nombre",
          rvoe: "RVOE",
          type: "Tipo",
          administration: "Administración"
        },
        sortable: ["name", "rvoe", "position", "type"],
        filterable: ["name", "rvoe", "position", "type"],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro sera eliminado",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios
            .delete(BASE_URL + "/niveles/academicos/" + id, {
              authenticity_token: AUTHENTICITY_TOKEN
            })
            .then(response => {
              if (response.data.status == "200")
                Swal.fire({
                  title: "Éxito",
                  text: response.data.msg,
                  type: "success"
                }).then(result => {
                  if (result.value) window.location.reload();
                });
              else
                Swal.fire({
                  title: "Error",
                  text: response.data.msg,
                  type: "error"
                });
            });
      });
    }
  },
  components: {
    Block
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `{
  levelAcademics{
    id
    name
    rvoe
    type
  }
}`
      })
      .then(response => {
        if (response.status == "200")
          this.level_academics = response.data.data.levelAcademics;
        else
          Swal.fire({
            title: "Error",
            body: response.data.errors.message,
            type: "error"
          });
      })
      .catch(error => {
        Swal.fire({
          title: "Error",
          type: "error"
        });
      });
  }
};
</script>
