<template>
  <div>
    <block
      v-if="level_academic_exist"
      :title="'Nivel Académico: ' + level_academic.name"
    >
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="level_academic['name']"
              disabled
            />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">RVOE:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="level_academic['rvoe']"
              disabled
            />
            <span class="input-group-addon">
              <i class="fa fa-mortar-board" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Tipo:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select
              v-model="level_academic['type']"
              class="form-control"
              disabled
            >
              <option value="Licenciatura">Licenciatura</option>
              <option value="Maestría">Maestría</option>
            </select>
            <span class="input-group-addon">
              <i class="fa fa-mortar-board" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Inscripción:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['inscriptionLic']"
              disabled
              v-if="level_academic['type'] == 'Licenciatura'"
            />
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['inscriptionMaster']"
              disabled
              v-else
            />
            <span class="input-group-addon">
              <i class="fa fa-money" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Reinscripción:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['reinscriptionLic']"
              disabled
              v-if="level_academic['type'] == 'Licenciatura'"
            />
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['reinscriptionMaster']"
              disabled
              v-else
            />
            <span class="input-group-addon">
              <i class="fa fa-money" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Colegiatura:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['tuitionLic']"
              disabled
              v-if="level_academic['type'] == 'Licenciatura'"
            />
            <input
              type="number"
              min="0"
              step="0.1"
              class="form-control"
              v-model="cost['tuitionMaster']"
              disabled
              v-else
            />
            <span class="input-group-addon">
              <i class="fa fa-money" />
            </span>
          </div>
        </div>
      </div>

      <div class="row form-group form-actions">
        <div class="col-md-12 text-center">
          <router-link
            :to="'/niveles/academicos'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      level_academic_exist: false,
      level_academic: {
        name: "",
        rvoe: "",
        type: "Licenciatura"
      },
      cost: {
        inscription: 0,
        reinscription: 0,
        tuition: 0
      }
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post("/graphql", {
        query: `{
  levelAcademic(id: ${this.id}){
    id
    name
    rvoe
    type
    cost {
      inscriptionLic
      reinscriptionLic
      tuitionLic
      inscriptionMaster
      reinscriptionMaster
      tuitionMaster
    }
  }
}`
      })
      .then(response => {
        this.level_academic = response.data.data.levelAcademic;
        this.cost = response.data.data.levelAcademic["cost"];
        this.level_academic_exist = true;
      })
      .catch(error => {
        this.level_academic_exist = false;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
  levelAcademic(id: ${this.id}){
    id
    name
    rvoe
    type
    cost {
      inscriptionLic
      reinscriptionLic
      tuitionLic
      inscriptionMaster
      reinscriptionMaster
      tuitionMaster
    }
  }
}`
        })
        .then(response => {
          this.level_academic = response.data.data.levelAcademic;
          this.cost = response.data.data.levelAcademic["cost"];
          this.level_academic_exist = true;
        })
        .catch(error => {
          this.level_academic_exist = false;
        });
    }
  }
};
</script>
