<%= form_with(model: installation, local: true) do |form| %>
  <% if installation.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(installation.errors.count, "error") %> prohibited this installation from being saved:</h2>

      <ul>
      <% installation.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :string %>
    <%= form.text_field :string %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
