<p id="notice"><%= notice %></p>

<h1>Installations</h1>

<table>
  <thead>
    <tr>
      <th>String</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @installations.each do |installation| %>
      <tr>
        <td><%= installation.string %></td>
        <td><%= link_to 'Show', installation %></td>
        <td><%= link_to 'Edit', edit_installation_path(installation) %></td>
        <td><%= link_to 'Destroy', installation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Installation', new_installation_path %>
