<template>
  <div>
    <block :title="'Crear Nuevo Horario'">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Ciclo Escolar:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="schedule.cycle.id">
              <option v-for="item in cycles" v-bind:key="item.id" :value="item.id">{{ item.name }}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-calendar" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Plan de Estudios:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="schedule.studyPlan.id" class="form-control" @change="getAsignatures">
              <option
                v-for="item in studyPlans"
                :value="item.id"
                v-bind:key="item.id"
              >{{ item.name }}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Tipo de asignatura:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="schedule.asignature.id" class="form-control">
              <option
                v-for="item in asignatures"
                v-bind:key="item.id"
                :value="item.id"
              >{{ item.asignatureName }}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Docente:</label>
        <div class="col-md-4" style="text-transform:uppercase">
          <basic-select
            :options="options"
            :selected-option="itemSelect"
            @select="onSelect"
            placeholder="--Seleccione un Docente--"
          ></basic-select>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Horario:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="schedule.timeTable.id">
              <option
                v-for="item in timeTables"
                v-bind:key="item.id"
                :value="item.id"
              >{{ item.rangeHours }}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Seriación(Asignatura Previa):</label>
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="schedule.day" class="form-control">
              <option v-for="item in days" :key="item.id">{{ item }}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Grupo:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" v-model="schedule.group" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Instalaciones:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="schedule.installation.id" class="form-control">
              <option
                v-for="item in installations"
                v-bind:key="item.id"
                :value="item.id"
              >{{ item.name }}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <button
            type="button"
            @click="guardar"
            href="#/horarios"
            class="btn btn-effect-ripple btn-success"
            style="margin-bottom:1px"
          >
            <i class="fa fa-save" />Guardar
          </button>
          <a href="#/horarios" class="btn btn-effect-ripple btn-primary" style="margin-bottom:1px">
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
import { BasicSelect } from "vue-search-select";
import "vue-search-select/dist/VueSearchSelect.css";
export default {
  data() {
    return {
      cycles: [],
      studyPlans: [],
      asignatures: [],
      options: [],
      timeTables: [],
      installations: [],
      days: ["Lunes", "Martes", "Miercoles", "Jueves", "Viernes", "Sábado"],
      schedule: {},
      itemSelect: {}
    };
  },
  components: {
    Block,
    BasicSelect
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
            schedule(id:${this.$route.params.id}){
                id
                cycle {
                id
                name
                }
                studyPlan {
                id
                name
                }
                asignature {
                id
                asignatureName
                }
                teacher {
                id
                actingAs {
                    id
                    firstName
                    secondName
                    lastName
                }
                }
                timeTable {
                id
                rangeHours
                }
                day
                group
                installation {
                id
                name
                }
            }
            }`
      })
      .then(response => {
        this.schedule = response.data.data.schedule;
        this.itemSelect = {
          value: this.schedule.teacher.id,
          text:
            this.schedule.teacher.actingAs.firstName +
            " " +
            this.schedule.teacher.actingAs.secondName +
            " " +
            this.schedule.teacher.actingAs.lastName
        };
        this.getAsignatures();
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    guardar: function() {
      let schedulese = {
        id: this.schedule.id,
        range_hours: this.timeTables.rangeHours,
        cycle_id: this.schedule.cycle.id,
        study_plan_id: this.schedule.studyPlan.id,
        asignature_id: this.schedule.asignature.id,
        teacher_id: this.itemSelect.value,
        time_table_id: this.schedule.timeTable.id,
        day: this.schedule.day,
        group: this.schedule.group,
        installation_id: this.schedule.installation.id
      };
      axios
        .put(BASE_URL + "/schedules/" + this.schedule.id + ".json", {
          schedule: schedulese,
          authenticity_token: AUTHENTICITY_TOKEN
        })

        .then(function(response) {
          if (response.data.status == 200) {
            Swal.fire({
              icon: "success",
              title: "Éxito",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location = BASE_URL + "/#/horarios";
            });
          } else
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: response.data.msg
            });
        })
        .catch(error => {
          console.log(error);
        });
    },

    getCycles: function() {
      axios
        .post(BASE_URL + "/graphql", {
          query: "{cycles{ id name }}"
        })
        .then(response => {
          this.cycles = response.data.data.cycles;
        });
    },
    getStudyPlans: function() {
      axios
        .post(BASE_URL + "/graphql", {
          query: "{studyPlans{id name }}"
        })
        .then(response => {
          this.studyPlans = response.data.data.studyPlans;
        });
    },
    getAsignatures: function() {
      axios
        .post(BASE_URL + "/graphql", {
          query: `query{studyPlanForAsignature(id: ${this.schedule.studyPlan.id}){ id asignatureName }}`
        })
        .then(response => {
          this.asignatures = response.data.data.studyPlanForAsignature;
        });
    },
    getInstallations: function() {
      axios
        .post(BASE_URL + "/graphql", {
          query: "{	installations{ id name }}"
        })
        .then(response => {
          this.installations = response.data.data.installations;
        });
    },
    getTeachers: function() {
      axios
        .post("/graphql", {
          query: `{ 
                teachers{ 
                  id 
                  actingAs{ 
                    firstName 
                    secondName 
                    lastName 
                  } 
                } 
              }`
        })
        .then(response => {
          response.data.data.teachers.map(teacher => {
            this.options.push({
              value: parseInt(teacher.id),
              text: `${teacher.actingAs.firstName} ${teacher.actingAs.secondName} ${teacher.actingAs.lastName}`
            });
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    getTimeTables: function() {
      axios
        .post(BASE_URL + "/graphql", {
          query: "{timetables{ id rangeHours}}"
        })
        .then(response => {
          this.timeTables = response.data.data.timetables;
        });
    },
    onSelect(item) {
      this.itemSelect = item;
    }
  },
  mounted() {
    this.getCycles();
    this.getStudyPlans();
    this.getTeachers();
    this.getTimeTables();
    this.getInstallations();
  }
};
</script>