<template>
  <block title="Horarios" buttonTitle="Agregar Nuevo Horario" buttonRef="#/horarios/crear">
    <v-client-table :data="schedules" :columns="columns" :options="options">
      <div slot="administration" slot-scope="props">
        <router-link :to="'/horarios/ver/' + props.row.id" class="col-md-2">
          <i class="fa fa-eye i-admin i-admin-read"></i>
        </router-link>
        <router-link :to="'/horarios/editar/' + props.row.id" class="col-md-2">
          <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
        </router-link>
        <a @click="eliminar(props.row.id)" class="col-md-2">
          <i class="fa fa-trash i-admin i-admin-delete"></i>
        </a>
        <button
          type="button"
          @click="showModal = true;selectedSchedule = props.row"
          class="btn btn-success col-md-4"
        >
          <i class="fa fa-angle-double-right">&nbsp;</i>Seleccionar
        </button>
      </div>
    </v-client-table>
    <div v-if="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4
                  class="modal-title text-uppercase"
                  style="font-weight:bold;display:inline"
                >
                  {{ selectedSchedule.cycle.name }} {{ selectedSchedule.studyPlan.name }} {{ selectedSchedule.asignature.asignatureName }}
                </h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span
                    aria-hidden="true"
                    @click="
                      showModal = false;"
                    >&times;</span
                  >
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-2">
                    <a :href="'/formato/asistencia/'+ selectedSchedule.id +'.pdf'" target="_blank" class="widget text-center">
                        <div class="widget-content themed-background-info text-light-op text-center">
                            <i class="fa fa-3x fa-list-alt push-bit"></i><br>
                            <strong>Generar Lista de asistencia</strong>
                        </div>
                    </a>
                  </div>
                  <div class="col-sm-2">
                    <a :href="'/formato/concentrado/'+ selectedSchedule.id +'.pdf'" target="_blank" class="widget text-center">
                        <div class="widget-content themed-background-info text-light-op text-center">
                            <i class="fa fa-3x fa-list-alt push-bit"></i><br>
                            <strong>Generar concentrado de calificaciones</strong>
                        </div>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-warning"
                  @click="showModal = false;"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </block>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      schedules: [],
      showModal: false,
      selectedSchedule: {},
      columns: [
        "cycle.name",
        "studyPlan.name",
        "asignature.asignatureName",
        "teacher.name",
        "timeTable.rangeHours",
        "day",
        "group",
        "installation.name",
        "administration"
      ],
      options: {
        headings: {
          "cycle.name": "Ciclo",
          "studyPlan.name": "Plan de Estudios",
          "asignature.asignatureName": "Asignatura",
          "teacher.name": "Docente",
          "timeTable.rangeHours": "Horario",
          day: "Día",
          group: "Grupo",
          "installation.name": "Instalaciones",
          administration: "Administración"
        },
        sortable: ["name", "startDate", "finishDate", "totalHours", "cycle_id"],
        filterable: [
          "name",
          "startDate",
          "finishDate",
          "totalHours",
          "cycle_id"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `query{
                  schedules{
                    id
                    cycle {
                      name
                    }
                    studyPlan{
                      name
                    }
                    asignature{
                      asignatureName
                    }
                    teacher{
                      actingAs{
                        firstName
                        secondName
                        lastName
                      }
                    }
                    timeTable{
                      rangeHours
                    }
                    day
                    group
                    installation{
                      id
                      name
                    }
                  }
                }`
      })
      .then(response => {
        this.schedules = response.data.data.schedules;
        this.schedules.map(item => {
          item.teacher.name =
            item.teacher.actingAs.firstName +
            " " +
            item.teacher.actingAs.secondName +
            " " +
            item.teacher.actingAs.lastName;
        });
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro será eliminado",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios
            .delete(BASE_URL + "/schedules/" + id + ".json")
            .then(response => {
              if (response.status == 204)
                Swal.fire({
                  title: "Éxito",
                  text: response.data.msg,
                  icon: "success"
                }).then(result => {
                  if (result.value) window.location.reload();
                });
            });
      });
    }
  },
  components: {
    Block
  }
};
</script>
