<%= form_with(model: time_table, local: true) do |form| %>
  <% if time_table.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(time_table.errors.count, "error") %> prohibited this time_table from being saved:</h2>

      <ul>
      <% time_table.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :range_hours %>
    <%= form.text_field :range_hours %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
