<p id="notice"><%= notice %></p>

<h1>Rango de Horas</h1>

<table>
  <thead>
    <tr>
      <th>Rango</th>
      <th colspan="3">Administrar</th>
    </tr>
  </thead>

  <tbody>
    <% @time_tables.each do |time_table| %>
      <tr>
        <td><%= time_table.range_hours %></td>
        <td><%= link_to 'Show', time_table %></td>
        <td><%= link_to 'Edit', edit_time_table_path(time_table) %></td>
        <td><%= link_to 'Destroy', time_table, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Time Table', new_time_table_path %>
