<p id="notice"><%= notice %></p>

<p>
  <strong>Range hours:</strong>
  <%= @time_table.range_hours %>
</p>

<%= link_to 'Edit', edit_time_table_path(@time_table) %> |
<%= link_to 'Back', time_tables_path %>
