= form_with(model: level_academic, local: true) do |form|
  -if level_academic.errors.any?
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3 Ocurrio un error al guardar el registro:
      %ul 
        - level_academic.errors.full_messages.each do |message|
          %li= message        
  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label "}Nombre:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.text_field :name,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-user"}
    %div{:class => 'row col-md-6'}        
      %label{:class => "col-md-4 control-label"}RVOE:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.text_field :rvoe,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-credit-card-alt"}
  %div{:class =>'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Tipo:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :type, options_academics,{},{:class => 'form-control'}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-caret-square-o-down"}

  %div{:class => 'form-group form-actions text-center '}  
    =  button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    
    %a{:href => level_academics_path,:class => "btn btn-custom btn-primary"} 
      %i{:class => 'fa fa-reply'}
      Regresar

  

      
