%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Nivel Académico :
                = @level_academic.name
        %div{:class => 'form-horizontal form-bordered col-12'} 
            %span{:id => "notice"}= notice  
            = render 'form', level_academic: @level_academic