%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Niveles Académicos
      %a{:href => new_level_academic_path ,:class => "btn btn-custom btn-primary pull-right"} 
        %i{:class => 'fa fa-plus'}Agregar Nuevo Nivel Académico 
    %div{:class => "col-12 p-4"}

    %div{:class => "table-responsive"}
      %table{:id=>'#table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th ID
            %th Nombre
            %th Rvoe
            %th Tipo
            %th Administración
        %tbody
          - @level_academics.each do |level_academic|
            %tr
              %td= level_academic.id
              %td= level_academic.name
              %td= level_academic.rvoe
              %td= level_academic.type
              %td
                = link_to level_academic do
                  %i{:class => "fa fa-eye",:style => "font-size:2em;margin-right:2em"}
                = link_to edit_level_academic_path(level_academic) do
                  %i{:class => "fa fa-pencil-square-o",:style => "font-size:2em;margin-right:2em"}
                = link_to level_academic, method: :delete, data: { confirm: 'Estas seguro?' } do
                  %i{:class => "fa fa-trash-o",:style => "font-size:2em"} 
