%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Agregar Nivel Académico
        %div{:class => 'form-horizontal form-bordered'} 
            %span{:id => "notice"}= notice 

            = render 'form', level_academic: @level_academic