%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Nivel Académico : 
      = @level_academic.name
  %div{:class => 'row form-horizontal form-bordered'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-4 control-label"}Nombre:
      %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @level_academic.name

    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-4 control-label"}Rvoe:
      %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @level_academic.rvoe
    
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-4 control-label"}Tipo:
      %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @level_academic.type

    %div{:class => 'col-md-12 form-group form-actions text-center'}
      %a{:href => edit_level_academic_path(@level_academic),:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-pencil-square-o'}
        Editar
      %a{:href => level_academics_path,:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-reply'}
        Regresar