<%= form_with(model: session_module, local: true) do |form| %>
  <% if session_module.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(session_module.errors.count, "error") %> prohibited this session_module from being saved:</h2>

      <ul>
      <% session_module.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :module_activity_id %>
    <%= form.number_field :module_activity_id %>
  </div>

  <div class="field">
    <%= form.label :date %>
    <%= form.date_select :date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
