<p id="notice"><%= notice %></p>

<h1>Session Modules</h1>

<table>
  <thead>
    <tr>
      <th>Module activity</th>
      <th>Date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @session_modules.each do |session_module| %>
      <tr>
        <td><%= session_module.module_activity_id %></td>
        <td><%= session_module.date %></td>
        <td><%= link_to 'Show', session_module %></td>
        <td><%= link_to 'Edit', edit_session_module_path(session_module) %></td>
        <td><%= link_to 'Destroy', session_module, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Session Module', new_session_module_path %>
