<p id="notice"><%= notice %></p>

<p>
  <strong>Module activity:</strong>
  <%= @session_module.module_activity_id %>
</p>

<p>
  <strong>Date:</strong>
  <%= @session_module.date %>
</p>

<%= link_to 'Edit', edit_session_module_path(@session_module) %> |
<%= link_to 'Back', session_modules_path %>
