<template>
  <div>
    <block title="VER ADEUDOS">
      <div class="row">
        <div class="col-xs-6 col-md-3"></div>
        <div class="col-xs-6 col-md-4 col-md-offset-3" style="margin:50px">
          <a
            id="frame"
            class="btn btn-success"
            style="border-radius:10px;width:200px"
            data-toggle="modal"
            data-target="#modal-usuario"
            @click="getUser = true"
          >
            <i class="fa fa-search" style="font-size:60px;"></i
            >&nbsp;&nbsp;Buscar Usuario
          </a>
        </div>
      </div>
      <div class="row">
        <div class="form-group col-md-6">
          <label class="col-md-4 control-label" for="example-clickable-username"
            >Nombres:</label
          >
          <div class="col-md-8">
            <span id="form-first-name" class="text-uppercase form-control">{{
              user ? user.first_name : ""
            }}</span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="col-md-4 control-label" for="example-clickable-email"
            >Apellido Paterno:</label
          >
          <div class="col-md-8">
            <span id="form-second-name" class="text-uppercase form-control">{{
              user ? user.second_name : ""
            }}</span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="col-md-4 control-label" for="example-clickable-email"
            >Apellido Materno:</label
          >
          <div class="col-md-8">
            <span id="form-last-name" class="text-uppercase form-control">{{
              user ? user.last_name : ""
            }}</span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="col-md-4 control-label" for="example-clickable-password"
            >Email:</label
          >
          <div class="col-md-8">
            <span id="form-email" class="form-control">{{
              user ? user.email : ""
            }}</span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label class="col-md-4 control-label" for="example-clickable-password"
            >CURP:</label
          >
          <div class="col-md-8">
            <span id="form-curp" class="text-uppercase form-control">{{
              user ? user.curp : ""
            }}</span>
          </div>
        </div>
        <div class="form-group col-md-6">
          <label
            class="col-md-4 control-label"
            for="example-clickable-password2"
            >Tel&eacute;fono:</label
          >
          <div class="col-md-8">
            <span id="form-cell-phone" class="form-control">{{
              user ? user.cell_phone : ""
            }}</span>
          </div>
        </div>
      </div>
      <div>
        <v-client-table
          :data="debits"
          :columns="columns"
          :options="options"
          v-if="debits"
        >
          <div slot="administration" slot-scope="props">
            <button
              type="button"
              class="btn btn-primary"
              @click="
                debit = props.row;
                showModal = true;
              "
            >
              Pagar
            </button>
          </div>
          <div slot="amount" slot-scope="props">
            <span class="text-uppercase"
              >$ {{ props.row.amount.toFixed(2) }}</span
            >
          </div>
          <div slot="beca" slot-scope="props">
            <span class="text-uppercase">{{ props.row.beca }} %</span>
          </div>
          <div slot="totalCost" slot-scope="props">
            <span class="text-uppercase"
              >$ {{ props.row.totalCost.toFixed(2) }}</span
            >
          </div>
          <div slot="concept.name" slot-scope="props">
            <span class="text-uppercase">{{ props.row.concept.name }}</span>
          </div>
        </v-client-table>
      </div>
      <!-- Search User Modal -->
      <div
        id="modal-usuario"
        class="modal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
        data-backdrop="static"
        data-keyboard="false"
      >
        <div
          class="modal-dialog modal-dialog-centered modal-lg"
          style="width:1000px"
        >
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                @click="getUser = false"
                data-dismiss="modal"
                aria-hidden="true"
              >
                &times;
              </button>
              <h3 class="modal-title">
                <strong>B&uacute;scar Usuario</strong>
              </h3>
            </div>
            <div class="modal-body">
              <search-user v-if="getUser" v-on:changed="user = $event" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-effect-ripple btn-primary"
                data-dismiss="modal"
                @click="getUser = false"
              >
                Cerrar
              </button>
            </div>
          </div>
        </div>
      </div>
      <!-- END Search User Modal -->
      <div v-if="showModal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4 class="modal-title">Resumen de pago:</h4>
                </div>
                <div class="modal-body">
                  <form class="'row form-horizontal form-bordered">
                    <div class="col-xs-6">
                      <label class="col-xs-4">Estudiante:</label>
                      <input
                        type="text"
                        class="col-xs-8 form-control text-uppercase"
                        :value="
                          user.first_name +
                            ' ' +
                            user.second_name +
                            ' ' +
                            user.last_name
                        "
                        readonly
                      />
                    </div>
                    <div class="col-xs-6">
                      <label class="col-xs-4">Concepto:</label>
                      <input
                        type="text"
                        class="col-xs-8 form-control text-uppercase"
                        :value="debit.concept.name"
                        readonly
                      />
                    </div>
                    <div class="col-xs-6">
                      <label class="col-xs-4">Monto:</label>
                      <input
                        type="text"
                        class="col-xs-8 form-control text-uppercase"
                        :value="'$ ' + debit.amount.toFixed(2)"
                        readonly
                      />
                    </div>
                    <div class="col-xs-6">
                      <label class="col-xs-4">Beca:</label>
                      <input
                        type="number"
                        step="1"
                        min="0"
                        max="100"
                        class="col-xs-8 form-control text-uppercase"
                        v-model="debit.beca"
                        :readonly="isAdmin ? false : true"
                      />
                    </div>
                    <div class="col-xs-6">
                      <label class="col-xs-4">Total:</label>
                      <input
                        type="text"
                        class="col-xs-8 form-control text-uppercase"
                        :value="
                          '$ ' + (debit.amount * (100 - debit.beca)) / 100
                        "
                        readonly
                      />
                    </div>
                    <div class="col-xs-6">
                      <label class="col-xs-4">Forma de pago:</label>
                      <select
                        v-model="typePayment"
                        class="col-xs-8 form-control text-uppercase"
                      >
                        <option
                          v-for="typePayment in typePayments"
                          :key="typePayment.id"
                          :value="typePayment.id"
                          >{{ typePayment.name }}</option
                        >
                      </select>
                    </div>
                    <div class="col-xs-6">
                      <label class="col-xs-4">Facturar:</label>
                      <select
                        v-model="invoice"
                        class="col-xs-8 form-control text-uppercase"
                      >
                        <option value="false">NO</option>
                        <option value="true">SI</option>
                      </select>
                    </div>
                  </form>
                </div>
                <div class="modal-footer">
                  <button class="btn btn-primary" @click="pagar()">
                    Aceptar
                  </button>
                  <button
                    type="button"
                    class="btn btn-secondary"
                    @click="showModal = false"
                  >
                    Cerrar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import SearchUser from "../shared/SearchUser.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      isAdmin: false,
      ingressId: undefined,
      typePayment: 0,
      typePayments: undefined,
      debit: undefined,
      showModal: false,
      user: undefined,
      getUser: false,
      debits: undefined,
      invoice:"false",
      columns: [
        "concept.name",
        "amount",
        "beca",
        "totalCost",
        "administration"
      ],
      options: {
        headings: {
          "concept.name": "Concepto",
          amount: "Monto",
          beca: "Beca",
          totalCost: "Total",
          administration: "Administración"
        },
        sortable: ["concept.name", "amount", "beca", "totalCost"],
        filterable: ["concept.name", "amount", "beca", "totalCost"],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  components: {
    Block,
    SearchUser
  },
  methods: {
    pagar: function() {
      if (this.typePayment) {
        this.showModal = false;
        axios
          .post(BASE_URL + "/pagar/adeudo", {
            ingress: {
              new_beca: this.debit.beca,
              new_total:
                this.debit.amount - (this.debit.amount * this.debit.beca) / 100,
              id: this.debit.id,
              cycle_id: this.debit.cycleId,
              type_payment_id: this.typePayment,
              invoice: this.invoice
            }
          })
          .then(response => {
            if (response.data.status == "200") {
              Swal.fire({
                title: "Exito",
                text: response.data.msg,
                icon: "success"
              }).then(result => {
                if (result.value)
                  window.open(
                    BASE_URL +
                      `/reporte/inscrito/actividad/${response.data.data}.pdf`
                  );
                axios
                  .post(BASE_URL + "/graphql", {
                    query: `{
                    assistant(id: ${this.user.id}){
                        actingAs{
                            id
                        }
                    }
                }`
                  })
                  .then(response => {
                    axios
                      .post(BASE_URL + "/graphql", {
                        query: `{
                        debit(id: ${response.data.data.assistant.actingAs.id}){
                            id
                            concept{
                            name
                            }
                            amount
                            beca
                            totalCost
                            userId
                            cycleId
                        }
                    }`
                      })
                      .then(response => {
                        this.debits = response.data.data.debit;
                      });
                  });
              });
            } else
              Swal.fire({
                title: "Error",
                text: response.data.msg,
                icon: "error"
              });
          });
      } else
        Swal.fire({
          title: "Error",
          text: "Seleccione al menos una forma de pago",
          icon: "error"
        });
    }
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                typePayments{
                    id
                    name
                }
            }`
      })
      .then(response => (this.typePayments = response.data.data.typePayments));
    axios
      .post(BASE_URL + "/graphql", {
        query: `{user(id: ${USER_ID}){roles{name}}}`
      })
      .then(response => {
        if (response.data.data.user.roles[0].name == "direccion" || response.data.data.user.roles[0].name == "regain")
          this.isAdmin = true;
      });
  },
  watch: {
    user: function() {
      axios
        .post(BASE_URL + "/graphql", {
          query: `{
                    assistant(id: ${this.user.id}){
                        actingAs{
                            id
                        }
                    }
                }`
        })
        .then(response => {
          axios
            .post(BASE_URL + "/graphql", {
              query: `{
                        debit(id: ${response.data.data.assistant.actingAs.id}){
                            id
                            concept{
                            name
                            }
                            amount
                            beca
                            totalCost
                            userId
                            cycleId
                        }
                    }`
            })
            .then(response => {
              this.debits = response.data.data.debit;
            });
        });
    },
    "debit.beca": function() {
      if (this.debit.beca > 100) this.debit.beca = 100;
      if (this.debit.beca < 0) this.debit.beca = 0;
    }
  }
};
</script>
<style>
.btn.btn-success {
  margin-bottom: 50px;
}
.modal-mask {
  position: fixed;
  z-index: 2;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
