<template>
  <div>
    <block :title="'Inscripción a plan de estudios'">
      <div class="form-group" style="margin-bottom:80px">
        <div class="col-xs-12">
          <ul class="nav nav-pills nav-justified clickable-steps">
            <li :class="{active: menu==0}" @click="menu=0">
              <a>
                <i class="fa fa-user"></i>
                <strong>Plan de Estudio</strong>
              </a>
            </li>
            <li :class="{active: menu==1}" @click="menu=1">
              <a>
                <i class="fa fa-pencil-square-o"></i>
                <strong>I. DATOS GENERALES</strong>
              </a>
            </li>
            <li :class="{active: menu==2}" @click="menu=2">
              <a>
                <i class="fa fa-check"></i>
                <strong>II. DATOS DE CONTACTO</strong>
              </a>
            </li>
            <li :class="{active: menu==3}" @click="menu=3">
              <a>
                <i class="fa fa-check"></i>
                <strong>III. CONTACTO DE EMERGENCIA</strong>
              </a>
            </li>
            <li :class="{active: menu==4}" @click="menu=4">
              <a>
                <i class="fa fa-check"></i>
                <strong>IV. INSTITUCIÓN DE EGRESO</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="step" v-show="menu==0">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">*Plan de estudio:</label>
            <div class="col-md-4">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.study_plan_id.$error }"
              >
                <select class="form-control" v-model.trim="$v.student.study_plan_id.$model">
                  <option
                    v-for="studyPlan in studyPlans"
                    :key="studyPlan.id"
                    :value="studyPlan.id"
                  >{{studyPlan.name}}</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-2 control-label text-right">*Ciclo escolar:</label>
            <div class="col-md-4">
              <div class="input-group" :class="{ 'form-group--error': $v.student.cycle_id.$error }">
                <select class="form-control" v-model.trim="$v.student.cycle_id.$model">
                  <option v-for="cycle in cycles" :key="cycle.id" :value="cycle.id">{{cycle.name}}</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">*Tipo de inscripción:</label>
            <div class="col-md-4">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.inscription_type.$error }"
              >
                <select class="form-control" v-model.trim="$v.student.inscription_type.$model">
                  <option :value="0" selected>Normal</option>
                  <option :value="1" selected>Equivalencia</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <!-- <div>
            <label class="col-md-2 control-label text-right">Matrícula:</label>
            <div class="col-md-4">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.inscription.registration.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.inscription.registration.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>-->
        </div>
      </div>
      <div class="step" v-show="menu==1">
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*Nombre(s):</label>
            <div class="col-md-8">
              <div
                class="input-group"
                style="width:100%"
                :class="{ 'form-group--error': $v.student.first_name.$error }"
              >
                <input
                  type="text"
                  class="form-control text-capitalize"
                  v-model.trim="$v.student.first_name.$model"
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="col-md-4 control-label text-right">*Apellido Paterno:</label>
            <div
              class="input-group col-md-8"
              :class="{ 'form-group--error': $v.student.second_name.$error }"
            >
              <input
                class="text-capitalize form-control"
                style="width:100%"
                type="text"
                v-model.trim="$v.student.second_name.$model"
              />
            </div>
          </div>
          <div class="col-md-3">
            <label class="col-md-4 control-label text-right">*Apellido Materno:</label>
            <div
              class="input-group col-md-8"
              :class="{ 'form-group--error': $v.student.last_name.$error }"
            >
              <input
                type="text"
                class="form-control text-capitalize"
                style="width:100%"
                v-model.trim="$v.student.last_name.$model"
              />
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*CURP:</label>
            <div class="col-md-8">
              <div class="input-group" :class="{ 'form-group--error': $v.student.curp.$error }">
                <input
                  class="text-uppercase form-control"
                  type="text"
                  v-model.trim="$v.student.curp.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*Estado civil:</label>
            <div class="col-md-8">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.civil_status.$error }"
              >
                <select class="form-control" v-model.trim="$v.student.civil_status.$model">
                  <option value="soltero" selected>Soltero(a)</option>
                  <option value="casado">Casado(a)</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*Sexo:</label>
            <div class="col-md-8">
              <div class="input-group" :class="{ 'form-group--error': $v.student.sexo.$error }">
                <select class="form-control" v-model.trim="$v.student.sexo.$model">
                  <option value="masculino" selected>Masculino</option>
                  <option value="femenino">Femenino</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*Fecha de nacimiento:</label>
            <div class="col-md-8">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.birth_day.$error }"
              >
                <input type="date" v-model.trim="$v.student.birth_day.$model" class="form-control" />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*Nacionalidad:</label>
            <div class="col-md-8">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.nacionality.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.student.nacionality.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*Lengua indígena o extranjera:</label>
            <div class="col-md-8">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.foreign_language.$error }"
              >
                <select v-model.trim="$v.student.foreign_language.$model" class="form-control">
                  <option value="false">No</option>
                  <option value="true">Si</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Especifique:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control" v-model="student.foreign_language_name" />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">*Enfermedad o Discapacidad:</label>
            <div class="col-md-8">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.disability.$error }"
              >
                <select v-model.trim="$v.student.disability.$model" class="form-control">
                  <option value="false">No</option>
                  <option value="true">Si</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Especifique:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control" v-model="student.disability_name" />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Empleo actual:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" v-model="student.actual_job" class="form-control" />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Centro laboral:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input type="text" class="form-control" v-model="student.job_center" />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-md-2 control-label text-right">Ubicación del centro laboral:</label>
          <div class="col-md-10">
            <div class="input-group">
              <input type="text" v-model.trim="student.job_center_address" class="form-control" />
              <span class="input-group-addon">
                <i class="fa fa-pencil" />
              </span>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Tipo de beca:</label>
            <div class="col-md-8">
              <div class="input-group">
                <select v-model="selected_scolarship_type" class="form-control">
                  <option value="0">Ninguna</option>
                  <option
                    v-for="scolarshipType in scolarshipTypes"
                    :key="scolarshipType.id"
                    :value="scolarshipType"
                  >{{scolarshipType.name}}</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6" v-if="selected_scolarship_type&&selected_scolarship_type!=0">
            <label class="col-md-4 control-label text-right">Beca:</label>
            <div class="col-md-8">
              <div class="input-group">
                <select class="form-control" v-model="student.scolarship_id">
                  <option
                    v-for="scolarship in selected_scolarship_type.scolarships"
                    :key="scolarship.id"
                    :value="scolarship.id"
                  >{{scolarship.amount}}% ({{scolarship.description}})</option>
                </select>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step" v-show="menu==2">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">*Calle:</label>
            <div class="col-md-11">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student_address.street.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.student_address.street.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">*Número Exterior:</label>
            <div class="col-md-3">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student_address.number_out.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.student_address.number_out.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">Número Interior:</label>
            <div class="col-md-3">
              <div class="input-group">
                <input type="text" class="form-control" v-model="student_address.number_in" />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">*Código Postal:</label>
            <div class="col-md-3">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student_address.code_postal.$error }"
              >
                <input
                  type="number"
                  min="00000"
                  max="99999"
                  class="form-control"
                  v-model.trim="$v.student_address.code_postal.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">*Colonia:</label>
            <div class="col-md-5">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student_address.colony.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.student_address.colony.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">*Municipio:</label>
            <div class="col-md-5">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student_address.municipality.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.student_address.municipality.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">*Ciudad:</label>
            <div class="col-md-5">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student_address.city.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.student_address.city.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">*Estado:</label>
            <div class="col-md-5">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student_address.state.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.student_address.state.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">*Tel. Celular:</label>
            <div class="col-md-5">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.student.cell_phone.$error }"
              >
                <input
                  type="number"
                  min="0"
                  max="9999999999"
                  class="form-control"
                  v-model.trim="$v.student.cell_phone.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">*Tel. Casa:</label>
            <div class="col-md-5">
              <div class="input-group" :class="{ 'form-group--error': $v.student.phone.$error }">
                <input
                  type="number"
                  min="0"
                  max="9999999999"
                  class="form-control"
                  v-model.trim="$v.student.phone.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">*Email:</label>
            <div class="col-md-5">
              <div class="input-group" :class="{ 'form-group--error': $v.student.email.$error }">
                <input type="email" class="form-control" v-model.trim="$v.student.email.$model" />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step" v-show="menu==3">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">*Nombre Completo:</label>
            <div class="col-md-10">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.emergency_contact.name.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.emergency_contact.name.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">*Celular:</label>
            <div class="col-md-4">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.emergency_contact.cell_phone.$error }"
              >
                <input
                  type="number"
                  min="0"
                  max="9999999999"
                  class="form-control"
                  v-model.trim="$v.emergency_contact.cell_phone.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-2 control-label text-right">*Teléfono casa:</label>
            <div class="col-md-4">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.emergency_contact.telephone.$error }"
              >
                <input
                  type="number"
                  min="0"
                  max="9999999999"
                  class="form-control"
                  v-model.trim="$v.emergency_contact.telephone.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step" v-show="menu==4">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">*Nombre de la institución:</label>
            <div class="col-md-10">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.graduation_institution.name.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.graduation_institution.name.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">*Promedio:</label>
            <div class="col-md-4">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.graduation_institution.average.$error }"
              >
                <input
                  type="number"
                  min="0"
                  max="100"
                  class="form-control"
                  v-model.trim="$v.graduation_institution.average.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-2 control-label text-right">*Especialidad:</label>
            <div class="col-md-4">
              <div
                class="input-group"
                :class="{ 'form-group--error': $v.graduation_institution.specialty.$error }"
              >
                <input
                  type="text"
                  class="form-control"
                  v-model.trim="$v.graduation_institution.specialty.$model"
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin: 0px 10px 10px 10px">
        <div class="text-center">
          <button
            type="button"
            @click="prevStep"
            class="btn btn-effect-ripple btn-danger"
            style="margin-right:10px"
          >
            <i class="fa fa-reply"></i>Regresar
          </button>
          <button
            type="button"
            @click="createStudent"
            class="btn btn-effect-ripple btn-primary"
            v-if="menu==4"
          >
            <i class="fa fa-save"></i>Guardar
          </button>
          <button
            type="button"
            @click="nextStep"
            class="btn btn-effect-ripple btn-primary"
            v-if="menu<=3"
          >
            <i class="fa fa-share"></i>Siguiente
          </button>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
import {
  required,
  minLength,
  between,
  maxLength,
  alpha,
  alphaNum,
  numeric,
  email,
  sameAs,
  maxValue
} from "vuelidate/lib/validators";
export default {
  validations: {
    student: {
      first_name: {
        required,
        maxLength: maxLength(100)
      },
      second_name: {
        required,
        maxLength: maxLength(100)
      },
      last_name: {
        required,
        maxLength: maxLength(100)
      },
      curp: {
        required,
        maxLength: maxLength(18)
      },
      civil_status: {
        required
      },
      birth_day: {
        required
      },
      nacionality: { required },
      foreign_language: { required },
      disability: { required },
      cell_phone: {
        required
      },
      phone: {
        required
      },
      email: {
        required
      },
      study_plan_id: {
        required
      },
      cycle_id: {
        required
      },
      inscription_type: {
        required
      },
      sexo: {
        required
      }
    },
    emergency_contact: {
      name: {
        required
      },
      cell_phone: {
        required
      },
      telephone: {
        required
      }
    },
    student_address: {
      street: {
        required
      },
      number_out: {
        required
      },
      colony: {
        required
      },
      municipality: {
        required
      },
      state: {
        required
      },
      city: {
        required
      },
      code_postal: {
        required
      }
    },
    graduation_institution: {
      name: {
        required
      },
      average: {
        required
      },
      specialty: {
        required
      }
    }
  },
  methods: {
    nextStep: function() {
      if (this.menu < 4) this.menu++;
    },
    prevStep: function() {
      if (this.menu > 0) this.menu--;
    },
    status(validation) {
      return {
        error: validation.$invalid
      };
    },
    createStudent: function() {
      if (
        !this.$v.student.$invalid ||
        !this.$v.student_address.$invalid ||
        !this.$v.emergency_contact.$invalid ||
        !this.$v.graduation_institution.$invalid
      ) {
        axios
          .post(BASE_URL + "/estudiantes", {
            student: this.student,
            address: this.student_address,
            emergency_contact: this.emergency_contact,
            graduation_institution: this.graduation_institution
          })
          .then(response => {
            if (response.data.status == "200")
              Swal.fire({
                type: "success",
                title: "Exito",
                text: response.data.msg
              }).then(result => {
                if (result.value) {
                  window.open(
                    BASE_URL +
                      "/reporte/inscripcion/" +
                      response.data.data +
                      ".pdf"
                  );
                  Swal.fire({
                    title: "Revisa los datos del alumno",
                    text: "Son correctos?",
                    icon: "info",
                    showCancelButton: true,
                    confirmButtonColor: "#3085d6",
                    cancelButtonColor: "#d33",
                    confirmButtonText: "Si",
                    cancelButtonText: "No"
                  }).then(result => {
                    if (result.value) {
                      window.location.reload();
                    } else if (result.dismiss === Swal.DismissReason.cancel) {
                      window.location =
                        BASE_URL + "#/estudiantes/ver/" + response.data.data;
                    }
                  });
                }
              });
            else if (response.data.status == "500")
              Swal.fire({
                icon: "error",
                title: "Error al registrar al usuario",
                text: response.data.data
              });
          })
          .catch(function(error) {
            Swal.fire({
              icon: "error",
              title: "Error al comunicarse con el servidor",
              text: "Contacte con el administrador de sistemas"
            });
          });
      } else {
        Swal.fire({
          icon: "error",
          title: "Error",
          text: "Verifique todos los campos con asterisco (*)"
        });
      }
    }
  },
  data() {
    return {
      student: {
        first_name: "",
        second_name: "",
        last_name: "",
        curp: "",
        civil_status: "",
        birth_day: "",
        nacionality: "",
        foreign_language: false,
        disability: false,
        foreign_language_name: "",
        disability_name: "",
        actual_job: "",
        job_center: "",
        job_center_address: "",
        scolarship_id: 0,
        cell_phone: undefined,
        phone: undefined,
        email: "",
        study_plan_id: 0,
        cycle_id: 0,
        inscription_type: 0,
        password: "c4mb14m3",
        sexo: ""
      },
      student_address: {
        street: "",
        number_out: "",
        number_in: "",
        code_postal: undefined,
        colony: "",
        municipality: "",
        state: "",
        city: ""
      },
      emergency_contact: {
        name: "",
        cell_phone: "",
        telephone: ""
      },
      graduation_institution: {
        name: "",
        average: 0,
        specialty: ""
      },
      cycles: undefined,
      inscriptiontypes: [
        { id: 0, name: "Normal" },
        { id: 1, name: "Equivalencia" }
      ],
      studyPlans: undefined,
      menu: 0,
      scolarshipTypes: undefined,
      selected_scolarship_type: undefined
    };
  },
  components: {
    Block
  },
  mounted() {
    axios
      .post("/graphql", { query: "{cycles {id name}}" })
      .then(response => {
        this.cycles = response.data.data.cycles;
      })
      .catch(error => {
        console.log(error);
      });
    axios
      .post(BASE_URL + "/graphql", { query: "{studyPlans{id name}}" })
      .then(response => {
        this.studyPlans = response.data.data.studyPlans;
      })
      .catch(error => console.log(error));
    axios
      .post(BASE_URL + "/graphql", {
        query: "{typeScolarships{id name scolarships{id amount description}}}"
      })
      .then(response => {
        this.scolarshipTypes = response.data.data.typeScolarships;
      })
      .catch(error => console.log(error));
  },
  watch: {
    selected_scolarship_type: function(newScolarship, oldScolarship) {
      this.student.scolarship_id = undefined;
    }
  }
};
</script>
<style scoped>
a:hover {
  cursor: pointer;
}
.error {
  border-color: red;
  background: #fdd;
}

.error:focus {
  outline-color: #f99;
}
.form-group--error {
  animation-name: shakeError;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
.form-group--error input,
.form-group--error textarea,
.form-group--error select,
.form-group--error input:focus,
.form-group--error input:hover {
  border-color: red;
}

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}
</style>