<%= form_with(model: type_scolarship, local: true) do |form| %>
  <% if type_scolarship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(type_scolarship.errors.count, "error") %> prohibited this type_scolarship from being saved:</h2>

      <ul>
      <% type_scolarship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
