<p id="notice"><%= notice %></p>

<h1>Type Scolarships</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @type_scolarships.each do |type_scolarship| %>
      <tr>
        <td><%= type_scolarship.name %></td>
        <td><%= type_scolarship.status %></td>
        <td><%= link_to 'Show', type_scolarship %></td>
        <td><%= link_to 'Edit', edit_type_scolarship_path(type_scolarship) %></td>
        <td><%= link_to 'Destroy', type_scolarship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Type Scolarship', new_type_scolarship_path %>
