<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @type_scolarship.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @type_scolarship.status %>
</p>

<%= link_to 'Edit', edit_type_scolarship_path(@type_scolarship) %> |
<%= link_to 'Back', type_scolarships_path %>
