<p id="notice"><%= notice %></p>

<p>
  <strong>Registration:</strong>
  <%= @assistant.registration %>
</p>

<%= link_to 'Edit', edit_assistant_path(@assistant) %> |
<%= link_to 'Back', assistants_path %>
