<template>
    <div>

        <block :title="'Crear nuevo concepto'">
            <div class="row">
                <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Concepto:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="payment.name"
                            readonly
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>

                    <label class="col-md-2 control-label text-right">Descripcion:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="payment.description"
                            readonly
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                </div>

                
                
                
            </div>
            <div class="row">
                <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Costo:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="payment.cost"
                            readonly
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" form-group form-actions" style="margin:0px 10px -10px 10px;">
                    <div class="text-center">
                        <a
                            href="#/concepto/pagos"
                            class="btn btn-effect-ripple btn-primary"
                            style="margin-bottom:1px"
                            ><i class="fa fa-reply"></i>Regresar</a
                        >
                    </div>
                </div>
        </block>
    </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
    data() {
        return {
        payment:{
        name: "",
        description:"",
        cost:""
        }
        
        };
    },
    components:{
        Block
    },
    created() {

    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                conceptPayment(id:${ this.$route.params.id })
                {
                    id
                    name
                    description
                    cost
                }
            }`
      })
      .then(response => {
        this.payment = response.data.data.conceptPayment;
        
      })
      .catch(error => {
        console.log(error);
      });
  },
    
}
</script>