<template>
  <div>
    <block title="REGISTRAR PROFESOR">
      <form action method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div class="form-group">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified clickable-steps">
              <li :class="{active: menu==0}" @click="menu=0">
                <a>
                  <i class="fa fa-user"></i>
                  <strong>Datos Generales</strong>
                </a>
              </li>
              <li :class="{active: menu==2}" @click="menu=2">
                <a>
                  <i class="fa fa-pencil-square-o"></i>
                  <strong>Formación Académica</strong>
                </a>
              </li>
              <li :class="{active: menu==1}" @click="menu=1">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Dirección</strong>
                </a>
              </li>
              <li :class="{active: menu==3}" @click="menu=3">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Documentos</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="step" v-show="menu==0">
          <div class="form-group col-md-4" :class="check_name">
            <label class="col-md-4 control-label">* Nombres:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.first_name"
              />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_second_name">
            <label class="col-md-4 control-label">* Apellido Paterno:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.second_name"
              />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_last_name">
            <label class="col-md-4 control-label">* Apellido Materno:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.last_name"
              />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_curp">
            <label class="col-md-4 control-label">* CURP:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.curp"
                placeholder="000000000000000000"
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Email:</label>
            <div class="col-md-8">
              <input type="email" id="state-success" class="form-control" v-model="teacher.email" />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_local_phone">
            <label class="col-md-4 control-label">Tel&eacute;fono local:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.phone"
                placeholder="9876543210"
              />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_local_cell">
            <label class="col-md-4 control-label">Tel&eacute;fono celular:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.cell_phone"
                placeholder="9876543210"
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-5 control-label">Fecha de nacimiento:</label>
            <div class="col-md-7">
              <input
                type="date"
                id="state-success"
                class="form-control"
                v-model="teacher.birth_day"
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Sexo:</label>
            <div class="col-md-8">
              <select id="state-success" class="form-control" v-model="teacher.sexo">
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-4 control-label red"
              for="example-clickable-pc"
            >* Los campos con asterisco son requeridos</label>
          </div>
        </div>
        <!-- END First Step -->
        <div class="step" v-show="menu==1">
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">* Calle:</label>
            <div class="col-md-8">
              <input type="text" id="state-success" class="form-control" v-model="address.street" />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">* Número exterior:</label>
            <div class="col-md-5">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="address.number_out"
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">Número interior:</label>
            <div class="col-md-5">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="address.number_in"
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">* Codigo postal:</label>
            <div class="col-md-5">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="address.code_postal"
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">* Colonia:</label>
            <div class="col-md-8">
              <input type="email" id="state-success" class="form-control" v-model="address.colony" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Ciudad:</label>
            <div class="col-md-8">
              <input type="text" id="state-success" class="form-control" v-model="address.city" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Municipio:</label>
            <div class="col-md-7">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="address.municipality"
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">* Estado:</label>
            <div class="col-md-8">
              <input type="text" id="state-success" class="form-control" v-model="address.state" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-pc"></label>
          </div>
        </div>
        <!-- Second Step -->
        <div class="step" v-show="menu==2">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">* Licenciatura en :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.licenciatura"
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">* Cédula profesional:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identification_licenciatura"
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Especialidad en :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.specialty"
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identification_specialty"
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Maestría en:</label>
            <div class="col-md-8">
              <input type="email" id="state-success" class="form-control" v-model="teacher.master" />
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identification_master"
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Doctorado en :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.doctorate"
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identification_doctorate"
              />
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-4 control-label red"
              for="example-clickable-country"
            >* Los campos con asterisco son requeridos</label>
            <div class="col-md-6"></div>
          </div>
          <!--<div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-city">City</label>
                        <div class="col-md-6">
                            <input type="text" id="example-clickable-city" name="example-clickable-city" class="form-control" placeholder="In which city?">
                        </div>
          </div>-->
        </div>
        <!-- END Second Step -->

        <!-- Third Step -->
        <div class="step" v-show="menu==3">
          <div class="form-group col-md-6">
            <UploadFile
              title="Acta de nacimiento"
              direccion="/docente/documentos/acta"
              :user_id="teacher_id"
            />
          </div>
          <div class="form-group col-md-6">
            <UploadFile title="INE" direccion="/docente/documentos/ine" :user_id="teacher_id" />
          </div>
          <div class="form-group col-md-6">
            <UploadFile title="CURP" direccion="/docente/documentos/curp" :user_id="teacher_id" />
          </div>
          <div class="form-group col-md-6">
            <UploadFile
              title="Curriculum vitae"
              direccion="/docente/documentos/curriculum"
              :user_id="teacher_id"
            />
          </div>
          <div class="form-group col-md-6">
            <UploadFile
              title="Cédula de Licenciatura"
              direccion="/docente/documentos/doc_licenciatura"
              :user_id="teacher_id"
            />
          </div>
          <div class="form-group col-md-6">
            <UploadFile
              title="Cédula de Especialidad"
              direccion="/docente/documentos/doc_especialidad"
              :user_id="teacher_id"
            />
          </div>
          <div class="form-group col-md-6">
            <UploadFile
              title="Cédula de Maestría"
              direccion="/docente/documentos/doc_maestria"
              :user_id="teacher_id"
            />
          </div>
          <div class="form-group col-md-6">
            <UploadFile
              title="Cédula de Doctorado"
              direccion="/docente/documentos/doc_doctorado"
              :user_id="teacher_id"
            />
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-pc"></label>
          </div>
        </div>
        <!-- END Third Step -->

        <!-- Form Buttons -->
        <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
          <div class="text-center">
            <button
              type="button"
              @click="next"
              class="btn btn-effect-ripple btn-primary"
              id="next1"
              v-if="menu!=1 && menu!=3"
            >Siguiente</button>
            <button
              type="button"
              @click="next"
              class="btn btn-effect-ripple btn-success"
              style="margin-bottom:1px"
              id="next2"
              v-if="menu==1 && registered!=true"
            >Guardar</button>
            <a
              href="/profesores"
              class="btn btn-effect-ripple btn-success"
              style="margin-bottom:1px"
              id="finish1"
              v-show="menu==3"
            >Finalizar</a>
          </div>
        </div>
      </form>
      <!-- END Form Buttons -->
    </block>
  </div>
</template>
<script>
import UploadFile from "../shared/UploadFile.vue";
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      menu: 0,
      teacher_id: 0,
      registered: false,
      teacher: {
        first_name: "",
        second_name: "",
        last_name: "",
        curp: "",
        email: "",
        phone: "",
        cell_phone: "",
        birth_day: "",
        sexo: "",
        licenciatura: "",
        specialty: "",
        master: "",
        doctorate: "",
        identification_licenciatura: "",
        identification_specialty: "",
        identification_master: "",
        identification_doctorate: ""
      },
      address: {
        user_id: "",
        street: "",
        number_out: "",
        number_int: "",
        code_postal: "",
        colony: "",
        city: "",
        municipality: "",
        state: ""
      }
    };
  },
  computed: {
    check_name: function() {
      return this.teacher.first_name.length > 3 ? "has-success" : "";
    },
    check_second_name: function() {
      return this.teacher.second_name.length > 3 ? "has-success" : "";
    },
    check_last_name: function() {
      return this.teacher.last_name.length > 3 ? "has-success" : "";
    },
    check_curp: function() {
      return this.teacher.curp.length == 18 ? "has-success" : "";
    },
    check_local_phone: function() {
      return this.teacher.phone.length == 10 ? "has-success" : "";
    },
    check_local_cell: function() {
      return this.teacher.cell_phone.length == 10 ? "has-success" : "";
    }
  },
  watch: {},
  methods: {
    guardar: function() {
      //console.log(this.teacher);
      if (this.teacher_id == "") {
        axios
          .post(BASE_URL + "/docente/registro.json", { teacher: this.teacher })
          .then(response => {
            if (response.data.status == "200") {
              this.teacher_id = response.data.data.teacher.id;
              this.address.user_id = response.data.data.user_id;
              this.guardarDireccion();
              //mandar la ruta del id que devuelve
            } else {
              var errors = "";
              for (var [key, value] of Object.entries(response.data.data)) {
                errors += value + ".\n";
              }
              Swal.fire({
                title: "Error!",
                text: errors,
                icon: "error"
              });
            }
          })
          .catch(function(response) {
            var errors = "";
            for (var [key, value] of Object.entries(response.data.data)) {
              errors += value + ".\n";
            }
            Swal.fire({
              title: "Error!",
              text: errors,
              icon: "error"
            });
          });
      } else {
        if (this.registered == false) {
          this.guardarDireccion();
        }
      }
    },
    guardarDireccion: function() {
      //console.log(this.teacher);
      var me = this;
      axios
        .post(BASE_URL + "/direcciones", { address: this.address })
        .then(function(response) {
          if (response.data.status == "200") {
            //var me=this
            Swal.fire(
              "Exito!",
              "El usuario se registró correctamente!",
              "success"
            ).then(result => {
              if (result.value) {
                me.registered = true;
                //mandar la ruta del id que devuelve
              }
            });
            me.menu = 3;
          } else {
            var errors = "";
            for (var [key, value] of Object.entries(response.data.msg)) {
              errors += value + ".\n";
            }
            Swal.fire({
              title: "Error!",
              text: errors,
              icon: "error"
            });
          }
        })
        .catch(function(response) {
          var errors = "";
          for (var [key, value] of Object.entries(response.data.data)) {
            errors += value + ".\n";
          }
          Swal.fire({
            title: "Error!",
            text: errors,
            icon: "error"
          });
        });
    },
    next() {
      if (this.menu == 0) this.menu = 2;
      else if (this.menu == 2) this.menu = 1;
      else if (this.menu == 1) this.guardar();
    }
  },
  props: {
    title: String
  },
  mounted() {},
  components: {
    Block,
    UploadFile
  }
};
</script>

<style scoped>
a:hover {
  cursor: pointer;
}
.red {
  color: brown;
}
</style>
