<template>
  <div class="vld-parent">
    <block v-if="teacherExist" title="EDITAR PROFESOR">
      <form action method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div class="form-group">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified clickable-steps">
              <li :class="{active: menu==0}" @click="menu=0">
                <a>
                  <i class="fa fa-user"></i>
                  <strong>Datos Generales</strong>
                </a>
              </li>
              <li :class="{active: menu==2}" @click="menu=2">
                <a>
                  <i class="fa fa-pencil-square-o"></i>
                  <strong>Formación Académica</strong>
                </a>
              </li>
              <li :class="{active: menu==1}" @click="menu=1">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Dirección</strong>
                </a>
              </li>
              <li :class="{active: menu==3}" @click="menu=3">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Documentos</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="step" v-show="menu==0">
          <div class="form-group col-md-4" :class="check_name">
            <label class="col-md-4 control-label">* Nombres:</label>
            <div class="col-md-8">
              <input type="text" class="form-control text-uppercase" v-model="teacher.first_name" />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_second_name">
            <label class="col-md-4 control-label">* Apellido Paterno:</label>
            <div class="col-md-8">
              <input type="text" class="form-control text-uppercase" v-model="teacher.second_name" />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_last_name">
            <label class="col-md-4 control-label">* Apellido Materno:</label>
            <div class="col-md-8">
              <input type="text" class="form-control text-uppercase" v-model="teacher.last_name" />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_curp">
            <label class="col-md-4 control-label">CURP:</label>
            <div class="col-md-8">
              <input
                type="text"
                class="form-control text-uppercase"
                v-model="teacher.curp"
                placeholder="000000000000000000"
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Email:</label>
            <div class="col-md-8">
              <input type="email" class="form-control" v-model="teacher.email" />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_local_phone">
            <label class="col-md-4 control-label">Tel&eacute;fono local:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.phone" />
            </div>
          </div>
          <div class="form-group col-md-4" :class="check_local_cell">
            <label class="col-md-4 control-label">Tel&eacute;fono celular:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.cell_phone" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-5 control-label">Fecha de nacimiento:</label>
            <div class="col-md-7">
              <input type="date" class="form-control" v-model="teacher.birth_day" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Sexo:</label>
            <div class="col-md-8">
              <select class="form-control" v-model="teacher.sexo">
                <option>Masculino</option>
                <option>Femenino</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-4 control-label red"
              for="example-clickable-pc"
            >* Los campos con asterisco son requeridos</label>
          </div>
        </div>
        <!-- END First Step -->
        <div class="step" v-show="menu==1">
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">Calle:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="address.street" />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">Número exterior:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" v-model="address.number_out" />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">Número interior:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" v-model="address.number_in" />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">Codigo postal:</label>
            <div class="col-md-5">
              <input type="text" class="form-control" v-model="address.code_postal" />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">Colonia:</label>
            <div class="col-md-8">
              <input type="email" class="form-control" v-model="address.colony" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Ciudad:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="address.city" />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Municipio:</label>
            <div class="col-md-7">
              <input type="text" class="form-control" v-model="address.municipality" />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">Estado:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="address.state" />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-pc"></label>
          </div>
        </div>
        <!-- Second Step -->
        <div class="step" v-show="menu==2">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">* Licenciatura en :</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.licenciatura" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">* Cédula profesional:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.identification_licenciatura" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Especialidad en :</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.specialty" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado :</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.identification_specialty" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Maestría en:</label>
            <div class="col-md-8">
              <input type="email" class="form-control" v-model="teacher.master" />
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado:</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.identification_master" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Doctorado en :</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.doctorate" />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado :</label>
            <div class="col-md-8">
              <input type="text" class="form-control" v-model="teacher.identification_doctorate" />
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-4 control-label red"
              for="example-clickable-country"
            >* Los campos con asterisco son requeridos</label>
            <div class="col-md-6"></div>
          </div>
          <!--<div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-city">City</label>
                        <div class="col-md-6">
                            <input type="text" id="example-clickable-city" name="example-clickable-city" class="form-control" placeholder="In which city?">
                        </div>
          </div>-->
        </div>
        <!-- END Second Step -->

        <!-- Third Step -->
        <div class="step" v-show="menu==3" style="padding: 10px">
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9;"
          >
            <label class="col-md-12">Acta de nacimiento:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_birth_path"
                :src="teacher.document_birth_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px;margin: 0 10px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile
              title="Acta de nacimiento"
              direccion="/docente/documentos/acta"
              :user_id="teacher_id"
            />
          </div>
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9"
          >
            <label class="col-md-12">INE:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_ine_path"
                :src="teacher.document_ine_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile title="INE" direccion="/docente/documentos/ine" :user_id="teacher_id" />
          </div>
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9"
          >
            <label class="col-md-12">CURP:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_curp_path"
                :src="teacher.document_curp_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile title="CURP" direccion="/docente/documentos/curp" :user_id="teacher_id" />
          </div>
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9"
          >
            <label class="col-md-12">Curriculum Vitae:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_curriculum_path"
                :src="teacher.document_curriculum_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile
              title="Curriculum Vitae"
              direccion="/docente/documentos/curriculum"
              :user_id="teacher_id"
            />
          </div>
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Licenciatura:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_lic_path"
                :src="teacher.document_lic_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile
              title="Cédula de Licenciatura"
              direccion="/docente/documentos/doc_licenciatura"
              :user_id="teacher_id"
            />
          </div>
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Especialidad:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_specialty_path"
                :src="teacher.document_specialty_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile
              title="Cédula de Especialidad"
              direccion="/docente/documentos/doc_especialidad"
              :user_id="teacher_id"
            />
          </div>
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Maestría:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_master_path"
                :src="teacher.document_master_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile
              title="Cédula de Maestría"
              direccion="/docente/documentos/doc_maestria"
              :user_id="teacher_id"
            />
          </div>
          <div
            class="form-group col-md-4 text-center"
            style="height:700px;max-height:700px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Doctorado:</label>
            <div class="col-md-12 text-center">
              <pdf
                v-if="teacher.document_doctorate_path"
                :src="teacher.document_doctorate_path"
                :page="1"
                :scale.sync="0.5"
                style="width:33%;height:560px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
            </div>
            <UploadFile
              title="Cédula de Doctorado"
              direccion="/docente/documentos/doc_doctorado"
              :user_id="teacher_id"
            />
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-pc"></label>
          </div>
        </div>
        <!-- END Third Step -->

        <!-- Form Buttons -->
        <div class="form-group form-actions" style="margin:0px 10px -10px 10px">
          <div class="col-md-8 col-md-offset-6">
            <button
              type="button"
              @click="next"
              class="btn btn-effect-ripple btn-primary"
              id="next1"
              v-if="menu!=1 && menu!=3"
            >Siguiente</button>
            <button
              type="button"
              @click="next"
              class="btn btn-effect-ripple btn-success"
              id="next2"
              v-if="menu==1 "
            >Guardar</button>
          </div>
        </div>
      </form>
      <!-- END Form Buttons -->
    </block>
  </div>
</template>
<script>
import pdf from "pdfvuer";
import UploadFile from "../shared/UploadFile.vue";
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      teacherExist: false,
      address_id: "",
      menu: 0,
      teacher_id: parseInt(this.$attrs.id),
      registered: false,
      teacher: {
        first_name: "",
        second_name: "",
        last_name: "",
        curp: "",
        email: "",
        phone: "",
        cell_phone: "",
        birth_day: "",
        sexo: "",
        licenciatura: "",
        specialty: "",
        master: "",
        doctorate: "",
        identification_licenciatura: "",
        identification_specialty: "",
        identification_master: "",
        identification_doctorate: "",
        document_birth_path: ""
      },
      address: {
        user_id: this.$attrs.id,
        street: "",
        number_out: "",
        number_in: "",
        code_postal: "",
        colony: "",
        city: "",
        municipality: "",
        state: ""
      }
    };
  },
  created() {},
  watch: {
    $attrs: function(newAttr, oldAttr) {
      axios
        .post("/graphql", {
          query: `query{ teacher(id: ${this.teacher_id}) {
              licenciatura
              identificationLicenciatura
              specialty
              identificationSpecialty
              master
              identificationMaster
              doctorate
              identificationDoctorate
              documentBirthPath
              documentInePath
              documentCurpPath
              documentCurriculumPath
              documentLicPath
              documentSpecialtyPath
              documentMasterPath
              documentDoctoratePath
              actingAs{
                id
                firstName
                secondName
                lastName
                curp
                phone
                cellPhone
                email
                sexo
                birthDay
              }
              address{
                id
                street
                numberIn
                numberOut
                codePostal
                colony
                city
                state
              }
            }
          }`
        })
        .then(response => {
          this.address = response.data.data.teacher.address;
          this.teacherExist = true;
        })
        .catch(error => {
          this.teacherExist = false;
        });
    }
  },
  computed: {
    check_name: function() {
      return this.teacher.first_name.length > 3 ? "has-success" : "";
    },
    check_second_name: function() {
      return this.teacher.second_name.length > 3 ? "has-success" : "";
    },
    check_last_name: function() {
      return this.teacher.last_name.length > 3 ? "has-success" : "";
    },
    check_curp: function() {
      return this.teacher.curp.length == 18 ? "has-success" : "";
    },
    check_local_phone: function() {
      return this.teacher.phone.length == 10 ? "has-success" : "";
    },
    check_local_cell: function() {
      return this.teacher.cell_phone.length == 10 ? "has-success" : "";
    }
  },
  methods: {
    guardar: function() {
      let loader = this.$loading.show({ canCancel: false });
      //console.log(this.teacher);
      axios
        .patch(BASE_URL + "/profesores/" + this.$attrs.id + ".json", {
          teacher: this.teacher
        })
        .then(response => {
          if (response.data.status == "200") {
            // this.guardarDireccion()
            //mandar la ruta del id que devuelve
            this.guardarDireccion();
          } else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Los campos con asterisco son requeridos"
            });
          }
          loader.hide();
        })
        .catch(function(response) {
          Swal.fire({
            icon: "error",
            title: "Oops..."
          });
          loader.hide();
          console.log(JSON.stringify(response));
          console.log(response);
        });
    },
    guardarDireccion: function() {
      //console.log(this.teacher);
      if (this.address_id != "") {
        var me = this;
        axios
          .patch(BASE_URL + "/direcciones/" + this.address_id, {
            address: this.address
          })
          .then(function(response) {
            if (response.data.status == "200") {
              //var me=this
              Swal.fire(
                "Exito!",
                "El usuario se actualizó correctamente!",
                "success"
              ).then(result => {
                if (result.value) {
                  me.registered = true;
                  //mandar la ruta del id que devuelve
                }
              });
              //me.menu=3
            } else {
              Swal.fire({
                icon: "error",
                title: "Oops...",
                text: response.data.data.msg
              });
            }
          })
          .catch(function(response) {
            Swal.fire({
              icon: "error",
              title: "Oops..."
            });
          });
      } else {
        var me = this;
        axios
          .post(BASE_URL + "/direcciones", { address: this.address })
          .then(function(response) {
            if (response.data.status == "200") {
              //var me=this
              Swal.fire(
                "Exito!",
                "El usuario se registró correctamente!",
                "success"
              ).then(result => {
                if (result.value) {
                  me.registered = true;
                  //mandar la ruta del id que devuelve
                }
              });
              me.menu = 3;
            } else {
              var errors = "";
              for (var [key, value] of Object.entries(response.data.msg)) {
                errors += value + ".\n";
              }
              Swal.fire({
                title: "Error!",
                text: errors,
                icon: "error"
              });
            }
          })
          .catch(function(response) {
            var errors = "";
            for (var [key, value] of Object.entries(response.data.data)) {
              errors += value + ".\n";
            }
            Swal.fire({
              title: "Error!",
              text: errors,
              icon: "error"
            });
          });
      }
    },
    next() {
      if (this.menu == 0) this.menu = 2;
      else if (this.menu == 2) this.menu = 1;
      else if (this.menu == 1) this.guardar();
    }
  },
  props: {
    title: String
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `query{ teacher(id: ${this.teacher_id}) {
              licenciatura
              identificationLicenciatura
              specialty
              identificationSpecialty
              master
              identificationMaster
              doctorate
              identificationDoctorate
              documentBirthPath
              documentInePath
              documentCurpPath
              documentCurriculumPath
              documentLicPath
              documentSpecialtyPath
              documentMasterPath
              documentDoctoratePath
              actingAs{
                id
                firstName
                secondName
                lastName
                curp
                phone
                cellPhone
                email
                sexo
                birthDay
              }
              address{
                id
                street
                numberIn
                numberOut
                codePostal
                colony
                city
                state
                municipality
              }
            }
          }`
      })
      .then(response => {
        if (response.data.data.teacher.address) {
          this.address_id = response.data.data.teacher.address.id;
          this.address.street = response.data.data.teacher.address.street;
          this.address.number_out =
            response.data.data.teacher.address.numberOut;
          this.address.number_in = response.data.data.teacher.address.numberIn;
          this.address.code_postal =
            response.data.data.teacher.address.codePostal;
          this.address.colony = response.data.data.teacher.address.colony;
          this.address.city = response.data.data.teacher.address.city;
          this.address.state = response.data.data.teacher.address.state;
          this.address.municipality =
            response.data.data.teacher.address.municipality;
        }
        this.address.user_id = response.data.data.teacher.actingAs.id;
        this.teacher.first_name = response.data.data.teacher.actingAs.firstName;
        this.teacher.second_name =
          response.data.data.teacher.actingAs.secondName;
        this.teacher.last_name = response.data.data.teacher.actingAs.lastName;
        this.teacher.curp = response.data.data.teacher.actingAs.curp;
        this.teacher.email = response.data.data.teacher.actingAs.email;
        this.teacher.phone = response.data.data.teacher.actingAs.phone;
        this.teacher.cell_phone = response.data.data.teacher.actingAs.cellPhone;
        this.teacher.birth_day = response.data.data.teacher.actingAs.birthDay;
        this.teacher.sexo = response.data.data.teacher.actingAs.sexo;
        this.teacher.licenciatura = response.data.data.teacher.licenciatura;
        this.teacher.document_birth_path =
          response.data.data.teacher.documentBirthPath;
        this.teacher.document_curp_path =
          response.data.data.teacher.documentCurpPath;
        this.teacher.document_ine_path =
          response.data.data.teacher.documentInePath;
        this.teacher.document_curriculum_path =
          response.data.data.teacher.documentCurriculumPath;
        this.teacher.document_lic_path =
          response.data.data.teacher.documentLicPath;
        this.teacher.document_specialty_path =
          response.data.data.teacher.documentSpecialtyPath;
        this.teacher.document_master_path =
          response.data.data.teacher.documentMasterPath;
        this.teacher.document_doctorate_path =
          response.data.data.teacher.documentDoctoratePath;
        this.teacher.identification_licenciatura =
          response.data.data.teacher.identificationLicenciatura;
        this.teacher.specialty = response.data.data.teacher.specialty;
        this.teacher.identification_specialty =
          response.data.data.teacher.identificationSpecialty;
        this.teacher.master = response.data.data.teacher.master;
        this.teacher.identification_master =
          response.data.data.teacher.identificationMaster;
        this.teacher.doctorate = response.data.data.teacher.doctorate;
        this.teacher.identification_doctorate =
          response.data.data.teacher.identificationDoctorate;
      })
      .then((this.teacherExist = true))
      .catch(error => {
        this.teacherExist = false;
      });
  },
  components: {
    Block,
    UploadFile,
    pdf
  }
};
</script>

<style scoped>
a:hover {
  cursor: pointer;
}
.red {
  color: brown;
}
</style>
