<template>
  <div class="vld-parent">
    <block v-if="teacherExist" title="VER PROFESOR">
      <form action method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div class="form-group">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified clickable-steps">
              <li :class="{active: menu==0}" @click="menu=0">
                <a>
                  <i class="fa fa-user"></i>
                  <strong>Datos Generales</strong>
                </a>
              </li>
              <li :class="{active: menu==2}" @click="menu=2">
                <a>
                  <i class="fa fa-pencil-square-o"></i>
                  <strong>Formación Académica</strong>
                </a>
              </li>
              <li :class="{active: menu==1}" @click="menu=1">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Dirección</strong>
                </a>
              </li>
              <li :class="{active: menu==3}" @click="menu=3">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Documentos</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="step" v-show="menu==0">
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Nombres:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.actingAs.firstName"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Apellido Paterno:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.actingAs.secondName"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Apellido Materno:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.actingAs.lastName"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">CURP:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control text-uppercase"
                v-model="teacher.actingAs.curp"
                placeholder="000000000000000000"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">* Email:</label>
            <div class="col-md-8">
              <input
                type="email"
                id="state-success"
                class="form-control"
                v-model="teacher.actingAs.email"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Tel&eacute;fono local:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.actingAs.phone"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Tel&eacute;fono celular:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.actingAs.cellPhone"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-5 control-label">Fecha de nacimiento:</label>
            <div class="col-md-7">
              <input
                type="date"
                id="state-success"
                class="form-control"
                v-model="teacher.actingAs.birthDay"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Sexo:</label>
            <div class="col-md-8">
              <input
                type="date"
                id="state-success"
                class="form-control"
                v-model="teacher.actingAs.sexo"
                readonly
              />
            </div>
          </div>
        </div>
        <!-- END First Step -->
        <div class="step" v-show="menu==1">
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">Calle:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.address.street"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">Número exterior:</label>
            <div class="col-md-5">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.address.numberOut"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">Número interior:</label>
            <div class="col-md-5">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.address.numberIn"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-7 control-label">Codigo postal:</label>
            <div class="col-md-5">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.address.codePostal"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">Colonia:</label>
            <div class="col-md-8">
              <input
                type="email"
                id="state-success"
                class="form-control"
                v-model="teacher.address.colony"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Ciudad:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.address.city"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-4">
            <label class="col-md-4 control-label">Municipio:</label>
            <div class="col-md-7">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.address.municipality"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-3">
            <label class="col-md-4 control-label">Estado:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.address.state"
                v-if="teacher.address"
                readonly
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-pc"></label>
          </div>
        </div>
        <!-- Second Step -->
        <div class="step" v-show="menu==2">
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">* Licenciatura en :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.licenciatura"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">* Cédula profesional:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identificationLicenciatura"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Especialidad en :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.specialty"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identificationSpecialty"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Maestría en:</label>
            <div class="col-md-8">
              <input
                type="email"
                id="state-success"
                class="form-control"
                v-model="teacher.master"
                readonly
              />
            </div>
          </div>

          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado:</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identificationMaster"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Doctorado en :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.doctorate"
                readonly
              />
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label">Cédula de grado :</label>
            <div class="col-md-8">
              <input
                type="text"
                id="state-success"
                class="form-control"
                v-model="teacher.identificationDoctorate"
                readonly
              />
            </div>
          </div>
          <!--<div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-city">City</label>
                        <div class="col-md-6">
                            <input type="text" id="example-clickable-city" name="example-clickable-city" class="form-control" placeholder="In which city?">
                        </div>
          </div>-->
        </div>
        <!-- END Second Step -->

        <!-- Third Step -->
        <div class="step" v-show="menu==3" style="padding: 10px">
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9;"
          >
            <label class="col-md-12">Acta de nacimiento:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentBirthPath"
                :src="teacher.documentBirthPath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;height:500px;margin: 0 10px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9"
          >
            <label class="col-md-12">INE:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentInePath"
                :src="teacher.documentInePath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;height:500px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9"
          >
            <label class="col-md-12">CURP:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentCurpPath"
                :src="teacher.documentCurpPath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;height:500px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9"
          >
            <label class="col-md-12">Curriculum Vitae:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentCurriculumPath"
                :src="teacher.documentCurriculumPath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;max-width:20%;height:500px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Licenciatura:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentLicPath"
                :src="teacher.documentLicPath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;max-width:20%;height:500px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Especialidad:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentSpecialtyPath"
                :src="teacher.documentSpecialtyPath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;max-width:20%;height:500px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Maestría:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentMasterPath"
                :src="teacher.documentMasterPath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;max-width:20%;height:500px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div
            class="form-group col-md-3 text-center"
            style="height:550px;max-height:550px;background: #f9f9f9"
          >
            <label class="col-md-12">Cédula de Doctorado:</label>
            <div class="col-md-12 text-center">
              <pdf v-if="teacher.documentDoctoratePath"
                :src="teacher.documentDoctoratePath"
                :page="1"
                :scale.sync="0.4"
                style="width:20%;max-width:20%;height:500px"
              >
                <template slot="loading">Cargando documento...</template>
              </pdf>
              <label v-else>El documento no se ha cargado</label>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-pc"></label>
          </div>
        </div>
        <!-- END Third Step -->

        <!-- Form Buttons -->
        <div class="form-group form-actions" style="margin:0px 10px -10px 10px">
          <div class="col-md-8 col-md-offset-6">
            <button
              type="button"
              @click="next"
              class="btn btn-effect-ripple btn-primary"
              id="next1"
              v-if="menu!=3"
            ><i class="fa fa-share"/>Siguiente</button>
            <a href="/profesores" class="btn btn-effect-ripple btn-primary"  v-if="menu!=3"><i class="fa fa-home"/>Regresar</a>
            <a href="/profesores" class="btn btn-effect-ripple btn-primary" v-else><i class="fa fa-home"/>Regresar</a>
          </div>
        </div>
      </form>
      <!-- END Form Buttons -->
    </block>
  </div>
</template>
<script>
import pdf from "pdfvuer";
import UploadFile from "../shared/UploadFile.vue";
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      teacherExist: false,
      address_id: "",
      menu: 0,
      teacher_id: parseInt(this.$attrs.id),
      registered: false,
      teacher: {
      },
    };
  },
  created() {},
  watch: {
    $attrs: function(newAttr, oldAttr) {
      axios
        .post("/graphql", {
          query: `query{ teacher(id: ${this.teacher_id}) {
              licenciatura
              identificationLicenciatura
              specialty
              identificationSpecialty
              master
              identificationMaster
              doctorate
              identificationDoctorate
              documentBirthPath
              documentBirthPath
              documentInePath
              documentCurpPath
              documentCurriculumPath
              documentLicPath
              documentSpecialtyPath
              documentMasterPath
              documentDoctoratePath
              actingAs{
                id
                firstName
                secondName
                lastName
                curp
                phone
                cellPhone
                email
                sexo
                birthDay
              }
              address{
                id
                street
                numberIn
                numberOut
                codePostal
                colony
                city
                state
              }
            }
          }`
        })
        .then(response => {
          this.address = response.data.data.teacher.address;
          this.teacherExist = true;
        })
        .catch(error => {
          this.teacherExist = false;
        });
    }
  },
  methods: {
    next() {
      if (this.menu == 0) this.menu = 2;
      else if (this.menu == 2) this.menu = 1;
      else if (this.menu == 1) this.menu = 3;
    }
  },
  props: {
    title: String
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `query{ teacher(id: ${this.teacher_id}) {
              licenciatura
              identificationLicenciatura
              specialty
              identificationSpecialty
              master
              identificationMaster
              doctorate
              identificationDoctorate
              documentBirthPath
              documentInePath
              documentCurpPath
              documentCurriculumPath
              documentLicPath
              documentSpecialtyPath
              documentMasterPath
              documentDoctoratePath
              actingAs{
                id
                firstName
                secondName
                lastName
                curp
                phone
                cellPhone
                email
                sexo
                birthDay
              }
              address{
                id
                street
                numberIn
                numberOut
                codePostal
                colony
                city
                state
                municipality
              }
            }
          }`
      })
      .then(response => {
        this.teacher = response.data.data.teacher;
        this.teacherExist = true;
      })
      .catch(error => {
        this.teacherExist = false;
      });
  },
  components: {
    Block,
    UploadFile,
    pdf
  }
};
</script>

<style scoped>
a:hover {
  cursor: pointer;
}
.red {
  color: brown;
}
</style>
