<!-- Login Block -->
<div class="block animation-fadeInQuick">
    <!-- Login Title -->
    <div class="block-title">
        <h2> <%= image_tag 'img/logo.png', :style => 'width:15%;margin-right:20%;' %> Iniciar Sesi&oacute;n</h2>
    </div>
    <!-- END Login Title -->
    <% if notice %>
      <p class="alert alert-info"><%= notice %></p>
    <% end %>
    <% if alert %>
      <p class="alert alert-danger"><%= alert %></p>
    <% end %>
    <!-- Login Form -->
    <%= form_for(resource, as: resource_name, url: session_path(resource_name),:html => {:class => 'form-horizontal',:id => 'form-login'} ) do |f| %>
      <div class="form-group">
        <%= f.label 'Correo:',class: 'col-xs-12' %>
        <div class="col-xs-12">
            <%= f.email_field :email, autofocus: true, autocomplete: "email", class: 'form-control', placeholder: 'Ingrese su Correo.' %>
        </div> 
      </div>
      <div class="form-group">
        <%= f.label 'Contraseña:', class: 'col-xs-12' %>
        <div class="col-xs-12">
          <%= f.password_field :password, autocomplete: "current-password", class: 'form-control', placeholder: 'Ingrese su Contraseña.' %>
        </div>
      </div>
      <div class="form-group form-actions">
          <% if devise_mapping.rememberable? %>
            <div class="col-md-7">
                <label class="csscheckbox csscheckbox-primary">
                    <input type="checkbox" id="remember_me" name="remember_me"><span></span> Recordar Contrase&ntilde;a.
                </label>
            </div>
          <% end %>
          <div class="col-md-5 text-right">
              <button class="btn btn-effect-ripple btn-md btn-success" type="submit" name="commit">Ingresar&nbsp;&nbsp;<i class="fa fa-power-off fa-lg"></i></button>
          </div>
      </div>
    <% end %>
    <!-- END Login Form -->
    <!-- Social Login -->
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <hr>
        <div class="push text-center">
          <a href="/users/password/new">Recuperar Contrase&ntilde;a.</a>
        </div>
      </div>
    </div>
</div>
<!-- END Login Block -->
