<%= form_with(model: student, local: true) do |form| %>
  <% if student.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(student.errors.count, "error") %> prohibited this student from being saved:</h2>

      <ul>
      <% student.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :civil_status %>
    <%= form.text_field :civil_status %>
  </div>

  <div class="field">
    <%= form.label :nacionality %>
    <%= form.text_field :nacionality %>
  </div>

  <div class="field">
    <%= form.label :foreign_language %>
    <%= form.check_box :foreign_language %>
  </div>

  <div class="field">
    <%= form.label :foreign_language_name %>
    <%= form.text_field :foreign_language_name %>
  </div>

  <div class="field">
    <%= form.label :disability %>
    <%= form.check_box :disability %>
  </div>

  <div class="field">
    <%= form.label :disability_name %>
    <%= form.text_field :disability_name %>
  </div>

  <div class="field">
    <%= form.label :actual_job %>
    <%= form.text_field :actual_job %>
  </div>

  <div class="field">
    <%= form.label :job_center %>
    <%= form.text_field :job_center %>
  </div>

  <div class="field">
    <%= form.label :job_center_address %>
    <%= form.text_field :job_center_address %>
  </div>

  <div class="field">
    <%= form.label :scolarship_id %>
    <%= form.number_field :scolarship_id %>
  </div>

  <div class="field">
    <%= form.label :registration %>
    <%= form.text_field :registration %>
  </div>

  <div class="field">
    <%= form.label :cycle_id %>
    <%= form.number_field :cycle_id %>
  </div>

  <div class="field">
    <%= form.label :inscription_type %>
    <%= form.text_field :inscription_type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
