<p id="notice"><%= notice %></p>

<h1>Students</h1>

<table>
  <thead>
    <tr>
      <th>Civil status</th>
      <th>Nacionality</th>
      <th>Foreign language</th>
      <th>Foreign language name</th>
      <th>Disability</th>
      <th>Disability name</th>
      <th>Actual job</th>
      <th>Job center</th>
      <th>Job center address</th>
      <th>Scolarship</th>
      <th>Registration</th>
      <th>Cycle</th>
      <th>Inscription type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.civil_status %></td>
        <td><%= student.nacionality %></td>
        <td><%= student.foreign_language %></td>
        <td><%= student.foreign_language_name %></td>
        <td><%= student.disability %></td>
        <td><%= student.disability_name %></td>
        <td><%= student.actual_job %></td>
        <td><%= student.job_center %></td>
        <td><%= student.job_center_address %></td>
        <td><%= student.scolarship_id %></td>
        <td><%= student.registration %></td>
        <td><%= student.cycle_id %></td>
        <td><%= student.inscription_type %></td>
        <td><%= link_to 'Show', student %></td>
        <td><%= link_to 'Edit', edit_student_path(student) %></td>
        <td><%= link_to 'Destroy', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Student', new_student_path %>
