<p id="notice"><%= notice %></p>

<p>
  <strong>Civil status:</strong>
  <%= @student.civil_status %>
</p>

<p>
  <strong>Nacionality:</strong>
  <%= @student.nacionality %>
</p>

<p>
  <strong>Foreign language:</strong>
  <%= @student.foreign_language %>
</p>

<p>
  <strong>Foreign language name:</strong>
  <%= @student.foreign_language_name %>
</p>

<p>
  <strong>Disability:</strong>
  <%= @student.disability %>
</p>

<p>
  <strong>Disability name:</strong>
  <%= @student.disability_name %>
</p>

<p>
  <strong>Actual job:</strong>
  <%= @student.actual_job %>
</p>

<p>
  <strong>Job center:</strong>
  <%= @student.job_center %>
</p>

<p>
  <strong>Job center address:</strong>
  <%= @student.job_center_address %>
</p>

<p>
  <strong>Scolarship:</strong>
  <%= @student.scolarship_id %>
</p>

<p>
  <strong>Registration:</strong>
  <%= @student.registration %>
</p>

<p>
  <strong>Cycle:</strong>
  <%= @student.cycle_id %>
</p>

<p>
  <strong>Inscription type:</strong>
  <%= @student.inscription_type %>
</p>

<%= link_to 'Edit', edit_student_path(@student) %> |
<%= link_to 'Back', students_path %>
