<template>
  <block title="Tipos de Becas Escolares" buttonRef="#/tipos/becas/crear" buttonTitle="Agregar tipo de Beca Escolar">
    <v-client-table :data="typeScolarships" :columns="columns" :options="options">
      <div slot="administration" slot-scope="props">
        <router-link :to="'/tipos/becas/ver/'+props.row.id">
          <i class="fa fa-eye i-admin i-admin-read"></i>
        </router-link>
        <router-link :to="'/tipos/becas/editar/'+props.row.id">
          <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
        </router-link>
        <a @click="eliminar(props.row.id)">
          <i class="fa fa-trash i-admin i-admin-delete"></i>
        </a>
      </div>
    </v-client-table>
  </block>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      typeScolarships: [],
      columns: [
        "name",
        "administration"
      ],
      options: {
        headings: {
          "name": "Nombre",
          administration: "Administración"
        },
        sortable: ["name"],
        filterable: ["name"],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `{
                    typeScolarships{
                        id
                        name
                    }
                }`
      })
      .then(response => {
        this.typeScolarships = response.data.data.typeScolarships;
      })
      .catch(error => {
        console.log(error);
      });
  },
  components: {
    Block
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro será eliminado",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios.delete(BASE_URL + "/type_scolarships/" + id).then(response => {
            if (response.data.status == "200")
              Swal.fire({
                title: "Éxito",
                text: response.data.msg,
                icon: "success"
              }).then(result => {
                if (result.value) window.location.reload();
              });
          });
      });
    }
  }
};
</script>