<template>
  <div>
    <block :title="'Crear nuevo tipo de beca'">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" v-model="type_scolarship.name" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <router-link
            :to="'/tipos/becas'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      type_scolarship: {
        name: undefined
      }
    };
  },
  components: {
    Block
  },
  methods: {
    guardar: function() {
      if (this.type_scolarship.name)
        axios
          .post(BASE_URL + "/type_scolarships", {
            type_scolarship: this.type_scolarship
          })
          .then(response => {
            if (response.data.status == "200")
              Swal.fire({
                title: "Éxito!",
                text: response.data.msg,
                icon: "success"
              }).then(result => {
                if (result.value) window.location = BASE_URL + "#/tipos/becas";
              });
            else {
              var errors = "";
              for (var [key, value] of Object.entries(response.data.msg)) {
                errors += `${value} `;
              }
              Swal.fire({
                title: "Error!",
                text: errors,
                icon: "error"
              });
            }
          });
      else
        Swal.fire({
          title: "Error!",
          text: "El nombre es requerido",
          icon: "error"
        });
    }
  }
};
</script>