<template>
  <div>
    <block :title="'Ver tipo de beca: ' + typeScolarship.name" v-if="typeScolarship">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" v-model="typeScolarship.name" readonly/>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <div class="col-md-12 text-center">
          <router-link
            :to="'/tipos/becas'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
export default {
  data() {
    return {
      id: this.$attrs.id,
      typeScolarship: undefined
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                    typeScolarship(id: ${this.id}) {
                        name
                    }
                }`
      })
      .then(response => {
        this.typeScolarship = response.data.data.typeScolarship;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post(BASE_URL + "/graphql", {
          query: `{
                    typeScolarship(id: ${this.id}) {
                        name
                    }
                }`
        })
        .then(response => {
          this.typeScolarship = response.data.data.typeScolarship;
        });
    }
  }
};
</script>