<template>
  <div>
    <block :title="'Nuevo Plan de Estudios'">
      <div class="row">
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Nombre:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control uppercase" v-model="study_plan['name']" />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Grado:</label>
          <div class="col-md-4">
            <div class="input-group">
              <select type="text" class="form-control" v-model="study_plan['grade']">
                <option v-for="item in options" :key="item">{{ item }}</option>
              </select>
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">RVOE:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" v-model="study_plan['rvoe']" />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Sufijo:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input type="text" class="form-control" v-model="study_plan['suffix']" />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Fecha inicial de validez:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="date" class="form-control" v-model="study_plan['start_valid_date']" />
            <span class="input-group-addon">
              <i class="fa fa-calendar" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Fecha final de validez:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="date" class="form-control" v-model="study_plan['finish_valid_date']" />
            <span class="input-group-addon">
              <i class="fa fa-calendar" />
            </span>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Ciclo:</label>
          <div class="col-md-4">
            <div class="input-group">
              <select class="form-control" v-model="cycle">
                <option v-for="cycle in cycles" :key="cycle.id" :value="cycle.id">{{cycle.name}}</option>
              </select>
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
      </div>

      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin:40px 10px 10px 10px;">
        <div class="text-center">
          <button
            type="button"
            @click="guardar"
            class="btn btn-effect-ripple btn-success"
            style="margin-bottom:1px"
          >
            <i class="fa fa-save" />Guardar
          </button>
          <a href="#/planes" class="btn btn-effect-ripple btn-primary" style="margin-bottom:1px">
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      study_plan: {
        name: "",
        grade: "",
        suffix: "",
        rvoe: "",
        start_valid_date: "",
        finish_valid_date: ""
      },
      cycle: 1,
      options: ["Licenciatura", "Maestría"],
      cycles: []
    };
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", { query: "{cycles{id name}}" })
      .then(response => {
        if (response.status == 200) {
          this.cycles = response.data.data.cycles;
        }
      })
      .catch(error => {
        Swal.fire({
          title: "Error",
          icon: "error",
          text: error
        });
      });
  },
  components: {
    Block
  },
  methods: {
    guardar: function() {
      axios
        .post(BASE_URL + "/study_plans", { study_plan: this.study_plan,cycle_id: this.cycle })
        .then(function(response) {
          if (response.data.status == "200")
            Swal.fire({
              title: "Exito",
              icon: "success",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location = BASE_URL + "/#/planes";
            });
          else if (response.data.status == "500")
            Swal.fire({
              title: "Error",
              icon: "error",
              text: response.data.msg
            });
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
