<template>
  <div>
    <block
      :title="'Plan de estudios: ' + study_plan.name"
      v-if="studyPlanExist"
    >
      <div class="row">
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Nombre:</label>
          <div class="col-md-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control uppercase"
                v-model="study_plan['name']"
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Grado:</label>
          <div class="col-md-3">
            <div class="input-group">
              <select
                type="text"
                class="form-control"
                v-model="study_plan['grade']"
              >
              <option v-for="item in options">{{ item }}</option>
              </select>
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">RVOE:</label>
          <div class="col-md-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                v-model="study_plan['rvoe']"
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Sufijo:</label>
          <div class="col-md-3">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                v-model="study_plan['suffix']"
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Fecha inicial de validez:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              v-model="study_plan['startValidDate']"
            />
            <span class="input-group-addon">
              <i class="fa fa-calendar" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Fecha final de validez:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              v-model="study_plan['finishValidDate']"
            />
            <span class="input-group-addon">
              <i class="fa fa-calendar" />
            </span>
          </div>
        </div>
      </div>
      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <button
            type="button"
            @click="guardar"
            class="btn btn-effect-ripple btn-success"
            style="margin-bottom:1px"
          >
            <i class="fa fa-save" />Guardar
          </button>
          <a
            href="#/planes"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      study_plan: {
        id: "",
        name: "",
        grade:"",
        suffix:"",
        rvoe:"",
        start_valid_date: "",
        finish_valid_date: ""
      },
      studyPlanExist: false,
      options:['Licenciatura','Maestría']
    };
  },
  components: {
    Block
  },
  methods: {
    guardar: function() {
      var study_plan2 = {
        id: this.study_plan.id,
        grade: this.study_plan.grade,
        suffix: this.study_plan.suffix,
        rvoe: this.study_plan.rvoe,
        name: this.study_plan.name,
        start_valid_date: this.study_plan.startValidDate,
        finish_valid_date: this.study_plan.finishValidDate
      };
      axios
        .put(BASE_URL + "/study_plans/" + this.id, { study_plan: study_plan2 })
        .then(function(response) {
          if (response.data.status == "200")
            Swal.fire({
              title: "Exito",
              icon: "success",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location = BASE_URL + "/#/planes";
            });
          else if (response.data.status == "500")
            Swal.fire({
              title: "Error",
              icon: "error",
              text: response.data.msg
            });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                studyPlan(id: ${this.id}){
                    id
                    grade
                    suffix
                    rvoe
                    name
                    startValidDate
                    finishValidDate
                }
            }`
      })
      .then(response => {
        this.study_plan = response.data.data.studyPlan;
        this.studyPlanExist = true;
      })
      .catch(error => {
        console.log(error);
        this.activityExist = false;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post(BASE_URL + "/graphql", {
          query: `{
                studyPlan(id: ${this.id}){
                    id
                    name
                    grade
                    suffix
                    rvoe
                    startValidDate
                    finishValidDate
                }
            }`
        })
        .then(response => {
          this.study_plan = response.data.data.studyPlan;
          this.studyPlanExist = true;
        })
        .catch(error => {
          console.log(error);
          this.activityExist = false;
        });
    }
  }
};
</script>
