<template>
  <div>
    <block
      title="Planes de Estudio"
      buttonTitle="Agregar Plan de Estudio"
      buttonRef="#/planes/crear"
    >
      <v-client-table :data="study_plans" :columns="columns" :options="options" v-if="study_plans">
        <div slot="administration" slot-scope="props">
          <router-link :to="'planes/' + props.row.id">
            <i class="fa fa-eye i-admin i-admin-read"></i>
          </router-link>
          <router-link :to="'planes/editar/' + props.row.id">
            <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
          </router-link>
          <a
            data-toggle="modal"
            @click="study_plan_file_id = props.row.id"
            data-target="#modal-cargar-materias"
            title="Cargar Materías"
          >
            <i class="fa fa-file-excel-o i-admin i-admin-read"></i>
          </a>
          <a @click="eliminar(props.row.id)">
            <i class="fa fa-trash i-admin i-admin-delete"></i>
          </a>
        </div>
      </v-client-table>
    </block>
    <!-- Search User Modal -->
    <div
      id="modal-cargar-materias"
      class="modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="true"
      data-backdrop="static"
      data-keyboard="false"
    >
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h3 class="modal-title">
              <strong>Cargar materías</strong>
            </h3>
          </div>
          <div class="modal-body">
            <div class="form-group">
              <label for="asignature_file">Escoja el archivo de materías a cargar</label>
              <input
                type="file"
                @change="updateFile()"
                ref="file"
                id="asignature_file"
                class="from-control"
              />
            </div>
            <div class="form-group text-center">
              <button class="btn btn-primary" @click="uploadExcel">
                <i class="fa fa-upload" style="font-size:3.5rem"/><br>
                Cargar Documento
              </button>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-effect-ripple btn-primary"
              data-dismiss="modal"
            >Cerrar</button>
          </div>
        </div>
      </div>
    </div>
    <!-- END Search User Modal -->
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      study_plans: undefined,
      columns: [
        "name",
        "suffix",
        "grade",
        "rvoe",
        "startValidDate",
        "finishValidDate",
        "administration"
      ],
      options: {
        headings: {
          name: "Nombre",
          suffix: "Sufijo",
          grade: "Tipo",
          rvoe: "RVOE",
          startValidDate: "Fecha inicial de validez",
          finishValidDate: "Fecha final de validez"
        },
        sortable: [
          "name",
          "startValidDate",
          "finishValidDate",
          "suffix",
          "grade",
          "rvoe"
        ],
        filterable: [
          "name",
          "startValidDate",
          "finishValidDate",
          "suffix",
          "grade",
          "rvoe"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      },
      study_plans_file: "",
      study_plan_file_id: 0
    };
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro será eliminado",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios.delete(BASE_URL + "/study_plans/" + id).then(response => {
            if (response.data.status == "200")
              Swal.fire({
                title: "Éxito",
                text: response.data.msg,
                icon: "success"
              }).then(result => {
                if (result.value) window.location.reload();
              });
          });
      });
    },
    // Saving the file in our data to send it !
    updateFile: function() {
      this.study_plans_file = this.$refs.file.files[0];
    },
    uploadExcel() {
      const fd = new FormData();
      fd.append("study_plans_file", this.study_plans_file);
      fd.append("study_plan_id", this.study_plan_file_id);
      fd.append("authenticity_token", AUTHENTICITY_TOKEN);

      axios
        .post(BASE_URL + "/cargar/materias", fd, {
          headers: {
            "Content-Type": "multipart/form-data"
          }
        })
        .then(response => {
          if (response.data.status == "200") {
            Swal.fire({
              title: "Éxito!",
              text: response.data.msg,
              icon: "success",
              confirmButtonColor: "#3085d6",
              confirmButtonText: "Aceptar"
            }).then(result => {
              if (result.value) {
                window.location.reload();
              }
            });
          } else
            Swal.fire({
              title: "Error!",
              text: response.data.msg,
              icon: "error",
              confirmButtonText: "Aceptar"
            });
        })
        .catch(error =>
          Swal.fire({
            title: "Error!",
            text: "Error al comunicarse con el servidor",
            icon: "error",
            confirmButtonText: "Aceptar"
          })
        );
    }
  },
  components: {
    Block
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `{
  studyPlans{
    id
    name
    suffix
    grade
    rvoe
    startValidDate
    finishValidDate
    status
  }
}`
      })
      .then(response => {
        if (response.status == "200")
          this.study_plans = response.data.data.studyPlans;
        else
          Swal.fire({
            title: "Error",
            body: response.data.errors.message,
            icon: "error"
          });
      })
      .catch(error => {
        Swal.fire({
          title: "Error",
          icon: "error"
        });
      });
  }
};
</script>
