<template>
  <div>
    <block
      :title="'Plan de estudios: ' + study_plan.name"
      v-if="studyPlanExist"
    >
      <div class="row">
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Nombre:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                v-model="study_plan['name']"
                readonly
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Grado:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                v-model="study_plan['grade']"
                readonly
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">RVOE:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                v-model="study_plan['rvoe']"
                readonly
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
        <div class="form-group" style="margin-top:20px">
          <label class="col-md-2 control-label text-right">Sufijo:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input
                type="text"
                class="form-control"
                v-model="study_plan['suffix']"
                readonly
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate" />
              </span>
            </div>
          </div>
        </div>
      </div>
      
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Fecha inicial de validez:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              v-model="study_plan['startValidDate']"
              readonly
            />
            <span class="input-group-addon">
              <i class="fa fa-calendar" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Fecha final de validez:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="date"
              class="form-control"
              v-model="study_plan['finishValidDate']"
              readonly
            />
            <span class="input-group-addon">
              <i class="fa fa-calendar" />
            </span>
          </div>
        </div>
      </div>
      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <a
            href="#/planes"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      study_plan: {
        id: "",
        name: "",
        grade:"",
        suffix: "",
        rvoe:"",
        start_valid_date: "",
        finish_valid_date: ""
      },
      studyPlanExist: false
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                studyPlan(id: ${this.id}){
                    id
                    name
                    grade
                    suffix
                    rvoe
                    startValidDate
                    finishValidDate
                }
            }`
      })
      .then(response => {
        this.study_plan = response.data.data.studyPlan;
        this.studyPlanExist = true;
      })
      .catch(error => {
        console.log(error);
        this.activityExist = false;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post(BASE_URL + "/graphql", {
          query: `{
                studyPlan(id: ${this.id}){
                    id
                    name
                    startValidDate
                    finishValidDate
                }
            }`
        })
        .then(response => {
          this.study_plan = response.data.data.studyPlan;
          this.studyPlanExist = true;
        })
        .catch(error => {
          console.log(error);
          this.activityExist = false;
        });
    }
  }
};
</script>
