<%= form_with(model: asignature, local: true) do |form| %>
  <% if asignature.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(asignature.errors.count, "error") %> prohibited this asignature from being saved:</h2>

      <ul>
      <% asignature.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :asignature_type %>
    <%= form.text_field :asignature_type %>
  </div>

  <div class="field">
    <%= form.label :asignature_name %>
    <%= form.text_field :asignature_name %>
  </div>

  <div class="field">
    <%= form.label :key %>
    <%= form.text_field :key %>
  </div>

  <div class="field">
    <%= form.label :academic_hours %>
    <%= form.number_field :academic_hours %>
  </div>

  <div class="field">
    <%= form.label :independent_hours %>
    <%= form.number_field :independent_hours %>
  </div>

  <div class="field">
    <%= form.label :credits %>
    <%= form.number_field :credits %>
  </div>

  <div class="field">
    <%= form.label :classroom %>
    <%= form.text_field :classroom %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.number_field :semester %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
