<p id="notice"><%= notice %></p>

<h1>Asignatures</h1>

<table>
  <thead>
    <tr>
      <th>Asignature type</th>
      <th>Asignature name</th>
      <th>Key</th>
      <th>Academic hours</th>
      <th>Independent hours</th>
      <th>Credits</th>
      <th>Classroom</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @asignatures.each do |asignature| %>
      <tr>
        <td><%= asignature.asignature_type %></td>
        <td><%= asignature.asignature_name %></td>
        <td><%= asignature.key %></td>
        <td><%= asignature.academic_hours %></td>
        <td><%= asignature.independent_hours %></td>
        <td><%= asignature.credits %></td>
        <td><%= asignature.classroom %></td>
        <td><%= asignature.semester %></td>
        <td><%= link_to 'Show', asignature %></td>
        <td><%= link_to 'Edit', edit_asignature_path(asignature) %></td>
        <td><%= link_to 'Destroy', asignature, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Asignature', new_asignature_path %>
