<p id="notice"><%= notice %></p>

<p>
  <strong>Asignature type:</strong>
  <%= @asignature.asignature_type %>
</p>

<p>
  <strong>Asignature name:</strong>
  <%= @asignature.asignature_name %>
</p>

<p>
  <strong>Key:</strong>
  <%= @asignature.key %>
</p>

<p>
  <strong>Academic hours:</strong>
  <%= @asignature.academic_hours %>
</p>

<p>
  <strong>Independent hours:</strong>
  <%= @asignature.independent_hours %>
</p>

<p>
  <strong>Credits:</strong>
  <%= @asignature.credits %>
</p>

<p>
  <strong>Classroom:</strong>
  <%= @asignature.classroom %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @asignature.semester %>
</p>

<%= link_to 'Edit', edit_asignature_path(@asignature) %> |
<%= link_to 'Back', asignatures_path %>
