<template>
  <div>
    <block title="Crear Horario">
      <div class="container">
        <div class="row">
          <div class="form-group col-md-3">
            <label for="example-nf-email">Nombre:</label>
            <input
              type="text"
              class="form-control uppercase"
              v-model="this.student.actingAs.firstName"
              disabled
            />
          </div>
          <div class="form-group col-md-3">
            <label for="example-nf-email">Apellido Paterno:</label>
            <input
              type="text"
              class="form-control uppercase"
              v-model="this.student.actingAs.secondName"
              disabled
            />
          </div>
          <div class="form-group col-md-3">
            <label for="example-nf-email">Apellido Materno:</label>
            <input
              type="text"
              class="form-control uppercase"
              v-model="this.student.actingAs.lastName"
              disabled
            />
          </div>
          <div class="form-group col-md-3">
            <label for="example-nf-email">Matrícula:</label>
            <input
              type="text"
              class="form-control uppercase"
              v-model="this.student.registration"
              disabled
            />
          </div>
          <div class="form-group col-md-6">
            <label for="example-nf-email">Plan de Estudios:</label>
            <input
              type="text"
              class="form-control uppercase"
              v-model="this.student.studyPlan.name"
              disabled
            />
          </div>
          <div class="col-md-6"  id="prev-view">
            <button class="btn btn-primary" @click="modal"><i class="fa fa-eye"></i>Vista Previa del Horario</button>
          </div>
        </div>
        <div class="row">
          <v-client-table :data="schedules" :columns="columns" :options="options">
            <!-- <div slot="actingAs.firstName" slot-scope="props">
              <span
                class="text-uppercase"
              >{{props.row.actingAs.secondName}} {{props.row.actingAs.lastName}} {{props.row.actingAs.firstName}}</span>
            </div>
            <div slot="curp" slot-scope="props">
              <span class="text-uppercase">{{props.row.curp}}</span>
            </div> -->
            <div slot="administration" slot-scope="props">
              <!-- <router-link title="Editar" :to="'/estudiantes/editar/'+props.row.id" class="col-md-3">
                <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
              </router-link> -->
              <button
                type="button"
                @click="addScheduleList(props.row.id,props.row.asignature.asignatureName,props.row.teacher.name,props.row.timeTable.rangeHours,props.row.day,props.row.group,props.row.asignature.previousId)"
                class="btn btn-success col-md-5"
              >
                <i class="fa fa-plus">&nbsp;</i>Agregar
              </button>
            </div>
          </v-client-table>
        </div>
      </div>
      <div v-if="showModal">
        <div class="modal-mask">
          <div class="modal-wrapper">
            <div class="modal-dialog" role="document">
              <div class="modal-content">
                <div class="modal-header">
                  <h4
                    class="modal-title text-uppercase"
                    style="font-weight:bold;display:inline"
                  >
                        Horario de: {{ this.student.actingAs.firstName }} {{ this.student.actingAs.secondName }} {{ this.student.actingAs.lastName }}
                  </h4>
                  <button
                    type="button"
                    class="close"
                    data-dismiss="modal"
                    aria-label="Close"
                  >
                    <span
                      aria-hidden="true"
                      @click="modal"
                      >&times;</span
                    >
                  </button>
                </div>
                <div class="modal-body">
                  <div class="row">
                    <div class="col-md-12">
                      <h1 v-if="scheduleStudent.length == 0">No hay Asignaturas Seleccionadas</h1>
                      <label v-if="scheduleStudent.length > 0">Modalidad: 
                        <select  class="form-control" v-model="modality">
                          <option v-for="item in modalitys" v-bind:key="item.id" :value="item.id">{{ item.name }}</option>
                        </select>
                      </label>
                      <table class="table table-striped" v-if="scheduleStudent.length > 0">
                        <thead>
                            <tr>
                              <th>Asignatura</th>
                              <th>Horario</th>
                              <th>Día</th>
                              <th>Docente</th>
                              <th>Grupo</th>
                              <th>Eliminar</th>
                            </tr>
                        </thead>
                        <tbody>
                          <tr v-for="(item, index) in scheduleStudent" v-bind:key="item.id">
                            <td>
                                {{ item.asignature }}
                            </td>
                            <td>
                                {{ item.hours }}
                            </td>
                            <td>
                                {{ item.day }}
                            </td>
                            <td>
                                {{ item.teacher }}
                            </td>
                            <td>
                                {{ item.group }}
                            </td>
                            <td>
                                <span class="btn btn-danger" @click="deleteSchedule(index)"><i class="fa fa-trash"></i></span>
                            </td>
                          </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>  
                </div>
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-warning"
                    @click="modal"
                  >
                    Cerrar
                  </button>
                  <button
                    type="button"
                    class="btn btn-success"
                    @click="save"
                  >
                    Guardar
                  </button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </block>
  </div>
</template>

<script>
import Block from "../shared/Block.vue";
export default {
  data() {
    return {
      showModal: false,
      student: {actingAs:{}},
      schedules: [],
      columns: ['asignature.asignatureName','teacher.name','timeTable.rangeHours','day','group','administration'],
      options: {
        headings: {
          "asignature.asignatureName": "Asignatura",
          "teacher.name": "Docente",
          "timeTable.rangeHours": "Horario",
          "day":"Día",
          "group":"Grupo",
          administration: "Administración"
        },
        sortable: ["asignature.asignatureName", "teacher.name", "timeTable.rangeHours","day","group"],
        filterable: [
          "asignature.asignatureName",
          "teacher.name",
          "timeTable.rangeHours",
          "day",
          "group",
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Búscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      },
      scheduleStudent:[],
      modality: 1,
      modalitys:[]
    };
  },
  mounted: function() {
    this.getStudent();
  },
  methods: {
    getStudent: function() {
      axios
        .post(BASE_URL + "/graphql", {
          query: `{
                  modalities {
                    id
                    name
                  }
                  student(id: ${ this.$attrs.id }) {
                    id
                    registration
                    actingAs {
                      firstName
                      secondName
                      lastName
                    }
                    studyPlan {
                      id
                      name
                    }
                    semester
                    scheduleForStudyPlanAndSemester {
                      id
                      asignature {
                        id
                        asignatureName
                        previousId
                      }
                      teacher {
                        id
                        actingAs {
                          firstName
                          secondName
                          lastName
                        }
                      }
                      studyPlan {
                        id
                        name
                      }
                      timeTable {
                        id
                        rangeHours
                      }
                      day
                      group
                    }
                  }
                }`
        })
        .then(response => {
          this.student = response.data.data.student;
          this.modalitys = response.data.data.modalities;
          this.schedules = response.data.data.student.scheduleForStudyPlanAndSemester;
            this.schedules.map(item =>{
              item.teacher.name = item.teacher.actingAs.firstName +" " + item.teacher.actingAs.secondName + " " + item.teacher.actingAs.lastName; 
            });
        });
    },
    addScheduleList:function(id,asignature,teacher,hours,day,group,asignaturePrev){
      let item = this.scheduleStudent.filter(element => element.id == id);
      if(item.length > 0){
        Swal.fire({
          title: "Error",
          icon: "error",
          text: 'Esta Matería ya esta Registrada'
        });
        return;
      }
      this.scheduleStudent.push({
        id: id,
        asignature: asignature,
        teacher: teacher,
        hours: hours,
        day: day,
        group: group
      });
       Swal.fire({
          title: "Exito",
          icon: "success",
          text: 'Materia Agregada  a la Tira'
        });
      
    },
    modal: function(){
      this.showModal = !this.showModal;
    },
    deleteSchedule: function(index){
      this.scheduleStudent.splice(index,1);
    },
    save:function(){
      this.showModal = false;
      let loader = this.$loading.show({ canCancel: false });
      axios
        .post(BASE_URL + "/concerted_qualifications.json", { concerted_qualification: {
            student_id: this.student.id,
            modality_id: this.modality,
            authenticity_token: AUTHENTICITY_TOKEN,
        }, schedules: this.scheduleStudent })
        .then(response => {
          loader.hide();
          if (response.data.status == "200")
            Swal.fire({
              title: "Exito",
              icon: "success",
              text: response.data.msg
            }).then(result => {
              if (result.value){ 
                window.location.reload(),
                window.open(BASE_URL + "/formato/tira/materias/"+this.student.id);
              };

            });
          else if (response.data.status == "500")
            Swal.fire({
              title: "Error",
              icon: "error",
              text: response.data.msg
            });
        })
        .catch(error => {
            loader.hide();
            Swal.fire({
              title: "Error",
              icon: "error",
              text: error
            });
        });
    }
  },
  components: {
    Block
  }
};
</script>

<style>
  #prev-view{
    margin-top: 2%;
  }
</style>
