<template>
  <block
    :title="`Editar Datos Generales : ${student.registration} | ${student.actingAs.secondName} ${student.actingAs.lastName} ${student.actingAs.firstName}`"
    v-if="student"
  >
    <div class="row form-group" style="margin-top:25px">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Nombre(s):</label>
        <div class="col-md-8">
          <div class="input-group" style="width:100%">
            <input
              type="text"
              class="form-control text-capitalize"
              v-model="student.actingAs.firstName"
            />
          </div>
        </div>
      </div>
      <div class="col-md-3">
        <label class="col-md-4 control-label text-right">*Apellido Paterno:</label>
        <div class="input-group col-md-8">
          <input
            class="text-capitalize form-control"
            style="width:100%"
            type="text"
            v-model="student.actingAs.secondName"
          />
        </div>
      </div>
      <div class="col-md-3">
        <label class="col-md-4 control-label text-right">*Apellido Materno:</label>
        <div class="input-group col-md-8">
          <input
            type="text"
            class="form-control text-capitalize"
            style="width:100%"
            v-model="student.actingAs.lastName"
          />
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*CURP:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input class="text-uppercase form-control" type="text" v-model="student.actingAs.curp" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Estado civil:</label>
        <div class="col-md-8">
          <div class="input-group">
            <select class="form-control" v-model="student.civilStatus">
              <option value="soltero">Soltero(a)</option>
              <option value="casado">Casado(a)</option>
            </select>
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Sexo:</label>
        <div class="col-md-8">
          <div class="input-group">
            <select class="form-control" v-model="student.actingAs.sexo">
              <option value="masculino">Masculino</option>
              <option value="femenino">Femenino</option>
            </select>
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Correo Electrónico:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" v-model="student.actingAs.email" class="form-control" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Teléfono de casa:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="9999999999"
              step="1"
              v-model="student.actingAs.phone"
            />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Teléfono celular:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="9999999999"
              step="1"
              v-model="student.actingAs.cellPhone"
            />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Fecha de nacimiento:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="date" v-model="student.actingAs.birthDay" class="form-control" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Nacionalidad:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" v-model="student.nacionality" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Lengua indígena o extranjera:</label>
        <div class="col-md-8">
          <div class="input-group">
            <select v-model="student.foreignLanguage" class="form-control">
              <option value="false">No</option>
              <option value="true">Si</option>
            </select>
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">Especifique:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" v-model="student.foreignLanguageName" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">*Enfermedad o Discapacidad:</label>
        <div class="col-md-8">
          <div class="input-group">
            <select v-model="student.disability" class="form-control">
              <option value="false">No</option>
              <option value="true">Si</option>
            </select>
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">Especifique:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" v-model="student.disabilityName" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">Empleo actual:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" v-model="student.actualJob" class="form-control" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
      <div class="col-md-6">
        <label class="col-md-4 control-label text-right">Centro laboral:</label>
        <div class="col-md-8">
          <div class="input-group">
            <input type="text" class="form-control" v-model="student.jobCenter" />
            <span class="input-group-addon">
              <i class="fa fa-pencil" />
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 control-label text-right">Ubicación del centro laboral:</label>
      <div class="col-md-10">
        <div class="input-group">
          <input type="text" v-model="student.jobCenterAddress" class="form-control" />
          <span class="input-group-addon">
            <i class="fa fa-pencil" />
          </span>
        </div>
      </div>
    </div>
    <div class="row form-group" style="margin-top:20px">
      <div class="col-md-12 text-center">
        <button
          style="margin-top:20px"
          type="button"
          class="btn btn-primary btn-custom"
          @click="guardar()"
        >
          <i class="fa fa-save" /> Guardar
        </button>
        <a
          href="javascript:history.go(-1)"
          style="margin-top:20px"
          class="mx-auto btn btn-primary btn-custom"
        >
          <i class="fa fa-reply" /> Regresar
        </a>
      </div>
    </div>
  </block>
</template>
<script>
import Block from "../shared/Block.vue";
export default {
  data() {
    return {
      student: undefined,
      id: this.$attrs.id
    };
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                student(id: ${this.id}){
                    id
                    registration
                    actingAs{
                        firstName
                        secondName
                        lastName
                        curp                    
                        sexo
                        birthDay
                        cellPhone
                        phone
                        email
                    }
                    nacionality
                    foreignLanguage
                    foreignLanguageName
                    disability
                    disabilityName
                    actualJob
                    jobCenter
                    jobCenterAddress
                    civilStatus
                }
            }`
      })
      .then(response => (this.student = response.data.data.student))
      .catch(error =>
        Swal.fire({
          icon: "Error",
          text: "Ocurrio un error al conectarse al servidor GrapQL",
          title: "Error!"
        })
      );
  },
  components: {
    Block
  },
  methods: {
    guardar: function() {
      var estudiante = {
        first_name: this.student.actingAs.firstName,
        second_name: this.student.actingAs.secondName,
        last_name: this.student.actingAs.lastName,
        curp: this.student.actingAs.curp,
        civil_status: this.student.civilStatus,
        sexo: this.student.actingAs.sexo,
        email: this.student.actingAs.email,
        phone: this.student.actingAs.phone,
        cell_phone: this.student.actingAs.cellPhone,
        birth_day: this.student.actingAs.birthDay,
        nacionality: this.student.nacionality,
        foreign_language: this.student.foreignLanguage,
        foreign_language_name: this.student.foreignLanguageName,
        disability: this.student.disability,
        disability_name: this.student.disabilityName,
        actual_job: this.student.actualJob,
        job_center: this.student.jobCenter,
        job_center_address: this.student.jobCenterAddress
      };
      axios
        .put(BASE_URL + "/estudiantes/" + this.id, { student: estudiante })
        .then(response => {
          if ((response.data.status = "200")) {
            Swal.fire({
              icon: "success",
              title: "Exito!",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location.reload();
            });
          } else {
            var errors = "";
            for (var [key, value] of Object.entries(response.data.msg)) {
              errors += `${value} `;
            }
            Swal.fire({
              title: "Error!",
              text: errors,
              icon: "error"
            });
          }
        });
    }
  }
};
</script>