<template>
  <div>
    <block :title="'Editar Contacto de emergencia'" v-if="emergencyContact">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre:</label>
        <div class="col-md-10">
          <div class="input-group">
            <input type="text" class="form-control" v-model="emergencyContact.name" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Teléfono de casa:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="emergencyContact.telephone" class="form-control" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Teléfono celular:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="emergencyContact.cellPhone" class="form-control" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <a
            href="javascript:history.go(-1)"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
export default {
  data() {
    return {
      id: this.$attrs.id,
      emergencyContact: undefined
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                    emergencyContact(id: ${this.id}) {
                        id
                        name
                        cellPhone
                        telephone
                    }
                }`
      })
      .then(response => {
        this.emergencyContact = response.data.data.emergencyContact;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
                    emergencyContact(id: ${this.id}) {
                        id
                        name
                        cellPhone
                        telephone
                    }
                }`
        })
        .then(response => {
          this.emergencyContact = response.data.data.emergencyContact;
        });
    }
  },
  methods: {
    guardar: function() {
      var emer = {
        name: this.emergencyContact.name,
        telephone: this.emergencyContact.telephone,
        cell_phone: this.emergencyContact.cellPhone
      };
      if (this.emergencyContact.name)
        if (this.emergencyContact.telephone)
          if (this.emergencyContact.cellPhone)
            axios
              .put(
                BASE_URL + "/emergency_contacts/" + this.emergencyContact.id,
                {
                  emergency_contact: emer
                }
              )
              .then(response => {
                if (response.data.status == "200")
                  Swal.fire({
                    title: "Éxito!",
                    text: response.data.msg,
                    icon: "success"
                  }).then(result => {
                    if (result.value) window.location.reload();
                  });
                else {
                  var errors = "";
                  for (var [key, value] of Object.entries(response.data.msg)) {
                    errors += `${value} `;
                  }
                  Swal.fire({
                    title: "Error!",
                    text: errors,
                    icon: "error"
                  });
                }
              });
          else
            Swal.fire({
              title: "Error!",
              text: "El teléfono celular es requerido",
              icon: "error"
            });
        else
          Swal.fire({
            title: "Error!",
            text: "El teléfono de casa es requerido",
            icon: "error"
          });
      else
        Swal.fire({
          title: "Error!",
          text: "El nombre es requerido",
          icon: "error"
        });
    }
  }
};
</script>