<template>
  <div>
    <block
      :title="'Editar información académica: '+ `${student.registration} | ${student.actingAs.secondName}  ${student.actingAs.lastName} ${student.actingAs.firstName}`"
      v-if="student"
    >
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Plan de estudios*:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="student.studyPlanId">
              <option
                v-for="studyPlan in studyPlans"
                :key="studyPlan.id"
                :value="studyPlan.id"
              >{{studyPlan.name}}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Tipo de Inscripción*:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="student.inscriptionType">
              <option value="0">Normal</option>
              <option value="1">Equivalencia</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Tipo de Beca*:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select
              class="form-control"
              v-model="selectedTypeScolarship"
              @change="student.scolarshipId = 0"
            >
              <option :value="undefined">Ninguna</option>
              <option
                v-for="typeScolarship in typeScolarships"
                :key="typeScolarship.id"
                :value="typeScolarship"
              >{{typeScolarship.name}}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right" v-if="selectedTypeScolarship">Beca:</label>
        <div class="col-md-4" v-if="selectedTypeScolarship">
          <div class="input-group">
            <select v-model="student.scolarshipId" class="form-control">
              <option
                v-for="scolarship in selectedTypeScolarship.scolarships"
                :key="scolarship.id"
                :value="scolarship.id"
              >{{`${scolarship.amount}% | ${scolarship.description}`}}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Ciclo Escolar*:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="student.cycle.id">
              <option v-for="cycle in cycles" :key="cycle.id" :value="cycle.id">{{cycle.name}}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Semestre*:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" min="0" max="30" class="form-control" v-model="student.semester" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <a
            href="javascript:history.go(-1)"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
export default {
  data() {
    return {
      id: this.$attrs.id,
      student: undefined,
      cycles: undefined,
      typeScolarships: undefined,
      studyPlans: undefined,
      selectedTypeScolarship: undefined
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                    cycles {
                        id
                        name
                    }
                    studyPlans {
                        id
                        name
                    }
                    typeScolarships {
                        id
                        name
                        scolarships {
                        id
                        description
                        amount
                        }
                    }
                    student(id: ${this.id}) {
                        id
                        studyPlanId
                        registration
                        actingAs {
                            firstName
                            secondName
                            lastName
                        }
                        scolarshipId
                        inscriptionType
                        scolarship {
                            id
                            typeScolarship {
                                id
                            }
                        }
                        cycle {
                        id
                        }
                        semester
                    }
                }`
      })
      .then(response => {
        this.cycles = response.data.data.cycles;
        this.studyPlans = response.data.data.studyPlans;
        this.typeScolarships = response.data.data.typeScolarships;
        this.student = response.data.data.student;
        if (this.student.scolarship)
          this.selectedTypeScolarship = this.typeScolarships.find(
            x => x.id == this.student.scolarship.typeScolarship.id
          );
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      this.selectedTypeScolarship = undefined;
      axios
        .post("/graphql", {
          query: `{
                    student(id: ${this.id}) {
                        id
                        studyPlanId
                        registration
                        actingAs{
                            firstName
                            secondName
                            lastName
                        }
                        scolarshipId
                        inscriptionType
                        scolarship{
                            id
                            typeScolarship{
                                id
                            }
                        }
                        cycle{
                            id
                        }
                        semester
                    }
                }`
        })
        .then(response => {
          this.student = response.data.data.student;
          if (this.student.scolarship)
            this.selectedTypeScolarship = this.typeScolarships.find(
              x => x.id == this.student.scolarship.typeScolarship.id
            );
        });
    }
  },
  methods: {
    guardar: function() {
      var academics = {
        study_plan_id: this.student.studyPlanId,
        inscription_type: this.student.inscriptionType,
        scolarship_id: this.student.scolarshipId,
        cycle_id: this.student.cycle.id,
        semester: this.student.semester
      };
      if (this.student.studyPlanId >= 0)
        if (this.student.inscriptionType >= 0)
          if (this.student.cycle.id >= 0)
            if (this.student.semester >= 0)
              axios
                .put(BASE_URL + "/estudiantes/" + this.student.id, {
                  student: academics
                })
                .then(response => {
                  if (response.data.status == "200")
                    Swal.fire({
                      title: "Éxito!",
                      text: response.data.msg,
                      icon: "success"
                    }).then(result => {
                      if (result.value) window.location.reload();
                    });
                  else {
                    var errors = "";
                    for (var [key, value] of Object.entries(
                      response.data.msg
                    )) {
                      errors += `${value} `;
                    }
                    Swal.fire({
                      title: "Error!",
                      text: errors,
                      icon: "error"
                    });
                  }
                });
            else
              Swal.fire({
                title: "Error!",
                text: "El semester es requerido",
                icon: "error"
              });
          else
            Swal.fire({
              title: "Error!",
              text: "El ciclo es requerido",
              icon: "error"
            });
        else
          Swal.fire({
            title: "Error!",
            text: "El tipo de inscripción es requerido",
            icon: "error"
          });
      else
        Swal.fire({
          title: "Error!",
          text: "El plan de estudios es requerido",
          icon: "error"
        });
    }
  }
};
</script>