<template>
  <div>
    <block title="Inscritos en Planes de Estudio">
      <v-client-table :data="students" :columns="columns" :options="options">
        <div slot="actingAs.firstName" slot-scope="props">
          <span
            class="text-uppercase"
          >{{props.row.actingAs.secondName}} {{props.row.actingAs.lastName}} {{props.row.actingAs.firstName}}</span>
        </div>
        <div slot="curp" slot-scope="props">
          <span class="text-uppercase">{{props.row.curp}}</span>
        </div>
        <div slot="administration" slot-scope="props">
          <router-link title="Editar" :to="'/estudiantes/ver/'+props.row.id" class="col-md-2">
            <i class="fa fa-pencil-square-o i-admin i-admin-read"></i>
          </router-link>
          <!-- <router-link title="Editar" :to="'/estudiantes/editar/'+props.row.id" class="col-md-3">
            <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
          </router-link> -->
          <a title="Eliminar" @click="eliminar(props.row.id)" class="col-md-2">
            <i class="fa fa-trash i-admin i-admin-delete"></i>
          </a>
          <a data-toggle="tooltip" title="Imprimir comprobante" style="color:gray" target="_blank" :href="'/reporte/inscripcion/'+props.row.id+'.pdf'">
            <i class="fa fa-print i-admin i-admin-edit col-md-2"></i>
          </a>
          <button
            type="button"
            @click="showModalMethod(props.row.id)"
            class="btn btn-success col-md-4"
          >
            <i class="fa fa-angle-double-right">&nbsp;</i>Seleccionar
          </button>
        </div>
      </v-client-table>
      <slot></slot>
    </block>
    <div v-if="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4
                  class="modal-title text-uppercase"
                  style="font-weight:bold;display:inline"
                >
                  {{ user.actingAs.firstName }} {{ user.actingAs.secondName }}
                  {{ user.actingAs.lastName }}
                </h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span
                    aria-hidden="true"
                    @click="
                      showModal = false;"
                    >&times;</span
                  >
                </button>
              </div>
              <div class="modal-body">
                <div class="row">
                  <div class="col-sm-2">
                    <a :href="'/#/horario/crear/'+this.idTarget" class="widget text-center">
                        <div class="widget-content themed-background-info text-light-op text-center">
                            <i class="fa fa-3x fa-calendar push-bit"></i><br>
                            <strong>Generar Horarios</strong>
                        </div>
                    </a>
                  </div>
                  <div class="col-sm-2">
                    <a :href="'/formato/compromiso/pagos/'+this.idTarget" target="_blank" class="widget text-center">
                        <div class="widget-content themed-background-info text-light-op text-center">
                            <i class="fa fa-3x fa-credit-card push-bit"></i><br>
                            <strong>Carta compromiso de pagos</strong>
                        </div>
                    </a>
                  </div>
                </div>  
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-warning"
                  @click="showModal = false;"
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import SearchUser from "../shared/SearchUser.vue";
export default {
  data: function() {
    return {
      user: {},
      idTarget:0,
      showModal: false,
      students: [],
      columns: [
        "actingAs.firstName",
        "studyPlan.name",
        "registration",
        "administration"
      ],
      options: {
        headings: {
          "actingAs.firstName": "Nombre",
          "studyPlan.name": "Plan de estudio",
          registration: "Matrícula",
          administration: "Administración"
        },
        sortable: ["actingAs.firstName", "registration", "studyPlan.name"],
        filterable: [
          "actingAs.firstName",
          "actingAs.secondName",
          "actingAs.lastName",
          "studyPlan.name",
          "registration",
          "actingAs.curp"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Búscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios
      .post("graphql", {
        query: `{
                  students{
                    id
                    actingAs{
                      firstName
                      secondName
                      lastName
                      curp
                    }
                    studyPlan{
                      name
                    }
                    registration
                  }
                }`
      })
      .then(response => {
        if (response.status == "200")
          this.students = response.data.data.students;
      });
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro será eliminado",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios.delete(BASE_URL + "/estudiantes/" + id).then(response => {
            if (response.data.status == "200")
              Swal.fire({
                title: "Éxito",
                text: response.data.msg,
                icon: "success"
              }).then(result => {
                if (result.value) window.location.reload();
              });
          });
      });
    },
    showModalMethod: function(id){
      this.idTarget = id;
      axios
      .post("graphql", {
        query: `{
          student(id: ${id}){
            id
            actingAs {
              firstName
              secondName
              lastName
            }
          }
        }`
      })
      .then(response => {
        console.log(response);
        if (response.status == "200")
          this.user = response.data.data.student;
          this.showModal = true;
      }).catch(error => {

      });
    }
  },
  components: {
    Block,
    SearchUser
  }
};
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>