<template>
  <block
    :title="'Estudiante: '+ student.registration"
    v-if="student"
    buttonTitle="Regresar"
    buttonIcon="fa fa-reply"
    buttonRef="javascript:history.go(-1)"
  >
    <div id="doc2" class="yui-t7">
      <div id="inner">
        <div id="hd">
          <div class="yui-gc">
            <div class="yui-u first">
              <h1>Matrícula: {{student.registration}}</h1>
              <h2>{{(student.actingAs.sexo=="masculino")?"Alumno":"Alumna"}}: {{`${student.actingAs.secondName} ${student.actingAs.lastName} ${student.actingAs.firstName}`}}</h2>
            </div>

            <div class="yui-u">
              <div class="contact-info">
                <div>
                  <div class="user-icon">
                    <i class="fa fa-user"></i>
                  </div>
                  <a
                    :href="'/reporte/inscripcion/'+this.id+'.pdf'"
                    style="color:black;background-color:#ccc;padding:6px"
                  >
                    <i class="fa fa-print" title="Imprimir Reporte"></i>
                    Imprimir
                  </a>
                </div>
                <!-- <h3>
                  <a id="pdf" href="#">Download PDF</a>
                </h3>
                <h3>
                  <a href="mailto:name@yourdomain.com">name@yourdomain.com</a>
                </h3>
                <h3>(313) - 867-5309</h3>-->
              </div>
              <!-- // .contact-info -->
            </div>
          </div>
          <!--// .yui-gc -->
        </div>
        <!--// hd -->
        <div id="bd">
          <div id="yui-main">
            <div class="yui-b">
              <div class="yui-gf">
                <div class="yui-u first text-center">
                  <h2 style="margin-top:0px">Datos Académicos</h2>
                  <a
                    title="Editar Datos Académicos"
                    :href="'#/estudiantes/academicos/editar/'+id"
                    style="padding-top:20px"
                  >
                    <i class="fa fa-edit" style="font-size:4rem;color:green"></i>
                  </a>
                </div>
                <div class="yui-u">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Plan de estudios:</div>
                      <div class="col-xs-6 text-capitalize">{{student.studyPlan.name}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Tipo de inscripción:</div>
                      <div
                        class="col-xs-6 text-capitalize"
                      >{{student.inscriptionType==0?"Normal":"Equivalencia"}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Tipo de beca:</div>
                      <div
                        class="col-xs-6 text-capitalize"
                      >{{student.scolarship==null?"No":student.scolarship.typeScolarship.name}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Beca:</div>
                      <div
                        class="col-xs-6 text-capitalize"
                      >{{student.scolarship==null?"No":`${student.scolarship.amount}% | ${student.scolarship.description}`}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Ciclo Escolar:</div>
                      <div class="col-xs-6">{{student.cycle.name}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Semestre:</div>
                      <div class="col-xs-6 text-capitalize">{{student.semester}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--// .yui-gf-->

              <div class="yui-gf">
                <div class="yui-u first text-center">
                  <h2>Datos Generales</h2>
                  <a
                    title="Editar Datos Generales"
                    :href="`#/estudiantes/generales/editar/${id}`"
                    style="padding-top:20px"
                  >
                    <i class="fa fa-edit" style="font-size:4rem;color:green"></i>
                  </a>
                </div>
                <div class="yui-u">
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Nombre:</div>
                      <div
                        class="col-xs-6"
                      >{{`${student.actingAs.secondName} ${student.actingAs.lastName} ${student.actingAs.firstName}`}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">CURP:</div>
                      <div class="col-xs-6 text-uppercase">{{`${student.actingAs.curp}`}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Estado civil:</div>
                      <div class="col-xs-6 text-capitalize">{{student.civilStatus}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Sexo:</div>
                      <div class="col-xs-6 text-capitalize">{{student.actingAs.sexo}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Fecha de nacimiento:</div>
                      <div class="col-xs-6">{{student.actingAs.birthDay}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Nacionalidad:</div>
                      <div class="col-xs-6 text-capitalize">{{student.nacionality}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Lengua indígena o extranjera:</div>
                      <div class="col-xs-6">{{student.foreignLanguage?"Si":"No"}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Especifique:</div>
                      <div class="col-xs-6">{{student.foreignLanguageName}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Enfermedad o discapacidad:</div>
                      <div class="col-xs-6">{{student.disability?"No":"si"}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Especifique:</div>
                      <div class="col-xs-6">{{student.disabilityName}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Empleo actual:</div>
                      <div class="col-xs-6">{{student.actualJob}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Centro laboral:</div>
                      <div class="col-xs-6">{{student.jobCenter}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="col-xs-3">Ubicación del centro laboral:</div>
                      <div class="col-xs-9">{{student.jobCenterAddress}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Teléfono de casa:</div>
                      <div class="col-xs-6">{{student.actingAs.phone}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Teléfono Celular:</div>
                      <div class="col-xs-6">{{student.actingAs.cellPhone}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="col-xs-3">Correo Electrónico:</div>
                      <div class="col-xs-9">{{student.actingAs.email}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--// .yui-gf-->

              <div class="yui-gf">
                <div class="yui-u first text-center">
                  <h2>Dirección</h2>
                  <a
                    title="Editar Dirección"
                    :href="'#/direcciones/editar/'+student.actingAs.address.id"
                    style="padding-top:20px"
                  >
                    <i class="fa fa-edit" style="font-size:4rem;color:green"></i>
                  </a>
                </div>
                <div class="yui-u">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="col-xs-3">Calle:</div>
                      <div class="col-xs-9 text-capitalize">{{student.actingAs.address.street}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Número Exterior:</div>
                      <div
                        class="col-xs-6 text-uppercase"
                      >{{`${student.actingAs.address.numberOut}`}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Número Interior:</div>
                      <div class="col-xs-6 text-capitalize">{{student.actingAs.address.numberIn}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Código Postal:</div>
                      <div class="col-xs-6 text-capitalize">{{student.actingAs.address.codePostal}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Colonia:</div>
                      <div class="col-xs-6">{{student.actingAs.address.colony}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Municipio:</div>
                      <div class="col-xs-6">{{student.actingAs.address.municipality}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Ciudad:</div>
                      <div class="col-xs-6">{{student.actingAs.address.city}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Estado:</div>
                      <div class="col-xs-6">{{student.actingAs.address.state}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--// .yui-gf-->

              <div class="yui-gf">
                <div class="yui-u first text-center">
                  <h2 style="margin-top:0px">Contacto de Emergencia</h2>
                  <a
                    title="Editar Datos Académicos"
                    :href="'#/estudiantes/emergencia/editar/'+student.emergencyContact.id"
                    style="padding-top:20px"
                  >
                    <i class="fa fa-edit" style="font-size:4rem;color:green"></i>
                  </a>
                </div>
                <div class="yui-u">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="col-xs-3">Nombre completo:</div>
                      <div class="col-xs-9 text-capitalize">{{student.emergencyContact.name}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Teléfono de casa:</div>
                      <div class="col-xs-6 text-capitalize">{{student.emergencyContact.telephone}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Teléfono celular:</div>
                      <div class="col-xs-6 text-capitalize">{{student.emergencyContact.cellPhone}}</div>
                    </div>
                  </div>
                </div>
              </div>

              <div class="yui-gf last">
                <div class="yui-u first text-center">
                  <h2 style="margin-top:0px">Institución de Egreso</h2>
                  <a
                    title="Editar Institución de egreso"
                    :href="'#/estudiantes/instituto/editar/'+student.graduationInstitution.id"
                    style="padding-top:20px"
                  >
                    <i class="fa fa-edit" style="font-size:4rem;color:green"></i>
                  </a>
                </div>
                <div class="yui-u">
                  <div class="row">
                    <div class="col-xs-12">
                      <div class="col-xs-3">Nombre de la Institución:</div>
                      <div class="col-xs-9 text-capitalize">{{student.graduationInstitution.name}}</div>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-xs-6">
                      <div class="col-xs-6">Promedio:</div>
                      <div
                        class="col-xs-6 text-capitalize"
                      >{{student.graduationInstitution.average}}</div>
                    </div>
                    <div class="col-xs-6">
                      <div class="col-xs-6">Especialidad:</div>
                      <div
                        class="col-xs-6 text-capitalize"
                      >{{student.graduationInstitution.specialty}}</div>
                    </div>
                  </div>
                </div>
              </div>
              <!--// .yui-gf -->
            </div>
            <!--// .yui-b -->
          </div>
          <!--// yui-main -->
        </div>
        <!--// bd -->

        <!-- <div id="ft">
          <p>
            Jonathan Doe &mdash;
            <a href="mailto:name@yourdomain.com">name@yourdomain.com</a> &mdash; (313) - 867-5309
          </p>
        </div>-->
        <!--// footer -->
      </div>
      <!-- // inner -->
    </div>
  </block>
  <!--// doc -->
</template>
<script>
import Block from "../shared/Block";
export default {
  data() {
    return {
      student: undefined,
      id: this.$attrs.id
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post("/graphql", {
        query: `
      {
  student(id: ${this.id}){
    id
    actingAs{
      firstName
      secondName
      lastName
      curp
      sexo
      birthDay
      address{
        id
        street
        numberOut
        numberIn
        codePostal
        colony
        municipality
        city
        state
      }
      cellPhone
      phone
      email
    }
    studyPlan{
      name
    }
    cycle{
      name
    }
    inscriptionType
    civilStatus
    nacionality
    foreignLanguage
    foreignLanguageName
    disability
    disabilityName
    actualJob
    jobCenter
    jobCenterAddress
    scolarship{
      amount
      description
      typeScolarship{
        name
      }
    }
    registration
    emergencyContact{
      id
      name
      cellPhone
      telephone
    }
    graduationInstitution{
      id
      name
      average
      specialty
    }
    semester
  }
}`
      })
      .then(response => {
        this.student = response.data.data.student;
      })
      .catch(error => {
        console.log(error);
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `
      {
  student(id: ${this.id}){
    id
    actingAs{
      firstName
      secondName
      lastName
      curp
      sexo
      birthDay
      address{
        id
        street
        numberOut
        numberIn
        codePostal
        colony
        municipality
        city
        state
      }
      cellPhone
      phone
      email
    }
    studyPlan{
      name
    }
    cycle{
      name
    }
    inscriptionType
    civilStatus
    nacionality
    foreignLanguage
    foreignLanguageName
    disability
    disabilityName
    actualJob
    jobCenter
    jobCenterAddress
    scolarship{
      amount
      description
      typeScolarship{
        name
      }
    }
    registration
    emergencyContact{
      id
      name
      cellPhone
      telephone
    }
    graduationInstitution{
      id
      name
      average
      specialty
    }
    semester
  }
}`
        })
        .then(response => {
          this.student = response.data.data.student;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
<style scoped>
.msg {
  padding: 10px;
  background: #222;
  position: relative;
}
.msg h1 {
  color: #fff;
}
.msg a {
  margin-left: 20px;
  background: #408814;
  color: white;
  padding: 4px 8px;
  text-decoration: none;
}
.msg a:hover {
  background: #266400;
}
.block {
  background-color: #f5f5f5;
}
/* //-- yui-grids style overrides -- */
body {
  font-family: Georgia;
  color: #444;
}
#inner {
  padding: 10px 40px;
  background: #f5f5f5;
  border: solid #666;
  border-width: 8px 0 2px 0;
}
.yui-gf {
  margin-bottom: 2em;
  padding-bottom: 2em;
  border-bottom: 1px solid #ccc;
}

/* //-- header, body, footer -- */
#hd {
  margin: 2.5em 0 3em 0;
  padding-bottom: 1.5em;
  border-bottom: 1px solid #ccc;
}
#hd h2 {
  text-transform: uppercase;
  letter-spacing: 2px;
}
#bd,
#ft {
  margin-bottom: 2em;
}

/* //-- footer -- */
#ft {
  padding: 1em 0 5em 0;
  font-size: 92%;
  border-top: 1px solid #ccc;
  text-align: center;
}
#ft p {
  margin-bottom: 0;
  text-align: center;
}

/* //-- core typography and style -- */
#hd h1 {
  font-size: 30px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: 3px;
}
h2 {
  font-size: 152%;
}
h3,
h4 {
  font-size: 122%;
}
h1,
h2,
h3,
h4 {
  color: #333;
}
p {
  font-size: 100%;
  line-height: 18px;
  padding-right: 3em;
}
a {
  color: #990003;
}
a:hover {
  text-decoration: none;
}
strong {
  font-weight: bold;
}
li {
  line-height: 24px;
  border-bottom: 1px solid #ccc;
}
p.enlarge {
  font-size: 144%;
  padding-right: 6.5em;
  line-height: 24px;
}
p.enlarge span {
  color: #000;
}
.contact-info {
  margin-top: 7px;
  text-align: center;
}
.first h2 {
  font-style: italic;
  font-size: 20px;
  margin-top: 40px;
}
.last {
  border-bottom: 0;
}

/* //-- section styles -- */

a#pdf {
  display: block;
  float: left;
  background: #666;
  color: white;
  padding: 6px 50px 6px 12px;
  margin-bottom: 6px;
  text-decoration: none;
}
a#pdf:hover {
  background: #222;
}

.job {
  position: relative;
  margin-bottom: 1em;
  padding-bottom: 1em;
  border-bottom: 1px solid #ccc;
}
.job h4 {
  position: absolute;
  top: 0.35em;
  right: 0;
}
.job p {
  margin: 0.75em 0 3em 0;
}

.last {
  border: none;
}
.skills-list ul {
  margin: 0;
}
.skills-list li {
  margin: 3px 0;
  padding: 3px 0;
}
.skills-list li span {
  font-size: 152%;
  display: block;
  margin-bottom: -2px;
  padding: 0;
}
.talent {
  width: 50%;
  float: left;
}
.talent h2 {
  margin-bottom: 6px;
}

#srt-ttab {
  margin-bottom: 100px;
  text-align: center;
}
#srt-ttab img.last {
  margin-top: 20px;
}

/* --// override to force 1/8th width grids -- */
.yui-gf .yui-u {
  width: 80.2%;
}
.yui-gf div.first {
  width: 12.3%;
}
.user-icon {
  text-align: center;
}
.user-icon i {
  font-size: 11rem;
}
html {
  color: #000;
  background: #fff;
}
body,
div,
dl,
dt,
dd,
ul,
ol,
li,
h1,
h2,
h3,
h4,
h5,
h6,
pre,
code,
form,
fieldset,
legend,
input,
button,
textarea,
p,
blockquote,
th,
td {
  margin: 0;
  padding: 0;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
fieldset,
img {
  border: 0;
}
address,
caption,
cite,
code,
dfn,
em,
strong,
th,
var,
optgroup {
  font-style: inherit;
  font-weight: inherit;
}
del,
ins {
  text-decoration: none;
}
li {
  list-style: none;
}
caption,
th {
  text-align: left;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: 100%;
  font-weight: normal;
}
q:before,
q:after {
  content: "";
}
abbr,
acronym {
  border: 0;
  font-variant: normal;
}
sup {
  vertical-align: baseline;
}
sub {
  vertical-align: baseline;
}
legend {
  color: #000;
}
input,
button,
textarea,
select,
optgroup,
option {
  font-family: inherit;
  font-size: inherit;
  font-style: inherit;
  font-weight: inherit;
}
input,
button,
textarea,
select {
  *font-size: 100%;
}
body {
  font: 13px/1.231 arial, helvetica, clean, sans-serif;
  *font-size: small;
  *font: x-small;
}
select,
input,
button,
textarea,
button {
  font: 99% arial, helvetica, clean, sans-serif;
}
table {
  font-size: inherit;
  font: 100%;
}
pre,
code,
kbd,
samp,
tt {
  font-family: monospace;
  *font-size: 108%;
  line-height: 100%;
}
body {
  text-align: center;
}
#doc,
#doc2,
#doc3,
#doc4,
.yui-t1,
.yui-t2,
.yui-t3,
.yui-t4,
.yui-t5,
.yui-t6,
.yui-t7 {
  margin: auto;
  text-align: left;
  width: 57.69em;
  *width: 56.25em;
}
#doc2 {
  width: auto;
  margin: 0px -10px -10px -10px;
}
#doc3 {
  margin: auto 10px;
  width: auto;
}
#doc4 {
  width: 74.923em;
  *width: 73.05em;
}
.yui-b {
  position: relative;
}
.yui-b {
  _position: static;
}
#yui-main .yui-b {
  position: static;
}
#yui-main,
.yui-g .yui-u .yui-g {
  width: 100%;
}
.yui-t1 #yui-main,
.yui-t2 #yui-main,
.yui-t3 #yui-main {
  float: right;
  margin-left: -25em;
}
.yui-t4 #yui-main,
.yui-t5 #yui-main,
.yui-t6 #yui-main {
  float: left;
  margin-right: -25em;
}
.yui-t1 .yui-b {
  float: left;
  width: 12.30769em;
  *width: 12em;
}
.yui-t1 #yui-main .yui-b {
  margin-left: 13.30769em;
  *margin-left: 13.05em;
}
.yui-t2 .yui-b {
  float: left;
  width: 13.8461em;
  *width: 13.5em;
}
.yui-t2 #yui-main .yui-b {
  margin-left: 14.8461em;
  *margin-left: 14.55em;
}
.yui-t3 .yui-b {
  float: left;
  width: 23.0769em;
  *width: 22.5em;
}
.yui-t3 #yui-main .yui-b {
  margin-left: 24.0769em;
  *margin-left: 23.62em;
}
.yui-t4 .yui-b {
  float: right;
  width: 13.8456em;
  *width: 13.5em;
}
.yui-t4 #yui-main .yui-b {
  margin-right: 14.8456em;
  *margin-right: 14.55em;
}
.yui-t5 .yui-b {
  float: right;
  width: 18.4615em;
  *width: 18em;
}
.yui-t5 #yui-main .yui-b {
  margin-right: 19.4615em;
  *margin-right: 19.125em;
}
.yui-t6 .yui-b {
  float: right;
  width: 23.0769em;
  *width: 22.5em;
}
.yui-t6 #yui-main .yui-b {
  margin-right: 24.0769em;
  *margin-right: 23.62em;
}
.yui-t7 #yui-main .yui-b {
  display: block;
  margin: 0 0 1em 0;
}
#yui-main .yui-b {
  float: none;
  width: auto;
}
.yui-gb .yui-u,
.yui-g .yui-gb .yui-u,
.yui-gb .yui-g,
.yui-gb .yui-gb,
.yui-gb .yui-gc,
.yui-gb .yui-gd,
.yui-gb .yui-ge,
.yui-gb .yui-gf,
.yui-gc .yui-u,
.yui-gc .yui-g,
.yui-gd .yui-u {
  float: left;
}
.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf,
.yui-gc .yui-u,
.yui-gd .yui-g,
.yui-g .yui-gc .yui-u,
.yui-ge .yui-u,
.yui-ge .yui-g,
.yui-gf .yui-g,
.yui-gf .yui-u {
  float: right;
}
.yui-g div.first,
.yui-gb div.first,
.yui-gc div.first,
.yui-gd div.first,
.yui-ge div.first,
.yui-gf div.first,
.yui-g .yui-gc div.first,
.yui-g .yui-ge div.first,
.yui-gc div.first div.first {
  float: left;
}
.yui-g .yui-u,
.yui-g .yui-g,
.yui-g .yui-gb,
.yui-g .yui-gc,
.yui-g .yui-gd,
.yui-g .yui-ge,
.yui-g .yui-gf {
  width: 49.1%;
}
.yui-gb .yui-u,
.yui-g .yui-gb .yui-u,
.yui-gb .yui-g,
.yui-gb .yui-gb,
.yui-gb .yui-gc,
.yui-gb .yui-gd,
.yui-gb .yui-ge,
.yui-gb .yui-gf,
.yui-gc .yui-u,
.yui-gc .yui-g,
.yui-gd .yui-u {
  width: 32%;
  margin-left: 1.99%;
}
.yui-gb .yui-u {
  *margin-left: 1.9%;
  *width: 31.9%;
}
.yui-gc div.first,
.yui-gd .yui-u {
  width: 66%;
}
.yui-gd div.first {
  width: 32%;
}
.yui-ge div.first,
.yui-gf .yui-u {
  width: 84.2%;
}
.yui-ge .yui-u,
.yui-gf div.first {
  width: 15%;
}
.yui-g .yui-gb div.first,
.yui-gb div.first,
.yui-gc div.first,
.yui-gd div.first {
  margin-left: 0;
}
.yui-g .yui-g .yui-u,
.yui-gb .yui-g .yui-u,
.yui-gc .yui-g .yui-u,
.yui-gd .yui-g .yui-u,
.yui-ge .yui-g .yui-u,
.yui-gf .yui-g .yui-u {
  width: 49%;
  *width: 48.1%;
  *margin-left: 0;
}
.yui-g .yui-g .yui-u {
  width: 48.1%;
}
.yui-g .yui-gb div.first,
.yui-gb .yui-gb div.first {
  *margin-right: 0;
  *width: 32%;
  _width: 31.7%;
}
.yui-g .yui-gc div.first,
.yui-gd .yui-g {
  width: 66%;
}
.yui-gb .yui-g div.first {
  *margin-right: 4%;
  _margin-right: 1.3%;
}
.yui-gb .yui-gc div.first,
.yui-gb .yui-gd div.first {
  *margin-right: 0;
}
.yui-gb .yui-gb .yui-u,
.yui-gb .yui-gc .yui-u {
  *margin-left: 1.8%;
  _margin-left: 4%;
}
.yui-g .yui-gb .yui-u {
  _margin-left: 1%;
}
.yui-gb .yui-gd .yui-u {
  *width: 66%;
  _width: 61.2%;
}
.yui-gb .yui-gd div.first {
  *width: 31%;
  _width: 29.5%;
}
.yui-g .yui-gc .yui-u,
.yui-gb .yui-gc .yui-u {
  width: 32%;
  _float: right;
  margin-right: 0;
  _margin-left: 0;
}
.yui-gb .yui-gc div.first {
  width: 66%;
  *float: left;
  *margin-left: 0;
}
.yui-gb .yui-ge .yui-u,
.yui-gb .yui-gf .yui-u {
  margin: 0;
}
.yui-gb .yui-gb .yui-u {
  _margin-left: 0.7%;
}
.yui-gb .yui-g div.first,
.yui-gb .yui-gb div.first {
  *margin-left: 0;
}
.yui-gc .yui-g .yui-u,
.yui-gd .yui-g .yui-u {
  *width: 48.1%;
  *margin-left: 0;
}
.yui-gb .yui-gd div.first {
  width: 32%;
}
.yui-g .yui-gd div.first {
  _width: 29.9%;
}
.yui-ge .yui-g {
  width: 24%;
}
.yui-gf .yui-g {
  width: 74.2%;
}
.yui-gb .yui-ge div.yui-u,
.yui-gb .yui-gf div.yui-u {
  float: right;
}
.yui-gb .yui-ge div.first,
.yui-gb .yui-gf div.first {
  float: left;
}
.yui-gb .yui-ge .yui-u,
.yui-gb .yui-gf div.first {
  *width: 24%;
  _width: 20%;
}
.yui-gb .yui-ge div.first,
.yui-gb .yui-gf .yui-u {
  *width: 73.5%;
  _width: 65.5%;
}
.yui-ge div.first .yui-gd .yui-u {
  width: 65%;
}
.yui-ge div.first .yui-gd div.first {
  width: 32%;
}
#hd:after,
#bd:after,
#ft:after,
.yui-g:after,
.yui-gb:after,
.yui-gc:after,
.yui-gd:after,
.yui-ge:after,
.yui-gf:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
#hd,
#bd,
#ft,
.yui-g,
.yui-gb,
.yui-gc,
.yui-gd,
.yui-ge,
.yui-gf {
  zoom: 1;
}
.row {
  border-bottom: 1px solid #ccc;
}
</style>