<template>
  <div>
    <block
      :title="'Ver studiante: '+ student.registration"
      v-if="student"
      buttonTitle="Estudiantes"
      buttonIcon="fa fa-home"
      buttonRef="#/estudiantes"
    >
      <div class="form-group" style="margin-bottom:80px">
        <div class="col-xs-12">
          <ul class="nav nav-pills nav-justified clickable-steps">
            <li :class="{active: menu==0}" @click="menu=0">
              <a>
                <i class="fa fa-user"></i>
                <strong>Plan de Estudio</strong>
              </a>
            </li>
            <li :class="{active: menu==1}" @click="menu=1">
              <a>
                <i class="fa fa-pencil-square-o"></i>
                <strong>I. DATOS GENERALES</strong>
              </a>
            </li>
            <li :class="{active: menu==2}" @click="menu=2">
              <a>
                <i class="fa fa-check"></i>
                <strong>II. DATOS DE CONTACTO</strong>
              </a>
            </li>
            <li :class="{active: menu==3}" @click="menu=3">
              <a>
                <i class="fa fa-check"></i>
                <strong>III. CONTACTO DE EMERGENCIA</strong>
              </a>
            </li>
            <li :class="{active: menu==4}" @click="menu=4">
              <a>
                <i class="fa fa-check"></i>
                <strong>IV. INSTITUCIÓN DE EGRESO</strong>
              </a>
            </li>
          </ul>
        </div>
      </div>
      <div class="step" v-show="menu==0">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">Plan de estudio:</label>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" v-model="student.studyPlan.name" readonly />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-2 control-label text-right">Ciclo escolar:</label>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" v-model="student.cycle.name" readonly />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">Tipo de inscripción:</label>
            <div class="col-md-4">
              <div class="input-group">
                <label
                  class="form-control"
                  readonly
                >{{student.inscriptionType==0?"Normal":"Equivalencia"}}</label>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-2 control-label text-right">Matrícula:</label>
            <div class="col-md-4">
              <div class="input-group">
                <input type="text" class="form-control" v-model="student.registration" readonly />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step" v-show="menu==1">
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Nombre(s):</label>
            <div class="col-md-8">
              <div class="input-group" style="width:100%">
                <input
                  type="text"
                  class="form-control text-capitalize"
                  v-model="student.actingAs.firstName"
                  readonly
                />
              </div>
            </div>
          </div>
          <div class="col-md-3">
            <label class="col-md-4 control-label text-right">Apellido Paterno:</label>
            <div class="input-group col-md-8">
              <input
                class="text-capitalize form-control"
                style="width:100%"
                type="text"
                v-model="student.actingAs.secondName"
                readonly
              />
            </div>
          </div>
          <div class="col-md-3">
            <label class="col-md-4 control-label text-right">Apellido Materno:</label>
            <div class="input-group col-md-8">
              <input
                type="text"
                class="form-control text-capitalize"
                style="width:100%"
                v-model="student.actingAs.lastName"
                readonly
              />
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">CURP:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  class="text-uppercase form-control"
                  type="text"
                  v-model="student.actingAs.curp"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Estado civil:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="text"
                  v-model="student.civilStatus"
                  class="form-control text-capitalize"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Sexo:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="text"
                  v-model="student.actingAs.sexo"
                  class="form-control text-capitalize"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Fecha de nacimiento:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="date"
                  v-model="student.actingAs.birthDay"
                  class="form-control"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Nacionalidad:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control text-capitalize"
                  v-model="student.nacionality"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Lengua indígena o extranjera:</label>
            <div class="col-md-8">
              <div class="input-group">
                <label readonly class="form-control">{{student.foreign_language?"Si":"No"}}</label>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Especifique:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control text-capitalize"
                  v-model="student.foreignLanguageName"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Enfermedad o Discapacidad:</label>
            <div class="col-md-8">
              <div class="input-group">
                <label class="form-control" readonly>{{student.disability?"Si":"No"}}</label>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Especifique:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control text-capitalize"
                  v-model="student.disabilityName"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Empleo actual:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="text"
                  v-model="student.actualJob"
                  class="form-control text-capitalize"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Centro laboral:</label>
            <div class="col-md-8">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control text-capitalize"
                  v-model="student.jobCenter"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <label class="col-md-2 control-label text-right">Ubicación del centro laboral:</label>
          <div class="col-md-10">
            <div class="input-group">
              <input
                type="text"
                v-model="student.jobCenterAddress"
                class="form-control text-capitalize"
                readonly
              />
              <span class="input-group-addon">
                <i class="fa fa-pencil" />
              </span>
            </div>
          </div>
        </div>
        <div class="row form-group">
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Tipo de beca:</label>
            <div class="col-md-8">
              <div class="input-group">
                <label
                  class="form-control"
                  readonly
                >{{student.scolarship?student.scolarship.typeScolarship.name:"No"}}</label>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div class="col-md-6">
            <label class="col-md-4 control-label text-right">Beca:</label>
            <div class="col-md-8">
              <div class="input-group">
                <label
                  class="form-control"
                  readonly
                >{{student.scolarship.amount}}% ({{student.scolarship.description}})</label>
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step" v-show="menu==2">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">Calle:</label>
            <div class="col-md-11">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.actingAs.address.street"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">Número Exterior:</label>
            <div class="col-md-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.actingAs.address.numberOut"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">Número Interior:</label>
            <div class="col-md-3">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.actingAs.address.numberIn"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">Código Postal:</label>
            <div class="col-md-3">
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  v-model="student.actingAs.address.codePostal"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">Colonia:</label>
            <div class="col-md-5">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.actingAs.address.colony"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">Municipio:</label>
            <div class="col-md-5">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.actingAs.address.municipality"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">Ciudad:</label>
            <div class="col-md-5">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.actingAs.address.city"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">Estado:</label>
            <div class="col-md-5">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.actingAs.address.state"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">Tel. Celular:</label>
            <div class="col-md-5">
              <div class="input-group">
                <input
                  type="number"
                  class="form-control"
                  v-model="student.actingAs.cellPhone"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-1 control-label text-right">Tel. Casa:</label>
            <div class="col-md-5">
              <div class="input-group">
                <input type="number" class="form-control" v-model="student.actingAs.phone" readonly />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-1 control-label text-right">Email:</label>
            <div class="col-md-5">
              <div class="input-group">
                <input type="email" class="form-control" v-model="student.actingAs.email" readonly />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step" v-show="menu==3">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">Nombre Completo:</label>
            <div class="col-md-10">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.emergencyContact.name"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">Celular:</label>
            <div class="col-md-4">
              <div class="input-group">
                <input
                  type="number"
                  min="0"
                  max="9999999999"
                  class="form-control"
                  v-model="student.emergencyContact.cellPhone"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-2 control-label text-right">Teléfono casa:</label>
            <div class="col-md-4">
              <div class="input-group">
                <input
                  type="number"
                  min="0"
                  max="9999999999"
                  class="form-control"
                  v-model="student.emergencyContact.telephone"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="step" v-show="menu==4">
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">Nombre de la institución:</label>
            <div class="col-md-10">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.graduationInstitution.name"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row form-group" style="margin-top:20px">
          <div>
            <label class="col-md-2 control-label text-right">Promedio:</label>
            <div class="col-md-4">
              <div class="input-group">
                <input
                  type="number"
                  min="0"
                  max="100"
                  class="form-control"
                  v-model="student.graduationInstitution.average"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
          <div>
            <label class="col-md-2 control-label text-right">Especialidad:</label>
            <div class="col-md-4">
              <div class="input-group">
                <input
                  type="text"
                  class="form-control"
                  v-model="student.graduationInstitution.specialty"
                  readonly
                />
                <span class="input-group-addon">
                  <i class="fa fa-pencil" />
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin: 0px 10px 0px 10px">
        <div class="text-center">
          <button
            type="button"
            @click="prevStep"
            class="btn btn-effect-ripple btn-danger"
            style="margin-right:10px"
          >
            <i class="fa fa-reply"></i>Retroceder
          </button>
          <button
            type="button"
            @click="nextStep"
            class="btn btn-effect-ripple btn-primary"
            v-if="menu<=3"
          >
            <i class="fa fa-share"></i>Avanzar
          </button>
        </div>
      </div>
      <div class="form-group form-actions text-center" style="margin: 0px;padding: 0px">
        <a
          style="font-size:8rem;color:gray;margin: 0px;padding: 0px"
          target="_blank"
          :href="'/reporte/inscripcion/'+student.id+'.pdf'"
        >
          <i class="fa fa-print" style="margin: 0px;padding: 0px"></i>
        </a>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
export default {
  methods: {
    nextStep: function() {
      if (this.menu < 4) this.menu++;
    },
    prevStep: function() {
      if (this.menu > 0) this.menu--;
    },
    status(validation) {
      return {
        error: validation.$invalid
      };
    }
  },
  data() {
    return {
      student: undefined,
      cycles: undefined,
      inscriptiontypes: [
        { id: 0, name: "Normal" },
        { id: 1, name: "Equivalencia" }
      ],
      studyPlans: undefined,
      menu: 0,
      id: this.$attrs.id
    };
  },
  components: {
    Block
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `
      {
  student(id: ${this.id}){
    id
    actingAs{
      firstName
      secondName
      lastName
      curp
      sexo
      birthDay
      address{
        street
        numberOut
        numberIn
        codePostal
        colony
        municipality
        city
        state
      }
      cellPhone
      phone
      email
    }
    studyPlan{
      name
    }
    cycle{
      name
    }
    inscriptionType
    civilStatus
    nacionality
    foreignLanguage
    foreignLanguageName
    disability
    disabilityName
    actualJob
    jobCenter
    jobCenterAddress
    scolarship{
      amount
      description
      typeScolarship{
        name
      }
    }
    registration
    emergencyContact{
      name
      cellPhone
      telephone
    }
    graduationInstitution{
      name
      average
      specialty
    }
  }
}`
        })
        .then(response => {
          this.student = response.data.data.student;
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `
      {
  student(id: ${this.id}){
    id
    actingAs{
      firstName
      secondName
      lastName
      curp
      sexo
      birthDay
      address{
        street
        numberOut
        numberIn
        codePostal
        colony
        municipality
        city
        state
      }
      cellPhone
      phone
      email
    }
    studyPlan{
      name
    }
    cycle{
      name
    }
    inscriptionType
    civilStatus
    nacionality
    foreignLanguage
    foreignLanguageName
    disability
    disabilityName
    actualJob
    jobCenter
    jobCenterAddress
    scolarship{
      amount
      description
      typeScolarship{
        name
      }
    }
    registration
    emergencyContact{
      name
      cellPhone
      telephone
    }
    graduationInstitution{
      name
      average
      specialty
    }
  }
}`
      })
      .then(response => {
        this.student = response.data.data.student;
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>
<style scoped>
a:hover {
  cursor: pointer;
}
.error {
  border-color: red;
  background: #fdd;
}

.error:focus {
  outline-color: #f99;
}
.form-group--error {
  animation-name: shakeError;
  animation-fill-mode: forwards;
  animation-duration: 0.6s;
  animation-timing-function: ease-in-out;
}
.form-group--error input,
.form-group--error textarea,
.form-group--error select,
.form-group--error input:focus,
.form-group--error input:hover {
  border-color: red;
}

@keyframes shakeError {
  0% {
    transform: translateX(0);
  }
  15% {
    transform: translateX(0.375rem);
  }
  30% {
    transform: translateX(-0.375rem);
  }
  45% {
    transform: translateX(0.375rem);
  }
  60% {
    transform: translateX(-0.375rem);
  }
  75% {
    transform: translateX(0.375rem);
  }
  90% {
    transform: translateX(-0.375rem);
  }
  100% {
    transform: translateX(0);
  }
}
</style>