<template>
  <div>
    <block title="Ingresar Nuevo Usuario">
      <!--%= form_for(:user, url: '/registrar' ,:html => {:class => 'form-inline',:id =>'validation-wizard'}) do |f| %>
      First Step-->
      <form action="/registrar">
        <div id="validation-first">
          <div class="row">
            <div class="form-group col-sm-12">
              <label class="control-label">
                Ciclo:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-4">
                <select class="form-control" v-model="selectedCycle">
                  <option v-for="cycle in cycles" :key="cycle.id" :value="cycle.id">{{cycle.name}}</option>
                </select>
                <!--<%= f.text_field :first_name, autofocus: true, class: 'form-control text-uppercase', required: true, id: 'first-name' %>-->
                <span class="input-group-addon">
                  <i class="gi gi-user"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label">
                Nombre:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <input
                  type="text"
                  class="form-control text-uppercase"
                  name="first_name"
                  v-model="first_name"
                />
                <!--<%= f.text_field :first_name, autofocus: true, class: 'form-control text-uppercase', required: true, id: 'first-name' %>-->
                <span class="input-group-addon">
                  <i class="gi gi-user"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" for="example-validation-email">
                Apellido Paterno:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <input
                  type="text"
                  class="form-control text-uppercase"
                  name="second_name"
                  v-model="second_name"
                />
                <!--<%= f.text_field :second_name, autofocus: true, class: 'form-control text-uppercase', required: true ,id: 'second-name' %>-->
                <span class="input-group-addon">
                  <i class="gi gi-user"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" for="example-validation-password">
                Apellido Materno:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <input
                  type="text"
                  class="form-control text-uppercase"
                  name="last_name"
                  v-model="last_name"
                />
                <!--<%= f.text_field :last_name, autofocus: true, class: 'form-control text-uppercase',required: true, id: 'last-name' %>-->
                <span class="input-group-addon">
                  <i class="gi gi-user"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" for="example-validation-confirm-password">
                Correo:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <input type="email" class="form-control" name="email" v-model="email" />
                <!--<%= f.email_field :email , class: 'form-control', required: true, id: 'email' %>-->
                <span class="input-group-addon">
                  <i class="gi gi-envelope"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" for="example-validation-confirm-password">
                CURP:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <input type="text" class="form-control text-uppercase" name="curp" v-model="curp" />
                <!--<%= f.text_field :curp , class: 'form-control text-uppercase', required: true, id: 'curp' %>-->
                <span class="input-group-addon">
                  <i class="gi gi-user"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" for="example-validation-confirm-password">
                Tel&eacute;fono:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <input type="number" class="form-control" name="cell_phone" v-model="cell_phone" />
                <!--<%= f.text_field :cell_phone, class: 'form-control', required: true, id: 'cell-phone' %>-->
                <span class="input-group-addon">
                  <i class="gi gi-iphone"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label">
                Sexo:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <select name="sexo" id class="form-control" v-model="sexo">
                  <option value="Masculino">Masculino</option>
                  <option value="Femenino">Femenino</option>
                </select>
                <!--<%= f.select :sexo, [['Masculino','Masculino'],['Femenino','Femenino']],{ prompt: "Seleccione una Opción." } ,{class: 'form-control' , id: 'sexo'} %>-->
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" for="example-validation-confirm-password">
                Contrase&ntilde;a:
                <span class="text-danger">*</span>
              </label>
              <!--% if @minimum_password_length %>
                                <em>(<%= @minimum_password_length %> characters minimum)</em>
              <% end %><br />-->
              <div class="input-group col-sm-12">
                <input
                  type="password"
                  name="password"
                  required
                  id="password"
                  v-model="password"
                  class="form-control"
                />
                <span class="input-group-addon">
                  <i class="gi gi-asterisk"></i>
                </span>
              </div>
            </div>
            <div class="form-group col-sm-6 col-md-4">
              <label class="control-label" for="example-validation-confirm-password">
                Confirmar Contrase&ntilde;a:
                <span class="text-danger">*</span>
              </label>
              <div class="input-group col-sm-12">
                <input
                  type="password"
                  name="password_confirmation"
                  required
                  v-model="password_confirmation"
                  class="form-control"
                />
                <span class="input-group-addon">
                  <i class="gi gi-asterisk"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
        <div class="row" style="margin-top:10px;margin-bottom:10px;">
          <div class="col-md-2 col-md-offset-5">
            <a id="#send-register" class="btn btn-effect-ripple btn-primary" @click="registerUser">
              <i class="gi gi-circle_plus"></i>&nbsp;Registrar
            </a>
          </div>
        </div>
        <!-- END First Step -->
      </form>
    </block>
  </div>
</template>
<style scoped>
</style>
<script>
import Block from "./Block.vue";
import Swal from "sweetalert2";

export default {
  data: function() {
    return {
      first_name: "",
      second_name: "",
      last_name: "",
      email: "",
      curp: "",
      cell_phone: "",
      sexo: "Masculino",
      password: "A76&JK",
      password_confirmation: "A76&JK",
      cycles: [],
      selectedCycle: undefined
    };
  },
  components: {
    Block
  },
  mounted() {
    axios
      .post("/graphql", {
        query: "{cycles{id name}}"
      })
      .then(response => {
        this.cycles = response.data.data.cycles;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    registerUser: function() {
      if (this.selectedCycle)
        if (this.password == this.password_confirmation) {
          var user = {
            cycle_id: parseInt(this.selectedCycle),
            first_name: this.first_name,
            second_name: this.second_name,
            last_name: this.last_name,
            email: this.email,
            curp: this.curp,
            cell_phone: this.cell_phone,
            sexo: this.sexo,
            password: this.password
          };
          var me = this;
          axios
            .post("/asistentes", { user: user })
            .then(function(response) {
              if (response.data.status == "200") {
                Swal.fire(
                  "Exito!",
                  "El usuario se registró correctamente!",
                  "success"
                );
                (me.first_name = ""),
                  (me.second_name = ""),
                  (me.last_name = ""),
                  (me.email = ""),
                  (me.curp = ""),
                  (me.cell_phone = ""),
                  (me.$parent.$parent.user = response.data.data);
              }
              if (response.data.status == "500")
                Swal.fire({
                  type: "error",
                  title: "Oops...",
                  text: response.data.data
                });
            })
            .catch(function(response) {
              console.log(response);
            });
        } else
          Swal.fire({
            type: "error",
            title: "Oops...",
            text: "Las contraseñas no coinciden"
          });
      else
        Swal.fire({
          type: "error",
          title: "Seleccione un ciclo antes de continuar"
        });
    }
  }
};
</script>