<template>
  <div class="row">
    <div class="block full">
      <div class="block-title">
        <h2>{{title}}</h2>
        <a :href="buttonRef" v-if="buttonTitle" class="btn btn-custom btn-primary pull-right"><i :class="buttonIcon?buttonIcon:'fa fa-plus'"/>{{buttonTitle}}</a>
      </div>
      <slot />
    </div>
  </div>
</template>
<script>
import Swal from "sweetalert2";
export default {
  data: function() {
    return {};
  },
  props: {
    title: String,
    buttonTitle: String,
    buttonRef: String,
    buttonIcon: String
  }
};
</script>

<style scoped>
.block.full {
  padding: 10px;
}
.block-title {
  margin: -10px -10px 0px -10px;
}
</style>
