<template>
  <div>
    <label class="col-md-2 control-label text-right">{{ name }}</label>
    <div class="col-md-4">
      <div class="input-group">
        <select
          v-if="type == 'select' && query"
          class="form-control"
          :type="type"
          v-model="value"
        >
          <option disabled value>Seleccione una opción</option>
          <option v-for="dat in data" :key="dat.id" :value="dat.id">{{
            dat.name
          }}</option>
        </select>
        <select
          v-else-if="type == 'select'"
          class="form-control"
          :type="type"
          v-model="value"
        >
          <option disabled value>Seleccione una opción</option>
          <option value="1">Activo</option>
          <option value="0">Inactivo</option>
        </select>
        <input
          v-else
          class="form-control"
          :type="type"
          v-model="value"
          min="0"
        />
        <span class="input-group-addon">
          <i :class="icon"></i>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import { watch } from "fs";
import Swal from "sweetalert2";
export default {
  created() {
    if (this.query) {
      axios
        .post("/graphql", {
          query: this.query
        })
        .then(response => {
          this.data = response.data.data[this.graphql];
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  data() {
    return {
      value: "",
      data: []
    };
  },
  props: {
    name: String,
    type: String,
    icon: String,
    query: String,
    graphql: String,
    default: String
  },
  watch: {
    value: function(newValue, oldValue) {
      this.$emit("changed", this.value);
    }
  }
};
</script>
<style scoped>
.error {
  color: red;
}
</style>
