<template>
  <div>
    <v-client-table :data="activities" :columns="columns" :options="options">
      <button
        slot="administration"
        data-dismiss="modal"
        slot-scope="props"
        @click="$parent.$parent.activity = props.row"
        type="button"
        class="btn btn-success"
      >
        <i class="fa fa-angle-double-right">&nbsp;</i>Seleccionar
      </button>
    </v-client-table>
  </div>
</template>
<script>
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      activities: [],
      columns: [
        "name",
        "startDate",
        "finishDate",
        "totalHours",
        "typeActivity.name",
        "cycle.name",
        "administration"
      ],
      options: {
        headings: {
          name: "Nombre",
          "typeActivity.name": "Tipo de Actividad",
          "cycle.name": "Ciclo",
          administration: "Administración",
          startDate: "Fecha de Inicio",
          finishDate: "Fecha de término",
          totalHours: "Horas totales"
        },
        sortable: ["name", "startDate", "finishDate", "totalHours", "cycle_id"],
        filterable: [
          "name",
          "startDate",
          "finishDate",
          "totalHours",
          "cycle_id"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `query{ activities {
              id 
              name 
              startDate 
              finishDate 
              totalHours 
              typeActivity { 
                name
              } 
              cycle {
                name
              } 
              inscription 
              tuition 
              tuitions {
                name
              }
            }
          }`
      })
      .then(response => {
        this.activities = response.data.data.activities;
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>
