<template>
  <div>
    <v-client-table :data="users" :columns="columns" :options="options">
      <div slot="firstName" slot-scope="props">
        <span class="text-uppercase">{{ props.row.firstName }}</span>
      </div>
      <div slot="secondName" slot-scope="props">
        <span class="text-uppercase">{{ props.row.secondName }}</span>
      </div>
      <div slot="lastName" slot-scope="props">
        <span class="text-uppercase">{{ props.row.lastName }}</span>
      </div>
      <div slot="curp" slot-scope="props">
        <span class="text-uppercase">{{ props.row.curp }}</span>
      </div>
      <div slot="registration" slot-scope="props">
        <span class="text-uppercase">{{ props.row.registration }}</span>
      </div>
      <button
        slot="administration"
        data-dismiss="modal"
        slot-scope="props"
        @click="emitir(props.row)"
        type="button"
        class="btn btn-success"
      >
        <i class="fa fa-angle-double-right">&nbsp;</i>Seleccionar
      </button>
    </v-client-table>
    <slot></slot>
  </div>
</template>
<script>
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      user: undefined,
      users: [],
      columns: [
        "firstName",
        "secondName",
        "lastName",
        "email",
        "curp",
        "registration",
        "administration"
      ],
      options: {
        headings: {
          firstName: "Nombre(s)",
          secondName: "Apellido Materno",
          lastName: "Apellido Paterno",
          email: "Correo",
          registration: "Matrícula",
          administration: "Administración"
        },
        sortable: [
          "firstName",
          "secondName",
          "lastName",
          "email",
          "curp",
          "registration"
        ],
        filterable: [
          "firstName",
          "secondName",
          "lastName",
          "email",
          "curp",
          "registration"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Búscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
        students{
            id
            firstName
            secondName
            lastName
            email
            curp
            registration
            cellphone
        }
    }`
      })
      .then(response => {
        console.log(response.status);
        if (response.status == "200")
          this.users = response.data.data.students;
      });
  },
  methods: {
    emitir: function(data) {
      this.$emit("changed", data);
    }
  }
};
</script>
