<template>
  <div>
    <v-client-table :data="users" :columns="columns" :options="options">
      <div slot="first_name" slot-scope="props">
        <span class="text-uppercase">{{ props.row.first_name }}</span>
      </div>
      <div slot="second_name" slot-scope="props">
        <span class="text-uppercase">{{ props.row.second_name }}</span>
      </div>
      <div slot="last_name" slot-scope="props">
        <span class="text-uppercase">{{ props.row.last_name }}</span>
      </div>
      <div slot="curp" slot-scope="props">
        <span class="text-uppercase">{{ props.row.curp }}</span>
      </div>
      <button
        slot="administration"
        data-dismiss="modal"
        slot-scope="props"
        @click="emitir(props.row)"
        type="button"
        class="btn btn-success"
      >
        <i class="fa fa-angle-double-right">&nbsp;</i>Seleccionar
      </button>
    </v-client-table>
    <slot></slot>
  </div>
</template>
<script>
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      user: undefined,
      users: [],
      columns: [
        "first_name",
        "second_name",
        "last_name",
        "email",
        "curp",
        "registration",
        "administration"
      ],
      options: {
        headings: {
          first_name: "Nombre(s)",
          second_name: "Apellido Materno",
          last_name: "Apellido Paterno",
          email: "Correo",
          registration: "Matrícula",
          administration: "Administración"
        },
        sortable: [
          "first_name",
          "second_name",
          "last_name",
          "email",
          "curp",
          "registration"
        ],
        filterable: [
          "first_name",
          "second_name",
          "last_name",
          "email",
          "curp",
          "registration"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Búscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios.get("/usuarios").then(response => {
      if (response.data.status == "200") this.users = response.data.data;
    });
  },
  methods: {
    emitir: function(data) {
      this.$emit("changed", data);
    }
  }
};
</script>
