<template>
  <div class="form-group col-md-12">
    <label class="col-md-3 control-label">{{ title }}:</label>
    <div class="col-md-7">
      <input
        type="file"
        ref="file"
        v-on:change="handleFileUpload()"
        accept="application/pdf"
      />
    </div>
    <div class="col-md-2">
      <button
        type="button"
        class="btn btn-effect-ripple btn-primary"
        v-on:click="submitFile()"
        v-if="!saved"
      >
        Guardar
      </button>
    </div>
  </div>
</template>
<script>
import { createHash } from "crypto";
import Swal from "sweetalert2";
export default {
  /*
      Defines the data used by the component
    */
  data() {
    return {
      file: "",
      saved: false
    };
  },
  props: {
    title: String,
    direccion: String,
    user_id: Number
  },
  methods: {
    /*
        Submits the file to the server
      */
    submitFile() {
      let loader = this.$loading.show({ canCancel: false });
      /*
                Initialize the form data
            */
      if (this.user_id != 0) {
        let formData = new FormData();

        /*
              Add the form data we need to submit
          */
        if (this.file != "") {
          formData.append("file", this.file);
          formData.append("id", this.user_id);
          /*
              Make the request to the POST /single-file URL
            */
          var me = this;
          axios
            .post(BASE_URL + this.direccion, formData, {
              headers: {
                "Content-Type": "multipart/form-data"
              }
            })
            .then(function(response) {
              if (response.data.status == "200") {
                me.saved = true;
                loader.hide();
              } else {
                Swal.fire({
                  icon: "error",
                  title: "error",
                  text: response.data.msg
                });
                loader.hide();
              }
            })
            .catch(function() {
              loader.hide();
            });
        } else {
          loader.hide();
        }
      } else {
        loader.hide();
        Swal.fire({
          icon: "error",
          title: "Disculpe",
          text: "Antes de subir archivos, por favor guarde los datos generales"
        });
      }
    },
    /*
        Handles a change on the file upload
      */
    handleFileUpload() {
      this.file = this.$refs.file.files[0];
    }
  }
};
</script>
