<template>
  <div>
    <block :title="'Editar Direccion'" v-if="address">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Calle:</label>
        <div class="col-md-10">
          <div class="input-group">
            <input type="text" class="form-control" v-model="address.street" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Número Exterior:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="address.numberOut" class="form-control">
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Número Interior:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="address.numberIn" class="form-control">
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Código Postal:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="address.codePostal" class="form-control">
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Colonia:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="address.colony" class="form-control">
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Municipio:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="address.municipality" class="form-control">
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Ciudad:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="address.city" class="form-control">
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Estado:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="address.state" class="form-control">
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <a
            href="javascript:history.go(-1)"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
export default {
  data() {
    return {
      id: this.$attrs.id,
      address: undefined,
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                    address(id: ${this.id}) {
                        id
                        street
                        numberOut
                        numberIn
                        codePostal
                        colony
                        municipality
                        state
                        city
                    }
                }`
      })
      .then(response => {
        this.address = response.data.data.address;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
                    address(id: ${this.id}) {
                        id
                        street
                        numberOut
                        numberIn
                        codePostal
                        colony
                        municipality
                        state
                        city
                    }
                }`
        })
        .then(response => {
          this.address = response.data.data.address;
        });
    }
  },
  methods: {
    guardar: function() {
      var addre = {
        street: this.address.street,
        number_out: this.address.numberOut,
        number_in: this.address.numberIn,
        code_postal: this.address.codePostal,
        colony: this.address.colony,
        municipality: this.address.municipality,
        city: this.address.city,
        state: this.address.state
      };
      if (this.address.street)
        if (this.address.numberOut)
          axios
            .put(BASE_URL + "/direcciones/" + this.address.id, {
              address: addre
            })
            .then(response => {
              if (response.data.status == "200")
                Swal.fire({
                  title: "Éxito!",
                  text: response.data.msg,
                  icon: "success"
                }).then(result => {
                  if (result.value) window.location.reload();
                });
              else {
                var errors = "";
                for (var [key, value] of Object.entries(response.data.msg)) {
                  errors += `${value} `;
                }
                Swal.fire({
                  title: "Error!",
                  text: errors,
                  icon: "error"
                });
              }
            });
        else
          Swal.fire({
            title: "Error!",
            text: "El número exterior es requerido",
            icon: "error"
          });
      else
        Swal.fire({
          title: "Error!",
          text: "La calle es requerida",
          icon: "error"
        });
    }
  }
};
</script>