<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constancia AP</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <%= wicked_pdf_stylesheet_link_tag 'css/layout-reports2.css' -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <style type="text/css">
        #border{
            height:840px;
        }
        h1{
            font-family: 'Bebas Neue', cursive;
            margin: 20px auto !important;
            font-size: 50px;
        }
        h1.name{
            font-weight: bolder;
            border-bottom: 3px solid #f5ad1b;
            width: 80%;
        }
        title,contenido{
            margin-bottom: 20px;
        }
        .text{
            font-size: 23px;
            word-wrap:break-word;
        }
    </style>
</head>
<body id="body">
    <div id="border">
        <div class="college-info">
            <div class="logo">
                <%= wicked_pdf_image_tag 'img/logo2.jpg', :style => "height: 160px;"%>
            </div>
            <% if @datos_generales==1 %>
                <div class="info">
                    <br>
                    Prolongación de Almendros 1103 A, Col Las Flores, CP. 68050, Oaxaca de Juárez, Oax.<br>
                    RFC: AVA140717NW5 LAS AGUILAS CON VALOR A.C.<br>
                    R&eacute;gimen General de Ley Personas Morales.<br>
                    Teléfono: 044 951 461 0486
                </div>
            <% elsif @datos_generales == 2 %>
                <div class="info">
                    <br>
                    Departamento de Control escolar<br>
                    Ciclo: Enero-Junio 2019
                </div>
            <% elsif @datos_generales == 3 %>
                <div class="info text-right text-uppercase" style="width:80%">
                    <br>
                    FTO.
                        <%= @format?@format:"000" %>
                    <br>    
                    COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN <br>
                    <%= @department?@department:"DEPARTAMENTO DE CONTROL ESCOLAR" %><br>
                    <%= @cycle?"CICLO ESCOLAR #{@cycle.name}":"" %>
                </div>
            <% end %>
        </div>    
        <h2 class="title" style="margin-top:-30px;margin-bottom: -50px">
            Lista de asistencia y calificación parcial
        </h2>
        <div class="content" style="width:100%">
            <table style="width: 100%;">
                <thead>
                    <tr class="gray-section">
                        <th class="text-right" style="width: 10%;">LICENCIATURA: </th>
                        <th class="text-uppercase" style="width: 30%;"><%= @schedule.study_plan.name %></th>
                        <th class="text-right" style="width: 10%;">SEMESTRE: </th>
                        <th class="text-uppercase" style="width: 10%;"><%= @schedule.asignature.semester %></th>
                        <th class="text-right" style="width: 10%;">GRUPO: </th>
                        <th class="text-uppercase" style="width: 10%;"><%= @schedule.group %></th>
                    </tr>
                </thead>
            </table>
            <table style="width: 100%;">
                <thead>
                    <tr class="gray-section">
                        <th class="text-right" style="width: 10%;">ASIGNATURA: </th>
                        <th class="text-uppercase" style="width: 30%;"><%= @schedule.asignature.asignature_name %></th>
                        <th class="text-right" style="width: 10%;">MODALIDAD: </th>
                        <% if @schedule.concerted_qualifications.first == nil %>
                            <th class="text-left" style="width: 10%;">Mixta</th>
                        <% else %>
                            <th class="text-left" style="width: 10%;"><%= @schedule.concerted_qualifications.first.modality.name%> </th>
                        <% end %>
                        <th class="text-right" style="width: 10%;">CLAVE: </th>
                        <th class="text-uppercase" style="width: 10%;"><%= @schedule.asignature.key %></th>
                    </tr>
                </thead>
            </table>
            <table border="1" style="width: 100%;">
                <thead>
                    <tr style="text-align: center;">
                        <th rowspan="2" style="width:50px">No.</th>
                        <th rowspan="2" style="width:300px">Nombre</th>
                        <th colspan="7">Fechas</th>
                        <th colspan="5">Criterios de evaluación Puntuación</th>
                    </tr>
                    <tr style="text-align: center">
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:80px;padding-top: 0px;padding-bottom: 0px;">%Asist. Total</th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:60px;padding-top: 0px;padding-bottom: 0px;"></th>
                        <th style="width:80px;padding-top: 0px;padding-bottom: 0px;">Aula Virtual</th>
                        <th style="width:80px;padding-top: 0px;padding-bottom: 0px;">Cal. Total</th>
                    </tr>
                </thead>
                <tbody>
                <% @schedule.concerted_qualifications.each_with_index do |student,index| %>
                    <tr>
                        <td class="text-center" style="height: 40px;"><%= index+1 %></td>
                        <td class="text-center text-uppercase"><%= student.student.last_name %> <%= student.student.second_name %> <%= student.student.first_name %></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                        <td class="text-center"></td>
                    </tr>
                <% end %>    
                </tbody>
            </table>
            <br>
            <b style="margin-top: 50px;">Parcial: _______________ Fecha de entrega: _________________</b>
        </div>
    </div>
</body>
</html>