<% content_for :contenido do %>
<h2 class="title" style="margin-top:-10px">
    CARTA COMPROMISO DE PAGOS
</h2>
<div class="content" style="margin-top:30px">
    <div class="section">
        <div class="form" style="line-height: 30px">
            <div>
                <strong>Dirección General del Colegio Mexicano</strong><br>
                <strong>de Estudios Superiores e Investigación</strong>
            </div>
            <div style="text-align: right">
                <strong style="margin-right: 230px">  At'n</strong><br>
                <strong>Departamento de Control Escolar.</strong><br>
                <strong>Administración General.</strong>
            </div>
        </div>
        <div class="form" style="letter-spacing:2px ;margin-top:50px;line-height: 30px">
            <p>Yo, estudiante inscrito (a) en la Licenciatura en la <%= @student.study_plan.name %>, con
            matrícula <%= @student.registration %>, por mi propio derecho, señalo como domicilio para recibir
            notificaciones en la calle <%= @student.address.street %><br>
            Número <%= @student.address.number_out %>, colonia <%= @student.address.colony %>, Municipio <%= @student.address.municipality %>
            del estado de <%= @student.address.state %>, CP <%= @student.address.code_postal %>, número de teléfono local <%= @student.acting_as.phone%>
            , número de télefono celular <%= @student.acting_as.cell_phone %>; manifiesto haber nacido el <%= @student.acting_as.birth_day.strftime("%d") %>
             de   
             <% case @student.updated_at.strftime("%m") %>
                <% when "01" %>
                Enero
                <% when "02" %>
                Febrero
                <% when "03" %>
                Marzo
                <% when "04" %>
                Abril
                <% when "05" %>
                Mayo
                <% when "06" %>
                Junio
                <% when "07" %>
                Julio
                <% when "08" %>
                Agosto
                <% when "09" %>
                Septiembre
                <% when "10" %>
                Octubre
                <% when "11" %>
                Noviembre
                <% when "12" %>
                Diciembre
            <% end %>
             de <%= @student.acting_as.birth_day.strftime("%Y") %>, acepto las siguientes cláusulas:
            </p><br><br>
            <table style="width:100%">
                <tbody>
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            I.
                        </td>
                        <td style="width:90%">
                            <p> Acepto las condiciones del Reglamento Escolar y políticas vigentes del Colegio Mexicano de Estudios Superiores
                e investigación con relación a mi ingreso y permanencia, con base en la situación financiera y académica, de lo contrario
                seré causante de baja</p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            II.
                        </td>
                        <td style="width:90%">
                            <p> Me comprometo a entregar en un plazo de 30 días naturales a partir de la fecha de mi inscripción
                                la documentación que a continuación se indica, misma que no puedo entregar en este momento por razones de índole administrativa.<br>
                                  a) Certificado de estudios de nivel medio superior.<br>
                                  b) Carta de buena conducta.<br>
                                  c) Certificado médico.<br>
                                  d) Acta de nacimiento.<br>
                                  e) Credencial de elector.<br>
                                  f) Curp.<br>
                                  g) 2 fotografías tamaño infantil
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <div class="college-info">
            <div class="logo">
                <%= wicked_pdf_image_tag 'img/logo2.jpg', :style => "height: 160px;"%>
            </div>
            <div class="info text-right text-uppercase" style="width:80%">
                <br>
                FTO.
                    <%= @format?@format:"000" %>
                <br>    
                COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN <br>
                <%= @department?@department:"DEPARTAMENTO DE CONTROL ESCOLAR" %><br>
                <%= @cycle?"CICLO ESCOLAR #{@cycle.name}":"" %>
            </div>
        </div>
        <div style="letter-spacing:2px ;margin-top:50px;line-height: 30px">
            <table>
                <tbody>    
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            III.
                        </td>
                        <td style="width:90%">
                            <p>
                                Es de mi conocimiento que únicamente yo podré retirar mis documentos oficiales, siempre y cuando
                                mi situación financiera con COMESI esté al corriente y haya realizado el trámite correspondiente.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            IV.
                        </td>
                        <td style="width:90%">
                            <p>
                                Me comprometo a liquidar puntualmente las cuotas de colegiaturas, en caso de 
                                retraso pagaré los recargos correspondientes en los términos vigentes: a partir
                                del día 11 al 15 del mes el 10%; a partir del día 16 al 20 del mes el 20%; a partir del día 21
                                el 20% mas $15.00 pesos por día, sobre el costo completo de la colegiatura.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            V.
                        </td>
                        <td style="width:90%">
                            <p>
                                La asignación y mantenimiento de cualquier tipo de beca está condicionada al pago
                                puntual de las colegiaturas
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            VI.
                        </td>
                        <td style="width:90%">
                            <p>
                                Me comprometo a respetar la Filosofía Institucional y el Reglamento Escolar
                                vigente, al cual tengo acceso en la biblioteca y en el sitio web institucional.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            VII.
                        </td>
                        <td style="width:90%">
                            <p>
                                Estoy totalmente de acuerdo en que el Colegio Mexicano de Estudios
                                Superiores e Investigación, conserve mis documentos entregados en la 
                                inscripción, hasta en tanto no se cubra la totalidad de mis adeudos.
                            </p>
                        </td>
                    </tr>
                    <tr>
                        <td style="width:10%; vertical-align:text-top">
                            VIII.
                        </td>
                        <td style="width:90%">
                            <p>
                                Estoy de acuerdo que el Colegio Mexicano de Estudios Superiores e Investigación
                                se compromete a hacer entrega de documentación con 
                                reconocimiento validez oficial de estudios ( certificado de estudios ), al finalizar
                                la <%= @student.study_plan.name %> y haber cubiertos todos 
                                los requisitos de la misma.
                            </p>
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>

    <div class="signatures" style="margin-top: 60px">
        <div class="form text-right">
            <label>Lugar y fecha: Oaxaca de Juárez, Oaxaca, a
                <%= @student.updated_at.strftime("%d") %>
                de
                <% case @student.updated_at.strftime("%m") %>
                <% when "01" %>
                Enero
                <% when "02" %>
                Febrero
                <% when "03" %>
                Marzo
                <% when "04" %>
                Abril
                <% when "05" %>
                Mayo
                <% when "06" %>
                Junio
                <% when "07" %>
                Julio
                <% when "08" %>
                Agosto
                <% when "09" %>
                Septiembre
                <% when "10" %>
                Octubre
                <% when "11" %> 
                Noviembre
                <% when "12" %>
                Diciembre
                <% end %>
                de <%= @student.created_at.strftime("%Y") %>
            </label>
        </div>

        <div class="form" >
            <p style="width:40%;margin: 0 auto;text-align:center ; margin-top: 40px;">ATENTAMENTE</p>
            <div class="student-signature" style="width:40%;margin: 0 auto; margin-top: 100px;">Nombre y firma del estudiante</div>
        </div>
    </div>
</div>
<% end %>
