<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Asignación de Materias</title>
    <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">
    <%= wicked_pdf_stylesheet_link_tag 'css/layout-reports2.css' -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">   
    <style type="text/css">
        #border{
            height:800px;
        }
        h1{
            font-family: 'Bebas Neue', cursive;
            margin: 20px auto !important;
            font-size: 30px;
        }
        h1.name{
            font-weight: bolder;
            border-bottom: 3px solid #f5ad1b;
            width: 80%;
        }
        title,contenido{
            margin-bottom: 20px;
        }
        .text{
            font-size: 18px;
            word-wrap:break-word;
        }
        .data{
            text-decoration: underline;
        }
        .firma{
            text-align:center;
            position:relative;
            margin-top:100px;
        }
    </style>
</head>
<body id="body">
    <div id="border">
        <div class="college-info">
            <div class="logo">
                <%= wicked_pdf_image_tag 'img/logo2.jpg', :style => "height: 160px;"%>
            </div>
            <% if @datos_generales==1 %>
                <div class="info">
                    <br>
                    Prolongación de Almendros 1103 A, Col Las Flores, CP. 68050, Oaxaca de Juárez, Oax.<br>
                    RFC: AVA140717NW5 LAS AGUILAS CON VALOR A.C.<br>
                    R&eacute;gimen General de Ley Personas Morales.<br>
                    Teléfono: 044 951 461 0486
                </div>
            <% elsif @datos_generales == 2 %>
                <div class="info">
                    <br>
                    Departamento de Control escolar<br>
                    ASIGNACIÓN DE HORARIO
                </div>
            <% elsif @datos_generales == 3 %>
                <div class="info text-right text-uppercase" style="width:80%">
                    <br>
                    FTO.
                        <%= @format?@format:"000" %>
                    <br>    
                    COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN <br>
                    <%= @department?@department:"DEPARTAMENTO DE CONTROL ESCOLAR" %><br>
                    ASIGNACIÓN DE HORARIO
                </div>
            <% end %>
        </div> 
        <h2 class="title" style="margin-top:-10px;margin-bottom: -50px">
            CICLO ESCOLAR <%= @cycle?(@cycle.name):"ENERO-JULIO 2020 (2020-1)" %> 
        </h2>
        <div class="content" style="width:100%">
            <table style="width: 100%;" class="table">
                <thead>
                    <tr class="gray-section">
                        <th class="text-left" style="width: 10%;">LICENCIATURA:</th>
                        <th class="text-uppercase data" colspan="3"> <%= @student.study_plan.name %></th>
                        <th class="text-left" style="width: 10%;">SEMESTRE: </th>
                        <th class="text-uppercase data"><%= @student.semester %></th>
                        <th class="text-left" style="width: 10%;">GRUPO: </th>
                        <th class="text-uppercase data" > A </th>
                    </tr>
                    <tr class="gray-section">
                        <th class="text-left">ESTUDIANTE: </<th>
                        <th class="text-uppercase data" colspan="3"> <%= "#{@student.first_name} #{@student.last_name} #{@student.second_name}" %></th>
                        <th class="text-left">MATRICULA: </th>
                        <th class="text-uppercase data" colspan="3"> <%= @student.registration %></th>
                    </tr>
                </thead>
            </table>
            <br>
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>CLAVE</th>
                        <th>ASIGNATURA</th>
                        <th>DÍA</th>
                        <th>HE</th>
                        <th>HS</th>
                        <th>SALÓN</th>
                    </tr>
                </thead>
                <tbody>
                    <% @student.get_subject_list.each do |item |%>
                        <tr>
                            <td><%= item.schedule.asignature.key %></td>
                            <td><%= item.schedule.asignature.asignature_name %></td>
                            <td><%= item.schedule.day %></td>
                            <td><%= item.schedule.time_table.range_hours.split('-')[0] %></td>
                            <td><%= item.schedule.time_table.range_hours.split('-')[1] %></td>
                            <td><%= item.schedule.installation.name %></td>
                        </tr>
                    <% end %>
                </tbody>
            </table>
            <br>
            <b style="position:relative;float:right;">Santa Lucia del Camino, Oaxaca. a <%= Time.now.strftime('%d') %> de 
            <% case Time.now.strftime("%m") %>
                <% when "01" %>
                Enero
                <% when "02" %>
                Febrero
                <% when "03" %>
                Marzo
                <% when "04" %>
                Abril
                <% when "05" %>
                Mayo
                <% when "06" %>
                Junio
                <% when "07" %>
                Julio
                <% when "08" %>
                Agosto
                <% when "09" %>
                Septiembre
                <% when "10" %>
                Octubre
                <% when "11" %>
                Noviembre
                <% when "12" %>
                Diciembre
            <% end %> 
            de <%= Time.now.strftime('%Y') %>.</b>
        </div>
        <div style="clear:both;">
            <div class="firma" style="float:left; margin-left:100px;">
            _____________________________________________<br>
                <b>Ivanhoe Sánchez Vásquez<br>
                Coordinación Académica</b>
            </div>
            <div class="firma" style="float:right; margin-right:100px;">
            _____________________________________________<br>
                <b>Nombre y Firma del Alumno.</b>
            </div>
        </div>
        <div style="clear:both;">
        <br><br>
            Original. Alumno.<br>
            c.c.p Departamento de Servicios Escolares.<br>
            c.c.p Coordinación Académica.
        </div>
        <div style="text-align:center;margin-top:10%;">
        Almendros 1103, Col. Las Flores, Oaxaca<br>
        www.comesi.mx
        </div>
    </div>
</body>
</html>