= form_with(model: cycle, local: true) do |form|
  - if cycle.errors.any? 
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3{:style => 'margin-top:0px'} Ocurrio un error al guardar el registro:
      %ul
        -cycle.errors.full_messages.each do |message| 
          %li= message

  %div{:class => 'row form-group'}
    %div{:class => 'col-md-6 '}
      %div{:class => 'row'}
        %label{:class => "col-md-4 control-label"}Nombre del ciclo escolar:
        %div{:class => "col-md-8"}
          %div{:class =>"input-group"}
            = form.text_field :name,class: "form-control"
            %span{:class =>"input-group-addon"}
              %i{:class =>"fa fa-mortar-board"}
    %div{:class => 'col-md-6 '}
      %div{:class => 'row'}
        %label{:class => "col-md-3 control-label"}Estado:
        %div{:class => "col-md-7"}
          %div{:class =>"input-group"}
            = form.select :status, options_for_status,{},{:class => 'form-control'}
            %span{:class =>"input-group-addon"}
              %i{:class =>"fa fa-check-square-o"}

  %div{:class => 'row form-group'}
    %div{:class => 'col-md-6 '}
      %div{:class => 'row'}
        %label{:class => "col-md-4 control-label"}Fecha de inicio:
        %div{:class => "col-md-8"}
          %div{:class =>"input-group"}
            = form.date_field :start_date,class: "form-control", id: "fecha-inicial"
            %span{:class =>"input-group-addon"}
              %i{:class =>"fa fa-calendar"}

    %div{:class => 'col-md-6 '}
      %div{:class => 'row'}
        %label{:class => "col-md-3 control-label"}Fecha de t&eacute;rmino:
        %div{:class => "col-md-7"}
          %div{:class =>"input-group"}
            = form.date_field :finish_date,{class: "form-control"}
            %span{:class =>"input-group-addon"}
              %i{:class =>"fa fa-calendar"}

  %div{:class =>"form-group form-actions text-center"} 
    =  button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    %a{:href => cycles_path,:class => "btn btn-custom btn-primary"} 
      %i{:class =>"fa fa-reply"}
      Regresar
    -#%div{:class =>"col-md-2 col-md-offset-3"}
    -#%a{:href => cycles_path,:class => "btn btn-primary fa fa-reply ",:style => "margin-top:2em; margin-left:45px;"} Regresar
