%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Ciclos Escolares
      -if can? :create, Cycle
        %a{:href => new_cycle_path,:class => "btn btn-custom btn-primary pull-right"} 
          %i{:class => 'fa fa-plus'}
          Agregar Nuevo 
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
    %div{:class => "table-responsive"}
      %table{:id=>'table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th Nombre
            %th Estado
            %th Fecha de inicio
            %th Fecha de t&eacute;rmino
            %th Administraci&oacute;n
        %tbody
          - @cycles.each do |cycle|
            %tr
              %td= cycle.name
              %td 
                - if cycle.status==0 
                  Inactivo 
                - else
                  Activo 
              %td= cycle.start_date
              %td= cycle.finish_date
              %td
                .row
                -if can? :read, Cycle
                  .col-xs-4
                    = link_to cycle do
                      %i{:class => "fa fa-eye i-admin i-admin-read"}
                -if can? :update, Cycle
                  .col-xs-4
                    = link_to edit_cycle_path(cycle) do
                      %i{:class => "fa fa-pencil-square-o i-admin i-admin-edit"}
                -if can? :destroy, Cycle
                  .col-xs-4
                    %i{:id => cycle.id, :class => "i-admin btn-eliminar fa fa-trash-o i-admin-delete"}              
- content_for :javascript do
  = javascript_include_tag 'cycles'

