%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Agregar Ciclo
        %div{:class => 'form-horizontal form-bordered col-12'} 
            %span{:id => "notice"}= notice 

            = render 'form', cycle: @cycle
- content_for :javascript do
    = javascript_include_tag 'cycles'
    %script{type: 'text/javascript'}
        window.onload = function(){
        new CyclesView();
        };
