%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Ciclo Escolar: 
      = @cycle.name
  %div{:class => 'row form-horizontal form-bordered'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Nombre:
      %label{:class => "col-md-6 control-label",:style => 'text-align:left'}= @cycle.name

    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Estado:
      %label{:class => "col-md-6 control-label",:style => 'text-align:left'}
        -if @cycle.status==0 
          Inactivo 
        -else 
          Activo 
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Fecha de inicio:
      %label{:class => "col-md-6 control-label",:style => 'text-align:left'}= @cycle.start_date
    
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Fecha de t&eacute;rmino:
      %label{:class => "col-md-6 control-label",:style => 'text-align:left'}= @cycle.finish_date


    %div{:class=>'form-group form-actions text-center col-md-12'}
      %a{:href => edit_cycle_path(@cycle),:class => 'btn btn-custom btn-primary' } 
        %i{:class => "fa fa-pencil-square-o"} 
        Editar
      %a{:href => cycles_path,:class => "btn btn-custom btn-primary"}
        %i{:class => "fa fa-reply"} 
        Regresar
