<%= form_with(model: schedule, local: true) do |form| %>
  <% if schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% schedule.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :ciclye_id %>
    <%= form.number_field :ciclye_id %>
  </div>

  <div class="field">
    <%= form.label :study_plan_id %>
    <%= form.number_field :study_plan_id %>
  </div>

  <div class="field">
    <%= form.label :asignature_id %>
    <%= form.number_field :asignature_id %>
  </div>

  <div class="field">
    <%= form.label :teacher_id %>
    <%= form.number_field :teacher_id %>
  </div>

  <div class="field">
    <%= form.label :time_table_id %>
    <%= form.number_field :time_table_id %>
  </div>

  <div class="field">
    <%= form.label :day %>
    <%= form.text_field :day %>
  </div>

  <div class="field">
    <%= form.label :group %>
    <%= form.text_field :group %>
  </div>

  <div class="field">
    <%= form.label :installations %>
    <%= form.text_field :installations %>
  </div>

  <div class="field">
    <%= form.label :conflict %>
    <%= form.check_box :conflict %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
