<p id="notice"><%= notice %></p>

<h1>Schedules</h1>

<table>
  <thead>
    <tr>
      <th>Ciclye</th>
      <th>Study plan</th>
      <th>Asignature</th>
      <th>Teacher</th>
      <th>Time table</th>
      <th>Day</th>
      <th>Group</th>
      <th>Installations</th>
      <th>Conflict</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @schedules.each do |schedule| %>
      <tr>
        <td><%= schedule.ciclye_id %></td>
        <td><%= schedule.study_plan_id %></td>
        <td><%= schedule.asignature_id %></td>
        <td><%= schedule.teacher_id %></td>
        <td><%= schedule.time_table_id %></td>
        <td><%= schedule.day %></td>
        <td><%= schedule.group %></td>
        <td><%= schedule.installations %></td>
        <td><%= schedule.conflict %></td>
        <td><%= link_to 'Show', schedule %></td>
        <td><%= link_to 'Edit', edit_schedule_path(schedule) %></td>
        <td><%= link_to 'Destroy', schedule, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Schedule', new_schedule_path %>
