<p id="notice"><%= notice %></p>

<p>
  <strong>Ciclye:</strong>
  <%= @schedule.ciclye_id %>
</p>

<p>
  <strong>Study plan:</strong>
  <%= @schedule.study_plan_id %>
</p>

<p>
  <strong>Asignature:</strong>
  <%= @schedule.asignature_id %>
</p>

<p>
  <strong>Teacher:</strong>
  <%= @schedule.teacher_id %>
</p>

<p>
  <strong>Time table:</strong>
  <%= @schedule.time_table_id %>
</p>

<p>
  <strong>Day:</strong>
  <%= @schedule.day %>
</p>

<p>
  <strong>Group:</strong>
  <%= @schedule.group %>
</p>

<p>
  <strong>Installations:</strong>
  <%= @schedule.installations %>
</p>

<p>
  <strong>Conflict:</strong>
  <%= @schedule.conflict %>
</p>

<%= link_to 'Edit', edit_schedule_path(@schedule) %> |
<%= link_to 'Back', schedules_path %>
