%div{:class => "row"}
    %div{:class => "block full",:style=>'padding:0px'}
        %div{:class => "block-title",:style=>'margin:0px'}
            %h2 Usuarios
        %div{:class => "col-12 p-4"}
            %p{:id => "notice"}= notice 
        %div{:class => "table-responsive"}
            %table{:id=>'table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
                %thead
                    %tr
                        %th Nombre
                        %th Apellido Paterno
                        %th Apellido Materno
                        %th Correo
                        %th CURP
                        -#%th Celular
                        %th Matricula
                        %th Seleccionar
                %tbody
                    - @users.each do |user|  
                        %tr
                            %td{:class => 'valor',:style => 'display:none'}= user.acting_as.id
                            %td{:class => 'valor text-uppercase'}= user.first_name
                            %td{:class => 'valor text-uppercase'}= user.second_name
                            %td{:class => 'valor text-uppercase'}= user.last_name
                            %td{:class => 'valor'}= user.email
                            %td{:class => 'valor text-uppercase'}= user.curp
                            %td{:class => 'valor',:style => "display:none"}= user.cell_phone
                            %td{:class => 'valor'}= user.registration 
                            %td
                                %button{:class => 'select-user btn btn-success'}
                                    %i{:class=>'select-user fa fa-angle-double-right'} &nbsp; Seleccionar
- content_for :javascript do
    = javascript_include_tag 'js/get-users.js'