<div class="row">
    <div class="col-md-12">
        <!-- Wizard Header -->
  <!--<div class="content-header">
      <div class="row">
          <div class="col-sm-6">
              <div class="header-section">
                  <h1>Registro de Usuarios</h1>
              </div>
          </div>
          <div class="col-sm-6 hidden-xs">
              <div class="header-section">
                  <ul class="breadcrumb breadcrumb-top">
                      <li>Ususarios</li>
                      <li><a href="">Registro</a></li>
                  </ul>
              </div>
          </div>
      </div>
  </div>-->
<!-- END Wizard Header -->
<!-- Validation Wizard Block -->
    <div class="block">
        <!-- Validation Wizard Title -->
        <div class="block-title">
            <h2>Ingresar Nuevo Usuario</h2>
        </div>
        <!-- END Validation Wizard Title -->
        <div style="margin-bottom:20px;">
            <div class="alert alert-success" style="display:none;" id="success-message">
                Sus Datos se han guardado correctamente.
            </div>
            <div class="alert alert-danger" id="error-div" style="display:none;">
                <ul id="errors">
                    
                </ul>
            </div>
        </div>
        <!-- Validation Wizard Content -->
        <%= form_for(:user, url: '/registrar' ,:html => {:class => 'form-inline',:id =>'validation-wizard'}) do |f| %>
            <!-- First Step -->
            <div id="validation-first">
                <div class="row">
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label">Nombre: <span class="text-danger">*</span></label>
                        <div class="input-group col-sm-12">
                            <%= f.text_field :first_name, autofocus: true, class: 'form-control text-uppercase', required: true, id: 'first-name' %>
                            <span class="input-group-addon"><i class="gi gi-user"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                    <label class="control-label" for="example-validation-email">Apellido Paterno: <span class="text-danger">*</span></label>
                    <div class="input-group col-sm-12">
                        <%= f.text_field :second_name, autofocus: true, class: 'form-control text-uppercase', required: true ,id: 'second-name' %>
                        <span class="input-group-addon"><i class="gi gi-user"></i></span>
                    </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label" for="example-validation-password">Apellido Materno: <span class="text-danger">*</span></label>
                        <div class="input-group col-sm-12">
                            <%= f.text_field :last_name, autofocus: true, class: 'form-control text-uppercase',required: true, id: 'last-name' %>
                            <span class="input-group-addon"><i class="gi gi-user"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label" for="example-validation-confirm-password">Correo: <span class="text-danger">*</span></label>
                        <div class="input-group col-sm-12">
                            <%= f.email_field :email , class: 'form-control', required: true, id: 'email' %>
                            <span class="input-group-addon"><i class="gi gi-envelope"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label" for="example-validation-confirm-password">CURP: <span class="text-danger">*</span></label>
                        <div class="input-group col-sm-12">
                            <%= f.text_field :curp , class: 'form-control text-uppercase', required: true, id: 'curp' %>
                            <span class="input-group-addon"><i class="gi gi-user"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label" for="example-validation-confirm-password">Tel&eacute;fono: <span class="text-danger">*</span></label>
                        <div class="input-group col-sm-12">
                            <%= f.text_field :cell_phone, class: 'form-control', required: true, id: 'cell-phone' %>
                            <span class="input-group-addon"><i class="gi gi-iphone"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label">Sexo: <span class="text-danger">*</span></label>
                        <div class="input-group col-sm-12">
                            <%= f.select :sexo, [['Masculino','Masculino'],['Femenino','Femenino']],{ prompt: "Seleccione una Opción." } ,{class: 'form-control' , id: 'sexo'} %>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label" for="example-validation-confirm-password">Contrase&ntilde;a: <span class="text-danger">*</span></label>
                        <% if @minimum_password_length %>
                            <em>(<%= @minimum_password_length %> characters minimum)</em>
                        <% end %><br />
                        <div class="input-group col-sm-12">
                            <%= f.password_field :password , class: 'form-control' , required: true , id: 'password', value: 'A76&JK' %>
                            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                        </div>
                    </div>
                    <div class="form-group col-sm-6 col-md-4">
                        <label class="control-label" for="example-validation-confirm-password">Confirmar Contrase&ntilde;a: <span class="text-danger">*</span></label>
                        <div class="input-group col-sm-12">
                            <%= f.password_field :password_confirmation , class: 'form-control', required: true, id: 'confirm-password', value: 'A76&JK' %>
                            <span class="input-group-addon"><i class="gi gi-asterisk"></i></span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row" style="margin-top:10px;margin-bottom:10px;">
                <div class="col-md-2 col-md-offset-5">
                    <a id="#send-register" class="btn btn-effect-ripple btn-primary" type="submit" href="javascript:sendFormUser();"><i class="gi gi-circle_plus"></i>&nbsp;Registrar</a>
                </div>
            </div>
            <!-- END First Step -->
        <% end %>
        <!-- END Validation Wizard Content -->
    </div>
<!-- END Validation Wizard Block -->
    </div>
</div>
<% content_for :javascript do %>
    <%= javascript_include_tag 'js/add-user' %>
<% end %>