<%= form_with(model: cost, local: true) do |form| %>
  <% if cost.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(cost.errors.count, "error") %> prohibited this cost from being saved:</h2>

      <ul>
      <% cost.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :inscription_lic %>
    <%= form.text_field :inscription_lic %>
  </div>

  <div class="field">
    <%= form.label :inscription_master %>
    <%= form.text_field :inscription_master %>
  </div>

  <div class="field">
    <%= form.label :reinscription_lic %>
    <%= form.text_field :reinscription_lic %>
  </div>

  <div class="field">
    <%= form.label :reinscription_master %>
    <%= form.text_field :reinscription_master %>
  </div>

  <div class="field">
    <%= form.label :tuition_lic %>
    <%= form.text_field :tuition_lic %>
  </div>

  <div class="field">
    <%= form.label :tuition_master %>
    <%= form.text_field :tuition_master %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
