<p id="notice"><%= notice %></p>

<h1>Costs</h1>

<table>
  <thead>
    <tr>
      <th>Inscription lic</th>
      <th>Inscription master</th>
      <th>Reinscription lic</th>
      <th>Reinscription master</th>
      <th>Tuition lic</th>
      <th>Tuition master</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @costs.each do |cost| %>
      <tr>
        <td><%= cost.inscription_lic %></td>
        <td><%= cost.inscription_master %></td>
        <td><%= cost.reinscription_lic %></td>
        <td><%= cost.reinscription_master %></td>
        <td><%= cost.tuition_lic %></td>
        <td><%= cost.tuition_master %></td>
        <td><%= link_to 'Show', cost %></td>
        <td><%= link_to 'Edit', edit_cost_path(cost) %></td>
        <td><%= link_to 'Destroy', cost, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Cost', new_cost_path %>
