<p id="notice"><%= notice %></p>

<p>
  <strong>Inscription lic:</strong>
  <%= @cost.inscription_lic %>
</p>

<p>
  <strong>Inscription master:</strong>
  <%= @cost.inscription_master %>
</p>

<p>
  <strong>Reinscription lic:</strong>
  <%= @cost.reinscription_lic %>
</p>

<p>
  <strong>Reinscription master:</strong>
  <%= @cost.reinscription_master %>
</p>

<p>
  <strong>Tuition lic:</strong>
  <%= @cost.tuition_lic %>
</p>

<p>
  <strong>Tuition master:</strong>
  <%= @cost.tuition_master %>
</p>

<%= link_to 'Edit', edit_cost_path(@cost) %> |
<%= link_to 'Back', costs_path %>
