<!-- Form Wizards are initialized in js/pages/formsWizard.js -->
<div class="row">
    <div class="col-sm-12 col-md-12">
        <!-- Clickable Wizard Block -->
        <div class="block" >
            <!-- Clickable Wizard Title -->
            <div class="block-title">
                <h2>Registro a Actividades Academicas</h2>
            </div>
            <!-- END Clickable Wizard Title -->

            <!-- Clickable Wizard Content -->
            <form id="clickable-wizard" action="" method="post" class="form-horizontal form-bordered">
                <!-- First Step -->
                <div id="clickable-first" class="step">
                    <!-- Step Info -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-first"><i class="fa fa-user"></i> <strong>Datos Generales</strong></a></li>
                                <li><a href="javascript:void(0)" data-gotostep="clickable-second"><i class="fa fa-pencil-square-o"></i> <strong>Datos del Taller</strong></a></li>
                                <li><a href="javascript:void(0)" data-gotostep="clickable-third"><i class="fa fa-check"></i> <strong>Forma de Pago</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Step Info -->
                    <div class="row" style="margin:15px;">
                        <div class="col-xs-6 col-md-4 col-md-offset-3">
                            <a href="javascript:void(0);" id="frame" class="btn btn-success" style="border-radius:10px;width:200px;"><i class="fa fa-search" style="font-size:60px;"></i>&nbsp;&nbsp;Buscar Usuario</a>
                        </div>
                        <div class="col-xs-6 col-md-4">
                            <a href="javascript:void(0);" id="frame-new" class="btn btn-success" style="border-radius:10px;width:200px;"><i class="fa fa-plus-square-o" style="font-size:60px;"></i>&nbsp;&nbsp;Agregar Nuevo</a>
                        </div>
                    </div>
                    <input type="hidden" id="user-id" name="user-id" value="">
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label" for="example-clickable-username">Nombres:</label>
                        <div class="col-md-8">
                            <span id="form-first-name" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label" for="example-clickable-email">Apellido Paterno:</label>
                        <div class="col-md-8">
                            <span id="form-second-name" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label" for="example-clickable-email">Apellido Materno:</label>
                        <div class="col-md-8">
                            <span id="form-last-name" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label" for="example-clickable-password">Email:</label>
                        <div class="col-md-8">
                            <span id="form-email" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label" for="example-clickable-password">CURP:</label>
                        <div class="col-md-8">
                            <span id="form-curp" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group col-md-6">
                        <label class="col-md-4 control-label" for="example-clickable-password2">Tel&eacute;fono:</label>
                        <div class="col-md-8">
                            <span id="form-cell-phone" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-2 control-label" for="example-clickable-password2">Matr&iacute;cula:</label>
                        <div class="col-md-4">
                            <span id="form-matricula" class="form-control"></span>
                        </div>
                    </div>
                </div>
                <!-- END First Step -->

                <!-- Second Step -->
                <div id="clickable-second" class="step">
                    <!-- Step Info -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li><a href="javascript:void(0)" class="text-muted" data-gotostep="clickable-first"><i class="fa fa-user"></i> <del><strong>Datos Generales</strong></del></a></li>
                                <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-second"><i class="fa fa-pencil-square-o"></i> <strong>Datos del Taller</strong></a></li>
                                <li><a href="javascript:void(0)" data-gotostep="clickable-third"><i class="fa fa-check"></i> <strong>Forma de Pago</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Step Info -->
                    <div class="row" style="margin:15px;">
                        <div class="col-md-4 col-md-offset-5">
                            <a href="javascript:void(0);" id="frame-activity"  class="btn btn-success" style="border-radius:10px;"><i class="fa fa-search" style="font-size:60px;"></i>&nbsp;&nbsp;Buscar Actividades</a>
                        </div>
                    </div>
                    <input type="hidden" id="cycle-id"/> 
                    <input type="hidden" id="activity-id"/> 
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-firstname">Actividad:</label>
                        <div class="col-md-6">
                            <span id="activity-name" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-lastname">Fecha de Finalizaci&oacute;n:</label>
                        <div class="col-md-6">
                            <span id="activity-finish-date" class="form-control"></span>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-country">Total de Horas:</label>
                        <div class="col-md-6">
                            <span id="activity-total-hours" class="form-control"></span>
                        </div>
                    </div>
                    <!--<div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-city">City</label>
                        <div class="col-md-6">
                            <input type="text" id="example-clickable-city" name="example-clickable-city" class="form-control" placeholder="In which city?">
                        </div>
                    </div>-->
                </div>
                <!-- END Second Step -->

                <!-- Third Step -->
                <div id="clickable-third" class="step">
                    <!-- Step Info -->
                    <div class="form-group">
                        <div class="col-xs-12">
                            <ul class="nav nav-pills nav-justified clickable-steps">
                                <li><a href="javascript:void(0)" class="text-muted" data-gotostep="clickable-first"><i class="fa fa-user"></i> <del><strong>Datos Generales</strong></del></a></li>
                                <li><a href="javascript:void(0)" class="text-muted" data-gotostep="clickable-second"><i class="fa fa-pencil-square-o"></i> <del><strong>Datos del Taller</strong></del></a></li>
                                <li class="active"><a href="javascript:void(0)" data-gotostep="clickable-third"><i class="fa fa-check"></i> <strong>Forma de Pago</strong></a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- END Step Info -->
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-pc">Costos de las Actividades:</label>
                        <div class="col-md-6">
                            <label>Inscripci&oacute;n:</label><span id="activity-inscription"></span>
                            <div id="colegiatura" style="display:none;">
                                <span id="number-tuition" style="display:none;"></span>
                                <label>Colegiatura:</label><span id="activity-tuition"></span>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-suggestions">Beca en Inscripción:</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-inscription" value="0" >Ninguna</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-inscription" value="10">10%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-inscription" value="20">20%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-inscription" value="30">30%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-inscription" value="40">40%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-inscription" value="-1" id="beca-radio-inscription">Otro</label>
                    </div>
                    <div class="form-group" id="input-other-inscription" style="display:none;">
                        <label class="col-md-4 control-label">Especifique Porcentaje de Beca:</label>
                        <div class="col-md-6">
                            <input  class="form-control" type="number" name="other-inscription" id="other-inscription" value="0" min="0" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label" for="example-clickable-suggestions">Beca en Colegiaturas:</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-tuition" value="0" >Ninguna</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-tuition" value="10">10%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-tuition" value="20">20%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-tuition" value="30">30%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-tuition" value="40">40%</label>
                        <label class="radio-inline"><input type="radio" class="radio-button" name="beca-tuition" value="-1" id="beca-radio-tuition">Otro</label>
                    </div>
                    <div class="form-group" id="input-other-tuition" style="display:none;">
                        <label class="col-md-4 control-label">Especifique Porcentaje de Beca:</label>
                        <div class="col-md-6">
                            <input  class="form-control" type="number" name="other-tuition" id="other-tuition" value="0" min="0" max="100">
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="col-md-4 control-label">Forma de Pago:</label>
                        <div class="col-md-6">
                            <select class="form-control" id="type-payment">
                                <option value="0">--Seleccione una opción--</option>
                                <% @type_payments.each do |payment| %>
                                    <option value="<%= payment.id %>"><%= payment.name %></option>
                                <% end %>
                            </select>
                        </div>
                    </div>
                    <div class="form-group table-resposive" style="width:70%;margin-left:15%;">
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>Costo</th>
                                    <th>Costo - Beca</th>
                                </tr>
                            </thead>
                            <tbody id="log-payments">
                            </tbody>
                        </table>
                    </div>
                </div>
                <!-- END Third Step -->

                <!-- Form Buttons -->
                <div class="form-group form-actions">
                    <div class="col-md-8 col-md-offset-4">
                        <button type="reset" class="btn btn-effect-ripple btn-danger" id="back1">Regresar</button>
                        <button type="submit" class="btn btn-effect-ripple btn-primary" id="next1">Siguiente</button>
                    </div>
                </div>
                <!-- END Form Buttons -->
            </form>
            <!-- END Clickable Wizard Content -->
        </div>
        <!-- END Clickable Wizard Block -->
    </div>
    <!-- Large Modal -->
    <div id="modal-add-user" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Agregar Nuevo</strong></h3>
                </div>
                <div class="modal-body">
                    <%= render 'shared/register' %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-effect-ripple btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Large Modal -->
    <!-- Large Modal -->
    <div id="modal-usuario" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width:1000px">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>B&uacute;scar Usuario</strong></h3>
                </div>
                <div class="modal-body">
                    <% @users = Assistant.all %>
                    <%= render 'shared/get_users' %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-effect-ripple btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Large Modal -->
    <!-- Large Modal -->
    <div id="modal-activitys" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>B&uacute;scar Actividades</strong></h3>
                </div>
                <div class="modal-body">
                    <% @activitys = Activity.all %>
                    <%= render 'activities/get_activitys' %>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-effect-ripple btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Large Modal -->
    <!-- Large Modal -->
    <div id="modal-notify" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h3 class="modal-title"><strong>Notificación</strong></h3>
                </div>
                <div class="modal-body" id="body-notify">
                    
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-effect-ripple btn-primary" id="url-recibo" target="_blank"><i class="fa fa-print"></i>Imprimir Recibo</a>
                    <button type="button" class="btn btn-effect-ripple btn-primary" data-dismiss="modal">Cerrar</button>
                </div>
            </div>
        </div>
    </div>
    <!-- END Large Modal -->
</div>
<!-- END Wizards Content -->
<% content_for :javascript do %>
    <%= javascript_include_tag 'register_user_activity' %>
    <script type="text/javascript">
        $("#frame-new").on('click',function(){
            $("#modal-add-user").modal('show');
        });
        $("#frame-activity").on('click',function(){
            $("#modal-activitys").modal('show');
        });
        
    </script>
<% end %>
