%div{:id=>"home"}

- content_for :javascript do
    = javascript_include_tag 'js/pages/readyDashboard.js', 'data-turbolinks-track' => true  
    %script{type: "text/javascript"}
        $(function(){ ReadyDashboard.init(); })