<template>
  <div>

      <block :title="'Rango de horario:'">
          <div class="row">
              <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Horario:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="timeTables.rangeHours"
                            
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                </div>
          </div>
          <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <button
            type="button"
            @click="guardar"
            class="btn btn-effect-ripple btn-success"
            style="margin-bottom:1px"
          >
            <i class="fa fa-save" />Guardar
          </button>
          <a
            href="#/rango/horas"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
      </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      
      timeTables: {
        id: "",
        rangeHours:""
      },
      rangeExist: false,
      
    };
    
  },
  components: {
    Block
  },
  methods: {
    guardar: function() {
      let ranges = {
        id: this.timeTables.id,
        range_hours: this.timeTables.rangeHours,
      };
      axios
        .put(BASE_URL + "/time_tables/" + this.timeTables.id + ".json", { time_table: ranges })
        .then(function(response) {
          window.location = BASE_URL + "/#/rango/horas/";
          if (response.data.status == 200)
            Swal.fire({
              title: "Exito",
              icon: "success",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location = BASE_URL + "/#/rango/horas";
            });
          else if (response.data.status == "500")
            Swal.fire({
              title: "Error",
              icon: "error",
              text: response.data.msg
            });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                timeTable(id:${ this.$route.params.id })
                {
                    id
                    rangeHours
                }
            }`
      })
      .then(response => {
          
        this.timeTables = response.data.data.timeTable;
        this.rangeExist = true;
      })
      .catch(error => {
        console.log(error);
      });
  },
};
</script>