<template>
  <div>

      <block :title="'Rango de horario:'">
          <div class="row">
              <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Horario:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="timeTables.rangeHours"
                            readonly
                            
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                </div>
          </div>
          <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <a
            href="#/rango/horas"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
      </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      
      timeTables: {
        id: "",
        rangeHours:""
      },
      rangeExist: false,
      
    };
    
  },
  components: {
    Block
  },
  created() {

    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                timeTable(id:${ this.$route.params.id })
                {
                    id
                    rangeHours
                }
            }`
      })
      .then(response => {
          
        this.timeTables = response.data.data.timeTable;
        this.rangeExist = true;
      })
      .catch(error => {
        console.log(error);
      });
  },

};
</script>