<template>
  <div>
    <block
      v-if="administratorExist"
      :title="'Administrador: ' + administrator.position"
    >
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre(s):</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.actingAs.firstName"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Apellido Materno:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.actingAs.secondName"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Apellido Paterno:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.actingAs.lastName"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Email:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.actingAs.email"
            />
            <span class="input-group-addon">
              <i class="gi gi-envelope" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">RFC:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.rfc"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Número del IMSS:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.numberImss"
            />
            <span class="input-group-addon">
              <i class="gi gi-hospital" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">CURP:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.actingAs.curp"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Sexo:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="administrator.actingAs.sexo">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <span class="input-group-addon">*</span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Área:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="administrator.department.id">
              <option
                v-for="department in departments"
                :key="department.id"
                :value="department.id"
                >{{ department.name }}</option
              >
            </select>
            <span class="input-group-addon">
              <i class="gi gi-building" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Posición:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator.position"
            />
            <span class="input-group-addon">
              <i class="fa fa-briefcase" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Rol:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select
              class="form-control"
              v-model="administrator.actingAs.roles[0].name"
            >
              <option value="admin">Administrador</option>
              <option value="coordinate_ac"
                >Coordinador Actualización Continua</option
              >
              <option value="assistant_ac" selected
                >Asistente Actualización Continua</option
              >
            </select>
            <span class="input-group-addon">
              <i class="gi gi-building" />
            </span>
          </div>
        </div>

        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <router-link
            :to="'/administrativos'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import InputField from "../shared/InputField.vue";
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      administrator: undefined,
      administratorExist: false,
      departments: ""
    };
  },
  created() {
    axios
      .post("/graphql", {
        query: `{
  administrator(id: ${this.id}){
    id
    rfc
    numberImss
    areaId
    position
    actingAs{
      firstName
      secondName
      lastName
      email
      curp
      sexo
      roles{
        name
      }
    }
    department{
      id
    }
  }
}`
      })
      .then(response => {
        this.administrator = response.data.data.administrator;
        this.administratorExist = true;
      })
      .catch(error => {
        this.administratorExist = false;
      });
    axios
      .post(BASE_URL + "/graphql", { query: `{departments{id name}}` })
      .then(response => {
        this.departments = response.data.data.departments;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
            administrator(id: ${this.id}){
              id
              rfc
              numberImss
              areaId
              position
              actingAs{
                firstName
                secondName
                lastName
                email
                curp
                sexo
                roles{
                  name
                }
              } 
              department{
                id
              }
            }
            }`
        })
        .then(response => {
          this.administrator = response.data.data.administrator;
          this.administratorExist = true;
        })
        .catch(error => {
          this.administratorExist = false;
        });
    }
  },
  components: {
    Block,
    InputField
  },
  methods: {
    guardar: function() {
      if (this.administrator.actingAs.firstName)
        if (this.administrator.actingAs.secondName)
          if (this.administrator.actingAs.lastName)
            if (this.administrator.actingAs.email)
              if (this.administrator.actingAs.curp)
                if (this.administrator.actingAs.sexo)
                  if (this.administrator.areaId)
                    if (this.administrator.position)
                      axios
                        .put(
                          BASE_URL + "/administrators/" + this.administrator.id,
                          {
                            administrator: this.administrator
                          }
                        )
                        .then(response => {
                          if (response.data.status == "200")
                            Swal.fire({
                              title: "Éxito!",
                              text: response.data.msg,
                              icon: "success"
                            }).then(result => {
                              if (result.value) window.location.reload();
                            });
                          else {
                            var errors = "";
                            for (var [key, value] of Object.entries(
                              response.data.msg
                            )) {
                              errors += `${key} ${value} `;
                            }
                            Swal.fire({
                              title: "Error!",
                              text: errors,
                              icon: "error"
                            });
                          }
                        });
                    else
                      Swal.fire({
                        title: "Error!",
                        text: "La posición es requerida",
                        icon: "error"
                      });
                  else
                    Swal.fire({
                      title: "Error!",
                      text: "El área es requerida",
                      icon: "error"
                    });
                else
                  Swal.fire({
                    title: "Error!",
                    text: "El sexo es requerido",
                    icon: "error"
                  });
              else
                Swal.fire({
                  title: "Error!",
                  text: "La curp es requerida",
                  icon: "error"
                });
            else
              Swal.fire({
                title: "Error!",
                text: "El email es requerido",
                icon: "error"
              });
          else
            Swal.fire({
              title: "Error!",
              text: "El apellido paterno es requerido",
              icon: "error"
            });
        else
          Swal.fire({
            title: "Error!",
            text: "El apellido materno es requerido",
            icon: "error"
          });
      else
        Swal.fire({
          title: "Error!",
          text: "El nombre es requerido",
          icon: "error"
        });
    }
  }
};
</script>
