<template>
  <div>
    <block
      title="Administrativos"
      buttonTitle="Agregar Administrativo"
      buttonRef="#/administrativos/crear"
    >
      <v-client-table
        :data="administrators"
        :columns="columns"
        :options="options"
        v-if="administrators"
      >
        <div slot="administration" slot-scope="props">
          <router-link
            :to="'administrativos/ver/' + props.row.id"
            class="col-md-4"
          >
            <i class="fa fa-eye i-admin i-admin-read"></i>
          </router-link>
          <router-link
            :to="'administrativos/editar/' + props.row.id"
            class="col-md-4"
          >
            <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
          </router-link>
          <a @click="eliminar(props.row.id)">
            <i class="fa fa-trash i-admin i-admin-delete"></i>
          </a>
        </div>
        <div slot="actingAs" slot-scope="props">
          <span class="text-uppercase">{{ props.row.actingAs.firstName }}</span>
          <span class="text-uppercase">{{
            props.row.actingAs.secondName
          }}</span>
          <span class="text-uppercase">{{ props.row.actingAs.lastName }}</span>
        </div>
        <div slot="department" slot-scope="props">
          <span class="text-uppercase">{{ props.row.department.name }}</span>
        </div>
      </v-client-table>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      administrators: undefined,
      columns: [
        "actingAs",
        "rfc",
        "number_imss",
        "department",
        "position",
        "administration"
      ],
      options: {
        headings: {
          rfc: "RFC",
          number_imss: "Número de IMSS",
          position: "Posición",
          area_id: "Área",
          administration: "Administración",
          actingAs: "Nombre",
          department: "Departamento"
        },
        sortable: ["rfc", "number_imss", "position", "department", "actingAs"],
        filterable: [
          "rfc",
          "number_imss",
          "position",
          "department",
          "actingAs"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro será eliminado",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios.delete(BASE_URL + "/administrators/" + id).then(response => {
            if (response.data.status == "200")
              Swal.fire({
                title: "Éxito",
                text: response.data.msg,
                icon: "success"
              }).then(result => {
                if (result.value) window.location.reload();
              });
          });
      });
    }
  },
  components: {
    Block
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `{
  administrators{
    actingAs{
      firstName
      secondName
      lastName
    }
    id
    position
    numberImss
    rfc
    department{
      name
    }
  }
}`
      })
      .then(response => {
        if (response.status == "200")
          this.administrators = response.data.data.administrators;
        else
          Swal.fire({
            title: "Error",
            body: response.data.errors.message,
            icon: "error"
          });
      })
      .catch(error => {
        Swal.fire({
          title: "Error",
          icon: "error"
        });
      });
  }
};
</script>
