<template>
  <div>
    <block :title="'Crear nuevo Administrador'">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre(s):</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['first_name']"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Apellido Materno:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['second_name']"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Apellido Paterno:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['last_name']"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Email:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['email']"
            />
            <span class="input-group-addon">
              <i class="gi gi-envelope" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">RFC:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['rfc']"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Número del IMSS:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['number_imss']"
            />
            <span class="input-group-addon">
              <i class="gi gi-hospital" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">CURP:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['curp']"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Sexo:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="administrator['sex']">
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <span class="input-group-addon">*</span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Área:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="administrator['area_id']">
              <option
                v-for="department in departments"
                :key="department.id"
                :value="department.id"
                >{{ department.name }}</option
              >
            </select>
            <span class="input-group-addon">
              <i class="gi gi-building" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Posición:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="administrator['position']"
            />
            <span class="input-group-addon">
              <i class="fa fa-briefcase" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Rol:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select class="form-control" v-model="administrator['rol']">
              <option value="admin">Administrador</option>
              <option value="coordinate_ac"
                >Coordinador Actualización Continua</option
              >
              <option value="assistant_ac" selected
                >Asistente Actualización Continua</option
              >
            </select>
            <span class="input-group-addon">
              <i class="gi gi-building" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Contraseña:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              v-model="administrator['password']"
            />
            <span class="input-group-addon">
              <i class="gi gi-asterisk" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Confirmar contraseña:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="password"
              class="form-control"
              v-model="administrator['password_confirm']"
            />
            <span class="input-group-addon">
              <i class="gi gi-asterisk" />
            </span>
          </div>
        </div>

        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <router-link
            :to="'/administrativos'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      departments: "",
      administrator: {
        first_name: "",
        second_name: "",
        last_name: "",
        rfc: "",
        number_imss: "",
        area_id: "",
        position: "",
        email: "",
        password: "A76&JK",
        password_confirm: "A76&JK",
        curp: "",
        sex: "",
        rol: ""
      }
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", { query: `{departments{id name}}` })
      .then(response => {
        this.departments = response.data.data.departments;
      });
  },
  methods: {
    guardar: function() {
      if (this.administrator.first_name)
        if (this.administrator.second_name)
          if (this.administrator.last_name)
            if (this.administrator.email)
              if (this.administrator.curp)
                if (this.administrator.sex)
                  if (this.administrator.area_id)
                    if (this.administrator.position)
                      if (this.administrator.rol)
                        if (
                          this.administrator.password &&
                          this.administrator.password ==
                            this.administrator.password_confirm
                        )
                          axios
                            .post(BASE_URL + "/administrators", {
                              administrator: this.administrator
                            })
                            .then(response => {
                              if (response.data.status == "200")
                                Swal.fire({
                                  title: "Éxito!",
                                  text: response.data.msg,
                                  icon: "success"
                                }).then(result => {
                                  if (result.value) window.location.reload();
                                });
                              else {
                                var errors = "";
                                for (var [key, value] of Object.entries(
                                  response.data.msg
                                )) {
                                  errors += `${key} ${value} `;
                                }
                                Swal.fire({
                                  title: "Error!",
                                  text: errors,
                                  icon: "error"
                                });
                              }
                            });
                        else
                          Swal.fire({
                            title: "Error!",
                            text: "Las contraseñas deben coincidir",
                            icon: "error"
                          });
                      else
                        Swal.fire({
                          title: "Error!",
                          text: "Un rol es requerido",
                          icon: "error"
                        });
                    else
                      Swal.fire({
                        title: "Error!",
                        text: "Las posición es requerida",
                        icon: "error"
                      });
                  else
                    Swal.fire({
                      title: "Error!",
                      text: "El área es requerida",
                      icon: "error"
                    });
                else
                  Swal.fire({
                    title: "Error!",
                    text: "El sexo es requerido",
                    icon: "error"
                  });
              else
                Swal.fire({
                  title: "Error!",
                  text: "La curp es requerida",
                  icon: "error"
                });
            else
              Swal.fire({
                title: "Error!",
                text: "El email es requerido",
                icon: "error"
              });
          else
            Swal.fire({
              title: "Error!",
              text: "El apellido paterno es requerido",
              icon: "error"
            });
        else
          Swal.fire({
            title: "Error!",
            text: "El apellido materno es requerido",
            icon: "error"
          });
      else
        Swal.fire({
          title: "Error!",
          text: "El nombre es requerido",
          icon: "error"
        });
    }
  }
};
</script>
