<template>
  <div>
    <block
      v-if="administratorExist"
      :title="'Administrador: ' + administrator.position"
    >
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Nombre(s):</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.actingAs.firstName"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Apellido Materno:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.actingAs.secondName"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Apellido Paterno:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.actingAs.lastName"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Email:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.actingAs.email"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-envelope" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">RFC:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.rfc"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Número del IMSS:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.numberImss"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-hospital" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">CURP:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.actingAs.curp"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Sexo:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select
              class="form-control"
              :value="administrator.actingAs.sexo"
              disabled
            >
              <option value="Masculino">Masculino</option>
              <option value="Femenino">Femenino</option>
            </select>
            <span class="input-group-addon">*</span>
          </div>
        </div>
      </div>
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Área:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.department.name"
              disabled
            />
            <span class="input-group-addon">
              <i class="gi gi-building" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Posición:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              :value="administrator.position"
              disabled
            />
            <span class="input-group-addon">
              <i class="fa fa-briefcase" />
            </span>
          </div>
        </div>
      </div>

      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Rol:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select
              class="form-control"
              v-model="administrator.actingAs.roles[0].name"
              disabled
            >
              <option value="admin">Administrador</option>
              <option value="coordinate_ac"
                >Coordinador Actualización Continua</option
              >
              <option value="assistant_ac" selected
                >Asistente Actualización Continua</option
              >
            </select>
            <span class="input-group-addon">
              <i class="gi gi-building" />
            </span>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <router-link
            :to="'/administrativos'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import InputField from "../shared/InputField.vue";
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      administrator: undefined,
      administratorExist: false
    };
  },
  created() {
    axios
      .post("/graphql", {
        query: `{
  administrator(id: ${this.id}){
    id
    rfc
    numberImss
    areaId
    position
    actingAs{
      firstName
      secondName
      lastName
      email
      curp
      sexo
      roles{
        name
      }
    }
    department{
      id
      name
    }
  }
}`
      })
      .then(response => {
        this.administrator = response.data.data.administrator;
        this.administratorExist = true;
      })
      .catch(error => {
        this.administratorExist = false;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
  administrator(id: ${this.id}){
    id
    rfc
    numberImss
    areaId
    position
    actingAs{
      firstName
      secondName
      lastName
      email
      curp
      sexo
      roles{
        name
      }
    }
    department{
      id
      name
    }
  }
}`
        })
        .then(response => {
          this.administrator = response.data.data.administrator;
          this.administratorExist = true;
        })
        .catch(error => {
          this.administratorExist = false;
        });
    }
  },
  components: {
    Block,
    InputField
  }
};
</script>
