= form_with(model: pay_concept, local: true) do |form|
  -if pay_concept.errors.any?
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3{:style => 'margin-top:0px'} Ocurrio un error al guardar el registro:
      %ul
        - pay_concept.errors.full_messages.each do |message|
          %li= message

  %div{:class => 'row form-group'}
    %div{:class => 'col-md-6'}
      %label{:class => "col-md-4 control-label"}Nombre:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.text_field :name,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-asterisk"}

    %div{:class => 'col-md-6'}
      %label{:class => "col-md-4 control-label"}Costo:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-usd"}
          = form.number_field :cost,:step => 0.01,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i .00
  %div{:class => 'row form-group'}
    %div{:class => 'col-md-12'}
      %label{:class => "col-md-2 control-label"}Descripción:
      %div{:class => "col-md-10"}
        = form.text_area :description,class: "form-control"

  %div{:class => 'form-group form-actions text-center'}  
    = button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    %a{:href => pay_concepts_path,:class => 'btn btn-custom btn-primary'}
      %i{:class => 'fa fa-reply'}  
      Regresar