%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Conceptos de pago
      %a{:href => new_pay_concept_path,:class => "btn btn-custom btn-primary pull-right"}
        %i{:class => 'fa fa-plus'}
        Agregar Nuevo 
    %div{:class => "col-12 p-4"}
      %p{:id => "notice"}= notice 
    %div{:class => "table-responsive"}
      %table{:id=>'#table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th ID
            %th Nombre
            %th Descripci&oacute;n
            %th Costo
            %th Administraci&oacute;n
        %tbody
          - @pay_concepts.each do |pay_concept|
            %tr
              %td= pay_concept.id
              %td= pay_concept.name
              %td= pay_concept.description
              %td
                $
                = pay_concept.cost
              %td
                = link_to pay_concept do
                  %i{:class => "fa fa-eye",:style => "font-size:2em;margin-right:2em"}
                = link_to edit_pay_concept_path(pay_concept) do
                  %i{:class => "fa fa-pencil-square-o",:style => "font-size:2em;margin-right:2em"}
                = link_to pay_concept, method: :delete, data: { confirm: 'Estas seguro?' } do
                  %i{:class => "fa fa-trash-o",:style => "font-size:2em"}