%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Concepto de pago : 
      = @pay_concept.name
  %div{:class => 'row form-horizontal form-bordered'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'form-group'}
      %div{:class => 'col-md-6'}
        %label{:class => "col-md-3 control-label"}Nombre:
        %label{:class => "col-md-9 control-label",:style => 'text-align:left'}= @pay_concept.name

      %div{:class => 'col-md-6'}
        %label{:class => "col-md-3 control-label"}Costo:
        %label{:class => "col-md-9 control-label",:style => 'text-align:left'}
          $
          = @pay_concept.cost  

    %div{:class => 'form-group'}
      %label{:class => "col-md-2 control-label"}Descripci&oacute;n:
      %label{:class => "col-md-10 control-label",:style => 'text-align:left'}= @pay_concept.description
  
    %div{:class => 'form-group form-actions text-center'}
      %a{:href =>  edit_pay_concept_path(@pay_concept),:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-pencil-square-o'}
        Editar
      %a{:href => pay_concepts_path,:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-reply'}
        Regresar