<template>
  <div>
    <block title="Generar Listas de asistencia">
      <div style="min-height:200px">
        <h2>Seleccione un Ciclo:</h2>
        <div class="col-md-12">
          <div class="col-md-6">
            <select v-model="cycleSelected" class="form-control">
              <option
                :selected="cycle.status == 1"
                :value="cycle"
                v-for="cycle in cycles"
                :key="cycle.id"
              >{{ cycle.name }}</option>
            </select>
          </div>
        </div>
        <div v-if="cycleSelected">
          <h2>Seleccione una Plan de estudio:</h2>
          <div
            class="col-md-4 widget-content"
            v-for="studyPlan in cycleSelected.studyPlan"
            :key="studyPlan.id"
            style="float:none;display:inline-block"
          >
            <a class="widget" @click="studyPlanSelected = studyPlan">
              <div class="widget-content widget-content-mini themed-background-dark-social">
                <strong class="text-light-op text-uppercase">
                  {{
                  studyPlan.name
                  }}
                </strong>
              </div>
              <div class="widget-content themed-background-social clearfix">
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Nombre:
                  <strong>{{ studyPlan.name }}</strong>
                </h2>
              </div>
            </a>
          </div>
        </div>
        <div v-if="studyPlanSelected">
          <h2>Seleccione una Asignatura: asdvbfjhgkasdjfghkajsdfghjh</h2>
          <div
            class="col-md-4 widget-content"
            v-for="asignature in studyPlanSelected.asignatures"
            :key="asignature.id"
            style="float:none;display:inline-block"
          >
            <a class="widget" @click="verLista(asignature.id)">
              <div class="widget-content widget-content-mini themed-background-dark-social">
                <strong class="text-light-op text-uppercase">
                  {{
                  asignature.asignatureName
                  }}
                </strong>
              </div>
              <div class="widget-content themed-background-social clearfix">
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Nombre:
                  <strong>{{ asignature.asignatureName }}</strong>
                </h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      activities: [],
      cycles: [],
      cycleSelected: 0,
      studyPlanSelected: 0
    };
  },
  components: {
    Block
  },
  methods: {
    verLista: function(id) {
      window.open(window.location.origin + `/reporte/ingresos/${id}.pdf`);
    }
  },
  mounted() {
    axios
      .post("/graphql", {
        query:
          "{cycles{id name studyPlan {id name asignatures{id asignatureName}}}}"
      })
      .then(response => {
        this.cycles = response.data.data.cycles;
      });
  }
};
</script>
