<template>
  <div>
    <block :title="'Crear nueva Asignatura'">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Ciclo al que pertenece:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.semester"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Plan de Estudios:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="study_plan_id" class="form-control"> 
              <option v-for="studyPlan in studyPlans" :value="studyPlan.id" v-bind:key="studyPlan.id">{{ studyPlan.name }}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Tipo de asignatura:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="asignature.asignature_type" class="form-control">
              <option value="Obligatoria">Obligatoria</option>
              <option value="Optativa">Optativa</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Denominación de la asignatura:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="asignature.asignature_name"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">CLAVE:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" v-model="asignature.key" class="form-control" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Seriación(Asignatura Previa):</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="asignature.previous_id" class="form-control">
              <option
                v-for="asignature in asignatures"
                :key="asignature.id"
                :value="asignature.id"
                >{{ asignature.asignatureName }} || {{ asignature.key }}</option
              >
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Horas bajo la conducción de un Académico:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.academic_hours"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Horas Independientes:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.independent_hours"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Creditos:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.credits"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Instalaciones:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.classroom"
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <button
            type="button"
            @click="guardar"
            class="btn btn-effect-ripple btn-success"
            style="margin-bottom:1px"
          >
            <i class="fa fa-save" />Guardar
          </button>
          <a
            href="#/asignaturas"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      asignatures: undefined,
      studyPlans: [],
      asignature: {
        asignature_type: "Obligatoria",
        asignature_name: "",
        key: "",
        academic_hours: undefined,
        independent_hours: undefined,
        credits: undefined,
        classroom: "",
        semester: undefined,
        previous_id: undefined
      },
      study_plan_id: 0
    };
  },
  components: {
    Block
  },
  methods: {
    guardar: function() {
      axios
        .post(BASE_URL + "/asignatures", {
          asignature: this.asignature,
          authenticity_token: AUTHENTICITY_TOKEN,
          study_plan_id: this.study_plan_id
        })
        .then(response => {
          if (response.data.status == "200") {
            Swal.fire({
              icon: "success",
              title: "Éxito",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location = BASE_URL + "/#/asignaturas";
            });
          } else
            Swal.fire({
              icon: "error",
              title: "Error!",
              text: response.data.msg
            });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: "{asignatures{id asignatureName key}}"
      })
      .then(response => {
        this.asignatures = response.data.data.asignatures;
      });
    axios
      .post(BASE_URL + "/graphql", {
        query: "{studyPlans{id name }}"
      })
      .then(response => {
        this.studyPlans = response.data.data.studyPlans;
      });
  }
};
</script>
