<template>
  <div>
    <block title="Generar Concentrados de Calificaciones">
      <div style="min-height:200px">
        <h2>Seleccione un Ciclo:</h2>
        <div class="col-md-12">
          <div class="col-md-6">
            <select v-model="cycleSelected" class="form-control">
              <option
                :selected="cycle.status == 1"
                :value="cycle"
                v-for="cycle in cycles"
                :key="cycle.id"
                >{{ cycle.name }}</option
              >
            </select>
          </div>
        </div>
        <div v-if="cycleSelected">
          <h2>Seleccione una Actividad:</h2>
          <div
            class="col-md-4 widget-content"
            v-for="activity in cycleSelected.activities"
            :key="activity.id"
            style="float:none;display:inline-block"
          >
            <a class="widget" @click="verLista(activity.id)">
              <div
                class="widget-content widget-content-mini themed-background-dark-social"
              >
                <strong class="text-light-op text-uppercase">{{
                  activity.name
                }}</strong>
              </div>
              <div class="widget-content themed-background-social clearfix">
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Nombre:
                  <strong>{{ activity.name }}</strong>
                </h2>
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Tipo:
                  <strong>{{ activity.typeActivity["name"] }}</strong>
                </h2>
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Horas:
                  <strong>{{ activity.totalHours }}</strong>
                </h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      activities: [],
      cycles: [],
      cycleSelected: 0
    };
  },
  components: {
    Block
  },
  methods: {
    verLista: function(id) {
      window.open(window.location.origin + `/reporte/ingresos/${id}.pdf`);
    }
  },
  mounted() {
    axios
      .post("/graphql", {
        query:
          "{cycles{id name activities {id name totalHours typeActivity{name}}}}"
      })
      .then(response => {
        this.cycles = response.data.data.cycles;
      });
  }
};
</script>
