<template>
  <div>
    <block title="Asignaturas" buttonTitle="Agregar Asignatura" buttonRef="#/asignaturas/crear">
      <div style="padding-bottom:80px" >
        <v-client-table
          :data="asignatures"
          :columns="columns"
          :options="options"
          v-if="asignatures"
        >
          <div slot="administration" slot-scope="props">
            <router-link :to="'asignaturas/ver/' + props.row.id">
              <i class="fa fa-eye i-admin i-admin-read"></i>
            </router-link>
            <router-link :to="'asignaturas/editar/' + props.row.id">
              <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
            </router-link>
            <a @click="eliminar(props.row.id)">
              <i class="fa fa-trash i-admin i-admin-delete"></i>
            </a>
          </div>
        </v-client-table>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      asignatures: undefined,
      columns: [
        "asignatureType",
        "asignatureName",
        "key",
        "academicHours",
        "independentHours",
        "credits",
        "classroom",
        "administration"
      ],
      options: {
        headings: {
          asignatureType: "Tipo de asignatura",
          asignatureName: "Denominación de la asignatura",
          key: "Clave",
          academicHours: "Horas bajo la conducción de un académico",
          independentHours: "Horas independientes",
          credits: "Creditos",
          classroom: "Instalaciones"
        },
        sortable: [
          "asignatureType",
          "asignatureName",
          "key",
          "academicHours",
          "independentHours",
          "credits",
          "classroom"
        ],
        filterable: [
          "asignatureType",
          "asignatureName",
          "key",
          "academicHours",
          "independentHours",
          "credits",
          "classroom"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro será eliminado",
        icon: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios
            .delete(
              BASE_URL +
                "/asignatures/" +
                id +
                "?authenticity_token=" +
                AUTHENTICITY_TOKEN,
              {
                authenticity_token: AUTHENTICITY_TOKEN
              }
            )
            .then(response => {
              if (response.data.status == "200")
                Swal.fire({
                  title: "Éxito",
                  text: response.data.msg,
                  type: "success"
                }).then(result => {
                  if (result.value) window.location.reload();
                });
            });
      });
    }
  },
  components: {
    Block
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `{
  asignatures{
    id
    academicHours
    asignatureType
    asignatureName
    classroom
    credits
    independentHours
    key
    semester
  }
}`
      })
      .then(response => {
        if (response.status == "200")
          this.asignatures = response.data.data.asignatures;
        else
          Swal.fire({
            title: "Error",
            body: response.data.errors.message,
            icon: "error"
          });
      })
      .catch(error => {
        Swal.fire({
          title: "Error",
          icon: "error"
        });
      });
  }
};
</script>
