<template>
  <div>
    <block
      :title="'Editar la asignatura: ' + asignature.asignatureName"
      v-if="asignatureExist"
    >
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Ciclo al que pertenece:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.semester"
              readonly
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Tipo de asignatura:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <select
              v-model="asignature.asignatureType"
              class="form-control"
              readonly
            >
              <option value="Obligatoria">Obligatoria</option>
              <option value="Optativa">Optativa</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Denominación de la asignatura:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              v-model="asignature.asignatureName"
              readonly
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">CLAVE:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              v-model="asignature.key"
              class="form-control"
              readonly
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Seriación:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" readonly />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right"
          >Horas bajo la conducción de un Académico:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.academicHours"
              readonly
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right"
          >Horas Independientes:</label
        >
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.independentHours"
              readonly
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Creditos:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="number"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.credits"
              readonly
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Instalaciones:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              type="text"
              class="form-control"
              min="0"
              max="1000"
              step="1"
              v-model="asignature.classroom"
              readonly
            />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <!-- Form Buttons -->
      <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <a
            href="#/asignaturas"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      asignatureExist: false,
      asignature: {
        asignature_type: "Obligatoria",
        asignature_name: "",
        key: "",
        academic_hours: undefined,
        independent_hours: undefined,
        credits: undefined,
        classroom: "",
        semester: undefined
      }
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                asignature(id: ${this.id}){
                    id
                    asignatureName
                    asignatureType
                    classroom
                    credits
                    independentHours
                    key
                    semester
                    academicHours
                }
            }`
      })
      .then(response => {
        this.asignature = response.data.data.asignature;
        this.asignatureExist = true;
      })
      .catch(error => {
        console.log(error);
        this.asignatureExist = false;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post(BASE_URL + "/graphql", {
          query: `{
                    asignature(id: ${this.id}){
                        id
                        asignatureName
                        asignatureType
                        classroom
                        credits
                        independentHours
                        key
                        semester
                        academicHours
                    }
                }`
        })
        .then(response => {
          this.asignature = response.data.data.asignature;
          this.asignatureExist = true;
        })
        .catch(error => {
          console.log(error);
          this.asignatureExist = false;
        });
    }
  }
};
</script>
