<template>
  <div>
    <div class="block" style="padding: 50px 0px 50px 0px">
      <div class="row block-section" id="container">
        <section id="memo">
          <div class="company-name centro">
            <span>
              COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN
              <br /><span class="text-uppercase">{{departamento}}</span>
            </span>
            <div class="right-arrow"></div>
          </div>
          <div class="logo">
            <img src="/assets/img/logo.png" alt="comesi-logo" />
          </div>
          <div class="company-info">
            <div>
              <span
                class="centro"
              >Almendros # 1103,Col. Las Flores, C.P. 68050, Santa Lucia del Camino,Oax.</span>
            </div>
            <div>RFC: AVA140717NW5 LAS AGUILAS CON VALOR A.C.</div>
            <div>R&eacute;gimen General de Ley Personas Morales.</div>
            <div>Teléfono: 044 951 461 0486</div>
          </div>
        </section>
        <div class="clearfix"></div>
      </div>
      <slot />
    </div>
  </div>
</template>
<script>
export default {
  props:{
    departamento: String
  }
};
</script>
<style scoped>
.centro {
  text-align: center;
}
p {
  margin-bottom: 10px;
}
p.apartado {
  margin-bottom: 20px;
  margin-top: 20px;
  font-weight: bold;
  color: black;
}
p.linea {
  text-decoration: underline;
}
.titulo {
  font-weight: bold;
  color: black;
}
.izquierda {
  text-align: right;
}
.mt {
  margin-top: 50px;
}

.bordes {
  border: rgb(0, 0, 0) 1px solid;
  margin-bottom: 4px;
}
.m-lados {
  margin-left: 15px;
  margin-right: 15px;
}
.baner-white {
  background: #ffffff;

  padding: 10px 20px;
  margin-bottom: 150px;
}
p.reducido {
  font-size: 9pt;
}
p.grande {
  font-size: 16pt;
}
/*! Invoice Templates @author: Invoicebus @email: info@invoicebus.com @web: https://invoicebus.com @version: 1.0.0 @updated: 2015-03-09 09:03:07 @license: Invoicebus */
/* Reset styles
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,400italic,600,700&subset=cyrillic,cyrillic-ext,latin,greek-ext,greek,latin-ext,vietnamese");
 */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

ol,
ul {
  list-style: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

caption,
th,
td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

q,
blockquote {
  quotes: none;
}
q:before,
q:after,
blockquote:before,
blockquote:after {
  content: "";
  content: none;
}

a img {
  border: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
main,
menu,
nav,
section,
summary {
  display: block;
}

/* Invoice styles */
/**
 * DON'T override any styles for the <html> and <body> tags, as this may break the layout.
 * Instead wrap everything in one main <div id="container"> element where you may change
 * something like the font or the background of the invoice
 */

/** 
 * IMPORTANT NOTICE: DON'T USE '!important' otherwise this may lead to broken print layout.
 * Some browsers may require '!important' in oder to work properly but be careful with it.
 */
.clearfix {
  display: block;
  clear: both;
}

.hidden {
  display: none;
}

b,
strong,
.bold {
  font-weight: bold;
}
img {
  display: block;
  margin: auto;
  width: 100%;
  max-width: 100%;
}
#container {
  font: normal 13px/1.4em "Open Sans", Sans-serif;
  margin: 0 auto;
  padding: 0px 17px 0px 17px;
}

#memo .company-name {
  background: #8ba09e url("/assets/img/arrows.png") 95% center no-repeat;
  background-size: 100px auto;
  padding: 10px 20px;
  position: relative;
  margin-bottom: 15px;
}
#memo .company-name span {
  color: white;
  display: inline-block;
  min-width: 20px;
  font-size: 10px;
  font-weight: bold;
  line-height: 1em;
}
#memo .company-name .right-arrow {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  width: 100px;
  background: url("/assets/img/right-arrow.png") right center no-repeat;
  background-size: auto 60px;
}
#memo .logo {
  float: left;
  clear: left;
  margin-left: 20px;
}
#memo .logo img {
  width: 70px;
  height: 60px;
}
#memo .company-info {
  margin-left: 20px;
  float: left;
  font-size: 12px;
  color: #8b8b8b;
}
#memo .company-info div {
  margin-bottom: 3px;
  min-width: 20px;
}
#memo .company-info span {
  text-align: center;
  display: inline-block;
  min-width: 20px;
}
#memo:after {
  content: "";
  display: block;
  clear: both;
}

#invoice-info {
  float: left;
  margin: 25px 0 0 20px;
}
#invoice-info > div {
  float: left;
}
#invoice-info > div > span {
  display: block;
  min-width: 20px;
  min-height: 18px;
  margin-bottom: 3px;
}
#invoice-info > div:last-child {
  margin-left: 20px;
}
#invoice-info:after {
  content: "";
  display: block;
  clear: both;
}

#client-info {
  float: right;
  margin: 5px 20px 0 0;
  min-width: 220px;
  text-align: right;
}
#client-info > div {
  margin-bottom: 3px;
  min-width: 20px;
}
#client-info span {
  display: block;
  min-width: 20px;
}

#invoice-title-number {
  text-align: center;
  margin: 20px 0;
}
#invoice-title-number span {
  display: inline-block;
  min-width: 20px;
}
#invoice-title-number #title {
  margin-right: 15px;
  text-align: right;
  font-size: 20px;
  font-weight: bold;
}
#invoice-title-number #number {
  font-size: 15px;
  text-align: left;
}

table {
  table-layout: fixed;
}
table th,
table td {
  vertical-align: top;
  word-break: keep-all;
  word-wrap: break-word;
}

#items {
  margin: 20px 0 35px 0;
}
#items .first-cell {
  width: 18px;
  text-align: right;
}
#items table {
  border-collapse: separate;
  width: 100%;
}
#items table th {
  padding: 12px 10px;
  text-align: right;
  background: #e6e7e7;
}
.tr-border {
  border-bottom: 4px solid #487774;
}

#items table th:nth-child(2) {
  width: 30%;
  text-align: left;
}
#items table th:last-child {
  text-align: right;
}
#items table td {
  padding: 15px 10px;
  text-align: right;
  border-right: 1px solid #cccccf;
}

#items table td:nth-child(2) {
  text-align: left;
}
#items table td:last-child {
  border-right: 0 !important;
  padding-right: 20px !important;
}

.currency {
  /*border-bottom: 4px solid #487774;*/
  padding: 0 20px;
}
.currency span {
  font-size: 11px;
  font-style: italic;
  color: #8b8b8b;
  display: inline-block;
  min-width: 20px;
}

#sums {
  float: right;
  background-size: auto 100px;
  color: white;
}
#sums table tr th,
#sums table tr td {
  min-width: 100px;
  padding: 8px 20px 8px 35px;
  text-align: right;
  font-weight: 600;
}
#sums table tr th {
  text-align: left;
  padding-right: 25px;
}
#sums table tr.amount-total th {
  text-transform: uppercase;
}
#sums table tr.amount-total th,
#sums table tr.amount-total td {
  font-size: 16px;
  font-weight: bold;
}
#sums table tr:last-child th {
  text-transform: uppercase;
}
#sums table tr:last-child th,
#sums table tr:last-child td {
  font-size: 16px;
  font-weight: bold;
  padding-top: 20px !important;
  padding-bottom: 40px !important;
}

#terms {
  margin: 50px 20px 10px 20px;
}
#terms > span {
  display: inline-block;
  min-width: 20px;
  font-weight: bold;
}
#terms > div {
  margin-top: 10px;
  min-height: 50px;
  min-width: 50px;
}

.payment-info {
  margin: 0 20px;
}
.payment-info div {
  font-size: 12px;
  color: #8b8b8b;
  display: inline-block;
  min-width: 20px;
}

.ib_bottom_row_commands {
  margin: 10px 0 0 20px !important;
}

.ibcl_tax_value:before {
  color: white !important;
}
table tr:nth-child(0) {
  text-align: center;
}

/**
 * If the printed invoice is not looking as expected you may tune up
 * the print styles (you can use !important to override styles)
 */
@media print {
  /* Here goes your print styles */
  #memo .company-name {
    background: rgb(255, 255, 255) 560px center no-repeat;
    background-size: 100px auto !important;
    padding: 10px 20px !important;
    position: relative !important;
    margin-bottom: 15px !important;
  }
  #memo .company-name span {
    color: black !important;
    display: inline-block !important;
    min-width: 20px !important;
    font-size: 10px !important;
    font-weight: bold !important;
    line-height: 1em !important;
  }
  #memo .company-name .right-arrow {
    position: absolute !important;
    top: 0 !important;
    right: 0 !important;
    bottom: 0 !important;
    width: 100px !important;
    background-size: auto 60px !important;
  }
}
</style>