<template>
  <div>
    <div class="row">
      <div class="content-header">
        <div class="row">
          <div class="col-sm-6">
            <div class="header-section">
              <h1>{{title}}</h1>
            </div>
          </div>
          <div class="col-sm-6 hidden-xs text-right">
            <div class="header-section">
              <div class="block-options pull-right"></div>
              <a class="btn btn-effect-ripple btn-default">
                <i class="fa fa-print">Imprimir</i>
              </a>
            </div>
          </div>
        </div>
      </div>
      <slot />
    </div>
  </div>
</template>
<script>
export default {
    props:{
      title: String
    }
}
</script>