.college-name{
    background: #8BA09E;
    background-size: 100px auto;
    padding: 10px 20px;
    position: relative;
    margin-bottom: 15px;
    font: normal 13px/1.4em 'Open Sans', Sans-serif;
}
.college-name span {
    color: white;
    display: inline-block;
    min-width: 20px;
    font-size: 14px;
    font-weight: bold;
    line-height: 1em;
}
.college-name .right-arrow {
    position: absolute;
    top:-4px;
    right: 0px;
}
.college-name .arrows {
    position: absolute;
    top:-4px;
    right: 15px;
}
.college-info{
    position: relative;
}
.info{
    position: absolute;
    top: 5px;
    left: 150px;
}
.title{
    margin-top:40px;
    text-align: center;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    font-family: sans-serif;
    color: dimgray;

}
.subtitle{
    text-align: center;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 550;
    font-family: sans-serif;
}
.content{
    margin-top: 80px;
}
.gray-section{
    background-color: #E6E7E7;
    padding: 20px;
    border-bottom: 4px solid #487774;
}
th{
    padding: 16px;
    font-weight: 600;
}
.white-section{
    padding-top: 30px;
    border-bottom: 4px solid #487774;
}

#sums {
    float: right;
    background: #8BA09E -17px bottom no-repeat;
    background-size: auto 100px;
    color: white;
  }
  #sums table tr th, #sums table tr td {
    min-width: 80px;
    padding: 8px 20px 8px 35px;
    text-align: right;
    font-weight: 600;
  }
  #sums table tr th {
    text-align: left;
    padding-right: 25px;
  }
  #sums table tr.amount-total th {
    text-transform: uppercase;
  }
  #sums table tr.amount-total th, #sums table tr.amount-total td {
    font-size: 16px;
    font-weight: bold;
  }
  #sums table tr:last-child th {
    text-transform: uppercase;
  }
  #sums table tr:last-child th, #sums table tr:last-child td {
    font-size: 16px;
    font-weight: bold;
  }


  .form{
    font-size: 17px;
    font-weight: 500;
    line-height: 18px;
  }

  .lineada{
    border-bottom: 1px solid black;
  }

  .respuesta{
    margin-left: 20px;
    width: 100%;
  }
  .contacto-info{
    font-size: 17px;
  }
  .signatures{
    margin-top: 200px;
    margin-right: 40px;
  }
  .student-signature{
    border-top: 1px solid black;
    text-align: center;
  }
