<template>
  <div>
    <block title="SOLICITUD DE BECA">
      <form action method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div class="form-group">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified clickable-steps">
              <li :class="{active: menu==0}" @click="menu=0">
                <a>
                  <i class="fa fa-user"></i>
                  <strong>Datos del Estudiante</strong>
                </a>
              </li>
              <li :class="{active: menu==1}" @click="menu=1">
                <a>
                  <i class="fa fa-pencil-square-o"></i>
                  <strong>Datos de la beca</strong>
                </a>
              </li>
              <li :class="{active: menu==2}" @click="menu=2">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Datos Socio-Económicos</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="step" v-show="menu==0">
          <div class="row" style="margin:15px;">
            <div class="col align-self-center">
              <a
                id="frame"
                class="btn btn-success"
                style="border-radius:10px;width:200px;"
                data-toggle="modal"
                data-target="#modal-usuario"
                @click="getUser=true"
              >
                <i class="fa fa-search" style="font-size:60px;"></i>&nbsp;&nbsp;Buscar Estudiante
              </a>
            </div>
          </div>
          <input type="hidden" id="user-id" name="user-id" value />
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-username">Nombres:</label>
            <div class="col-md-8">
              <span
                id="form-first-name"
                class="text-uppercase form-control"
              >{{ user?user.firstName:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-email">Apellido Paterno:</label>
            <div class="col-md-8">
              <span
                id="form-second-name"
                class="text-uppercase form-control"
              >{{ user?user.secondName:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-email">Apellido Materno:</label>
            <div class="col-md-8">
              <span
                id="form-last-name"
                class="text-uppercase form-control"
              >{{ user?user.lastName:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-password">Email:</label>
            <div class="col-md-8">
              <span id="form-email" class="form-control">{{ user?user.email:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-password">CURP:</label>
            <div class="col-md-8">
              <span id="form-curp" class="text-uppercase form-control">{{ user?user.curp:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-password2">Tel&eacute;fono:</label>
            <div class="col-md-8">
              <span id="form-cell-phone" class="form-control">{{ user?user.cellphone:""}}</span>
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-2 control-label"
              for="example-clickable-password2"
            >Matr&iacute;cula:</label>
            <div class="col-md-4">
              <span
                id="form-matricula"
                class="form-control text-uppercase"
              >{{ user?user.registration:""}}</span>
            </div>
          </div>
        </div>
        <!-- END First Step -->

        <!-- Second Step -->
        <div class="step" v-show="menu==1">
          <div class="row" style="margin: 0px">
            <div class="form-group col-md-6">
              <label class="col-md-4 control-label" for="example-clickable-firstname">Alumno de:</label>
              <div class="col-md-8">
                <select name id class="form-control">
                  <option value="0">Nuevo Ingreso</option>
                  <option value="1">Reingreso</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label
                class="col-md-4 control-label"
                for="example-clickable-lastname"
              >Ha solicitado la beca anteriormente?</label>
              <div class="col-md-8">
                <select name id class="form-control">
                  <option value="0">Si</option>
                  <option value="1">No</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-2 control-label" for="example-clickable-country">Porcentaje:</label>
              <div class="col-md-4">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-md-4 control-label" for="example-clickable-country">Beca Solicitada:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-md-4 control-label" for="example-clickable-country">Porcentaje:</label>
              <div class="col-md-8">
                <input type="number " class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <!-- END Second Step -->

        <!-- Third Step -->
        <div class="step" v-show="menu==2">
          <div class="row" style="margin: 0px">
            <div class="form-group col-md-6">
              <label class="col-md-4 control-label" for="example-clickable-firstname">Trabaja Actualmente:</label>
              <div class="col-md-8">
                <select name id class="form-control">
                  <option value="0">No</option>
                  <option value="1">Si</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-6">
              <label
                class="col-md-4 control-label"
                for="example-clickable-lastname"
              >Total de ingresos mensual:</label>
              <div class="col-md-8">
                <input type="number" class="form-control">
              </div>
            </div>
            <div class="form-group col-md-12">
              <label class="col-md-2 control-label" for="example-clickable-country">Nombre de la empresa:</label>
              <div class="col-md-10">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-md-4 control-label" for="example-clickable-country">Puesto:</label>
              <div class="col-md-8">
                <input type="text" class="form-control" />
              </div>
            </div>
            <div class="form-group col-md-6">
              <label class="col-md-4 control-label" for="example-clickable-country">Años de Antigüedad:</label>
              <div class="col-md-8">
                <input type="number" class="form-control" />
              </div>
            </div>
          </div>
        </div>
        <!-- END Third Step -->

        <!-- Form Buttons -->
        <div class="form-group form-actions" style="margin: 0px 10px -10px 10px">
          <div class="text-center">
            <button
              type="reset"
              @click="prevStep"
              class="btn btn-effect-ripple btn-danger"
              id="back1"
              style="margin-right:10px"
            >
              <i class="fa fa-reply"></i>Regresar
            </button>
            <button
              type="button"
              @click="nextStep"
              class="btn btn-effect-ripple btn-primary"
              id="next1"
            >
              <i class="fa fa-share"></i>Siguiente
            </button>
          </div>
        </div>
      </form>
      <!-- END Form Buttons -->

      <!-- Search User Modal -->
      <div
        id="modal-usuario"
        class="modal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
        data-backdrop="static"
        data-keyboard="false"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width:1000px">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                @click="getUser=false"
                data-dismiss="modal"
                aria-hidden="true"
              >&times;</button>
              <h3 class="modal-title">
                <strong>B&uacute;scar Usuario</strong>
              </h3>
            </div>
            <div class="modal-body">
              <search-student v-if="getUser" v-on:changed="user=$event" />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-effect-ripple btn-primary"
                data-dismiss="modal"
                @click="getUser=false"
              >Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END Search User Modal -->
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import SearchStudent from "../shared/SearchStudent.vue";
import Swal from "sweetalert2";

export default {
  data: function() {
    return {
      menu: 0,
      user: undefined,
      getUser: false
    };
  },
  methods: {
    nextStep: function() {
      if (this.menu < 2) this.menu++;
      else if (this.user) {
        if (this.activity) {
          let loader = this.$loading.show({ canCancel: false });
          var data = {
            user_id: this.user.id,
            activity_id: this.activity.id,
            beca_percent_inscription: this.beca,
            beca_percent_tuition: this.becaColegiatura,
            type_payment: this.selectedPaymentForm,
            cycle_id: 0,
            invoice: Boolean(this.statusInvoice)
          };
          axios
            .post("/actividad/registrar/usuario", { data: data })
            .then(function(response) {
              loader.hide();
              if (response.data.status == "200") {
                Swal.fire(
                  "Exito!",
                  "El usuario se registró correctamente!",
                  "success"
                ).then(result => {
                  if (result.value) {
                    window.open(
                      BASE_URL +
                        `/reporte/inscrito/actividad/${response.data.data.id}.pdf`
                    );
                    window.location.reload();
                  }
                });
              } else {
                Swal.fire("Error!", "" + response.data.msg, "error");
              }
            })
            .catch(function(response) {
              loader.hide();
              Swal.fire(
                "Error!",
                "Ocurrio un error al comunicarse con el servidor",
                "error"
              );
            });
        } else {
          Swal.fire({
            icon: "error",
            title: "Favor de seleccionar una actividad"
          });
        }
      } else {
        Swal.fire({
          icon: "error",
          title: "Favor de seleccionar un usuario"
        });
      }
    },
    prevStep: function() {
      if (this.menu > 0) this.menu--;
    }
  },
  props: {
    title: String
  },
  mounted() {
    axios
      .post("/graphql", {
        query: "{ typePayments{id name}}"
      })
      .then(response => {
        this.typePayments = response.data.data.typePayments;
      })
      .catch(error => {
        Swal.fire(
          "Error!",
          "Ocurrio un error al comunicarse con el servidor",
          "error"
        );
      });
  },
  components: {
    Block,
    SearchStudent
  }
};
</script>

<style scoped>
a:hover {
  cursor: pointer;
}
</style>
