<template>
  <div>
    <block :title="'Beca Escolar'" v-if="scolarship">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Porcentaje(%):</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" class="form-control" v-model="scolarship.amount" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Descripción:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" v-model="scolarship.description" />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Tipo de Beca:</label>
        <div class="col-md-4">
          <div class="input-group">
            <select v-model="scolarship.typeScolarshipId" class="form-control">
              <option
                v-for="typeScolarship in typeScolarships"
                :key="typeScolarship.id"
                :value="typeScolarship.id"
              >{{typeScolarship.name}}</option>
            </select>
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <button
            style="margin-top:20px"
            type="button"
            class="btn btn-primary btn-custom"
            @click="guardar()"
          >
            <i class="fa fa-save" /> Guardar
          </button>
          <router-link
            :to="'/becas'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      scolarship: undefined,
      typeScolarships: undefined
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                    scolarship(id: ${this.id}) {
                        id
                        amount
                        description
                        typeScolarshipId
                        typeScolarship {
                        name
                        }
                    }
                }`
      })
      .then(response => {
        this.scolarship = response.data.data.scolarship;
      });
    axios
      .post(BASE_URL + "/graphql", { query: "{typeScolarships{id name}}" })
      .then(response => {
        this.typeScolarships = response.data.data.typeScolarships;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
                    scolarship(id: ${this.id}) {
                        id
                        amount
                        description
                        typeScolarshipId
                        typeScolarship {
                        name
                        }
                    }
                }`
        })
        .then(response => {
          this.scolarship = response.data.data.scolarship;
        });
    }
  },
  methods: {
    guardar: function() {
      var scolar = {
        amount: this.scolarship.amount,
        description: this.scolarship.description,
        type_scolarship_id: this.scolarship.typeScolarshipId
      };
      if (this.scolarship.description)
        if (this.scolarship.typeScolarshipId)
          axios
            .put(BASE_URL + "/scolarships/" + this.scolarship.id, {
              scolarship: scolar
            })
            .then(response => {
              if (response.data.status == "200")
                Swal.fire({
                  title: "Éxito!",
                  text: response.data.msg,
                  type: "success"
                }).then(result => {
                  if (result.value) window.location = BASE_URL + "#/becas";
                });
              else {
                var errors = "";
                for (var [key, value] of Object.entries(response.data.msg)) {
                  errors += `${value} `;
                }
                Swal.fire({
                  title: "Error!",
                  text: errors,
                  type: "error"
                });
              }
            });
        else
          Swal.fire({
            title: "Error!",
            text: "El tipo de beca es requerido",
            type: "error"
          });
      else
        Swal.fire({
          title: "Error!",
          text: "La descripcion es requerida",
          type: "error"
        });
    }
  }
};
</script>