<template>
  <block title="Becas Escolares" buttonRef="#/becas/crear" buttonTitle="Agregar Beca Escolar">
    <v-client-table :data="scolarships" :columns="columns" :options="options">
      <div slot="administration" slot-scope="props">
        <router-link :to="'becas/ver/'+props.row.id">
          <i class="fa fa-eye i-admin i-admin-read"></i>
        </router-link>
        <router-link :to="'becas/editar/'+props.row.id">
          <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
        </router-link>
        <a @click="eliminar(props.row.id)">
          <i class="fa fa-trash i-admin i-admin-delete"></i>
        </a>
      </div>
      <div slot="amount" slot-scope="props">{{props.row.amount}}%</div>
    </v-client-table>
  </block>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      scolarships: [],
      columns: [
        "typeScolarship.name",
        "description",
        "amount",
        "administration"
      ],
      options: {
        headings: {
          "typeScolarship.name": "Tipo de beca",
          description: "Descripción",
          amount: "Porcentaje",
          administration: "Administración"
        },
        sortable: ["typeScolarship.name", "description", "amount"],
        filterable: ["typeScolarship.name", "description", "amount"],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `{
                    scolarships{
                        id
                        amount
                        description
                        typeScolarship{
                        name
                        }
                    }
                }`
      })
      .then(response => {
        this.scolarships = response.data.data.scolarships;
      })
      .catch(error => {
        console.log(error);
      });
  },
  components: {
    Block
  },
  methods: {
    eliminar: function(id) {
      Swal.fire({
        title: "¿Estas seguro?",
        text: "El registro será eliminado",
        type: "warning",
        showCancelButton: true,
        confirmButtonColor: "#3085d6",
        cancelButtonColor: "#d33",
        confirmButtonText: "Si",
        cancelButtonText: "Cancelar"
      }).then(result => {
        if (result.value)
          axios.delete(BASE_URL + "/scolarships/" + id).then(response => {
            if (response.data.status == "200")
              Swal.fire({
                title: "Éxito",
                text: response.data.msg,
                type: "success"
              }).then(result => {
                if (result.value) window.location.reload();
              });
          });
      });
    }
  }
};
</script>