<template>
  <div>
    <block :title="'Beca Escolar'" v-if="scolarship">
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Porcentaje(%):</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="number" class="form-control" v-model="scolarship.amount" readonly />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <label class="col-md-2 control-label text-right">Descripción:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" v-model="scolarship.description" readonly />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" style="margin-top:20px">
        <label class="col-md-2 control-label text-right">Tipo de Beca:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input type="text" class="form-control" v-model="scolarship.typeScolarship.name" readonly />
            <span class="input-group-addon">
              <i class="gi gi-user" />
            </span>
          </div>
        </div>
        <div class="col-md-12 text-center">
          <router-link
            :to="'/becas'"
            style="margin-top:20px"
            class="mx-auto btn btn-primary btn-custom"
          >
            <i class="fa fa-reply" /> Regresar
          </router-link>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
export default {
  data() {
    return {
      id: this.$attrs.id,
      scolarship: undefined
    };
  },
  components: {
    Block
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                    scolarship(id: ${this.id}) {
                        id
                        amount
                        description
                        typeScolarship {
                        name
                        }
                    }
                }`
      })
      .then(response => {
        this.scolarship = response.data.data.scolarship;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `{
                    scolarship(id: ${this.id}) {
                        id
                        amount
                        description
                        typeScolarship {
                        name
                        }
                    }
                }`
        })
        .then(response => {
          this.scolarship = response.data.data.scolarship;
        });
    }
  }
};
</script>