<%= form_with(model: concerted_qualification, local: true) do |form| %>
  <% if concerted_qualification.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concerted_qualification.errors.count, "error") %> prohibited this concerted_qualification from being saved:</h2>

      <ul>
      <% concerted_qualification.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :student_id %>
    <%= form.number_field :student_id %>
  </div>

  <div class="field">
    <%= form.label :schedule_id %>
    <%= form.number_field :schedule_id %>
  </div>

  <div class="field">
    <%= form.label :modality_id %>
    <%= form.number_field :modality_id %>
  </div>

  <div class="field">
    <%= form.label :assistance_first_partial %>
    <%= form.text_field :assistance_first_partial %>
  </div>

  <div class="field">
    <%= form.label :assistance_second_partial %>
    <%= form.text_field :assistance_second_partial %>
  </div>

  <div class="field">
    <%= form.label :assistance_third_partial %>
    <%= form.text_field :assistance_third_partial %>
  </div>

  <div class="field">
    <%= form.label :score_first_partial %>
    <%= form.text_field :score_first_partial %>
  </div>

  <div class="field">
    <%= form.label :score_second_partial %>
    <%= form.text_field :score_second_partial %>
  </div>

  <div class="field">
    <%= form.label :score_third_partial %>
    <%= form.text_field :score_third_partial %>
  </div>

  <div class="field">
    <%= form.label :ordinary %>
    <%= form.number_field :ordinary %>
  </div>

  <div class="field">
    <%= form.label :extraordinary %>
    <%= form.number_field :extraordinary %>
  </div>

  <div class="field">
    <%= form.label :assistence_final %>
    <%= form.number_field :assistence_final %>
  </div>

  <div class="field">
    <%= form.label :score_final %>
    <%= form.number_field :score_final %>
  </div>

  <div class="field">
    <%= form.label :semester %>
    <%= form.number_field :semester %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
