<h1>Editing Concerted Qualification</h1>

<%= render 'form', concerted_qualification: @concerted_qualification %>

<%= link_to 'Show', @concerted_qualification %> |
<%= link_to 'Back', concerted_qualifications_path %>
