<p id="notice"><%= notice %></p>

<h1>Concerted Qualifications</h1>

<table>
  <thead>
    <tr>
      <th>Student</th>
      <th>Schedule</th>
      <th>Modality</th>
      <th>Assistance first partial</th>
      <th>Assistance second partial</th>
      <th>Assistance third partial</th>
      <th>Score first partial</th>
      <th>Score second partial</th>
      <th>Score third partial</th>
      <th>Ordinary</th>
      <th>Extraordinary</th>
      <th>Assistence final</th>
      <th>Score final</th>
      <th>Semester</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concerted_qualifications.each do |concerted_qualification| %>
      <tr>
        <td><%= concerted_qualification.student_id %></td>
        <td><%= concerted_qualification.schedule_id %></td>
        <td><%= concerted_qualification.modality_id %></td>
        <td><%= concerted_qualification.assistance_first_partial %></td>
        <td><%= concerted_qualification.assistance_second_partial %></td>
        <td><%= concerted_qualification.assistance_third_partial %></td>
        <td><%= concerted_qualification.score_first_partial %></td>
        <td><%= concerted_qualification.score_second_partial %></td>
        <td><%= concerted_qualification.score_third_partial %></td>
        <td><%= concerted_qualification.ordinary %></td>
        <td><%= concerted_qualification.extraordinary %></td>
        <td><%= concerted_qualification.assistence_final %></td>
        <td><%= concerted_qualification.score_final %></td>
        <td><%= concerted_qualification.semester %></td>
        <td><%= link_to 'Show', concerted_qualification %></td>
        <td><%= link_to 'Edit', edit_concerted_qualification_path(concerted_qualification) %></td>
        <td><%= link_to 'Destroy', concerted_qualification, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concerted Qualification', new_concerted_qualification_path %>
