<p id="notice"><%= notice %></p>

<p>
  <strong>Student:</strong>
  <%= @concerted_qualification.student_id %>
</p>

<p>
  <strong>Schedule:</strong>
  <%= @concerted_qualification.schedule_id %>
</p>

<p>
  <strong>Modality:</strong>
  <%= @concerted_qualification.modality_id %>
</p>

<p>
  <strong>Assistance first partial:</strong>
  <%= @concerted_qualification.assistance_first_partial %>
</p>

<p>
  <strong>Assistance second partial:</strong>
  <%= @concerted_qualification.assistance_second_partial %>
</p>

<p>
  <strong>Assistance third partial:</strong>
  <%= @concerted_qualification.assistance_third_partial %>
</p>

<p>
  <strong>Score first partial:</strong>
  <%= @concerted_qualification.score_first_partial %>
</p>

<p>
  <strong>Score second partial:</strong>
  <%= @concerted_qualification.score_second_partial %>
</p>

<p>
  <strong>Score third partial:</strong>
  <%= @concerted_qualification.score_third_partial %>
</p>

<p>
  <strong>Ordinary:</strong>
  <%= @concerted_qualification.ordinary %>
</p>

<p>
  <strong>Extraordinary:</strong>
  <%= @concerted_qualification.extraordinary %>
</p>

<p>
  <strong>Assistence final:</strong>
  <%= @concerted_qualification.assistence_final %>
</p>

<p>
  <strong>Score final:</strong>
  <%= @concerted_qualification.score_final %>
</p>

<p>
  <strong>Semester:</strong>
  <%= @concerted_qualification.semester %>
</p>

<%= link_to 'Edit', edit_concerted_qualification_path(@concerted_qualification) %> |
<%= link_to 'Back', concerted_qualifications_path %>
