<%= form_with(model: workplace, local: true) do |form| %>
  <% if workplace.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(workplace.errors.count, "error") %> prohibited this workplace from being saved:</h2>

      <ul>
      <% workplace.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :phone %>
    <%= form.text_field :phone %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
