<p id="notice"><%= notice %></p>

<h1>Workplaces</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Phone</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @workplaces.each do |workplace| %>
      <tr>
        <td><%= workplace.name %></td>
        <td><%= workplace.phone %></td>
        <td><%= workplace.status %></td>
        <td><%= link_to 'Show', workplace %></td>
        <td><%= link_to 'Edit', edit_workplace_path(workplace) %></td>
        <td><%= link_to 'Destroy', workplace, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Workplace', new_workplace_path %>
