<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @workplace.name %>
</p>

<p>
  <strong>Phone:</strong>
  <%= @workplace.phone %>
</p>

<p>
  <strong>Status:</strong>
  <%= @workplace.status %>
</p>

<%= link_to 'Edit', edit_workplace_path(@workplace) %> |
<%= link_to 'Back', workplaces_path %>
