<p id="notice"><%= notice %></p>

<h1>Emergency Contacts</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Cell phone</th>
      <th>Telephone</th>
      <th>Relationship</th>
      <th>Student</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @emergency_contacts.each do |emergency_contact| %>
      <tr>
        <td><%= emergency_contact.name %></td>
        <td><%= emergency_contact.cell_phone %></td>
        <td><%= emergency_contact.telephone %></td>
        <td><%= emergency_contact.relationship %></td>
        <td><%= emergency_contact.student_id %></td>
        <td><%= emergency_contact.status %></td>
        <td><%= link_to 'Show', emergency_contact %></td>
        <td><%= link_to 'Edit', edit_emergency_contact_path(emergency_contact) %></td>
        <td><%= link_to 'Destroy', emergency_contact, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Emergency Contact', new_emergency_contact_path %>
