<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @emergency_contact.name %>
</p>

<p>
  <strong>Cell phone:</strong>
  <%= @emergency_contact.cell_phone %>
</p>

<p>
  <strong>Telephone:</strong>
  <%= @emergency_contact.telephone %>
</p>

<p>
  <strong>Relationship:</strong>
  <%= @emergency_contact.relationship %>
</p>

<p>
  <strong>Student:</strong>
  <%= @emergency_contact.student_id %>
</p>

<p>
  <strong>Status:</strong>
  <%= @emergency_contact.status %>
</p>

<%= link_to 'Edit', edit_emergency_contact_path(@emergency_contact) %> |
<%= link_to 'Back', emergency_contacts_path %>
