<%= form_with(model: module_activity, local: true) do |form| %>
  <% if module_activity.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(module_activity.errors.count, "error") %> prohibited this module_activity from being saved:</h2>

      <ul>
      <% module_activity.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>


  <div class ='row form-group'>
    <div class = "col-md-4">
      <div class="input-group field">
        <%= form.label :name %>
        <%= form.text_field :name %>
        <span class="input-group-addon field">
          <i class ="fa fa-calendar-o"></i>
        </span>
      </div>
    </div>
  </div>

  <div class ='row form-group'>
    <div class = "col-md-4">
      <div class="input-group field">
        <%= form.label :fecha_limit_payment %>
        <%= form.date_select :fecha_limit_payment %>
        <span class="input-group-addon field">
          <i class ="fa fa-calendar-o"></i>
        </span>
      </div>
    </div>
  </div>


  <div class ='row form-group'>
    <div class = "col-md-4">
      <div class="input-group field">
        <%= form.label :fecha_activity %>
        <%= form.date_select :fecha_activity %>
        <span class="input-group-addon field">
          <i class ="fa fa-calendar-o"></i>
        </span>
      </div>
    </div>
  </div>


  <div class ='row form-group'>
    <div class = "col-md-4">
      <div class="input-group field">
        <%= form.label :activity_id %>
        <%= form.text_field :activity_id %>
        <span class="input-group-addon field">
          <i class ="fa fa-calendar-o"></i>
        </span>
      </div>
    </div>
  </div>

  <div class='form-group form-actions text-center'>  
    <button type ="submit" class ="btn btn-custom btn-primary btn-effect-ripple">
      <i class="fa fa-save">
      Guardar </i>

  </div>
  <div class="btn btn-custom btn-primary btn-effect-ripple text-center">
    <%= link_to'', module_activities_path %>Atras  
  </div>
<% end %>
