<p id="notice"><%= notice %></p>

<h1>Module Activities</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Fecha limit payment</th>
      <th>Fecha activity</th>
      <th>Activity</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @module_activities.each do |module_activity| %>
      <tr>
        <td><%= module_activity.name %></td>
        <td><%= module_activity.fecha_limit_payment %></td>
        <td><%= module_activity.fecha_activity %></td>
        <td><%= module_activity.activity_id %></td>
        <td><%= link_to 'Show', module_activity %></td>
        <td><%= link_to 'Edit', edit_module_activity_path(module_activity) %></td>
        <td><%= link_to 'Destroy', module_activity, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Module Activity', new_module_activity_path %>
