<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @module_activity.name %>
</p>

<p>
  <strong>Fecha limit payment:</strong>
  <%= @module_activity.fecha_limit_payment %>
</p>

<p>
  <strong>Fecha activity:</strong>
  <%= @module_activity.fecha_activity %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @module_activity.activity_id %>
</p>

<%= link_to 'Edit', edit_module_activity_path(@module_activity) %> |
<%= link_to 'Back', module_activities_path %>
