= form_with(model: type_payment, local: true) do |form|
  -if type_payment.errors.any?
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3 Ocurrio un error al guardar el registro:
      %ul 
        - type_payment.errors.full_messages.each do |message|
          %li= message

  %div{:class => 'row form-group'}
    %div{:class => 'col-md-2'}
    %label{:class => "col-md-2 control-label"}Nombre:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.text_field :name,class: "form-control",required: 'true'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-credit-card-alt"}
  %div{:class => 'form-group form-actions text-center'}
    = button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    %a{:href => type_payments_path,:class => 'btn btn-custom btn-primary'}
      %i{:class => 'fa fa-reply'}
      Regresar