%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Tipos de pago
      %a{:href => new_type_payment_path ,:class => "btn btn-custom btn-primary pull-right"}
        %i{:class => 'fa fa-plus'} 
        Agregar Nuevo 
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
    %div{:class => "table-responsive"}
      %table{:id=>'#table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th Nombre
            %th Administraci&oacute;n
        %tbody
          - @type_payments.each do |type_payment|
            %tr
              %td= type_payment.name
              %td
                = link_to type_payment do
                  %i{:class => "fa fa-eye i-admin i-admin-read"}
                = link_to edit_type_payment_path(type_payment) do
                  %i{:class => "fa fa-pencil-square-o i-admin i-admin-edit"}
                %i{:id => type_payment.id, :class => "i-admin btn-eliminar fa fa-trash-o i-admin-delete"}              
- content_for :javascript do
  = javascript_include_tag 'type_payments'                      