%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Agregar Tipo de Pago :
                = @type_payment.name
        %div{:class => 'form-horizontal form-bordered col-12'} 
            %span{:id => "notice"}= notice 

            = render 'form', type_payment: @type_payment