%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Tipo de pago : 
      = @type_payment.name
  %div{:class => 'row form-horizontal form-bordered'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'row form-group'}
      %label{:class => "col-md-4 control-label"}Nombre:
      %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @type_payment.name
    %div{:class => 'row form-group form-actions text-center'}
      %a{:href => edit_type_payment_path(@type_payment),:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-pencil-square-o'}
        Editar
      %a{:href => type_payments_path,:class => 'btn btn-custom btn-primary'}  
        %i{:class => "fa fa-reply"} 
        Regresar