<%= form_with(model: concept_payment, local: true) do |form| %>
  <% if concept_payment.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(concept_payment.errors.count, "error") %> prohibited this concept_payment from being saved:</h2>

      <ul>
      <% concept_payment.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :cost %>
    <%= form.text_field :cost %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
