<p id="notice"><%= notice %></p>

<h1>Concept Payments</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Description</th>
      <th>Cost</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @concept_payments.each do |concept_payment| %>
      <tr>
        <td><%= concept_payment.name %></td>
        <td><%= concept_payment.description %></td>
        <td><%= concept_payment.cost %></td>
        <td><%= link_to 'Show', concept_payment %></td>
        <td><%= link_to 'Edit', edit_concept_payment_path(concept_payment) %></td>
        <td><%= link_to 'Destroy', concept_payment, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Concept Payment', new_concept_payment_path %>
