<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @concept_payment.name %>
</p>

<p>
  <strong>Description:</strong>
  <%= @concept_payment.description %>
</p>

<p>
  <strong>Cost:</strong>
  <%= @concept_payment.cost %>
</p>

<%= link_to 'Edit', edit_concept_payment_path(@concept_payment) %> |
<%= link_to 'Back', concept_payments_path %>
