= form_with(model: teacher, local: true) do |form|
  -if teacher.errors.any?
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3{:style => 'margin-top:0px'} Ocurrio un error al guardar el registro:
      %ul
        -teacher.errors.full_messages.each do |message|
          %li= message

  %div{:class => 'row form-group'}
    %label{:class => "col-md-1 control-label"}Nombre:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.text_field :first_name,class: "form-control",:required => 'true',placeholder: 'Nombre'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-user"}

    %label{:class => "col-md-1 control-label"}Apellido Paterno:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.text_field :second_name,class: "form-control",:required => 'true',placeholder: 'Apellido Paterno'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-user"}
    
    %label{:class => "col-md-1 control-label"}Apellido Materno:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.text_field :last_name,class: "form-control",:required => 'true',placeholder: 'Apellido Materno'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-user"}

  %div{:class => 'row form-group'}
    %label{:class => "col-md-1 control-label"}Curp:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.text_field :curp,class: "form-control",:required => 'true',placeholder: ''
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-newspaper-o"}

    %label{:class => "col-md-1 control-label"}Sexo:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.select :sexo, options_for_sex,{:include_blank => '--Seleccione el sexo--'},{:class => 'form-control',required: 'true'} 
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-neuter"}
    
    %label{:class => "col-md-1 control-label"}Teléfono:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.telephone_field :cell_phone,class: "form-control",:required => 'true',placeholder: ''
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-phone-square"}
          
  %div{:class => 'row form-group'}
    %label{:class => "col-md-1 control-label"}Perfil Profecional:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.text_field :profile_professional,class: "form-control",:required => 'true',placeholder: ''
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-black-tie"}
    %label{:class => "col-md-1 control-label"}Maestría:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.select :master, options_for_master,{:include_blank => '--Estado del documento--'},{:class => 'form-control',required: 'true'} 
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-graduation-cap"}
    %label{:class => "col-md-1 control-label"}Doctorado:
    %div{:class => "col-md-3"}
      %div{:class =>"input-group"}
        = form.select :doctorate, options_for_doctorate,{:include_blank => '--Estado del documento--'},{:class => 'form-control',required: 'true'} 
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-graduation-cap"}
  %div{:class => 'row form-group'}
    %label{:class => "col-md-1 control-label"}Fecha de nacimiento:
    %div{:class => "col-md-2"}
      %div{:class =>"input-group"}
        = form.date_field :birth_day,class: "form-control"
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-calendar"}
    %label{:class => "col-md-1 control-label"}Correo:
    %div{:class => "col-md-2"}
      %div{:class =>"input-group"}
        = form.email_field :email,class: "form-control",:required => 'true'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-envelope-square"}
    %label{:class => "col-md-1 control-label"}Password:
    %div{:class => "col-md-2"}
      %div{:class =>"input-group"}
        = form.password_field :password,class: "form-control",:required => 'true',value: '123456'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-asterisk"}
    %label{:class => "col-md-1 control-label"}Confirmar Password:
    %div{:class => "col-md-2"}
      %div{:class =>"input-group"}
        = form.password_field :password_confirmation,class: "form-control",:required => 'true',value: '123456'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-asterisk"}
  %div{:class => 'form-group form-actions text-center'} 
    =  button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    %a{:href => teachers_path,:class => "btn btn-custom btn-primary"}  
      %i{:class =>"fa fa-reply"} 
      Regresar
