%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Editar Profesor:

        %div{:class => 'form-horizontal form-bordered col-12'} 
                 
            = render 'form', teacher: @teacher
            
