%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Profesores
      -if can? :create, Teacher
        %a{:href => "/#/docente/registro",:class => "btn btn-custom btn-primary pull-right"} 
          %i{:class => 'fa fa-plus'}
          Agregar Profesor
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
    %div{:class => "table-responsive"}
      %table{:id=>'table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th Nombre
            %th Licenciatura
            %th Especialidad
            %th Maestria
            %th Doctorado
            %th Administraci&oacute;n
        %tbody
          - @teachers.each do |teacher|
            %tr 
              %td.text-uppercase= "#{teacher.user.first_name} #{teacher.user.second_name} #{teacher.user.last_name} "
              %td= teacher.licenciatura
              - if teacher.specialty!=""
                %td 
                  =teacher.specialty
              - else
                %td
                  %span.label.label-warning No aplica
              - if teacher.master!=""
                %td 
                  =teacher.master
              - else
                %td
                  %span.label.label-warning No aplica
              - if teacher.doctorate!=""
                %td 
                  =teacher.doctorate
              - else
                %td
                  %span.label.label-warning No aplica
              %td
                .row
                  -if can? :read, Teacher
                    .col-xs-4
                      %a{:href =>"/#/docente/ver/#{teacher.id}",:class => ''}
                        %i{:class => "fa fa-eye i-admin i-admin-read"}
                  -if can? :update, Teacher
                    .col-xs-4
                      %a{:href =>"/#/docente/actualizar/#{teacher.id}",:class => ''}
                        %i{:class => "fa fa-pencil-square-o i-admin i-admin-edit"}
                  -if can? :destroy, Teacher
                    .col-xs-4
                      %i{:id => teacher.id, :class => "i-admin btn-eliminar fa fa-trash-o i-admin-delete"}
- content_for :javascript do
  = javascript_include_tag 'teachers'      