# %div{:class => "block"}
#   %div{:class => "block-title"}
#     %h2 
#       Profesor: 
#       = "#{@teacher.first_name} #{@teacher.second_name} #{@teacher.last_name}"
#   %div{:class => 'row form-horizontal form-bordered'}
#     - if notice != nil
#       %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
#         %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
#         %p= notice
#     %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#       .form-group
#         %label.col-md-1.control-label.text-uppercase{for: "example-input1-group1"} Nombre
#         .col-md-5
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-user
#             %input#example-input1-group1.form-control.text-uppercase{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.user.first_name} #{@teacher.user.second_name} #{@teacher.user.last_name} " }
#         %label.col-md-1.control-label{for: "example-input1-group1"} Curp
#         .col-md-4
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-newspaper-o
#             %input#example-input1-group1.form-control.text-uppercase{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.curp}"}
        
#       %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#       .form-group
#         %label.col-md-1.control-label{for: "example-input1-group1"} Fecha de nacimiento
#         .col-md-2
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-calendar
#             %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text",value: "#{@teacher.birth_day}"} 
#         %label.col-md-1.control-label{for: "example-input1-group1"} Teléfono local
#         .col-md-3
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-phone-square
#             %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.phone} " }
#         %label.col-md-1.control-label{for: "example-input1-group1"} Teléfono celular
#         .col-md-2
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-phone-square
#             %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.cell_phone}"}
        
#       %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#       .form-group
#         %label.col-md-1.control-label{for: "example-input1-group1"} Sexo
#         .col-md-2
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-neuter
#             %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text",value: "#{@teacher.sexo}"}
#         %label.col-md-1.control-label{for: "example-input1-group1"} Correo
#         .col-md-3
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-envelope-square
#             %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.email} " }
#         %label.col-md-1.control-label{for: "example-input1-group1"} Estado
#         .col-md-2
#           .input-group
#             -if @teacher.status==1
#               %span.input-group-addon
#                 %i.fa.fa-check-square-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "Activo"}
#             -else
#               %span.input-group-addon
#                 %i.fa.fa-check-square-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "inactivo"}
#       %div{:class => 'form-group col-md-12'}
#         %h4{:class => "col-md-6 "}Formación Profesional
#       %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#       .form-group
#         %label.col-md-1.control-label{for: "example-input1-group1"} Licenciatura
#         .col-md-4
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-graduation-cap
#             %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.licenciatura} " }
#         %label.col-md-2.control-label{for: "example-input1-group1"} Cédula profesional
#         .col-md-4
#           .input-group
#             %span.input-group-addon
#               %i.fa.fa-keyboard-o
#             %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.identification_licenciatura}"}

#       %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#       .form-group
#         %label.col-md-1.control-label{for: "example-input1-group1"} Especialidad
#         .col-md-4
#           .input-group
#             -if @teacher.specialty!=""
#               %span.input-group-addon
#                 %i.fa.fa-graduation-cap
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.specialty}"}
#             -else
#               %span.input-group-addon
#                 %i.fa.fa-graduation-cap
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "No aplica"}
#         %label.col-md-2.control-label{for: "example-input1-group1"} Cédula de grado
#         .col-md-4
#           .input-group
#             -if @teacher.identification_specialty!=""
#               %span.input-group-addon
#                 %i.fa.fa-keyboard-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.identification_specialty}"}
#             -else
#               %span.input-group-addon
#                 %i.fa.fa-keyboard-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "No aplica"}
#       %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#       .form-group
#         %label.col-md-1.control-label{for: "example-input1-group1"} Maestría
#         .col-md-4
#           .input-group
#             -if @teacher.master!=""
#               %span.input-group-addon
#                 %i.fa.fa-graduation-cap
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.master}"}
#             -else
#               %span.input-group-addon
#                 %i.fa.fa-graduation-cap
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "No aplica"}
#         %label.col-md-2.control-label{for: "example-input1-group1"} Cédula de grado
#         .col-md-4
#           .input-group
#             -if @teacher.identification_master!=""
#               %span.input-group-addon
#                 %i.fa.fa-keyboard-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.identification_master}"}
#             -else
#               %span.input-group-addon
#                 %i.fa.fa-keyboard-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "No aplica"}
#       %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#       .form-group
#         %label.col-md-1.control-label{for: "example-input1-group1"} Doctorado
#         .col-md-4
#           .input-group
#             -if @teacher.doctorate!=""
#               %span.input-group-addon
#                 %i.fa.fa-graduation-cap
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.doctorate}"}
#             -else
#               %span.input-group-addon
#                 %i.fa.fa-graduation-cap
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "No aplica"}
#         %label.col-md-2.control-label{for: "example-input1-group1"} Cédula de grado
#         .col-md-4
#           .input-group
#             -if @teacher.identification_doctorate!=""
#               %span.input-group-addon
#                 %i.fa.fa-keyboard-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.identification_doctorate}"}
#             -else
#               %span.input-group-addon
#                 %i.fa.fa-keyboard-o
#               %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "No aplica"}
  
#     %div{:class => 'form-group col-md-12'}
#       %h4{:class => "col-md-6 "}Domicilio

#     %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#     .form-group
#       %label.col-md-1.control-label{for: "example-input1-group1"} Calle
#       .col-md-4
#         .input-group
#           %span.input-group-addon
#             %i.hi.hi-home
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.address.street} " }
#       %label.col-md-1.control-label{for: "example-input1-group1"} Número exterior
#       .col-md-2
#         .input-group
#           %span.input-group-addon
#             %i.fa.fa-hashtag
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.address.number_out}"}
#       %label.col-md-1.control-label{for: "example-input1-group1"} Número interior
#       .col-md-2
#         .input-group
#           %span.input-group-addon
#             %i.fa.fa-hashtag
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.address.number_in}"}
#     %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#     .form-group
#       %label.col-md-1.control-label{for: "example-input1-group1"} Codigo postal
#       .col-md-2
#         .input-group
#           %span.input-group-addon
#             %i.hi.hi-map-marker
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text",value: "#{@teacher.address.code_postal}"} 
#       %label.col-md-1.control-label{for: "example-input1-group1"} Colonia
#       .col-md-3
#         .input-group
#           %span.input-group-addon
#             %i.hi.hi-home
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.address.colony} " }
#       %label.col-md-1.control-label{for: "example-input1-group1"} Municipio
#       .col-md-2
#         .input-group
#           %span.input-group-addon
#             %i.hi.hi-home
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.address.municipality}"}
      
#     %form.form-horizontal.form-bordered{action: "page_forms_components.html", method: "post", onsubmit: "return false;"}
#     .form-group
#       %label.col-md-1.control-label{for: "example-input1-group1"} Estado
#       .col-md-2
#         .input-group
#           %span.input-group-addon
#             %i.hi.hi-home
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text",value: "#{@teacher.address.state}"}
#       %label.col-md-1.control-label{for: "example-input1-group1"} Ciudad
#       .col-md-3
#         .input-group
#           %span.input-group-addon
#             %i.hi.hi-home
#           %input#example-input1-group1.form-control{name: "example-input1-group1", placeholder: "Username", type: "text" ,value: "#{@teacher.address.city} " }

#     %div{:class => 'form-group'}
#       %h4{:class => "col-md-6 "}Documentación
#     %div{:class => 'form-group col-md-4 text-center',style: "height:550px;max-height:550px"}
#       %label Acta de Nacimiento:
#       -if @teacher.document_birth.attached? && @teacher.document_birth.previewable?
#         %div
#           = link_to @teacher.document_birth,target: "_blank" do
#             = image_tag @teacher.document_birth.preview(resize: "300x600 ")
#         %label{:class => "btn btn-primary"}= link_to 'Descargar' , @teacher.document_birth, {style: "color:white",target: "_blank"}      
#       -else
#         %label Documento faltante
        
#     %div{:class => 'form-group col-md-4 text-center',style: "height:550px;max-height:550px"}
#       %label INE:
#       -if @teacher.document_ine.attached? && @teacher.document_ine.previewable?
#         %div
#           = link_to @teacher.document_ine,target: "_blank" do
#             = image_tag @teacher.document_ine.preview(resize: "300x600")
#         %label{:class => "btn btn-primary"}= link_to 'Descargar' , @teacher.document_ine, {style: "color:white",target: "_blank"}
#       -else
#         %label Documento faltante
    
#     %div{:class => 'form-group col-md-4 text-center',style: "height:550px;max-height:550px"}
#       %label CURP:
#       -if @teacher.document_curp.attached? && @teacher.document_curp.previewable?
#         %div
#           = link_to @teacher.document_curp,target: "_blank" do
#             = image_tag @teacher.document_curp.preview(resize: "300x600")
#         %label{:class => "btn btn-primary"}= link_to 'Descargar' , @teacher.document_curp, {style: "color:white",target: "_blank"}
#       -else
#         %label Documento faltante
    
#     %div{:class => 'form-group col-md-4 text-center',style: "height:550px;max-height:550px"}
#       %label Curriculum Vitae:
#       -if @teacher.document_curriculum.attached? && @teacher.document_curriculum.previewable?
#         %div{style: "height:450px;max-height:450px"}
#           = link_to @teacher.document_curriculum,target: "_blank" do
#             = image_tag @teacher.document_curriculum.preview(resize: "300x600")
#         %label{:class => "btn btn-primary"}= link_to 'Descargar' , @teacher.document_curriculum, {style: "color:white",target: "_blank"}    
#       -else
#         %label Documento faltante

#     %div{:class => 'form-group col-md-4 text-center',style: "height:550px;max-height:550px"}
#       %label Curriculum Vitae:
#       -if @teacher.document_curriculum.attached? && @teacher.document_curriculum.previewable?
#         %div{style: "height:450px;max-height:450px"}
#           = link_to @teacher.document_curriculum,target: "_blank" do
#             = image_tag @teacher.document_curriculum.preview(resize: "300x600")
#         %label{:class => "btn btn-primary"}= link_to 'Descargar' , @teacher.document_curriculum, {style: "color:white",target: "_blank"}    
#       -else
#         %label Documento faltante    
    
#     %div{:class => 'form-group form-actions  text-center col-md-12'}
#       %a{:href =>"/#/docente/actualizar/#{@teacher.id}",:class => 'btn btn-custom btn-primary'}
#         %i{:class => "fa fa-pencil-square-o"}
#         Editar 
      
#       %a{:href => teachers_path,:class => "btn btn-custom btn-primary"} 
#         %i{:class => 'fa fa-reply'}
#         Regresar                      