<template>
    <div>
        <block :title="'Crear nueva Instalacion'">
            <div class="row">
                <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Nombre:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="insta"
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class=" form-group form-actions" style="margin:0px 10px -10px 10px;">
                    <div class="text-center">
                        <button
                            type="button"
                            href="#/instalaciones"
                            @click="guardar"
                            class="btn btn-effect-ripple btn-success"
                            style="margin-bottom:1px"
                        >
                            <i class="fa fa-save"></i>Guardar
                        </button>   
                        <a
                            href="#/instalaciones"
                            class="btn btn-effect-ripple btn-primary"
                            style="margin-bottom:1px"
                            ><i class="fa fa-reply"></i>Regresar</a
                        >
                    </div>
                </div>
        </block>
    </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
    data() {
        return {
        insta: "",
        };
    },
    components:{
        Block
    },
    methods:{
        guardar: function(){
            
            if(this.insta != '')
                axios
                .post(BASE_URL+"/installations",{
                    name: this.insta
                })
                .then(response =>{     
                                 
                    if (response.status == 200)
                        Swal.fire({
                            title: "Éxito!",
                            text: response.data.msg,
                            icon: "success"
                        }).then(result => {
                            window.location = BASE_URL + "/#/instalaciones/";
                        });
                    else {
                        var errors = "";
                        for (var [key, value] of Object.entries(
                            response.data.msg
                        )) {
                            errors += `${key} ${value} `;
                        }
                        Swal.fire({
                            title: "Error!",
                            text: errors,
                            icon: "error"
                        });
                    }
                });
        }
    }
    
}
</script>