<template>
  <div>
      <block :title="'Instalacion:'">
          <div class="row">
              <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Nombre:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="instalation.name"
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                </div>
          </div>
          <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <button
            type="button"
            @click="guardar"
            href="#/instalaciones"
            class="btn btn-effect-ripple btn-success"
            style="margin-bottom:1px"
          >
            <i class="fa fa-save" />Guardar
          </button>
          <a
            href="#/instalaciones"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
      </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      instalation: {
        id: "",
        name:""
      },
    };
  },
  components: {
    Block
  },
  methods: {
    guardar: function() {
      let insta = {
        id: this.instalation.id,
        name: this.instalation.name,
      };
      axios
        .put(BASE_URL + "/installations/" + this.instalation.id + ".json", { installation: insta })
        .then(function(response) {
          window.location = BASE_URL + "/#/instalaciones";
          if (response.data.status == 200)
            Swal.fire({
              title: "Exito",
              icon: "success",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location = BASE_URL + "/#/instalaciones";
            });
          else if (response.data.status == "500")
            Swal.fire({
              title: "Error",
              icon: "error",
              text: response.data.msg
            });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                installation(id:${ this.$route.params.id })
                {
                    id
                    name
                }
            }`
      })
      .then(response => {
        this.instalation = response.data.data.installation;
      })
      .catch(error => {
        console.log(error);
      });
  },
};
</script>