<template>
  <div>
    <block
      title="Instalaciones"
      buttonTitle="Agregar Instalacion"
      buttonRef="#/instalaciones/crear">
      <v-client-table :data="instalations" :columns="columns" :options="options" v-if="instalations">
        <div slot="administration" slot-scope="props">
          <router-link :to="'/instalaciones/ver/' + props.row.id">
            <i class="fa fa-eye i-admin i-admin-read"></i>
          </router-link>
          <router-link :to="'/instalaciones/editar/' + props.row.id">
            <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
          </router-link>
          <a @click="eliminar(props.row.id)">
            <i class="fa fa-trash i-admin i-admin-delete"></i>
          </a>
        </div>
      </v-client-table>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
    data(){
        return{
            instalations: [],
            columns:[
                "id",
                "name",
                "administration"
            ],
            options:{
                headings:{
                    id:"id",
                    name:"Nombre",
                    administration:"administración"
                },
                sortable:["id","name"],
                filterable:["id","name"],
                texts:{
                    count:"",
                    first:"primero",
                    last:"segundo",
                    filter:"Buscar:",
                    filterBy:"",
                    filterPlaceholder: "",
                    loading: "Cargando...",
                    limit: "Límite de registros:",
                    noResults: "Sin Resultados."
                }
            }
        };
    },
    methods:{
        eliminar: function(id){
            Swal.fire({
                title: "¿Estas seguro?",
                text: "El registro será eliminado",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si",
                cancelButtonText: "Cancelar"
            }).then(result =>{
                if(result.value)
                    axios.delete(BASE_URL +"/installations/" +id+".json").then(response =>{
                        if(response.status == 204)
                            Swal.fire({
                                title: "Éxito",
                                text: response.data.msg,
                                icon: "success"
                            }).then(result=>{
                                window.location.reload();            
                            });
                    });
            });
        },
        getInstallations: function(){
            axios
            .post("/graphql",{
                query:`{
                    installations{
                        id
                        name
                    }
                }`
            }).then(response =>{
                if(response.status=="200")
                    this.instalations = response.data.data.installations;
                else
                    Swal.fire({
                        title:"Error",
                        body:response.data.errors.message,
                        icon:"error"
                    }); 
            }).catch(error =>{
                Swal.fire({
                    title: "Error",
                    icon: "error"
                });
            });
        }  
    },
    mounted(){
        this.getInstallations();
    },
    components:{
        Block
    }
};
</script>