<template>
  <div>
      <block :title="'Instalacion:'">
          <div class="row">
              <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Nombre:</label>
                    <div class="col-md-3">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="instalation.name"
                            readonly
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                </div>
          </div>
          <div class="form-group form-actions" style="margin:0px 10px -10px 10px;">
        <div class="text-center">
          <a
            href="#/instalaciones"
            class="btn btn-effect-ripple btn-primary"
            style="margin-bottom:1px"
          >
            <i class="fa fa-reply"></i>Regresar
          </a>
        </div>
      </div>
      </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      instalation: {
        id: "",
        name:""
      },
    };
  },
  components: {
    Block
  },
  methods: {
  },
  created() {
    axios
      .post(BASE_URL + "/graphql", {
        query: `{
                installation(id:${ this.$route.params.id })
                {
                    id
                    name
                }
            }`
      })
      .then(response => {
        this.instalation = response.data.data.installation;
      })
      .catch(error => {
        console.log(error);
      });
  },
};
</script>