<p id="notice"><%= notice %></p>

<h1>Addresses</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Street</th>
      <th>Number out</th>
      <th>Number in</th>
      <th>Code postal</th>
      <th>Colony</th>
      <th>Municipality</th>
      <th>State</th>
      <th>City</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @addresses.each do |address| %>
      <tr>
        <td><%= address.user_id %></td>
        <td><%= address.street %></td>
        <td><%= address.number_out %></td>
        <td><%= address.number_in %></td>
        <td><%= address.code_postal %></td>
        <td><%= address.colony %></td>
        <td><%= address.municipality %></td>
        <td><%= address.state %></td>
        <td><%= address.city %></td>
        <td><%= address.status %></td>
        <td><%= link_to 'Show', address %></td>
        <td><%= link_to 'Edit', edit_address_path(address) %></td>
        <td><%= link_to 'Destroy', address, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Adress', new_address_path %>
