<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @address.owner.id %>
</p>

<p>
  <strong>Street:</strong>
  <%= @address.street %>
</p>

<p>
  <strong>Number out:</strong>
  <%= @address.number_out %>
</p>

<p>
  <strong>Number in:</strong>
  <%= @address.number_in %>
</p>

<p>
  <strong>Code postal:</strong>
  <%= @address.code_postal %>
</p>

<p>
  <strong>Colony:</strong>
  <%= @address.colony %>
</p>

<p>
  <strong>Municipality:</strong>
  <%= @address.municipality %>
</p>

<p>
  <strong>State:</strong>
  <%= @address.state %>
</p>

<p>
  <strong>City:</strong>
  <%= @address.city %>
</p>

<p>
  <strong>Status:</strong>
  <%= @address.status %>
</p>

<%= link_to 'Edit', edit_address_path(@address) %> |
<%= link_to 'Back', addresses_path %>
