<%= form_with(model: education_level, local: true) do |form| %>
  <% if education_level.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(education_level.errors.count, "error") %> prohibited this education_level from being saved:</h2>

      <ul>
      <% education_level.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
