<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @education_level.name %>
</p>

<p>
  <strong>Status:</strong>
  <%= @education_level.status %>
</p>

<%= link_to 'Edit', edit_education_level_path(@education_level) %> |
<%= link_to 'Back', education_levels_path %>
