<p id="notice"><%= notice %></p>

<p>
  <strong>Rfc:</strong>
  <%= @administrator.rfc %>
</p>

<p>
  <strong>Number imss:</strong>
  <%= @administrator.number_imss %>
</p>

<p>
  <strong>Position:</strong>
  <%= @administrator.position %>
</p>

<%= link_to 'Edit', edit_administrator_path(@administrator) %> |
<%= link_to 'Back', administrators_path %>
