<template>
  <div>
    <block title="Inscritos en actividades académicas">
      <search-user
        v-on:changed="
          user = $event;
          showModal = true;
        "
      ></search-user>
    </block>
    <div v-if="showModal">
      <div class="modal-mask">
        <div class="modal-wrapper">
          <div class="modal-dialog" role="document">
            <div class="modal-content">
              <div class="modal-header">
                <h4
                  class="modal-title text-uppercase"
                  style="font-weight:bold;display:inline"
                >
                  {{ user.first_name }} {{ user.second_name }}
                  {{ user.last_name }}
                </h4>
                <button
                  type="button"
                  class="close"
                  data-dismiss="modal"
                  aria-label="Close"
                >
                  <span
                    aria-hidden="true"
                    @click="
                      showModal = false;
                      user = undefined;
                    "
                    >&times;</span
                  >
                </button>
              </div>
              <div class="modal-body">
                Seleccione una acción:
                <select v-model="option" class="form-control">
                  <option value="1">Ver pagos</option>
                </select>
                <v-client-table
                  :data="ingresses"
                  :columns="columns"
                  :options="options"
                  v-if="ingresses"
                >
                  <div slot="debit.concept.name" slot-scope="props">
                    <span class="text-uppercase">{{
                      props.row.debit.concept.name
                    }}</span>
                  </div>
                  <div slot="debit.amount" slot-scope="props">
                    <span>$ {{ props.row.debit.amount.toFixed(2) }}</span>
                  </div>
                  <button
                    slot="Administración"
                    data-dismiss="modal"
                    type="button"
                    class="btn btn-success"
                    slot-scope="props"
                    @click="verRecibo(props.row.id)"
                  >
                    <i class="fa fa-angle-double-right">&nbsp;</i>Imprimir
                    recibo
                  </button>
                </v-client-table>
              </div>
              <div class="modal-footer">
                <button
                  type="button"
                  class="btn btn-warning"
                  @click="
                    showModal = false;
                    user = undefined;
                  "
                >
                  Cerrar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import SearchUser from "../shared/SearchUser.vue";
import Swal from "sweetalert2";
export default {
  components: {
    Block,
    SearchUser
  },
  data() {
    return {
      user: undefined,
      showModal: false,
      option: undefined,
      ingresses: undefined,
      columns: [
        "debit.concept.name",
        "typePayment.name",
        "date",
        "debit.amount",
        "Administración"
      ],
      options: {
        headings: {
          "debit.concept.name": "Concepto",
          "typePayment.name": "Método de pago",
          date: "Fecha de pago",
          "debit.amount": "Monto"
        },
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  methods: {
    verRecibo: function(id) {
      window.open(BASE_URL + `/reporte/inscrito/actividad/${id}.pdf`);
    }
  },
  watch: {
    option() {
      var me = this;
      if (this.option == 1)
        axios
          .post("/graphql", {
            query: `{
  assistant(id: ${me.user.id}){
    ingresses{
      id
      date
      debit{
        amount
        concept{
          name
        }
      }
      cycle{
        name
      }
      typePayment{
        name
      }
    }
  }
}`
          })
          .then(response => {
            me.ingresses = response.data.data.assistant.ingresses;
          })
          .catch(error => {
            Swal.fire({
              title: "Ocurrio un error al comunicarse con el servidor",
              icon: "error"
            });
          });
    }
  }
};
</script>

<style>
.modal-mask {
  position: fixed;
  z-index: 9998;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: table;
  transition: opacity 0.3s ease;
}

.modal-wrapper {
  display: table-cell;
  vertical-align: middle;
}
</style>
