<template>
  <block title="Editar Perfil">
    <div class="row">
      <div class="col-md-12">
        <form action="/registrar">
          <div id="validation-first">
            <div class="row">
              <div class="form-group col-sm-6 col-md-4">
                <label class="control-label">
                  Nombre:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control text-uppercase"
                    name="first_name"
                    v-model="user.firstName"
                  />
                  <!--<%= f.text_field :first_name, autofocus: true, class: 'form-control text-uppercase', required: true, id: 'first-name' %>-->
                  <span class="input-group-addon">
                    <i class="gi gi-user"></i>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label class="control-label" for="example-validation-email">
                  Apellido Paterno:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control text-uppercase"
                    name="second_name"
                    v-model="user.secondName"
                  />
                  <!--<%= f.text_field :second_name, autofocus: true, class: 'form-control text-uppercase', required: true ,id: 'second-name' %>-->
                  <span class="input-group-addon">
                    <i class="gi gi-user"></i>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label class="control-label" for="example-validation-password">
                  Apellido Materno:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control text-uppercase"
                    name="last_name"
                    v-model="user.lastName"
                  />
                  <!--<%= f.text_field :last_name, autofocus: true, class: 'form-control text-uppercase',required: true, id: 'last-name' %>-->
                  <span class="input-group-addon">
                    <i class="gi gi-user"></i>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label
                  class="control-label"
                  for="example-validation-confirm-password"
                >
                  Correo:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <input
                    type="email"
                    class="form-control"
                    name="email"
                    v-model="user.email"
                  />
                  <!--<%= f.email_field :email , class: 'form-control', required: true, id: 'email' %>-->
                  <span class="input-group-addon">
                    <i class="gi gi-envelope"></i>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label
                  class="control-label"
                  for="example-validation-confirm-password"
                >
                  CURP:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <input
                    type="text"
                    class="form-control text-uppercase"
                    name="curp"
                    v-model="user.curp"
                  />
                  <!--<%= f.text_field :curp , class: 'form-control text-uppercase', required: true, id: 'curp' %>-->
                  <span class="input-group-addon">
                    <i class="gi gi-user"></i>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label
                  class="control-label"
                  for="example-validation-confirm-password"
                >
                  Tel&eacute;fono:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <input
                    type="number"
                    class="form-control"
                    name="cell_phone"
                    v-model="user.cellPhone"
                  />
                  <!--<%= f.text_field :cell_phone, class: 'form-control', required: true, id: 'cell-phone' %>-->
                  <span class="input-group-addon">
                    <i class="gi gi-iphone"></i>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label class="control-label">
                  Fecha de Nacimiento:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <input
                    type="date"
                    class="form-control"
                    name="birth_day"
                    v-model="user.birthDay"
                  />
                  <span class="input-group-addon">
                    <i class="fa fa-calendar"></i>
                  </span>
                </div>
              </div>
              <div class="form-group col-sm-6 col-md-4">
                <label class="control-label">
                  Sexo:
                  <span class="text-danger">*</span>
                </label>
                <div class="input-group col-sm-12">
                  <select
                    name="sexo"
                    id
                    class="form-control"
                    v-model="user.sexo"
                  >
                    <option value="Masculino">Masculino</option>
                    <option value="Femenino">Femenino</option>
                  </select>
                </div>
              </div>
            </div>
          </div>
          <div class="row" style="margin-top:10px;margin-bottom:10px;">
            <div class="col-md-2 col-md-offset-5">
              <a
                id="#send-register"
                class="btn btn-effect-ripple btn-primary"
                @click="saveProfile"
              >
                <i class="fa fa-save"></i>&nbsp;Guardar
              </a>
            </div>
          </div>
        </form>
      </div>
    </div>
  </block>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  props: ["id"],
  data: function() {
    return {
      user: {}
    };
  },
  mounted: function() {
    axios
      .post("/graphql", {
        query:
          "{ user(id:" +
          this.id +
          "){ id firstName secondName lastName email userName birthDay curp cellPhone sexo }}"
      })
      .then(response => {
        this.user = response.data.data.user;
      })
      .catch(error => {
        console.log(error);
      });
  },
  methods: {
    saveProfile: function() {
      axios
        .post("/graphql", {
          query:
            `mutation {updateUser(
                id:${this.user.id},
                firstName:"${this.user.firstName.toUpperCase()}",
                secondName:"${this.user.secondName.toUpperCase()}",
                lastName:"${this.user.lastName.toUpperCase()}",
                email:"${this.user.email}",
                curp:"${this.user.curp.toUpperCase()}",
                sexo:"${this.user.sexo}",
                cellPhone:"${this.user.cellPhone}",
                birthDay:"${this.user.birthDay}")
            { id 
             firstName
             lastName
             secondName
             email
             curp
             sexo
             cellPhone
             birthDay
             }
            }`
        })
        .then(response => {
          if (response.status == "200") {
            Swal.fire(
              "Exito!",
              "El usuario se actualizó correctamente!",
              "success"
            ).then(result => {
              if (result.value) {
                console.log(response.data.data.updateUser);
                this.user = response.data.data.updateUser;
                
              }
            });
          } else {
            Swal.fire({
              icon: "error",
              title: "Oops...",
              text: "Ha ocurrido un error al actualizar los datos."
            });
          }
        })
        .catch(error => {
          Swal.fire({
            icon: "error",
            title: "Oops...",
            text: "Ha ocurrido un error al actualizar los datos."
          });
        });
    }
  },
  components: {
    Block
  }
};
</script>
