= form_with(model: ingress, local: true) do |form|
  - if ingress.errors.any? 
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3{:style => 'margin-top:0px'} Ocurrio un error al guardar el registro:
      %ul
        -ingress.errors.full_messages.each do |message| 
          %li= message

  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Id adeudo:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.text_field :debit_id,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-asterisk"}

  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Tipo de pago:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :type_pay,TypePayment.all.collect{ |type| [type.name,type.id]},{include_blank: true},{class: "form-control"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-credit-card"}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Fecha:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.date_field :date,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-calendar"}

  %div{:class => 'form-group form-actions text-center'}  
    =  button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    %a{:href => ingresses_path,:class => 'btn btn-custom btn-primary'}
      %i{:class => 'fa fa-reply'}
      Regresar