%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Ingresos
      -#%a{:href => new_ingress_path,:class => "btn btn-custom btn-primary pull-right"} 
        %i{:class => 'fa fa-plus'}Agregar Nuevo 
    %div{:class => "col-12 p-4"}
      %p{:id => "notice"}= notice 
    %div{:class => "table-responsive"}
      %table{:id=>'#table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th Adeudo
            %th Tipo de pago
            %th Fecha
            %th Administraci&oacute;n
        %tbody
          - @ingresses.each do |ingress|
            %tr
              %td= ingress.debit.amount
              %td= ingress.debit.concept.name
              %td= ingress.date
              %td
                = link_to ingress do
                  %i{:class => "fa fa-eye",:style => "font-size:2em;margin-right:2em"}
                -#= link_to edit_ingress_path(ingress) do
                  %i{:class => "fa fa-pencil-square-o",:style => "font-size:2em;margin-right:2em"}
