%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2 Agregar Ingreso 
        %div{:class => 'form-horizontal form-bordered col-12'} 
            %span{:id => "notice"}= notice 

            = render 'form', ingress: @ingress