%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Ingreso: 
      = @ingress.id
  %div{:class => 'row form-horizontal form-bordered '}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'row form-group'}
      %label{:class => "col-md-4 control-label"}Adeudo
      %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @ingresses.debit.amount
    %div{:class => 'row form-group'}
      %label{:class => "col-md-4 control-label"}Tipo de pago:
      %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @ingresses.debit.concept.name

    %div{:class => 'row form-group'}
      %label{:class => "col-md-4 control-label"}Fecha:
      %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @ingresses.date

    %div{:class => 'row form-group form-actions text-center'}
      %a{:href => ingresses_path,:class => 'btn btn-custom btn-primary'}
        %i{:class => 'fa fa-reply'}
        Regresar