<%= form_with(model: study_plan, local: true) do |form| %>
  <% if study_plan.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(study_plan.errors.count, "error") %> prohibited this study_plan from being saved:</h2>

      <ul>
      <% study_plan.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :start_valid_date %>
    <%= form.date_select :start_valid_date %>
  </div>

  <div class="field">
    <%= form.label :finish_valid_date %>
    <%= form.date_select :finish_valid_date %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
