<p id="notice"><%= notice %></p>

<h1>Study Plans</h1>

<table>
  <thead>
    <tr>
      <th>Nombre</th>
      <th>Sufijo</th>
      <th>Fecha de Validez Inicial</th>
      <th>Fecha de Validez Final</th>
      <th>Fecha de Validez Final</th>
      <th>RVOE</th>
      <th>Tipo</th>
      <th>Status</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @study_plans.each do |study_plan| %>
      <tr>
        <td><%= study_plan.name %></td>
        <td><%= study_plan.suffix %></td>
        <td><%= study_plan.start_valid_date %></td>
        <td><%= study_plan.finish_valid_date %></td>
        <td><%= study_plan.rvoe %></td>
        <td><%= study_plan.type %></td>
        <td><%= study_plan.status %></td>
        <td><%= link_to 'Show', study_plan %></td>
        <td><%= link_to 'Edit', edit_study_plan_path(study_plan) %></td>
        <td><%= link_to 'Destroy', study_plan, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Study Plan', new_study_plan_path %>
