<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @study_plan.name %>
</p>

<p>
  <strong>Start valid date:</strong>
  <%= @study_plan.start_valid_date %>
</p>

<p>
  <strong>Finish valid date:</strong>
  <%= @study_plan.finish_valid_date %>
</p>

<p>
  <strong>Status:</strong>
  <%= @study_plan.status %>
</p>

<%= link_to 'Edit', edit_study_plan_path(@study_plan) %> |
<%= link_to 'Back', study_plans_path %>
