<%= form_with(model: tuition, local: true) do |form| %>
  <% if tuition.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(tuition.errors.count, "error") %> prohibited this tuition from being saved:</h2>

      <ul>
      <% tuition.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :activity_id %>
    <%= form.number_field :activity_id %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.date_select :start_date %>
  </div>

  <div class="field">
    <%= form.label :finish_date %>
    <%= form.date_select :finish_date %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
