<p id="notice"><%= notice %></p>

<h1>Tuitions</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Activity</th>
      <th>Start date</th>
      <th>Finish date</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @tuitions.each do |tuition| %>
      <tr>
        <td><%= tuition.name %></td>
        <td><%= tuition.activity_id %></td>
        <td><%= tuition.start_date %></td>
        <td><%= tuition.finish_date %></td>
        <td><%= link_to 'Show', tuition %></td>
        <td><%= link_to 'Edit', edit_tuition_path(tuition) %></td>
        <td><%= link_to 'Destroy', tuition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Tuition', new_tuition_path %>
