<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @tuition.name %>
</p>

<p>
  <strong>Activity:</strong>
  <%= @tuition.activity_id %>
</p>

<p>
  <strong>Start date:</strong>
  <%= @tuition.start_date %>
</p>

<p>
  <strong>Finish date:</strong>
  <%= @tuition.finish_date %>
</p>

<%= link_to 'Edit', edit_tuition_path(@tuition) %> |
<%= link_to 'Back', tuitions_path %>
