= form_with(model: debit, local: true) do |form|
  - if debit.errors.any? 
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3{:style => 'margin-top:0px'} Ocurrio un error al guardar el registro:
      %ul
        -debit.errors.full_messages.each do |message| 
          %li= message

  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Id usuario:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :user_id,User.all.collect{ |type| ["#{type.first_name}  #{type.second_name}  #{type.last_name} ",type.id]},{include_blank: true},{class: "form-control"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-asterisk"}

    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Fecha limite :
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.date_field :limit_date,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-calendar"}

  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Actividad:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :activity_id,Activity.all.collect{ |type| [type.name,type.id]},{include_blank: true},{class: "form-control"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-tag"}

    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Nivel academico:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :level_academic_id,LevelAcademic.all.collect{ |type| [type.name,type.id]},{include_blank: true},{class: "form-control"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-mortar-board"}

  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Cantidad:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.number_field :amount,:step => 0.01,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-dot-circle-o"}

    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Tipo de costo:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :type_cost_id,TypeCost.all.collect{ |type| [type.name,type.id]},{include_blank: true},{class: "form-control"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-asterisk"}

  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Costo total :
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.number_field :total_cost,:step => 0.01,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-usd"}

    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Ciclo :
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :cycle_id,Cycle.all.collect{ |type| [type.name,type.id]},{include_blank: true},{class: "form-control"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-history"}
    
  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Beca :
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.number_field :beca,:step =>10,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-usd"}
    
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}modulo :
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.number_field :module_activity_id,class: "form-control"
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-usd"}
  
  %div{:class => 'row form-group'}
    %div{:class => 'row col-md-6'}
      %label{:class => "col-md-4 control-label"}Concepto de pago:
      %div{:class => "col-md-8"}
        %div{:class =>"input-group"}
          = form.select :concept_id,PayConcept.all.collect{ |type| [type.name,type.id]},{include_blank: true},{class: "form-control"}
          %span{:class =>"input-group-addon"}
            %i{:class =>"fa fa-tag"}
          
  %div{:class => 'form-group form-actions text-center'}  
    =  button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    %a{:href => debits_path,:class => 'btn btn-custom btn-primary'}
      %i{:class =>"fa fa-reply"}  
      Regresar