%div{:class => "row"}
    %div{:class => "block full"}
        %div{:class => "block-title"}
            %h2 Ver adeudos
        %div{:class => 'row'}
            %button{:class => 'btn btn-success',:id => 'frame' }
                %i{:class => 'fa fa-search'} 
                &nbsp;Buscar Usuarios
            %div{:class => 'form-group',:style => 'margin-top:3em'}
                %div{:class => 'col-xs-4'}
                    %input{:type => 'hidden',:id => 'user-id'}
                    %label{:class => 'control-label'}Nombre:
                    %label{:id => 'form-first-name',:class => 'text-uppercase form-control',:display => 'inline'} 
                %div{:class => 'col-xs-4'}
                    %label{:class => 'control-label'}Apellido Paterno:
                    %label{:id => 'form-second-name',:class => 'text-uppercase form-control',:display => 'inline'}
                %div{:class => 'col-xs-4'}
                    %label{:class => 'control-label'}Apellido Materno:
                    %label{:id => 'form-last-name',:class => 'text-uppercase form-control',:display => 'inline'}
                %div{:class => 'col-xs-4'}
                    %label{:class => 'control-label'}Correo:
                    %label{:id => 'form-email',:class => 'form-control',:display => 'inline'}
                %div{:class => 'col-xs-4'}
                    %label{:class => 'control-label'}CURP:
                    %label{:id => 'form-curp',:class => 'text-uppercase form-control',:display => 'inline'}
                %div{:class => 'col-xs-4'}
                    %label{:class => 'control-label'}Telefono celular:
                    %label{:id => 'form-cell-phone',:class => 'form-control',:display => 'inline'}
        %div{:class => 'table-responsive',:id => 'tabla-adeudos'}
            %table{:id=>'#table-1',:class =>'table table-striped table-bordered text-center'}
                %thead
                    %tr 
                        %th Concepto       
                        %th Monto
                        %th Beca
                        %th Total
                        %th Pagar
                %tbody{:id => 'table-body'}         

                                     
    %div{:class => 'modal fade',:id => 'modal-usuario',:'tab-index' => '-1',:role => 'dialog',:'aria-labelledby' => 'exampleModalLabel',:'aria-hidden' => 'true'}  
        %div{:class => 'modal-dialog modal-lg', :role => 'document'}
            %div{:class => 'modal-content'}  
                %div{:class => 'modal-header'}
                    %h2{:class => 'modal-title',:id => 'exampleModalLabel'}B&uacute;squeda de Usuarios
                    %button{:type => 'button',:class => 'close',:'data-dismiss' => 'modal',:'aria-label' => 'close'}
                        %span{:'aria-hidden'=>true} &times;
                %div{:class => 'modal-body'}
                    - @users = Assistant.all
                    = render 'shared/get_users'
                %div{:class => 'modal-footer'}
                    %button{:class => 'btn btn-secondary',:type => 'button',:'data-dismiss' => 'modal'}Cerrar
    %div{:class => 'modal fade',:id => 'modal-confirmar',:'tab-index' => '-1',:role => 'dialog',:'aria-labelledby' => 'exampleModalLabel',:'aria-hidden' => 'true'}  
        %div{:class => 'modal-dialog modal-lg', :role => 'document'}
            %div{:class => 'modal-content'}  
                %div{:class => 'modal-header'}
                    %h2{:class => 'modal-title',:id => 'exampleModalLabel'}Resumen de pago:
                    %button{:type => 'button',:class => 'close',:'data-dismiss' => 'modal',:'aria-label' => 'close'}
                        %span{:'aria-hidden'=>true} &times;
                %div{:class => 'modal-body'}
                    %form{:id => 'modal-pagar', :action => '/pagar/adeudo',:class => 'row form-horizontal form-bordered',:method => 'post', :target => '_blank'}
                        %div{:class => 'col-xs-6'}
                            %input{:id => 'id-modal',:name => 'id',:style=>'display:none'}
                            %input{:id => 'id-cycle',:name => 'cycle_id',:style=>'display:none'}
                            %label{:class => ' col-xs-4',:style => 'display:inline'} Estudiante:
                            %input{:id => 'nombre-modal',:type => 'text',:name => 'nombre',:class => 'col-xs-8 form-control',:readonly => true}

                        %div{:class => 'col-xs-6'} 
                            %label{:class => ' col-xs-4'} Concepto:
                            %input{:id => 'concept-modal',:type => 'text',:name => 'concepto',:class => 'col-xs-8 form-control',:readonly => true}
                        
                        %div{:class => 'col-xs-6'} 
                            %label{:class => ' col-xs-4'} Monto:
                            %input{:id => 'monto-modal',:type => 'text',:name => 'monto-parcial',:class => 'col-xs-8 form-control',:readonly => true}

                        %div{:class => 'col-xs-6'} 
                            %label{:class => ' col-xs-4'} Beca:
                            %input{:id => 'beca-modal',:type => 'number',:step => 1,:min => 0,:max => 100,:name => 'beca',:class => 'col-xs-8 form-control',:readonly => false}

                        %div{:class => 'col-xs-6'} 
                            %label{:class => ' col-xs-4'} Total:
                            %input{:id => 'total-modal',:type => 'text',:name => 'monto',:class => 'col-xs-8 form-control',:readonly => true}    
                        %div{:class => 'col-xs-6'}
                            %label{:class => 'col-xs-4'}Tipo de Pago:
                            = select('type_payment','id',TypePayment.all.collect{ |type| [type.name,type.id]},{},{:class => 'form-control'})
                        %div{:class => 'col-xs-12'}
                            %div{:class => 'row form-group form-actions text-center'}
                                %button{:class => 'btn btn-secondary',:type => 'button',:'data-dismiss' => 'modal'}Cerrar
                                %button{:id => 'confirmar-pago',:class => 'btn btn-primary',:type => 'submit'}Aceptar     
