%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Adeudos
      -#%a{:href => new_debit_path,:class => "btn btn-custom btn-primary pull-right"} 
        %i{:class => 'fa fa-plus'}
        Agregar Nuevo 
    %div{:class => "col-12 p-4"}
      %p{:id => "notice"}= notice 
    %div{:class => "table-responsive"}
      %table{:id=>'#table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th ID
            %th Usuario
            //%th Concepto
            %th Cantidad
            %th Tipo de costo
            %th Fecha limite
            %th Costo total
            %th Ciclo
            %th Administraci&oacute;n
        %tbody
          - @debits.each do |debit|
            %tr
              %td= debit.id
              %td= debit.first_name + debit.last_name + debit.second_name
              //%td
                -if debit.nombre_actividad==nil
                  Sin concepto
                -else
                  = debit.nombre_actividad
              %td
                $
                = debit.amount
              %td= debit.nombre_costo
              %td= debit.limit_date
              %td
                $
                = debit.total_cost
              %td= debit.nombre_ciclo
              %td
                = link_to debit do
                  %i{:class => "fa fa-eye",:style => "font-size:2em"}
                = link_to edit_debit_path(debit) do
                  %i{:class => "fa fa-pencil-square-o",:style => "font-size:2em"}
                -#= link_to debit, method: :delete, data: { confirm: 'Estas seguro?' } do
                  %i{:class => "fa fa-trash-o",:style => "font-size:2em"}
