%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Adeudo
  %div{:class => 'row form-horizontal form-bordered'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'row form-group'}
      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Usuario:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= "#{@debit[0].first_name} #{@debit[0].last_name} #{@debit[0].second_name} "

      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Concepto:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @debit[0].nombre_concepto

    %div{:class => 'row form-group'}
      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Actividad:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @debit[0].nombre_actividad

      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Nivel academico:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @debit[0].nombre_nivel

    %div{:class => 'row form-group'}
      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Cantidad:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}
          $
          = @debit[0].amount

      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Tipo de costo:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @debit[0].nombre_costo

    %div{:class => 'row form-group'}
      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Fecha limite:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @debit[0].limit_date

      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Costo total:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}
          $
          = @debit[0].total_cost

    %div{:class => 'row form-group'}
      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Ciclo:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @debit[0].nombre_ciclo
      
      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Beca:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}
          = "#{@debit[0].beca} %" 

    %div{:class => 'row form-group'}
      %div{:class => 'row col-md-6'}
        %label{:class => "col-md-4 control-label"}Modulo:
        %label{:class => "col-md-8 control-label",:style => 'text-align:left'}= @debit[0].module_activity_id
      

    %div{:class => 'row form-group form-actions text-center'}
      %a{:href => edit_debit_path(@debit),:class => 'btn btn-custom btn-primary'}
        %i{:class => "fa fa-pencil-square-o"}
        Editar
      %a{:href => debits_path,:class => 'btn btn-custom btn-primary'}
        %i{:class => "fa fa-reply"}
        Regresar