<%= form_with(model: scolarship, local: true) do |form| %>
  <% if scolarship.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(scolarship.errors.count, "error") %> prohibited this scolarship from being saved:</h2>

      <ul>
      <% scolarship.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :amount %>
    <%= form.text_field :amount %>
  </div>

  <div class="field">
    <%= form.label :description %>
    <%= form.text_field :description %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :scolarship_type_id %>
    <%= form.number_field :scolarship_type_id %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
