<p id="notice"><%= notice %></p>

<h1>Scolarships</h1>

<table>
  <thead>
    <tr>
      <th>Amount</th>
      <th>Description</th>
      <th>Status</th>
      <th>Scolarship type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @scolarships.each do |scolarship| %>
      <tr>
        <td><%= scolarship.amount %></td>
        <td><%= scolarship.description %></td>
        <td><%= scolarship.status %></td>
        <td><%= scolarship.scolarship_type_id %></td>
        <td><%= link_to 'Show', scolarship %></td>
        <td><%= link_to 'Edit', edit_scolarship_path(scolarship) %></td>
        <td><%= link_to 'Destroy', scolarship, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Scolarship', new_scolarship_path %>
