<p id="notice"><%= notice %></p>

<p>
  <strong>Amount:</strong>
  <%= @scolarship.amount %>
</p>

<p>
  <strong>Description:</strong>
  <%= @scolarship.description %>
</p>

<p>
  <strong>Status:</strong>
  <%= @scolarship.status %>
</p>

<p>
  <strong>Scolarship type:</strong>
  <%= @scolarship.scolarship_type_id %>
</p>

<%= link_to 'Edit', edit_scolarship_path(@scolarship) %> |
<%= link_to 'Back', scolarships_path %>
