%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Editar Tipo de Actividad :
                = @type_activity.name
        %div{:class => 'form-horizontal form-bordered col-12'} 
            %span{:id => "notice"}= notice  
            = render 'form', type_activity: @type_activity