%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Tipos de Actividades
      -if can? :read, TypeActivity
        %a{:href => new_type_activity_path ,:class => "btn btn-custom btn-primary pull-right"}
          %i{:class => 'fa fa-plus'} 
          Agregar Nuevo Tipo de Actividad
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
    %div{:class => "table-responsive"}
      %table{:id=>'#table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th Nombre
            %th Descripción
            %th Administración
        %tbody
          - @type_activities.each do |type_activity|
            %tr
              %td= type_activity.name
              %td= type_activity.description
              %td
                -if can? :read, TypeActivity
                  = link_to type_activity do
                    %i{:class => "fa fa-eye i-admin i-admin-read"}
                -if can? :update, TypeActivity
                  = link_to edit_type_activity_path(type_activity) do
                    %i{:class => "fa fa-pencil-square-o i-admin i-admin-edit"}
                -if can? :destroy, TypeActivity
                  %i{:id => type_activity.id, :class => "i-admin btn-eliminar fa fa-trash-o i-admin-delete"}

- content_for :javascript do
  = javascript_include_tag 'type_activities'