%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Agregar Tipo de Actividad
                
        %div{:class => 'form-horizontal form-bordered'} 
            %span{:id => "notice"}= notice 

            = render 'form', type_activity: @type_activity