

%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Tipo de Actividad : 
      = @type_activity.name
  %div{:class => 'row form-horizontal form-bordered'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
        
    %div{:class => 'form-group'}
      %label{:class => "col-md-3 control-label"}Nombre:
      %label{:class => "col-md-9 control-label",:style => 'text-align:left'}= @type_activity.name

    %div{:class => 'form-group'}
      %label{:class => "col-md-3 control-label"}Descripción:
      %label{:class => "col-md-9 control-label",:style => 'text-align:left; word-wrap: break-word;'}= @type_activity.description

    %div{:class => 'form-group form-actions text-center'}

      %a{:href => type_activities_path,:class => 'btn btn-custom btn-warning'}   
        %i{:class => "fa fa-reply"} 
        Regresar

      %a{:href => edit_type_activity_path(@type_activity),:class => 'btn btn-custom btn-primary'}
        %i{:class => "fa fa-pencil-square-o"} 
        Editar
        
      

