<%= form_with(model: level_study, local: true) do |form| %>
  <% if level_study.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(level_study.errors.count, "error") %> prohibited this level_study from being saved:</h2>

      <ul>
      <% level_study.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.number_field :status %>
  </div>

  <div class="field">
    <%= form.label :type %>
    <%= form.text_field :type %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
