<p id="notice"><%= notice %></p>

<h1>Level Studies</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Status</th>
      <th>Type</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @level_studies.each do |level_study| %>
      <tr>
        <td><%= level_study.name %></td>
        <td><%= level_study.status %></td>
        <td><%= level_study.type %></td>
        <td><%= link_to 'Show', level_study %></td>
        <td><%= link_to 'Edit', edit_level_study_path(level_study) %></td>
        <td><%= link_to 'Destroy', level_study, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Level Study', new_level_study_path %>
