= form_with(model: activity, local: true) do |form|
  -if activity.errors.any?
    %div{:id => "error_explanation",:class => "alert alert-warning alert-dismissable"}
      %button{:type => 'button',:class => "close",:'data-dismiss' => 'alert',:'aria-hidden' => 'true'}x
      %h3{:style => 'margin-top:0px'} Ocurrio un error al guardar el registro:
      %ul
        -activity.errors.full_messages.each do |message|
          %li= message

  %div{:class => 'row form-group'}
    %label{:class => "col-md-2 control-label"}Nombre:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.text_field :name,class: "form-control",:required => 'true',placeholder: 'Nombre'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-pencil-square-o"}
    %label{:class => "col-md-1 control-label"}Tipo de actividad:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.select :type_activity_id,TypeActivity.all.collect{ |type| [type.name,type.id]},{:include_blank => '--Seleccione un elemento--'},{class: "form-control",:required => 'true'}
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-newspaper-o"}

  %div{:class => 'row form-group'}
    %label{:class => "col-md-2 control-label"}Fecha de inicio:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.date_field :start_date,class: "form-control"
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-calendar"}

    %label{:class => "col-md-1 control-label"}Fecha de t&eacute;rmino:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.date_field :finish_date,class: "form-control"
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-calendar"}

  %div{:class => 'row form-group'}
    %label{:class => "col-md-2 control-label"}Horas totales:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.number_field :total_hours,class: "form-control",min: 0,placeholder: 'Número de Horas'
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-clock-o"} 

    %label{:class => "col-md-1 control-label"}Tipo de costo:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.select :type_cost_id,TypeCost.all.collect{ |type| [type.name,type.id]},{:include_blank => '--Seleccione un elemento--'},{class: "form-control",required: 'true'}
        %span{:class =>"input-group-addon"}
          %i{:class =>"gi gi-money"}

      -# %input{:type => 'number',:name => 'activity[type_cost_id]'}
      -# = form.number_field :type_cost_id,class: "form-control" 
  %div{:class => 'row form-group'}
    %label{:class => "col-md-2 control-label"}Costo de inscripci&oacute;n:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.number_field :inscription,:step => 0.01,:min => '0',class: "form-control",placeholder: 'Costo de inscripción', required: 'true' 
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-money"}

    %label{:class => "col-md-1 control-label"}Costo de colegiatura:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.number_field :tuition,:step => 0.01,:min => '0',class: "form-control"
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-money"}

  %div{:class => 'row form-group'}
    %label{:class => "col-md-2 control-label"}Estado:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.select :status, options_for_status,{:include_blank => '--Seleccione un elemento--'},{:class => 'form-control',required: 'true'} 
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-check-square-o"}
    %label{:class => "col-md-1 control-label"}Ciclo:
    %div{:class => "col-md-4"}
      %div{:class =>"input-group"}
        = form.select :cycle_id,Cycle.all.collect{ |type| [type.name,type.id]},{:include_blank => '--Seleccione un elemento--'},{class: "form-control",required: 'true'}
        %span{:class =>"input-group-addon"}
          %i{:class =>"fa fa-graduation-cap"}

  
  %div{:class => 'form-group form-actions text-center'} 
    =  button_tag(type: 'submit',class: 'btn btn-custom btn-primary btn-effect-ripple', data: { disable_with: "Espere..."}) do
      %i{:class =>"fa fa-save"}
      Guardar
    %a{:href => activities_path,:class => "btn btn-custom btn-primary"}  
      %i{:class =>"fa fa-reply"} 
      Regresar
- content_for :javascript do
  = javascript_include_tag 'js/module-activities.js'
              

