%div{:class => "row"}
    %div{:class => "block full",:style=>'padding:0px'}
        %div{:class => "block-title",:style=>'margin:0px'}
            %h2 Actividades
        %div{:class => "col-12 p-4"}
            %p{:id => "notice"}= notice 
        %div{:class => "table-responsive"}
            %table{:id=>'table-2',:class => "table table-striped table-bordered table-vcenter text-center"}
                %thead
                    %tr
                        %th Nombre
                        %th Fecha de Inicio
                        %th Fecha de Finalizaci&oacute;n
                        %th Total de Horas
                        %th Seleccionar
                %tbody
                    - @activitys.each do |activity|  
                        %tr
                            %td{:class => 'valor',:style => 'display:none'}= activity.id
                            %td{:class => 'valor'}= activity.name
                            %td{:class => 'valor'}= activity.start_date
                            %td{:class => 'valor'}= activity.finish_date
                            %td{:class => 'valor'}= activity.total_hours
                            %td
                                %button{:class => 'select-activity btn btn-success',:data => {:inscription => activity.inscription,:tuition => activity.tuition, :number_tuition => activity.number_tuition,:cycle_id=>activity.cycle_id}}
                                    %i{:class=>'fa fa-angle-double-right'} &nbsp; Seleccionar
- content_for :javascript do
    = javascript_include_tag 'activities'     