%div{:class => "row"}
  %div{:class => "block full"}
    %div{:class => "block-title"}
      %h2 Actividades
      -if can? :create, Activity
        %a{:href => "/#/crear/actividad",:class => "btn btn-custom btn-primary pull-right"} 
          %i{:class => 'fa fa-plus'}
          Agregar Nueva Actividad
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice
    %div{:class => "table-responsive"}
      %table{:id=>'table-1',:class => "table table-striped table-bordered table-vcenter text-center"}
        %thead
          %tr
            %th Nombre
            %th Tipo de Actividad
            %th Fecha de inicio
            %th Fecha de t&eacute;rmino
            %th Horas totales
            %th Ciclo
            %th Administraci&oacute;n
        %tbody
          - @activities.each do |activity|
            %tr 
              %td= activity.name
              %td= TypeActivity.find(activity.type_activity_id).name  
              %td= activity.start_date
              %td= activity.finish_date
              %td= activity.total_hours
              %td= Cycle.find(activity.cycle_id).name
              %td
                .row
                  -if can? :read , Activity
                    .col-xs-4
                      = link_to activity do
                        %i{:class => "fa fa-eye i-admin i-admin-read"}
                  -if can? :update , Activity
                    .col-xs-4
                      %a{:href => "/#/editar/actividad/#{activity.id}" }
                        %i{:class => "fa fa-pencil-square-o i-admin i-admin-edit"}
                  -if can? :destroy, Activity
                    .col-xs-4
                      %i{:id => activity.id, :class => "i-admin btn-eliminar fa fa-trash-o i-admin-delete"}
                  -if can? :report, Activity
                    .col-xs-4
                      %a{:href => "/constancias/actividades/#{activity.id}.pdf",:target => '_blank' }
                        %i{:class => "fa fa-file-pdf-o i-admin i-admin-read"}
- content_for :javascript do
  = javascript_include_tag 'activities'                 