%div{:class => "row"}
    %div{:class => "block"}
        %div{:class => "block-title"}
            %h2
                Agregar Actividad
        %div{:class => 'form-horizontal form-bordered col-12'} 
            %span{:id => "notice"}= notice    

            = render 'form', activity: @activity
       

            
