%div{:class => "block"}
  %div{:class => "block-title"}
    %h2 
      Actividad: 
      = @activity.name
  %div{:class => 'row form-horizontal form-bordered'}
    - if notice != nil
      %div{:id =>'succes-message', :class => 'alert alert-success alert-dismissible'}
        %button{:type => 'button',:class => 'close',:'data-dismiss' => 'alert',:'aria-hidden' => 'true'} X
        %p= notice

    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Nombre:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= @activity.name 
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Tipo de Actividad:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= TypeActivity.find(@activity.type_activity_id).name
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Fecha de Inicio:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= @activity.start_date
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Fecha de T&eacute;rmino:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= @activity.finish_date
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Horas totales:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= @activity.total_hours
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Tipo de costo:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= TypeCost.find(@activity.type_cost_id).name 
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Costo de inscripci&oacute;n:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}
        $
        = @activity.inscription
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Costo de colegiatura:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}
        $
        = @activity.tuition 
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}N&uacute;mero de colegiaturas:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= @activity.number_tuition
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Estado:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}
        -if @activity.status==1
          Activo
        - else
          Inactivo   
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Ciclo:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= Cycle.find(@activity.cycle_id).name 
    %div{:class => 'form-group col-md-6'}
      %label{:class => "col-md-6 control-label"}Docente:
      %label{:class => "col-md-6 control-label",:style =>'text-align:left'}= "#{@activity.teachers.first.first_name} #{@activity.teachers.first.second_name} #{@activity.teachers.first.last_name}"
    %div{:class => 'form-group col-md-12'}
      %label{:class => "col-md-12 control-label ",:style =>'text-align:left'}Descripci&oacute;n:
      %label{:class => "col-md-12 control-label",:style =>'text-align:left; word-wrap: break-word;'}= @activity.description

    %div{:class => 'form-group form-actions  text-center col-md-12'}

      %a{:href => activities_path,:class => "btn btn-custom btn-warning"} 
        %i{:class => 'fa fa-reply'}
        Regresar

      %a{:href =>"/#/editar/actividad/#{@activity.id}",:class => 'btn btn-custom btn-primary'}
        %i{:class => "fa fa-pencil-square-o"}
        Editar 
      
                            