.marge
{
	margin: 30px;
}
#frame{
	display: block;
	margin: 0px auto !important;
	line-height: 2em;
	border-radius: 10px;
}

#frame i{
	font-size:60px;
}

#tabla-adeudos{
	margin-top: 50px;
}

.btn-custom{
	margin: 10px 10px;
	font-size:2rem;
}
.btn i{
	margin-right: 10px;
}
.btn.pull-right{
	margin: 6px 10px;
}

@media (max-width:600px){
	.btn {
		margin: 10px 10px;
		font-size: 1.5rem;
	}
}

#error_explanation{
	width: 95%;
	margin: 10px auto;
}
#succes-message{
	width: 95%;
	margin: 0 auto;
}
#succes-message p{
	font-size : 2rem;
}
.uppercase{
	text-transform: uppercase;
}
