<template>
    <div>
        <block :title="'Crear nueva Instalacion'">
            <div class="row">
                <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Nombre del ciclo escolar:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="name"
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                    <label class="col-md-2 control-label text-right">Estado:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select class="form-control" v-model="status">
                                <option value=1>Activo</option>
                                <option value=0>Inactivo</option>
                            </select>
                            <span class="input-group-addon">
                            <i class="gi gi-user" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Fecha de inicio:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="date"
                            class="form-control uppercase"
                            v-model="startDate"
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                    <label class="col-md-2 control-label text-right">Fecha de término:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="date"
                            class="form-control uppercase"
                            v-model="finishDate"
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" form-group form-actions" style="margin:0px 10px -10px 10px;">
                    <div class="text-center">
                        <button
                            type="button"
                            href="#/ciclos"
                            @click="guardar"
                            class="btn btn-effect-ripple btn-success"
                            style="margin-bottom:1px"
                        >
                            <i class="fa fa-save"></i>Guardar
                        </button>   
                        <a
                            href="#/ciclos"
                            class="btn btn-effect-ripple btn-primary"
                            style="margin-bottom:1px"
                            ><i class="fa fa-reply"></i>Regresar</a
                        >
                    </div>
                </div>
        </block>
    </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
    data() {
        return {
        name: "",
        status:"",
        startDate:"",
        finishDate:""
        };
    },
    components:{
        Block
    },
    methods:{
        guardar: function(){
            //if(this.insta != '')
                axios
                .post(BASE_URL+"/ciclos",{
                    name: this.name,
                    status:this.status,
                    start_date:this.startDate,
                    finish_date:this.finishDate
                })
                .then(response =>{     
                                 
                    if (response.status == 200)
                        Swal.fire({
                            title: "Éxito!",
                            text: response.data.msg,
                            icon: "success"
                        }).then(result => {
                            window.location = BASE_URL + "/#/ciclos/";
                        });
                    else {
                        var errors = "";
                        for (var [key, value] of Object.entries(
                            response.data.msg
                        )) {
                            errors += `${key} ${value} `;
                        }
                        Swal.fire({
                            title: "Error!",
                            text: errors,
                            icon: "error"
                        });
                    }
                });
        },
        dateDefault: function(){
            let fecha = new Date();
            if(this.startDate == "" && this.finishDate == ""){
                if((fecha.getMonth()+1)<=6){
                        this.startDate = fecha.getFullYear()+"-01-01";
                        this.finishDate = fecha.getFullYear()+"-06-30";
                    }else{
                        this.startDate = fecha.getFullYear()+"-07-01";
                        this.finishDate = fecha.getFullYear()+"-12-30";
                    }
            }
        }
    },
    mounted: function(){
        this.dateDefault();
    }
    
}
</script>