<template>
    <div>
        <block :title="'Crear nueva Instalacion'">
            <div class="row">
                <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Nombre del ciclo escolar:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="text"
                            class="form-control uppercase"
                            v-model="cycles.name"
                            
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                    <label class="col-md-2 control-label text-right">Estado:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                            <select class="form-control" v-model="cycles.status" >
                                <option value=1>Activo</option>
                                <option value=0>Inactivo</option>
                            </select>
                            <span class="input-group-addon">
                            <i class="gi gi-user" />
                            </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="form-group" style="margin-top:20px">
                    <label class="col-md-2 control-label text-right">Fecha de inicio:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="date"
                            class="form-control uppercase"
                            v-model="cycles.startDate"
                            
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>
                    <label class="col-md-2 control-label text-right">Fecha de término:</label>
                    <div class="col-md-4">
                        <div class="input-group">
                        <input
                            type="date"
                            class="form-control uppercase"
                            v-model="cycles.finishDate"
                            
                        />
                        <span class="input-group-addon">
                            <i class="fa fa-certificate" />
                        </span>
                        </div>
                    </div>

                </div>
            </div>
            <div class=" form-group form-actions" style="margin:0px 10px -10px 10px;">
                    <div class="text-center">  
                        <button
                            type="button"
                            href="#/ciclos"
                            @click="guardar"
                            class="btn btn-effect-ripple btn-success"
                            style="margin-bottom:1px"
                        >
                            <i class="fa fa-save"></i>Guardar
                        </button>
                        <a
                            href="#/ciclos"
                            class="btn btn-effect-ripple btn-primary"
                            style="margin-bottom:1px"
                            ><i class="fa fa-reply"></i>Regresar</a
                        >
                    </div>
                </div>
        </block>
    </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
    data() {
        return {
            cycles:{
                id:"",
                name: "",
                status:"",
                startDate:"",
                finishDate:""
            },
        
        };
    },
    components:{
        Block
    },
    methods: {
    guardar: function() {
      let ciclos = {
        id:this.cycles.id,
        name: this.cycles.name,
        status:this.cycles.status,
        start_date: this.cycles.startDate,
        finish_date:this.cycles.finishDate
      };
      axios
        .put(BASE_URL + "/ciclos/" + this.cycles.id + ".json", { cycle: ciclos })
        .then(function(response) {
          window.location = BASE_URL + "/#/ciclos/";
          if (response.data.status == 200)
            Swal.fire({
              title: "Exito",
              icon: "success",
              text: response.data.msg
            }).then(result => {
              if (result.value) window.location = BASE_URL + "/#/ciclos";
            });
          else if (response.data.status == "500")
            Swal.fire({
              title: "Error",
              icon: "error",
              text: response.data.msg
            });
        })
        .catch(error => {
          console.log(error);
        });
    }
  },
    created() {

    axios
      .post(BASE_URL + "/graphql", {
        query: `{
            cycle(id:${ this.$route.params.id }){
                id
                name
                startDate
                finishDate
                status
            }
            }`
      })
      .then(response => {
          
        this.cycles = response.data.data.cycle;
        
      })
      .catch(error => {
        console.log(error);
      });
  },
    
}
</script>