<template>
  <div>
    <block
      title="Ciclos"
      buttonTitle="Agregar Nuevo Ciclo"
      buttonRef="#/ciclos/crear">
      <v-client-table :data="cycle" :columns="columns" :options="options" v-if="cycle">
        <div slot="administration" slot-scope="props">
          <router-link :to="'/ciclos/ver/' + props.row.id">
            <i class="fa fa-eye i-admin i-admin-read"></i>
          </router-link>
          <router-link :to="'/ciclos/editar/' + props.row.id">
            <i class="fa fa-pencil-square-o i-admin i-admin-edit"></i>
          </router-link>
          <a @click="eliminar(props.row.id)">
            <i class="fa fa-trash i-admin i-admin-delete"></i>
          </a>
        </div>
      </v-client-table>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
    data(){
        return{
            cycle: [],
            columns:[
                "id",
                "name",
                "startDate",
                "finishDate",
                "status",
                "administration"
            ],
            options:{
                headings:{
                    id:"id",
                    name:"Nombre",
                    startDate:"Fecha de inicio",
                    finishDate:"Fecha final",
                    status: "Estado",
                    administration:"administración"
                },
                sortable:["id","name","startDate","finishDate","status"],
                filterable:["id","name","startDate","finishDate","status"],
                texts:{
                    count:"",
                    first:"primero",
                    last:"segundo",
                    filter:"Buscar:",
                    filterBy:"",
                    filterPlaceholder: "",
                    loading: "Cargando...",
                    limit: "Límite de registros:",
                    noResults: "Sin Resultados."
                }
            }
        };
    },
    
    methods:{
        eliminar: function(id){
            Swal.fire({
                title: "¿Estas seguro?",
                text: "El registro será eliminado",
                icon: "warning",
                showCancelButton: true,
                confirmButtonColor: "#3085d6",
                cancelButtonColor: "#d33",
                confirmButtonText: "Si",
                cancelButtonText: "Cancelar"
            }).then(result =>{
                
                if("primer console"+result.value)
                    axios.delete(BASE_URL +"/ciclos/"+id+".json").then(response =>{
                        
                        if(response.status == 200)
                            Swal.fire({
                                title: "Éxito",
                                text: response.data.msg,
                                icon: "success"
                            }).then(result=>{
                                window.location.reload();            
                            });
                    });
            });
        },
        getcycles: function(){
            axios
            .post("/graphql",{
                query:`{
                            cycles{
                                id
                                name
                                startDate
                                finishDate
                                status
                            }
                        }`
            }).then(response =>{
                if(response.status=="200"){
                    this.cycle = response.data.data.cycles;
                    this.cycle.map(item => {
                        item.status = (item.status == "1"?"Activo":"Inactivo");
                    });
                }else
                    Swal.fire({
                        title:"Error",
                        body:response.data.errors.message,
                        icon:"error"
                    }); 
            }).catch(error =>{
                Swal.fire({
                    title: "Error",
                    icon: "error"
                });
            });
        }  
    },
    mounted(){
        this.getcycles();
        
    },
    components:{
        Block
    }

};
</script>