<template>
  <block title="Agregar Actividad">
    <div class="row form-group">
      <input-field
        name="Nombre:"
        v-on:changed="activity.name= $event"
        type="text"
        icon="fa fa-pencil"
      />
      <input-field
        name="Tipo de actividad:"
        v-on:changed="activity.type_activity_id = $event"
        type="select"
        graphql="typeActivities"
        query="{typeActivities{id name}}"
        required
        icon="fa fa-newspaper-o"
      />
    </div>
    <div class="row form-group">
      <input-field
        name="Fecha de inicio:"
        v-on:changed="activity.start_date = $event"
        type="date"
        required
        icon="fa fa-calendar"
      />
      <input-field
        name="Fecha de término:"
        v-on:changed="activity.finish_date = $event"
        type="date"
        required
        icon="fa fa-calendar"
      />
    </div>
    <div class="row form-group">
      <input-field
        name="Horas totales:"
        v-on:changed="activity.total_hours = $event"
        type="number"
        required
        icon="fa fa-clock-o"
      ></input-field>
      <input-field
        name="Tipo de costo:"
        v-on:changed="activity.type_cost_id = $event"
        type="select"
        graphql="typeCosts"
        query="{typeCosts{id name}}"
        required
        icon="fa fa-money"
      ></input-field>
    </div>
    <div class="row form-group">
      <input-field
        name="Costo de inscripción:"
        v-on:changed="activity.inscription = $event"
        type="number"
        required
        icon="fa fa-money"
      ></input-field>
      <input-field
        name="Ciclo:"
        v-on:changed="activity.cycle_id = $event"
        type="select"
        graphql="cycles"
        query="{cycles{id name}}"
        required
        icon="fa fa-graduation-cap"
      ></input-field>
    </div>
    <div class="row form-group">
      <input-field
        name="Estado:"
        v-on:changed="activity.status = $event"
        type="select"
        required
        icon="fa fa-check-square-o"
      ></input-field>
      <input-field
        name="Número de colegiaturas:"
        v-on:changed="rellenar(tuitions,$event,[]);activity.number_tuition = $event"
        type="number"
        required
        icon="fa fa-certificate"
      ></input-field>
    </div>
    <div class="tuitions" v-if="activity.number_tuition > 0">
      <div class="row form-group">
        <input-field
          name="Costo de colegiatura:"
          v-on:changed="activity.tuition = $event"
          type="number"
          required
          icon="fa fa-money"
        ></input-field>
      </div>
      <div class="row form-group" v-for="n in activity.number_tuition * 1" :key="n">
        <input-field
          :name="'Fecha Inicial pago de colegiatura '+n+': '"
          v-on:changed="llenarArreglo(tuitions[n-1],0,$event)"
          type="date"
          required
          icon="fa fa-calendar"
        ></input-field>
        <input-field
          :name="'Fecha Límite pago de colegiatura '+n+':'"
          v-on:changed="llenarArreglo(tuitions[n-1],1,$event)"
          type="date"
          required
          icon="fa fa-calendar"
        ></input-field>
      </div>
    </div>
    <div class="row form-group">
      <input-field
        name="Número de módulos"
        v-on:changed="rellenarArreglos($event)"
        type="number"
        icon="fa fa-certificate"
      ></input-field>
      <div v-if="activity.type_activity_id!=3">
        <label class="col-md-2 control-label text-right">Docente:</label>
        <div class="col-md-4" style="text-transform:uppercase">
          <basic-select
            :options="options"
            :selected-option="itemSelect"
            placeholder="--Seleccione un Docente--"
            @select="onSelect"
          ></basic-select>
        </div>
      </div>
    </div>
    <div class="tuitions row form-group" v-for="n in number_modules * 1" :key="n">
      <div class="row form-group">
        <h3 style="margin-top:0px">Módulo {{module_names[n-1].length>0?module_names[n-1]:n}}:</h3>
        <div v-if="activity.type_activity_id==3">
          <label class="col-md-2 control-label text-right">Docente:</label>
          <div class="col-md-4" style="text-transform:uppercase">
            <basic-select
              :options="options"
              :selected-option="module_teachers[n-1]"
              v-on:select="llenarArreglo(module_teachers,n-1,$event)"
              placeholder="--Seleccione un Docente--"
            ></basic-select>
          </div>
        </div>
        <input-field
          name="Nombre del módulo:"
          v-on:changed="llenarArreglo(module_names,n-1,$event)"
          type="text"
          required
          icon="fa fa-pencil"
        ></input-field>
        <input-field
          name="Número de sesiones:"
          v-on:changed="rellenar(sessions[n-1],$event,[]);llenarArreglo(modules,n-1,$event)"
          type="number"
          required
          icon="fa fa-certificate"
        ></input-field>
      </div>
      <div class="row form-group" v-if="modules[n-1]">
        <input-field
          v-for="i in modules[n-1] * 1"
          :key="i"
          :name="'Fecha de sesión '+ i + ':'"
          v-on:changed="llenarArreglo(sessions[n-1],i-1,$event)"
          type="date"
          required
          icon="fa fa-calendar"
        ></input-field>
      </div>
    </div>
    <div class="row form-group">
      <label class="control-label">Descripción:</label>
      <textarea v-model="activity.description" class="form-control col-md-12"></textarea>
    </div>
    <div class="form-group form-actions text-center">
      <a href="/actividades" class="btn btn-custom btn-warning">
        <i class="fa fa-reply">&nbsp;Regresar</i>
      </a>
      <button @click="guardar()" type="button" class="btn btn-primary btn-custom  btn-effect-ripple">
        <i class="fa fa-save">&nbsp;Guardar</i>
      </button>
      
    </div>
  </block>
</template>
<script>
import Vue from "vue/dist/vue.esm";
import Block from "../shared/Block";
import InputField from "../shared/InputField";
import _ from 'lodash';
import { BasicSelect } from 'vue-search-select';
import 'vue-search-select/dist/VueSearchSelect.css';
import Swal from "sweetalert2";
export default {
  data() {
    return {
      activity: {
        name: "",
        type_activity_id: "",
        start_date: "",
        finish_date: "",
        total_hours: "",
        type_cost_id: 0,
        inscription: 0,
        number_tuition: 0,
        status: 0,
        cycle_id: 0,
        description: "",
        tuition: 0
      },
      modules: [],
      sessions: [],
      number_modules: 0,
      tuitions: [],
      validated_modules: true,
      validated_tuitions: true,
      validated_teachers: true,
      module_names: [],
      options: [],
      itemSelect: {},
      module_teachers: []
    };
  },
  mounted: function() {
    this.getTeachers();
  },
  components: {
    Block,
    InputField,
    BasicSelect
  },
  methods: {
    llenarArreglo: function(array, index, value) {
      Vue.set(array, index, value);
    },
    rellenar: function(array, indice, value) {
      let arreglo = array.slice();
      array.length = 0;
      for (let index = 0; index < indice; index++) {
        Vue.set(array, index, arreglo[index] ? arreglo[index] : value);
      }
    },
    rellenarArreglos: function(value) {
      this.rellenar(this.module_names, value, []);
      this.rellenar(this.sessions, value, []);
      this.number_modules = value;
      this.rellenar(this.module_teachers, value, {});
    },
    guardar: function() {
      if (this.activity.name)
        if (this.activity.type_activity_id)
          if (this.activity.start_date)
            if (this.activity.finish_date)
              if (this.activity.total_hours)
                if (this.activity.type_cost_id)
                  if (this.activity.inscription)
                    if (this.activity.cycle_id)
                      if (this.activity.status) {
                        if (
                          this.itemSelect.value != undefined &&
                          this.activity.type_activity_id != 3
                        ) {
                          this.validateTuitionsModules();
                          if (this.validated_tuitions && this.validated_modules){
                            let loader = this.$loading.show({ canCancel: false });
                            axios
                              .post("/actividades", {
                                activity: this.activity,
                                tuitions: this.tuitions,
                                sessions: this.sessions,
                                module_names: this.module_names,
                                teacher_id: this.itemSelect.value
                              })
                              .then(function(response) {
                                loader.hide();
                                if (response.data.status == "200")
                                  Swal.fire(
                                    "Exito!",
                                    response.data.msg,
                                    "success"
                                  ).then(result => {
                                    if (result.value) {
                                      window.location.reload();
                                    }
                                  });
                                else
                                  Swal.fire(
                                    "Error!",
                                    response.data.msg,
                                    "error"
                                  );
                              })
                              .catch(error => {
                                Swal.fire({
                                  icon: "Error!",
                                  title: "Ha Ocurrido un Error."
                                });
                              }).finally(()=>{
                                loader.hide();
                              });
                          }
                        } else if (this.activity.type_activity_id == 3) {
                          this.validateTuitionsModules();
                          var bool = true;
                          this.module_teachers.forEach(element => {
                            if (element.value == undefined) bool = false;
                          });
                          this.validated_teachers = bool;
                          if (!this.validated_teachers)
                            Swal.fire({
                              icon: "error",
                              text: "Seleccione un docente para cada módulo"
                            });
                          if (
                            this.validated_tuitions &&
                            this.validated_modules &&
                            this.validated_teachers
                          ){
                            let loader = this.$loading.show({ canCancel: false });
                            axios
                              .post("/actividades", {
                                activity: this.activity,
                                tuitions: this.tuitions,
                                sessions: this.sessions,
                                module_names: this.module_names,
                                module_teachers: this.module_teachers,
                                teacher_id: this.itemSelect.value
                              })
                              .then(function(response) {
                                loader.hide();
                                if (response.data.status == "200")
                                  Swal.fire(
                                    "Exito!",
                                    response.data.msg,
                                    "success"
                                  ).then(result => {
                                    if (result.value) {
                                      window.location.reload();
                                    }
                                  });
                                else
                                  Swal.fire(
                                    "Error!",
                                    response.data.msg,
                                    "error"
                                  );
                              })
                              .catch(error => {
                                Swal.fire({
                                  icon: "Error!",
                                  title: "Ha Ocurrido un Error."
                                });
                              }).finally(()=>{
                                loader.hide();
                              });
                          }
                        } else
                          Swal.fire({
                            icon: "error",
                            title: "Seleccione un Docente para la actividad"
                          });
                      } else
                        Swal.fire({
                          icon: "error",
                          title: "Seleccione un estado para la actividad"
                        });
                    else
                      Swal.fire({
                        icon: "error",
                        title: "Seleccione un ciclo"
                      });
                  else
                    Swal.fire({
                      icon: "error",
                      title: "Ingrese el costo de inscripción"
                    });
                else
                  Swal.fire({
                    icon: "error",
                    title: "Ingrese el tipo de costo"
                  });
              else
                Swal.fire({
                  icon: "error",
                  title: "Ingrese el total de horas"
                });
            else
              Swal.fire({
                icon: "error",
                title: "Selecccione una fecha de término"
              });
          else
            Swal.fire({
              icon: "error",
              title: "Selecccione una fecha de inicio"
            });
        else
          Swal.fire({
            icon: "error",
            title: "Selecccione un tipo de actividad"
          });
      else
        Swal.fire({
          icon: "error",
          title: "Ingrese un nombre para la actividad"
        });
      
    },
    onSelect(item) {
      this.itemSelect = item;
    },
    getTeachers: function() {
      axios
        .post("/graphql", {
          query: `{ 
                teachers{ 
                  id 
                  actingAs{ 
                    firstName 
                    secondName 
                    lastName 
                  } 
                } 
              }`
        })
        .then(response => {
          response.data.data.teachers.map(teacher => {
            this.options.push({
              value: parseInt(teacher.id),
              text: `${teacher.actingAs.firstName} ${teacher.actingAs.secondName} ${teacher.actingAs.lastName}`
            });
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    validateTuitionsModules: function() {
      if (this.activity.number_tuition > 0) {
        this.validated_tuitions = false;
        if (this.activity.tuition > 0) {
          var bool = true;
          this.tuitions.forEach(element => {
            if (!element[0] || !element[1]) bool = false;
          });
          if (bool) this.validated_tuitions = true;
          else {
            this.validated_tuitions = false;
            Swal.fire({
              icon: "error",
              title:
                "Ingrese la fecha de inicio y término para el pago de colegiaturas"
            });
          }
        } else {
          Swal.fire({
            icon: "error",
            title: "Ingrese un costo para la colegiatura"
          });
        }
      } else this.validated_tuitions = true;

      if (this.number_modules > 0) {
        this.sessions.forEach(element => {
          if (element.length > 0) {
            var bool = true;
            element.forEach(ele => {
              if (ele.length == 0) {
                bool = false;
              }
            });
            if (bool) this.validated_modules = true;
            else
              Swal.fire({
                icon: "error",
                title: "Ingrese la fecha de cada sesión"
              });
          } else {
            this.validated_modules = false;
            Swal.fire({
              icon: "error",
              title: "Cada módulo debe tener al menos una sesión"
            });
          }
        });
      } else {
        this.validated_modules = false;
        Swal.fire({
          icon: "error",
          title: "Ingrese un número de módulos valido"
        });
      }
    }
  }
};
</script>
<style scoped>
.row.form-group {
  padding: 15px 5px;
  margin: 0px;
  border-bottom: 1px dotted #ebeef2;
}
.block.full {
  padding-top: 20px;
}
.tuitions {
  background-color: lightgray;
}
</style>