<template>
  <block title="Editar Actividad" v-if="activity">
    <div class="row form-group">
      <label class="col-md-2 control-label text-right">Nombre:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control" v-model="activity.name" min="0" />
          <span class="input-group-addon">
            <i class="fa fa-pencil"></i>
          </span>
        </div>
      </div>
      <label class="col-md-2 control-label text-right">Tipo de actividad:</label>
      <div class="col-md-4">
        <div class="input-group" v-if="activity.typeActivity">
          <select class="form-control" v-model="activity.typeActivity.id">
            <option v-for="item in typeActivitys" :key="item.id" :value="item.id">{{ item.name }}</option>
          </select>
          <span class="input-group-addon">
            <i class="fa fa-newspaper-o"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 control-label text-right">Fecha de inicio:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control" v-model="activity.startDate" type="date" required />
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
      <label class="col-md-2 control-label text-right">Fecha de término:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control" v-model="activity.finishDate" type="date" required />
          <span class="input-group-addon">
            <i class="fa fa-calendar"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 control-label text-right">Horas totales:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control" v-model="activity.totalHours" type="number" required />
          <span class="input-group-addon">
            <i class="fa fa-clock-o"></i>
          </span>
        </div>
      </div>
      <label class="col-md-2 control-label text-right">Tipo de costo:</label>
      <div class="col-md-4">
        <div class="input-group">
          <select class="form-control" v-model="activity.typeCost.id">
            <option v-for="item in typeCosts" :key="item.id" :value="item.id">{{ item.name }}</option>
          </select>
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 control-label text-right">Costo de inscripción:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control" v-model="activity.inscription" type="number" min="0" required />
          <span class="input-group-addon">
            <i class="fa fa-money"></i>
          </span>
        </div>
      </div>
      <label class="col-md-2 control-label text-right">Ciclo:</label>
      <div class="col-md-4">
        <div class="input-group">
          <select class="form-control" v-model="activity.cycle.id">
            <option v-for="item in cycles" :key="item.id" :value="item.id">{{ item.name }}</option>
          </select>
          <span class="input-group-addon">
            <i class="fa fa-graduation-cap"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 control-label text-right">Estado:</label>
      <div class="col-md-4">
        <div class="input-group">
          <select class="form-control" v-model="activity.status">
            <option v-for="item in statusArray" :key="item.id" :value="item.id">{{ item.name }}</option>
          </select>
          <span class="input-group-addon">
            <i class="fa fa-check-square-o"></i>
          </span>
        </div>
      </div>
      <label class="col-md-2 control-label text-right">Número de colegiaturas:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input class="form-control" v-model="activity.numberTuition" type="number" readonly />
          <span class="input-group-addon">
            <i class="fa fa-certificate"></i>
          </span>
        </div>
      </div>
    </div>
    <div class="tuitions" v-if="activity.tuitions > 0">
      <div class="row form-group">
        <label class="col-md-2 control-label text-right">Costo de colegiatura:</label>
        <div class="col-md-4">
          <div class="input-group">
            <input class="form-control" v-model="activity.tuition" type="number" required />
            <span class="input-group-addon">
              <i class="fa fa-money"></i>
            </span>
          </div>
        </div>
      </div>
      <div class="row form-group" v-for="(tuition,index) in activity.tuitions" :key="tuition.id">
        <label
          class="col-md-2 control-label text-right"
        >Fecha Inicial de pago de colegiatura {{ index+1 }}</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              class="form-control"
              v-model="activity.tuitions[index].startDate"
              type="date"
              required
            />
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
        <label
          class="col-md-2 control-label text-right"
        >Fecha Límite de pago de colegiatura {{ index+1 }}</label>
        <div class="col-md-4">
          <div class="input-group">
            <input
              class="form-control"
              v-model="activity.tuitions[index].finishDate"
              type="date"
              required
            />
            <span class="input-group-addon">
              <i class="fa fa-calendar"></i>
            </span>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="col-md-2 control-label text-right">Número de módulos:</label>
      <div class="col-md-4">
        <div class="input-group">
          <input
            class="form-control"
            v-model="activity.moduleActivities.length"
            type="number"
            readonly
          />
          <span class="input-group-addon">
            <i class="fa fa-certificate"></i>
          </span>
        </div>
      </div>
      <div v-if="activity.typeActivity.id!=3">
        <label class="col-md-2 control-label text-right">Docente:</label>
        <div class="col-md-4" style="text-transform:uppercase">
          <basic-select
            :options="options"
            :selected-option="itemSelect"
            placeholder="--Seleccione un Docente--"
            @select="onSelect"
          ></basic-select>
        </div>
      </div>
    </div>
    <div v-if="activity">
      <div class="tuitions row form-group" v-for="mod in activity.moduleActivities" :key="mod.id">
        <div class="row form-group">
          <h3 style="margin-top:0px">Módulo {{mod["name"]}}:</h3>
          <div v-if="activity.typeActivity.id==3">
            <label class="col-md-2 control-label text-right">Docente:</label>
            <div class="col-md-4" style="text-transform:uppercase">
              <select class="form-control" v-model="mod.teacherId">
                <option
                  v-for="teacher in teachers"
                  :key="teacher.id"
                  :value="teacher.id"
                >{{ `${teacher.actingAs.firstName} ${teacher.actingAs.secondName} ${teacher.actingAs.lastName}`}}</option>
              </select>
            </div>
          </div>
          <label class="col-md-2 control-label text-right">Nombre del módulo:</label>
          <div class="col-md-4">
            <div class="input-group">
              <input class="form-control" v-model="mod.name" type="text" required />
              <span class="input-group-addon">
                <i class="fa fa-certificate"></i>
              </span>
            </div>
          </div>
          <label class="col-md-2 control-label text-right">Número de sesiones</label>
          <div class="col-md-4">
            <div class="input-group">
              <input
                class="form-control"
                v-model="mod.sessionModules.length"
                type="number"
                readonly
              />
              <span class="input-group-addon">
                <i class="fa fa-certificate"></i>
              </span>
            </div>
          </div>
        </div>
        <div class="row form-group" v-if="mod.sessionModules">
          <div v-for="(session,index) in mod.sessionModules" :key="session.id">
            <label class="col-md-2 control-label text-right">Fecha de sesión {{index+1}} :</label>
            <div class="col-md-4">
              <div class="input-group">
                <input class="form-control" v-model="session.date" type="date" required />
                <span class="input-group-addon">
                  <i class="fa fa-calendar"></i>
                </span>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row form-group">
      <label class="control-label">Descripción:</label>
      <textarea v-model="activity.description" class="form-control col-md-12"></textarea>
    </div>
    <div class="form-group form-actions text-center">
      <a href="/actividades" class="btn btn-custom btn-warning">
        <i class="fa fa-reply">&nbsp;Regresar</i>
      </a>
      <button @click="guardar()" type="button" class="btn btn-custom btn-primary btn-effect-ripple">
        <i class="fa fa-save">&nbsp;Guardar</i>
      </button>
    </div>
  </block>
</template>
<script>
import Vue from "vue/dist/vue.esm";
import Block from "../shared/Block";
import InputField from "../shared/InputField";
import _ from "lodash";
import { BasicSelect } from "vue-search-select";
import "vue-search-select/dist/VueSearchSelect.css";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      activity: {
        typeActivity: {},
        typeCost: {},
        cycle: {},
        tuitions: [],
        teachers: [],
        moduleActivities: []
      },
      typeActivitys: [],
      typeCosts: [],
      cycles: [],
      statusArray: [
        { id: 1, name: "Activo" },
        { id: 0, name: "Inactivo" }
      ],
      validated_modules: true,
      validated_tuitions: true,
      options: [],
      itemSelect: {},
      teachers: undefined
    };
  },
  mounted: function() {
    this.getDataActivity();
    this.getTeachers();
  },
  components: {
    Block,
    InputField,
    BasicSelect
  },
  methods: {
    guardar: function() {
      let loader = this.$loading.show({ canCancel: false });
      if (this.activity.name)
        if (this.activity.typeActivity.id)
          if (this.activity.startDate)
            if (this.activity.finishDate)
              if (this.activity.totalHours)
                if (this.activity.typeCost.id)
                  if (this.activity.inscription >= 0)
                    if (this.activity.cycle.id)
                      if (this.activity.status >= 0) {

                        //Modificar Condiciones
                        if (this.activity.teachers.length > 0 || this.activity.typeActivity.id == 3) {
                          if (this.activity.numberTuition > 0) {
                            this.validated_tuitions = false;
                            if (this.activity.tuition > 0) {
                              var bool = true;
                              this.activity.tuitions.forEach(element => {
                                if (
                                  element.startDate == "" ||
                                  element.finishDate == ""
                                )
                                  bool = false;
                              });
                              if (bool) this.validated_tuitions = true;
                              else {
                                this.validated_tuitions = false;
                                Swal.fire({
                                  type: "error",
                                  title:
                                    "Ingrese la fecha de inicio y término para el pago de colegiaturas"
                                });
                              }
                            } else {
                              Swal.fire({
                                type: "error",
                                title: "Ingrese un costo para la colegiatura"
                              });
                            }
                          } else this.validated_tuitions = true;
                          if (this.number_modules > 0) {
                            this.sessions.forEach(element => {
                              if (element.length > 0) {
                                var bool = true;
                                element.forEach(ele => {
                                  if (ele.length == 0) {
                                    bool = false;
                                  }
                                });
                                if (bool) this.validated_modules = true;
                                else
                                  Swal.fire({
                                    icon: "error",
                                    title: "Ingrese la fecha de cada sesión"
                                  });
                              } else {
                                this.validated_modules = false;
                                Swal.fire({
                                  icon: "error",
                                  title:
                                    "Cada módulo debe tener al menos una sesión"
                                });
                              }
                            });
                          } else this.validated_modules = true;
                          if (
                            this.validated_tuitions &&
                            this.validated_modules
                          ) {
                            axios
                              .put("/actividades/" + this.id + ".json", {
                                activity: this.activity
                              })
                              .then(function(response) {
                                console.log(response);
                                loader.hide();
                                if (response.data.status == "200")
                                  Swal.fire(
                                    "Exito!",
                                    response.data.msg,
                                    "success"
                                  ).then(result => {
                                    if (result.value) {
                                      window.location.reload();
                                    }
                                  });
                                else
                                  Swal.fire(
                                    "Error!",
                                    response.data.msg,
                                    "error"
                                  );
                              })
                              .catch(error => {
                                loader.hide();
                                Swal.fire({
                                  icon: "Error!",
                                  title: "Ha Ocurrido un Error."
                                });
                              });
                          }
                        } else
                          Swal.fire({
                            icon: "error",
                            title: "Seleccione un Docente"
                          });
                      } else
                        Swal.fire({
                          icon: "error",
                          title: "Seleccione un estado para la actividad"
                        });
                    else
                      Swal.fire({
                        icon: "error",
                        title: "Seleccione un ciclo"
                      });
                  else
                    Swal.fire({
                      icon: "error",
                      title: "Ingrese el costo de inscripción"
                    });
                else
                  Swal.fire({
                    icon: "error",
                    title: "Ingrese el tipo de costo"
                  });
              else
                Swal.fire({
                  icon: "error",
                  title: "Ingrese el total de horas"
                });
            else
              Swal.fire({
                icon: "error",
                title: "Selecccione una fecha de término"
              });
          else
            Swal.fire({
              icon: "error",
              title: "Selecccione una fecha de inicio"
            });
        else
          Swal.fire({
            icon: "error",
            title: "Selecccione un tipo de actividad"
          });
      else
        Swal.fire({
          icon: "error",
          title: "Ingrese un nombre para la actividad"
        });
      loader.hide();
    },
    onSelect(item) {
      this.activity.teachers[0] = item;
      this.itemSelect = item;
    },
    getTeachers: function() {
      axios
        .post("/graphql", {
          query: `{
                teachers{
                  id
                  actingAs{
                    firstName
                    secondName
                    lastName
                  }
                }
              }`
        })
        .then(response => {
          this.teachers = response.data.data.teachers;
          response.data.data.teachers.map(teacher => {
            this.options.push({
              value: parseInt(teacher.id),
              text: `${teacher.actingAs.firstName} ${teacher.actingAs.secondName} ${teacher.actingAs.lastName}`
            });
          });
        })
        .catch(error => {
          console.log(error);
        });
    },
    getDataActivity: function() {
      axios
        .post("/graphql", {
          query: `{
                activity(id: ${this.id}) {
                  id
                  name
                  startDate
                  finishDate
                  totalHours
                  inscription
                  numberTuition
                  tuition
                  status
                  description
                  typeActivity {
                    id
                    name
                  }
                  cycle {
                    id
                    name
                  }
                  typeCost{
                    id
                    name
                  }
                  teachers{
                    id
                    actingAs{
                      firstName
                      secondName
                      lastName
                    }
                  }
                  tuitions{
                    id
                    name
                    startDate
                    finishDate
                  }
                  moduleActivities{
                    id
                    name
                    teacherId
                    teacher{
                      actingAs{
                        firstName
                      }
                    }
                    sessionModules{
                      id
                      date
                    }
                  }
                }
              }
              `
        })
        .then(response => {
          this.activity = response.data.data.activity;
          if(response.data.data.activity.teachers.length > 0){
             let teacher = response.data.data.activity.teachers[0];
            response.data.data.activity.teachers[0] = {
              value: parseInt(teacher.id),
              text: `${teacher.actingAs.firstName} ${teacher.actingAs.secondName} ${teacher.actingAs.lastName}`
            };
            this.itemSelect = {
              value: parseInt(teacher.id),
              text: `${teacher.actingAs.firstName} ${teacher.actingAs.secondName} ${teacher.actingAs.lastName}`
            };
          }
                   
        })
        .catch(error => {
          console.log(error);
        });
      axios
        .post("/graphql", {
          query: `{typeActivities{id name}}`
        })
        .then(response => {
          this.typeActivitys = response.data.data.typeActivities;
        })
        .catch(error => {
          console.log(error);
        });
      axios
        .post("/graphql", {
          query: `{typeCosts{id name}}`
        })
        .then(response => {
          this.typeCosts = response.data.data.typeCosts;
        })
        .catch(error => {
          console.log(error);
        });
      axios
        .post("/graphql", {
          query: `{cycles{id name}}`
        })
        .then(response => {
          this.cycles = response.data.data.cycles;
        })
        .catch(error => {
          console.log(error);
        });
    }
  }
};
</script>
<style scoped>
.row.form-group {
  padding: 15px 5px;
  margin: 0px;
  border-bottom: 1px dotted #ebeef2;
}
.block.full {
  padding-top: 20px;
}
.tuitions {
  background-color: lightgray;
}
</style>