<template>
  <block title="Actividades">
    <v-client-table :data="activities" :columns="columns" :options="options">
      <div slot="administration" slot-scope="props">
        <router-link :to="'actividades/' + props.row.id"
          ><i class="fa fa-eye i-admin i-admin-read"></i
        ></router-link>
      </div>
    </v-client-table>
  </block>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      activities: [],
      columns: [
        "name",
        "startDate",
        "finishDate",
        "totalHours",
        "typeActivity.name",
        "cycle.name",
        "administration"
      ],
      options: {
        headings: {
          name: "Nombre",
          "typeActivity.name": "Tipo de Actividad",
          "cycle.name": "Ciclo",
          administration: "Administración",
          startDate: "Fecha de Inicio",
          finishDate: "Fecha de término",
          totalHours: "Horas totales"
        },
        sortable: ["name", "startDate", "finishDate", "totalHours", "cycle_id"],
        filterable: [
          "name",
          "startDate",
          "finishDate",
          "totalHours",
          "cycle_id"
        ],
        texts: {
          count: "",
          first: "Primero",
          last: "Último",
          filter: "Buscar:",
          filterBy: "",
          filterPlaceholder: "",
          loading: "Cargando...",
          limit: "Límite de registros:",
          noResults: "Sin Resultados."
        }
      }
    };
  },
  mounted() {
    axios
      .post("/graphql", {
        query: `query{ activities {
              id 
              name 
              startDate 
              finishDate 
              totalHours 
              typeActivity { 
                name
              } 
              cycle {
                name
              }
            }
          }`
      })
      .then(response => {
        this.activities = response.data.data.activities;
      })
      .catch(error => {
        console.log(error);
      });
  },
  components: {
    Block
  }
};
</script>
