<template>
  <div>
    <block title="REGISTRAR USUARIO EN ACTIVIDAD">
      <form action method="post" class="form-horizontal form-bordered">
        <!-- First Step -->
        <div class="form-group">
          <div class="col-xs-12">
            <ul class="nav nav-pills nav-justified clickable-steps">
              <li :class="{active: menu==0}" @click="menu=0">
                <a>
                  <i class="fa fa-user"></i>
                  <strong>Datos Generales</strong>
                </a>
              </li>
              <li :class="{active: menu==1}" @click="menu=1">
                <a>
                  <i class="fa fa-pencil-square-o"></i>
                  <strong>Datos del Taller</strong>
                </a>
              </li>
              <li :class="{active: menu==2}" @click="menu=2">
                <a>
                  <i class="fa fa-check"></i>
                  <strong>Forma de Pago</strong>
                </a>
              </li>
            </ul>
          </div>
        </div>
        <div class="step" v-show="menu==0">
          <div class="row" style="margin:15px;">
            <div class="col-xs-6 col-md-4 col-md-offset-3">
              <a
                id="frame"
                class="btn btn-success"
                style="border-radius:10px;width:200px;"
                data-toggle="modal"
                data-target="#modal-usuario"
                @click="getUser=true"
              >
                <i class="fa fa-search" style="font-size:60px;"></i>&nbsp;&nbsp;Buscar Usuario
              </a>
            </div>
            <div class="col-xs-6 col-md-4">
              <a
                id="frame-new"
                class="btn btn-success"
                style="border-radius:10px;width:200px;"
                data-toggle="modal"
                data-target="#modal-ingresar"
              >
                <i class="fa fa-plus-square-o" style="font-size:60px;"></i>&nbsp;&nbsp;Agregar Nuevo
              </a>
            </div>
          </div>
          <input type="hidden" id="user-id" name="user-id" value />
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-username">Nombres:</label>
            <div class="col-md-8">
              <span
                id="form-first-name"
                class="text-uppercase form-control"
              >{{ user?user.first_name:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-email">Apellido Paterno:</label>
            <div class="col-md-8">
              <span
                id="form-second-name"
                class="text-uppercase form-control"
              >{{ user?user.second_name:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-email">Apellido Materno:</label>
            <div class="col-md-8">
              <span
                id="form-last-name"
                class="text-uppercase form-control"
              >{{ user?user.last_name:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-password">Email:</label>
            <div class="col-md-8">
              <span id="form-email" class="form-control">{{ user?user.email:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-password">CURP:</label>
            <div class="col-md-8">
              <span id="form-curp" class="text-uppercase form-control">{{ user?user.curp:""}}</span>
            </div>
          </div>
          <div class="form-group col-md-6">
            <label class="col-md-4 control-label" for="example-clickable-password2">Tel&eacute;fono:</label>
            <div class="col-md-8">
              <span id="form-cell-phone" class="form-control">{{ user?user.cell_phone:""}}</span>
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-2 control-label"
              for="example-clickable-password2"
            >Matr&iacute;cula:</label>
            <div class="col-md-4">
              <span id="form-matricula" class="form-control">{{ user?user.registration:""}}</span>
            </div>
          </div>
        </div>
        <!-- END First Step -->

        <!-- Second Step -->
        <div class="step" v-show="menu==1">
          <div class="row" style="margin:15px;">
            <div class="col-md-4 col-md-offset-5">
              <a
                href="javascript:void(0);"
                id="frame-activity"
                class="btn btn-success"
                style="border-radius:10px;"
                data-toggle="modal"
                data-target="#modal-activities"
              >
                <i class="fa fa-search" style="font-size:60px;"></i>&nbsp;&nbsp;Buscar Actividades
              </a>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-firstname">Actividad:</label>
            <div class="col-md-6">
              <span id="activity-name" class="form-control">{{ activity?activity.name:""}}</span>
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-4 control-label"
              for="example-clickable-lastname"
            >Fecha de Finalizaci&oacute;n:</label>
            <div class="col-md-6">
              <span
                id="activity-finish-date"
                class="form-control"
              >{{ activity?activity.finishDate:""}}</span>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label" for="example-clickable-country">Total de Horas:</label>
            <div class="col-md-6">
              <span
                id="activity-total-hours"
                class="form-control"
              >{{ activity?activity.totalHours:""}}</span>
            </div>
          </div>
        </div>
        <!-- END Second Step -->

        <!-- Third Step -->
        <div class="step" v-show="menu==2">
          <div class="form-group">
            <label
              class="col-md-4 control-label"
              for="example-clickable-pc"
            >Costos de las Actividades:</label>
            <div class="col-md-6">
              <label>Inscripci&oacute;n:</label>
              <span id="activity-inscription">$ {{activity?activity.inscription:"0"}}</span>
              <div v-if="activity">
                <div v-for="tuition in activity.tuitions" :key="tuition.id">
                  <label>{{tuition.name}}:</label>
                  <span id="activity-tuition">$ {{activity.tuition}}</span>
                </div>
              </div>
            </div>
          </div>
          <div class="form-group">
            <label
              class="col-md-4 control-label"
              for="example-clickable-suggestions"
            >Beca en Inscripción:</label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="beca=0;becaPersonalizada=false"
                :checked="beca==0&&!becaPersonalizada"
              />Ninguna
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="beca=10;becaPersonalizada=false"
                :checked="beca==10&&!becaPersonalizada"
              />10%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="beca=20;becaPersonalizada=false"
                :checked="beca==20&&!becaPersonalizada"
              />20%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="beca=30;becaPersonalizada=false"
                :checked="beca==30&&!becaPersonalizada"
              />30%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="beca=40;becaPersonalizada=false"
                :checked="beca==40&&!becaPersonalizada"
              />40%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="becaPersonalizada=true"
                beca="-0"
                :checked="becaPersonalizada"
              />Otro
            </label>
          </div>
          <div class="form-group" id="input-other-inscription" v-show="becaPersonalizada">
            <label class="col-md-4 control-label">Especifique Porcentaje de Beca:</label>
            <div class="col-md-6">
              <input class="form-control" type="number" value="0" v-model="beca" min="0" max="100" />
            </div>
          </div>
          <div class="form-group" v-if="activity && activity.tuitions.length!=0">
            <label
              class="col-md-4 control-label"
              for="example-clickable-suggestions"
            >Beca en Colegiaturas:</label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="becaColegiatura=0;becaPersonalizadaColegiatura=false"
                :checked="becaColegiatura==0&&!becaPersonalizadaColegiatura"
              />Ninguna
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="becaColegiatura=10;becaPersonalizadaColegiatura=false"
                :checked="becaColegiatura==10&&!becaPersonalizadaColegiatura"
              />10%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="becaColegiatura=20;becaPersonalizadaColegiatura=false"
                :checked="becaColegiatura==20&&!becaPersonalizadaColegiatura"
              />20%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="becaColegiatura=30;becaPersonalizadaColegiatura=false"
                :checked="becaColegiatura==30&&!becaPersonalizadaColegiatura"
              />30%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="becaColegiatura=40;becaPersonalizadaColegiatura=false"
                :checked="becaColegiatura==40&&!becaPersonalizadaColegiatura"
              />40%
            </label>
            <label class="radio-inline">
              <input
                type="radio"
                class="radio-button"
                @click="becaPersonalizadaColegiatura=true"
                becaColegiatura="-0"
                :checked="becaPersonalizadaColegiatura"
              />Otro
            </label>
          </div>
          <div class="form-group" id="input-other-tuition" v-show="becaPersonalizadaColegiatura">
            <label class="col-md-4 control-label">Especifique Porcentaje de Beca:</label>
            <div class="col-md-6">
              <input
                class="form-control"
                type="number"
                name="other-tuition"
                v-model="becaColegiatura"
                value="0"
                min="0"
                max="100"
              />
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Forma de Pago:</label>
            <div class="col-md-6">
              <select class="form-control" v-model="selectedPaymentForm" v-if="typePayments">
                <option
                  v-for="typePayment in typePayments"
                  :key="typePayment.id"
                  :value="typePayment.id"
                >{{typePayment.name}}</option>
              </select>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-4 control-label">Generar Factura:</label>
            <div class="col-md-6">
              <select class="form-control" v-model="statusInvoice">
                <option
                  value="false"
                >NO</option>
                <option
                  value="true"
                >SI</option>
              </select>
            </div>
          </div>
          <div class="form-group table-resposive" style="width:70%;margin-left:15%;">
            <table class="table">
              <thead>
                <tr>
                  <th>Costo</th>
                  <th>Costo - Beca</th>
                </tr>
              </thead>
              <tbody id="log-payments" v-if="activity">
                <tr>
                  <td>$ {{activity.inscription}}</td>
                  <td>$ {{activity.inscription - activity.inscription*beca/100}}</td>
                </tr>
                <tr v-for="tuition in activity.tuitions" :key="tuition.id">
                  <td>$ {{activity.tuition}}</td>
                  <td>$ {{activity.tuition - activity.tuition*becaColegiatura/100}}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <!-- END Third Step -->

        <!-- Form Buttons -->
        <div class="form-group form-actions" style="margin: 0px 10px -10px 10px">
          <div class="text-center">
            <button
              type="reset"
              @click="prevStep"
              class="btn btn-effect-ripple btn-danger"
              id="back1"
              style="margin-right:10px"
            ><i class="fa fa-reply"></i>Regresar</button>
            <button
              type="button"
              @click="nextStep"
              class="btn btn-effect-ripple btn-primary"
              id="next1"
            ><i class="fa fa-share"></i>Siguiente</button>
          </div>
        </div>
      </form>
      <!-- END Form Buttons -->

      <!-- Search User Modal -->
      <div
        id="modal-usuario"
        class="modal"
        tabindex="-1"
        role="dialog"
        aria-hidden="true"
        data-backdrop="static"
        data-keyboard="false"
      >
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width:1000px">
          <div class="modal-content">
            <div class="modal-header">
              <button
                type="button"
                class="close"
                @click="getUser=false"
                data-dismiss="modal"
                aria-hidden="true"
              >&times;</button>
              <h3 class="modal-title">
                <strong>B&uacute;scar Usuario</strong>
              </h3>
            </div>
            <div class="modal-body">
              <search-user v-if="getUser" v-on:changed="user=$event"/>
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-effect-ripple btn-primary"
                data-dismiss="modal"
                @click="getUser=false"
              >Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END Search User Modal -->
      <!-- SEARCH ACTIVITY MODAL -->
      <div id="modal-activities" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width:1000px">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title">
                <strong>B&uacute;scar Actividades</strong>
              </h3>
            </div>
            <div class="modal-body">
              <search-activity />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-effect-ripple btn-primary"
                data-dismiss="modal"
              >Cerrar</button>
            </div>
          </div>
        </div>
      </div>
      <!-- END SEARCH ACTIVITY MODAL -->
      <div id="modal-ingresar" class="modal" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered modal-lg" style="width:1000px">
          <div class="modal-content">
            <div class="modal-header">
              <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
              <h3 class="modal-title">
                <strong>Ingresar Usuario</strong>
              </h3>
            </div>
            <div class="modal-body">
              <add-assistant />
            </div>
            <div class="modal-footer">
              <button
                type="button"
                class="btn btn-effect-ripple btn-primary"
                data-dismiss="modal"
              >Cerrar</button>
            </div>
          </div>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import SearchUser from "../shared/SearchUser.vue";
import SearchActivity from "../shared/SearchActivity.vue";
import AddAssistant from "../shared/AddAssistant.vue";
import Swal from "sweetalert2";

export default {
  data: function() {
    return {
      menu: 0,
      user: undefined,
      activity: undefined,
      getUser: false,
      beca: 0,
      becaColegiatura: 0,
      becaPersonalizadaColegiatura: false,
      becaPersonalizada: false,
      typePayments: undefined,
      selectedPaymentForm: 1,
      statusInvoice: false
    };
  },
  computed: {},
  watch: {
    activity: function(newActivity, oldActivity) {
      (this.beca = 0),
        (this.becaColegiatura = 0),
        (this.becaPersonalizadaColegiatura = false),
        (this.becaPersonalizada = false);
    },
    beca: function(newBeca, oldBeca) {
      if (this.beca) {
        this.beca = Math.floor(this.beca);
        if (this.beca > 100) this.beca = 100;
        if (this.beca < 0) this.beca = 0;
      }
    },
    becaColegiatura: function(newbecaColegiatura, oldbecaColegiatura) {
      if (this.becaColegiatura) {
        this.becaColegiatura = Math.floor(this.becaColegiatura);
        if (this.becaColegiatura > 100) this.becaColegiatura = 100;
        if (this.becaColegiatura < 0) this.becaColegiatura = 0;
      }
    }
  },
  methods: {
    nextStep: function() {
      
      if (this.menu < 2) this.menu++;
      else if (this.user){
        if (this.activity) {
          let loader = this.$loading.show({  canCancel: false });
          var data = {
            user_id: this.user.id,
            activity_id: this.activity.id,
            beca_percent_inscription: this.beca,
            beca_percent_tuition: this.becaColegiatura,
            type_payment: this.selectedPaymentForm,
            cycle_id: 0,
            invoice: this.statusInvoice
          };
          axios
            .post("/actividad/registrar/usuario", { data: data })
            .then(function(response) {
              loader.hide();
              if (response.data.status == "200") {
                Swal.fire(
                  "Exito!",
                  "El usuario se registró correctamente!",
                  "success"
                ).then(result => {
                  if (result.value) {
                    
                    window.open(BASE_URL+`/reporte/inscrito/actividad/${response.data.data.id}.pdf`);
                    window.location.reload();
                  }
                });
              } else {
                Swal.fire("Error!", "" + response.data.msg, "error");
              }
            })
            .catch(function(response) {
              loader.hide();
              Swal.fire("Error!", "Ocurrio un error al comunicarse con el servidor", "error");
            });
        } else{
          Swal.fire({
            icon: "error",
            title: "Favor de seleccionar una actividad"
          });
        }
      }else{
        Swal.fire({
          icon: "error",
          title: "Favor de seleccionar un usuario"
        });
      }
    },
    prevStep: function() {
      if (this.menu > 0) this.menu--;
    }
  },
  props: {
    title: String
  },
  mounted() {
    axios
      .post("/graphql", {
        query: "{ typePayments{id name}}"
      })
      .then(response => {
        this.typePayments = response.data.data.typePayments;
      })
      .catch(error => {
        Swal.fire("Error!", "Ocurrio un error al comunicarse con el servidor", "error");
      });
  },
  components: {
    Block,
    SearchUser,
    AddAssistant,
    SearchActivity
  }
};
</script>

<style scoped>
a:hover {
  cursor: pointer;
}
</style>
