<template>
  <block v-if="activityExist" :title="'Actividad: ' + activity.name"></block>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data() {
    return {
      id: this.$attrs.id,
      activity: undefined,
      activityExist: false
    };
  },
  created() {
    axios
      .post("/graphql", {
        query: `query{ activity(id: ${this.id}) {
              id 
              name 
              startDate 
              finishDate 
              totalHours 
              typeActivity { 
                name
              } 
              cycle {
                name
              }
            }
          }`
      })
      .then(response => {
        this.activity = response.data.data.activity;
        this.activityExist = true;
      })
      .catch(error => {
        this.activityExist = false;
      });
  },
  watch: {
    $attrs: function(newAttr, oldAttr) {
      this.id = this.$attrs.id;
      axios
        .post("/graphql", {
          query: `query{ activity(id: ${this.id}) {
              id 
              name 
              startDate 
              finishDate 
              totalHours 
              typeActivity { 
                name
              } 
              cycle {
                name
              }
              teachers{
                actingAs{
                  firstName
                }
              }
            }
          }`
        })
        .then(response => {
          this.activity = response.data.data.activity;
          this.activityExist = true;
        })
        .catch(error => {
          this.activityExist = false;
        });
    }
  },
  components: {
    Block
  }
};
</script>
