<template>
  <div>
    <block title="Listas de Asistencia">
      <div>
        <h2>Seleccione un ciclo:</h2>
        <select class="form-control" v-model="selectedCycle">
          <option
            class="form-control"
            v-for="cycle in cycles"
            :key="cycle.id"
            :value="cycle.id"
            >{{ cycle.name }}</option
          >
        </select>
        <div v-if="selectedCycle">
          <h2>Seleccione una Actividad:</h2>
          <div
            class="col-md-4"
            style="display: inline-block; float:none"
            v-for="activity in cycles.find(cycle => cycle.id == selectedCycle)
              .activities"
            :key="activity.id"
          >
            <a class="widget" @click="verLista(activity.id)">
              <div
                class="widget-content widget-content-mini themed-background-dark-social"
              >
                <strong class="text-light-op text-uppercase">{{
                  activity.name
                }}</strong>
              </div>
              <div class="widget-content themed-background-social clearfix">
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Nombre:
                  <strong>{{ activity.name }}</strong>
                </h2>
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Tipo:
                  <strong>{{ activity.typeActivity["name"] }}</strong>
                </h2>
                <h2 class="widget-heading h5 text-light text-uppercase">
                  Horas:
                  <strong>{{ activity.totalHours }}</strong>
                </h2>
              </div>
            </a>
          </div>
        </div>
      </div>
    </block>
  </div>
</template>
<script>
import Block from "../shared/Block.vue";
import Swal from "sweetalert2";
export default {
  data: function() {
    return {
      cycles: [],
      selectedCycle: undefined,
      selectedActivity: undefined
    };
  },
  components: {
    Block
  },
  methods: {
    verLista: function(id) {
      window.open(
        window.location.origin + `/reporte/actividad/${id}/inscritos.pdf`,
        "_blank"
      );
    }
  },
  mounted() {
    axios
      .post("/graphql", {
        query:
          "{ cycles {id name activities{id name totalHours typeActivity{name}}}}"
      })
      .then(response => {
        this.cycles = response.data.data.cycles;
      })
      .catch(error => {
        console.log(error);
      });
  }
};
</script>
