<template>
  <div>
    <report-header title="Lista de asistencia"> </report-header>
  </div>
</template>
<script>
import ReportHeader from "../shared/reports/Report.vue";
import Swal from "sweetalert2";
export default {
  components: {
    ReportHeader
  }
};
</script>
