<template>
  <div>
    <report-actions title="Reporte de ingresos">
      <report-header departamento="Departamento de actualización profesional">
        <report-body title="Departamento Financiero" number="Reporte de Ingresos de la actividad ">
          <table>
            <thead>
              <tr>
                <td>Hola 1</td>
                <td>Hola 2</td>
                <td>Hola 3</td>
              </tr>
            </thead>
          </table>
        </report-body>
      </report-header>
    </report-actions>
  </div>
</template>
<script>
import ReportHeader from "../shared/reports/Header.vue";
import ReportActions from "../shared/reports/Report.vue";
import ReportBody from "../shared/reports/Body.vue";
export default {
  components: {
    ReportHeader,
    ReportActions,
    ReportBody
  }
};
</script>