- content_for :css do
  = stylesheet_link_tag 'css/layout-reports', media: 'all', 'data-turbolinks-track': 'reload'

%div{:class => "row"}
  %div{:class => "content-header"}
    %div{:class => "row"}
      %div{:class => "col-sm-6"}
        %div{:class => "header-section"}
          %h1 Lista de Asistencia
      %div{:class => "col-sm-6 hidden-xs"}  
        %div{:class => "header-section"}
          %div{:class => "block-options pull-right"}
          %a{:class => "btn btn-effect-ripple btn-default",:onclick => "downloadWithCSS()"}
            %i{:class => "fa fa-print"}
              Imprimir
  %div{:class => "col-sm-10 col-sm-offset-1 col-lg-7 col-lg-offset-2", :style => "width:805px;"}
    %div{:class => "block"}            
      %div{:id => "container", :class => "row block-section" }
        %section{:id => "memo"}
          %div{:class => "company-name centro"}
            %span 
              COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN 
              %br 
              DEPARTAMENTO DE CONTROL ESCOLAR   
            %div{:class => "right-arrow"}
          %div{:class => "logo"}
            = image_tag 'img/logo2.jpg', alt: 'COMESI LOGO', style: 'height:75px;'

          -#%div{:class => "company-info"}
            %div
              %span Almendros # 1103,Col. Las Flores, C.P. 68050, Oaxaca,Oax.
            %div RFC: AVA140717NW5 LAS AGUILAS CON VALOR A.C.
            %div Teléfono: 044 951 461 0486
        %div{:class => "clearfix"}
        %div{:id => "container"}
          %section{:id => "invoice-title-number" }
            %div
              %span{:id => "title"} DEPARTAMENTO DE ACTUALIZACI&Oacute;N PROFESIONAL 
            %div
              %span{:id => "number"} LISTA DE ASISTENCIA
          %section{:id => "items"}
            %table{:border => "1", :style => "width:100%", :cellpadding => "0", :cellspacin => "0"}
              %thead 
                %tr 
                  %th{:style => "text-align:center; width:50px", :colspan => "1"} 
                    Actividad: 
                    = "#{@activity.type_activity.name} - #{@activity.name }"
                  %th{:style => "text-align:center; width:50px", :colspan => "1"}
                    Ciclo:
                    = @activity.cycle.name
                  %th{:style => "text-align:center; width:50px", :colspan => "1"}
                    Fecha:
                    = date('Y-m-d')
            %table{:border => "1", :style => "width:100%", :cellpadding => "0", :cellspacin => "0"}
              %thead 
                %tr
                  %th{:style => "text-align:center; width:50px"} No.
                  %th{:style => "text-align:center width:70px"} Matrícula
                  %th{:style => "text-align:center"} Nombre 
                  %th{:style => "text-align:center"} Firma de asistencia       
              %tbody
                - @activity.assistants.each_with_index do |user,index|
                  %tr
                    %td{:style => "text-align:center; width:50px; height: 70px;"} 
                      = index + 1
                    %td{:style => "text-align:center width:70px; height: 70px;"}
                      = user.registration
                    %td{:class => "text-uppercase"}= "#{user.second_name} #{user.last_name} #{user.first_name}"
                    %td
          %footer
           
          %div{:class => "currency"}
            %span
          %div{:id => "firma"}
            %hr/
            - @activity.teachers.each do |teacher|
              %span{:class => "text-uppercase"}= "   #{teacher.first_name} #{teacher.last_name} #{teacher.second_name}"
              

- content_for :javascript do
  %script{:src => "https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.5.1/jspdf.debug.js"}
  = javascript_include_tag "html2canvas.min.js"
  = javascript_include_tag "reports.js"                                  