<% content_for :contenido do %>
<h2 class="title">
    Lista de asistencia
</h2>
<h4 class="subtitle"><%= @activity.type_activity.name%>: <%= @activity.name  %></h4>
<div class="content" style="width:100%">
    <table style="width: 100%;">
        <thead>
            <tr class="gray-section">
                <th class="text-right" style="width: 10%;">DOCENTE: </th>
                <th class="text-uppercase" style="width: 80%;">
                    <%-  @activity.teachers.each do |teacher| %>
                    <%= "#{teacher.first_name} #{teacher.last_name} #{teacher.second_name}"%>
                    <% end %>
                </th>
            </tr>
        </thead>
    </table>
    <table style="width: 100%;">
        <thead>
            <tr class="gray-section">
                <th class="text-right" style="width: 80%;">FECHA: </th>
                <th class="text-right" style="width: 20%;"><%= Time.now.strftime("%d/%m/%Y") %></th>
            </tr>
        </thead>
    </table>
    <table border="1" style="width: 100%;">
        <thead>
            <tr style="text-align: center;">
                <th style="width:50px">No.</th>
                <th style="width:120px">Matrícula</th>
                <th>Nombre</th>
                <th>Firma</th>
            </tr>
        </thead>
        <tbody>
            <% @activity.assistants.each_with_index do |user,index|%>
            <tr>
                <td style="text-align:center; width:50px; height: 40px;"><%= index + 1 %></td>
                <td style="text-align:center; width:120px; height: 40px;"><%= user.registration %></td>
                <td class="text-uppercase" style="padding-left: 20px;">
                    <%= "#{user.second_name} #{user.last_name} #{user.first_name}" %></td>
                <td></td>
            </tr>
            <% end %>
        </tbody>
    </table>
</div>
<% end %>