<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Constancia AP</title>
     <link href="https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap" rel="stylesheet">   
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <style type="text/css">
        #border{
            border: 4px solid #003350;
            height: 1300px;
        }
        h1{
            font-family: 'Bebas Neue', cursive;
            margin: 20px auto !important;
            font-size: 40px;
        }
        h1.name{
            font-weight: bolder;
            border-bottom: 3px solid #003350;
            width: 80%;
        }
        title,contenido{
            margin-bottom: 20px;
        }
        .text{
            font-size: 23px;
            word-wrap:break-word;
        }
    </style>
</head>
<body id="body">
    <% if @activity.assistants.length > 0%>
        <% @activity.assistants.each do | assistant |%>
            <div id="border">
                <div class="header">
                    <div class="title text-center"><h1>EL COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN</h1></div>
                    <div class="logo text-center">
                        <%= wicked_pdf_image_tag 'img/logo', :style => "height: 120px;margin: 10px auto"%>
                    </div>
                </div>
                <div class="contenido text-center" style="margin-top:300px">
                    <h5 class="text">Otorga el presente:</h5>
                <div style="font-size:60px">DIPLOMA</div>
                    <h1 class="text-center">A:<%= assistant.first_name %> <%= assistant.last_name %> <%= assistant.second_name %></h1>
                    <div style="width: 70%;margin:20px auto 0 auto">
                        <p class="text">
                            Por acreditar el <%= @activity.type_activity.name %> en: <i style="font-weight:bold" class="text-capitalize">"<%= @activity.name %>"</i>  <br>
                            modalidad presencial, con una duración de <%= @activity.total_hours %> horas lectivas.<br>
                        </p>
                    </div>
                    <br>
                    <br>
                    <div style="width: 90%;margin:20px auto 0 auto">
                        <p class="text">
                        Santa Lucía del Camino, Oaxaca, <%= @activity.finish_date.strftime('%d') %> de <%= @month %> de <%= @activity.finish_date.strftime('%Y') %>.
                        </p>
                    </div>
                    <br>
                    <br>
                    <br>
                    <br>
                    <div style="width: 40%;margin:20px auto 0 auto">
                        <p class="text" style="border-top: 2px solid black;">
                        Mtra. <%= @director[0].first_name %> <%= @director[0].last_name %> <%= @director[0].second_name %> <br>
                    </div>
                    <div>
                    <p class="text">
                        Colegio Mexicano de Estudios Superiores e Investigación<br>
                        Dirección General
                        </p>
                    </div>
                </div>
            </div>
        <% end %>
    <% else %>
        <h1>No hay Estudiantes Registrados en la Actividad</h1>
    <% end %>
</body>
</html>