<% content_for :contenido do %>
<h2 class="title" style="margin-top:-20px">
    departamento de recursos financieros
</h2>
<h4 class="subtitle">reporte de ingresos</h4>
<div class="content" style="margin-top:0px">
    <table style="width: 100%;">
        <thead>
            <tr class="gray-section">
                <th class="text-right" style="width: 20%"><%= @activity.type_activity.name %>:</th>
                <th class="text-capitalize"><%= @activity.name %></th>
                <th class="text-right" style="width: 20%">Fecha:</th>
                <th><%= Time.now.strftime("%d-%m-%Y") %></th>
            </tr>
            <tr class="gray-section">
                <th class="text-right">Ciclo :</th>
                <th class="text-uppercase">
                    <%= @activity.cycle.name %>
                </th>
                <th class="text-right">Profesor :</th>
                <th class="text-uppercase">
                    <%= @activity.teachers.first.first_name %>
                    <%= @activity.teachers.first.second_name %>
                    <%= @activity.teachers.first.last_name %>
                </th>
            </tr>
        </thead>
    </table>
    <table border="1" style="width: 100%;">
        <thead>
            <tr class="text-center">
                <th rowspan=2>No.</th>
                <th rowspan=2 style="text-align:center;">Nombre del alumno</th>
                <th rowspan=2 ><span class="centro">Matrícula</span></th>
                <th rowspan=2>Beca Inscripción</th>
                <th rowspan=2>Inscripción</th>
                <th colspan="<%= @activity.tuitions.length * 1%>">Becas</th>
                <th colspan="<%= @activity.tuitions.length * 1%>">Colegiaturas</th>
                <th rowspan=2>Subtotal</th>
            </tr>
            <tr>
                <% @activity.tuitions.each_with_index do |tuition,index| %>
                    <th>Beca <%= index+1 %></th>
                <% end %>
                <% @activity.tuitions.each_with_index do |tuition,index| %>
                    <th>Colegiatura <%= index+1 %></th>
                <% end %>
            </tr>
        </thead>
        <tbody>
            <% @subt = []%>
            <% @activity.assistants.each_with_index do |assistant,index| %>
                <tr style="height:40px" class="text-center">
                    <td><%= index+1 %></td>
                    <td><%= assistant.first_name %> <%= assistant.second_name %> <%= assistant.last_name %></td>
                    <td><%= assistant.registration%></td>
                    <td><%= assistant.debits.find_by(concept_id: @activity.id,concept_type: 'Activity').beca %>%</td>
                    <td>$<%= assistant.debits.find_by(concept_id: @activity.id,concept_type: 'Activity').total_cost %></td>
                    <% @subt[index] = 0%>
                    <% @activity.tuitions.each do |debit| %>
                        <td>
                            <% assistant.ingresses.each do |ingress|%>
                                <% if ingress.debit.concept_type == 'Tuition'%>
                                    <% if ingress.debit.concept.id == debit.id%>
                                        <%= ingress.debit.beca %>%
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                    <% @activity.tuitions.each do |debit| %>
                        <td> 
                            <% assistant.ingresses.each do |ingress|%>
                                <% if ingress.debit.concept_type == 'Tuition'%>
                                    <% if ingress.debit.concept.id == debit.id%>
                                        $<%= ingress.debit.total_cost.round(2) %>
                                    <% end %>
                                <% end %>
                            <% end %>
                        </td>
                    <% end %>
                    <td>
                        <% @activity.debits.where(status: 1).where(user_id: assistant.acting_as.id).each do |ingress|%>
                            <% @subt[index]+= ingress.total_cost %>
                        <% end %>
                        <% @activity.tuitions.each do |tuition|%>
                            <% tuition.debits.where(status:1).where(user_id: assistant.acting_as.id).each do |debit| %>
                                <% @subt[index]+= debit.total_cost %>
                            <% end %>
                        <% end %>
                        $<%= @subt[index].round(2) %>
                    </td>
                </tr>
            <% end %>
        </tbody>
    </table>
     <div class="total">
        <section id="sums">
            <table cellpadding="0" cellspacing="0">
                <tr class="amount-total">
                    <th>Subtotal</th>
                    <% subtotal = 0 %>
                    <% @subt.each do |sub|%>
                        <% subtotal+= sub%>
                    <% end %>        
                    <td>$ <%= (subtotal/1.16).round(2)%></td>
                </tr>
                <tr class="amount-total">
                    <th>I.V.A</th>
                    <td>$ <%=  (subtotal - ( subtotal / 1.16)).round(2)%></td>
                </tr>
                <tr class="amount-total">
                    <th>Total</th>
                    <td>$ <%=  subtotal.round(2) %></td>
                </tr>
            </table>
        </section>
    </div>
</div>
</div>
<% end %>