<% content_for :contenido do %>
<h2 class="title" style="margin-top:-10px">
    INSCRIPCIÓN A PLAN DE ESTUDIO
</h2>
<div class="content" style="margin-top:20px">
    <div class="section">
        <div class="form">
            <div class="d-inline-block" style="width:20%">
                <label>Plan de Estudio</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta"><%= @student.study_plan.name %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Ciclo escolar</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta"><%= @student.cycle.name %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Tipo de inscripción</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <% if @student.inscription_type == '0' %>
                <label class="respuesta">Normal</label>
                <% else %>
                <label class="respuesta">Equivalencia</label>
                <% end %>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Matrícula</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="respuesta"><%= @student.registration %></label>
            </div>
        </div>
    </div>
    <div class="section" style="margin-top: 60px;">
        <h5 style="font-weight: 500;">I. DATOS GENERALES</h5>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Nombre Completo</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta"><%= @student.first_name %> <%= @student.second_name %>
                    <%= @student.last_name %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Curp</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-uppercase"><%= @student.curp %></label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Estado civil</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-uppercase"><%= @student.civil_status %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Fecha de Nacimiento</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-uppercase"><%= @student.birth_day %></label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Nacionalidad</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-uppercase"><%= @student.nacionality %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Lengua indígena o extranjera</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><% if @student.foreign_language%> Si <%else%> No
                    <% end %></label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Discapacidad / Enfermedad</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><% if @student.disability %> Si <%else%> No <% end %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Especifique</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.foreign_language_name %></label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Especifique</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.disability_name %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Empleo actual</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.actual_job %></label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Centro Laboral</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.job_center %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Ubicación del centro laboral</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.job_center_address %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Beca</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <% if @student.scolarship %>
                <label class="respuesta text-capitalize"><%= @student.scolarship.type_scolarship.name %> | <%= @student.scolarship.amount%>%</label>
                <% else %>
                <label class="respuesta text-capitalize">Ninguna</label>
                <% end%>
            </div>
        </div>
    </div>
    <div class="section" style="margin-top: 60px;">
        <h5 style="font-weight: 500;">I. DATOS DE CONTACTO</h5>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Domicilio</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta">
                    <%= @student.address.street %>,
                    #<%= @student.address.number_out %>,
                    interior:
                    <% if @student.address.number_in != "" %>
                    <%= @student.address.number_in %>
                    <% else %>
                    n/a
                    <%end%>
                </label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Colonia</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.address.colony %></label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Código Postal</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.address.code_postal %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Ciudad o municipio</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta">
                    <%= @student.address.municipality %>, <%= @student.address.city %>, <%= @student.address.state %>
                </label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Tel. Celular</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.cell_phone %></label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Tel. Casa o trabajo</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize"><%= @student.phone %></label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Correo electrónico</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="respuesta">
                    <%= @student.email %>
                </label>
            </div>
        </div>
    </div>
    <br>
    <br>
    <br>
    <div class="section" style="margin-top: 30px;">
        <h5 style="font-weight: 500;">III. CONTACTO DE EMERGENCIA. <span class="contacto-info">En caso de una situación
                emergente avisar a:</span></h5>
        <div class="form" style="margin-top:40px">
            <div class="d-inline-block" style="width:20%">
                <label>Nombre completo</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta">
                    <% if @student.emergency_contact%>
                        <%= @student.emergency_contact.name %>
                    <% end %>
                </label>
            </div>
        </div>
        <div class="form" style="margin-top:20px">
            <div class="d-inline-block" style="width:20%">
                <label>Tel. Celular</label>
            </div>
            <div style="width:30%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize">
                    <% if @student.emergency_contact%>
                        <%= @student.emergency_contact.cell_phone %>
                    <% end %>
                </label>
            </div>
            <div class="d-inline-block" style="width:20%">
                <label class="respuesta">Tel. Casa o trabajo</label>
            </div>
            <div style="width:25%" class="d-inline-block lineada">
                <label class="respuesta text-capitalize">
                    <% if @student.emergency_contact%>
                        <%= @student.emergency_contact.telephone %>
                    <% end %>
                </label>
            </div>
        </div>
    </div>
    <div class="section" style="margin-top: 80px;">
        <h5 style="font-weight: 500;">IV. INSTITUCIÓN DE EGRESO.</h5>
        <div class="form" style="margin-top:40px">
            <div class="d-inline-block" style="width:20%">
                <label>Nombre de la institución </label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta">
                    <%= @student.graduation_institution.name %>
                </label>
            </div>
        </div>
        <div class="form" style="margin-top:40px">
            <div class="d-inline-block" style="width:20%">
                <label>Promedio</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta">
                    <%= @student.graduation_institution.average %>
                </label>
            </div>
        </div>
        <div class="form" style="margin-top:40px">
            <div class="d-inline-block" style="width:20%">
                <label>Especialidad</label>
            </div>
            <div style="width:75%" class="d-inline-block lineada">
                <label class="text-capitalize respuesta">
                    <%= @student.graduation_institution.specialty %>
                </label>
            </div>
        </div>
    </div>


    <div class="signatures">
        <div class="form text-right">
            <label>Oaxaca de Juárez, Oaxaca, a
                <%= @student.updated_at.strftime("%d") %>
                de
                <% case @student.updated_at.strftime("%m") %>
                <% when "01" %>
                Enero
                <% when "02" %>
                Febrero
                <% when "03" %>
                Marzo
                <% when "04" %>
                Abril
                <% when "05" %>
                Mayo
                <% when "06" %>
                Junio
                <% when "07" %>
                Julio
                <% when "08" %>
                Agosto
                <% when "09" %>
                Septiembre
                <% when "10" %>
                Octubre
                <% when "11" %>
                Noviembre
                <% when "12" %>
                Diciembre
                <% end %>
                de <%= @student.created_at.strftime("%Y") %>
            </label>
        </div>

        <div class="form" style="margin-top: 150px;">
            <div class="student-signature" style="width:40%;margin: 0 auto">Nombre y firma del estudiante</div>
        </div>

        <div class="text-center" style="margin-top: 150px;">
            <div class="d-inline-block" style="width:40%;border-top: 1px solid black">Coordinación Académica</div>
            <div class="d-inline-block" style="width:40%;margin-left:80px;border-top: 1px solid black">Departamento de Control Escolar</div>
        </div>
    </div>
</div>
<% end %>
