<% content_for :contenido do %>
<h2 class="title">
    programa de actualización profesional
</h2>
<h4 class="subtitle">recibo de pago</h4>
<div class="content">
    <table style="width: 100%;">
        <thead>
            <tr class="gray-section">
                <th class="text-right" style="width: 20%">Matrícula:</th>
                <th>
                    <% if (@ingresos.debit.user.specific.registration== nil ) %>
                    ------
                    <%else%>
                    <%= @ingresos.debit.user.specific.registration %>
                    <% end %>
                </th>
                <th class="text-right" style="width: 20%"><% if(@ingresos.invoice_number > 0)%>Folio:<%  end %></th>
                <th>
                    <% if(@ingresos.invoice_number > 0)%>
                        <%= @ingresos.invoice_number %>
                    <%  end %>
                    <%# if (@ingresos.debit_id <10 && @ingresos.debit_id > 0 ) %>
                        <%#= "0000#{ @ingresos.debit_id }" %>
                        <%# elsif ( @ingresos.debit_id < 100 && @ingresos.debit_id > 9 )%>
                        <%#= "000#{ @ingresos.debit_id }" %>
                        <%# elsif ( @ingresos.debit_id < 1000 && @ingresos.debit_id > 99 )%>
                        <%#= "00#{ @ingresos.debit_id }" %>
                        <%# elsif ( @ingresos.debit_id < 10000 && @ingresos.debit_id > 999 )%>
                        <%#= "0#{ @ingresos.debit_id }" %>
                        <%# elsif ( @ingresos.debit_id < 100000 && @ingresos.debit_id > 9999 )%>
                        <%#= "#{ @ingresos.debit_id }" %>
                    <%# end %>
                </th>
            </tr>
            <tr class="gray-section">
                <th class="text-right">Nombre :</th>
                <th class="text-uppercase"><%= @ingresos.debit.user.first_name  %>
                    <%= @ingresos.debit.user.second_name  %> <%= @ingresos.debit.user.last_name  %>
                </th>
                <th class="text-right">Fecha de pago :</th>
                <th><%= @ingresos.date.to_s %> </th>
            </tr>
        </thead>
    </table>
    <table class="text-center" style="margin-top: 30px;width:100%">
        <tr>
            <td style="text-align:center;">Descripci&oacute;n</td>
            <!-- Don't remove this column as it's needed for the row commands -->
            <td><span class="centro">Costo unitario</span></td>
            <td>Beca</td>
            <td>Total</td>
        </tr>
        <tr style="height:160px;border-bottom: 4px solid #487774;">
            <td style="text-align:center;">
                <% if @ingresos.debit.concept_type == 'Activity'%>
                    <%= @ingresos.debit.concept.type_activity.name%>:
                <% end %>    
                <%= @ingresos.debit.concept.name%>
            </td> <!-- Don't remove this column as it's needed for the row commands -->
            <td>$ <%=  @ingresos.debit.amount%></td>
            <td><%=  @ingresos.debit.beca%> %</td>
            <td>$ <%=  @ingresos.debit.total_cost%></td>
        </tr>
    </table>

    <div class="total">
        <section id="sums">
            <table cellpadding="0" cellspacing="0">
                <tr class="amount-total">
                    <th>Subtotal</th>
                    <td>$ <%=  (@ingresos.debit.amount / 1.16).round(2)%></td>
                </tr>
                <tr class="amount-total">
                    <th>Descuento</th>
                    <td>$<%= ((@ingresos.debit.amount / 1.16) * (@ingresos.debit.beca / 100.00)).round(2) %></td>
                </tr>
                <tr class="amount-total">
                    <th>IVA 16.00%</th>
                    <td>$ <%=  (@ingresos.debit.total_cost - ( @ingresos.debit.total_cost / 1.16)).round(2)%></td>
                </tr>
                <tr class="amount-total">
                    <th>Total</th>
                    <td>$ <%=  @ingresos.debit.total_cost%></td>
                </tr>
            </table>
        </section>
    </div>
</div>
</div>
<% end %>