<div id="page-content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            <!-- Invoice Block -->
            <div class="block">
                <!-- Invoice Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" onclick="App.pagePrint();"><i class="fa fa-print"></i>Imprimir</a>
                    </div>
                    <h2 class="titulo ">SAEC <small class="titulo">#FOLIO001001</small></h2>
                </div>
                <!-- END Invoice Title -->

                <!-- Invoice Info -->
                <div class="row block-section">
                    <!-- Company Info -->
                    <div class="col-xs-12">
                        <div class="well ">
                            <div class="row">
                                <div class="col-xs-2 centro">
                                    <%= image_tag(root_url + "img/logo.png", size: "50x50", :alt => "COMESI") -%> 
                                </div>
                                <div class="col-xs-10">
                                    <h6 class="centro titulo">COLEGIO MEXICANO 
                                    DE ESTUDIOS SUPERIORES E INVESTIGACIÓN DEPARTAMENTO DE CONTROL ESCOLAR </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Company Info -->
                </div>
                <!-- END Invoice Info -->

                <div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="centro titulo">INSCRIPCION A PLAN DE ESTUDIO</p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-md-4">
                            <p>Plan de estudio</p>
                        </div>    
                        <div class="col-md-8">
                            <p class="linea"><%= @persona[:plan] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Ciclo escolar </p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:ciclo] %></p>
                        </div>    
                    </div> 
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Tipo de inscripción</p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:tipo] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Matrícula </p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:matricula] %></p>
                        </div>    
                    </div>
                </div>
                <div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="apartado">I. DATOS GENERALES</p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Nombre completo</p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:nombre] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-1">
                            <p>CURP </p>
                        </div>    
                        <div class="col-xs-5">
                            <p class="linea"><%= @persona[:curp] %></p>
                        </div>  
                        <div class="col-xs-2">
                            <p>Estado civil </p>
                        </div>    
                        <div class="col-xs-4">
                            <p class="linea"><%= @persona[:civil] %></p>
                        </div>      
                    </div> 
                    <div class="row">
                        <div class="col-xs-3">
                            <p>Fecha de nacimiento </p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:fecha] %></p>
                        </div>  
                        <div class="col-xs-2">
                            <p>Nacionalidad </p>
                        </div>    
                        <div class="col-xs-4">
                            <p class="linea"><%= @persona[:nacionalidad] %></p>
                        </div>       
                    </div>
                    <div class="row">
                       <div class="col-xs-5">
                            <p>Lengua indígena o extranjera </p>
                        </div>    
                        <div class="col-xs-1">
                            <p class="linea"><%= @persona[:lengua] %></p>
                        </div>  
                        <div class="col-xs-5">
                            <p>Discapacidad/enfermedad</p>
                        </div>    
                        <div class="col-xs-1">
                            <p class="linea"><%= @persona[:discapacidad] %></p>
                        </div>       
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <p>Especifique</p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:tipolengua] %></p>
                        </div>  
                        <div class="col-xs-2">
                            <p>Especifique</p>
                        </div>    
                        <div class="col-xs-4">
                            <p class="linea"><%= @persona[:tipodiscapacidad] %></p>
                        </div>       
                    </div>
                    <div class="row">
                       <div class="col-xs-3">
                            <p>Empleo actual </p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:empleo] %></p>
                        </div>  
                        <div class="col-xs-3">
                            <p>Centro laboral</p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:lugartrabajo] %></p>
                        </div>       
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Ubicación del centro laboral </p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:ubicacion] %></p>
                        </div>    
                    </div>
                    <div class="row">
                       <div class="col-xs-3">
                            <p>Solicitud de beca </p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:beca] %></p>
                        </div>  
                        <div class="col-xs-3">
                            <p>Tipo de beca</p>
                        </div>    
                        <div class="col-xs-3">
                           <p class="linea"><%= @persona[:tipobeca] %></p>
                        </div>       
                    </div>
                </div>
                <div>
                    <div class="row ">
                        <div class="col-xs-12">
                            <p class="apartado">II. DATOS DE CONTACTO</p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Domicilio</p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:domicilio] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Colonia </p>
                        </div>    
                        <div class="col-xs-4">
                            <p class="linea"><%= @persona[:colonia] %></p>
                        </div>  
                        <div class="col-xs-2">
                            <p>C.P.</p>
                        </div>    
                        <div class="col-xs-4">
                            <p class="linea"><%= @persona[:cp] %></p>
                        </div>         
                    </div> 
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Ciudad o municipio</p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:cmunicipio] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-3">
                            <p>Tel. Celular </p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:telcel] %></p>
                        </div>  
                        <div class="col-xs-3">
                            <p>Tel. Casa o trabajo</p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:telcasa] %></p>
                        </div>         
                    </div> 
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Correo electrónico</p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:correo] %></p>
                        </div>    
                    </div>
                </div>
            </div>
            <!-- END Invoice Block -->
            
        </div>
    </div>
</div>
<div id="page-content">
    <div class="row">
        <div class="col-sm-10 col-sm-offset-1 col-lg-8 col-lg-offset-2">
            <!-- Invoice Block -->
            <div class="block">
                <!-- Invoice Title -->
                <div class="block-title">
                    <div class="block-options pull-right">
                        <a href="javascript:void(0)" class="btn btn-effect-ripple btn-default" onclick="App.pagePrint();"><i class="fa fa-print"></i>Imprimir</a>
                    </div>
                    <h2 class="titulo ">SAEC <small class="titulo">#FOLIO001001</small></h2>
                </div>
                <!-- END Invoice Title -->

                <!-- Invoice Info -->
                <div class="row block-section">
                    <!-- Company Info -->
                    <div class="col-xs-12">
                        <div class="well ">
                            <div class="row">
                                <div class="col-xs-2 centro">
                                    <%= image_tag(root_url + "img/logo.png", size: "50x50", :alt => "COMESI") -%> 
                                </div>
                                <div class="col-xs-10">
                                    <h6 class="centro titulo">COLEGIO MEXICANO 
                                    DE ESTUDIOS SUPERIORES E INVESTIGACIÓN DEPARTAMENTO DE CONTROL ESCOLAR </h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- END Company Info -->
                </div>
                <!-- END Invoice Info -->

                <div>
                    <div class="row">
                        <div class="col-xs-12">
                            <p class="apartado">III. CONTACTO DE EMERGENCIA. En caso de una situación emergente avisar a:</p> 
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Nombre completo</p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:enombre] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-2">
                            <p>Celular </p>
                        </div>    
                        <div class="col-xs-4">
                            <p class="linea"><%= @persona[:ecelular] %></p>
                        </div>  
                        <div class="col-xs-3">
                            <p>Teléfono casa</p>
                        </div>    
                        <div class="col-xs-3">
                            <p class="linea"><%= @persona[:etelcasa] %></p>
                        </div>      
                    </div> 
                </div>
                <div>
                    <div class="row ">
                        <div class="col-xs-12">
                            <p class="apartado">IV. INSTITUCIÓN DE EGRESO</p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Domicilio</p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:domescuela] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Promedio </p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:promedio] %></p>
                        </div>    
                    </div>
                    <div class="row">
                        <div class="col-xs-4">
                            <p>Especialidad </p>
                        </div>    
                        <div class="col-xs-8">
                            <p class="linea"><%= @persona[:especialidad] %></p>
                        </div>    
                    </div>
                </div>
                <div>
                    <div class="row ">
                        <div class="col-xs-12">
                            <p class="apartado izquierda">Oaxaca de Juárez, Oaxaca, a 6 de julio de 2019.</p>
                        </div>    
                    </div>
                </div>
                <div>
                    <div class="row ">
                        <div class="col-xs-12">
                            <p class="titulo centro mt">________________________________________</p>
                        </div>   
                        <div class="col-xs-12">
                            <p class="titulo centro">Nombre y firma del estudiante</p>
                        </div> 
                    </div>
                </div>
                <div>
                    <div class="row ">
                        <div class="col-xs-6">
                            <p class="titulo centro mt">________________________________________</p>
                        </div>   
                        <div class="col-xs-6">
                            <p class="titulo centro mt">________________________________________</p>
                        </div> 
                    </div>
                    <div class="row ">
                        <div class="col-xs-6">
                            <p class="titulo centro">Mtro. Ivanhoe Sánchez Vásquez</p>
                        </div>   
                        <div class="col-xs-6">
                            <p class="titulo centro">Mtro. Jaime Padilla Ramírez </p>
                        </div> 
                    </div>
                    <div class="row ">
                        <div class="col-xs-6">
                            <p class="titulo centro">Coordinación Académica</p>
                        </div>   
                        <div class="col-xs-6">
                            <p class="titulo centro">Departamento de Control Escolar</p>
                        </div> 
                    </div>
                </div>
            </div>
            <!-- END Invoice Block -->
            
        </div>
    </div>
</div>

