<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
  <head>
    <title>SAEC - COMESI</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= javascript_pack_tag 'app' %>
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
    <!-- Icons -->
    <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
    <link rel="shortcut icon" href="<%= image_url('img/favicon.png') %>">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon57.png') %>" sizes="57x57">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon72.png') %>" sizes="72x72">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon76.png') %>" sizes="76x76">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon114.png') %>" sizes="114x114">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon120.png') %>" sizes="120x120">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon144.png') %>" sizes="144x144">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon152.png') %>" sizes="152x152">
    <link rel="apple-touch-icon" href="<%= image_url('img/icon180.png') %>" sizes="180x180">
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.10.19/css/jquery.dataTables.css">
    <!-- END Icons -->
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <script
  src="https://code.jquery.com/jquery-3.4.1.min.js"
  integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
  crossorigin="anonymous"></script>
    <%= javascript_include_tag 'application' %>
    <%= yield :css %>
  </head>

 
    <body>
    <div id='app'>
        <!-- Page Wrapper -->
        <!-- In the PHP version you can set the following options from inc/config file -->
        <!--
            Available classes:

            'page-loading'      enables page preloader
        -->
        <div id="page-wrapper" class="page-loading">
            <!-- Preloader -->
            <!-- Preloader functionality (initialized in js/app.js) - pageLoading() -->
            <!-- Used only if page preloader enabled from inc/config (PHP version) or the class 'page-loading' is added in #page-wrapper element (HTML version) -->
            <div class="preloader">
                <div class="inner">
                    <!-- Animation spinner for all modern browsers -->
                    <div class="preloader-spinner themed-background hidden-lt-ie10"></div>

                    <!-- Text for IE9 -->
                    <h3 class="text-primary visible-lt-ie10"><strong>Loading..</strong></h3>
                </div>
            </div>
            <!-- END Preloader -->

            <!-- Page Container -->
            <!-- In the PHP version you can set the following options from inc/config file -->
            <!--
                Available #page-container classes:

                'sidebar-light'                                 for a light main sidebar (You can add it along with any other class)

                'sidebar-visible-lg-mini'                       main sidebar condensed - Mini Navigation (> 991px)
                'sidebar-visible-lg-full'                       main sidebar full - Full Navigation (> 991px)

                'sidebar-alt-visible-lg'                        alternative sidebar visible by default (> 991px) (You can add it along with any other class)

                'header-fixed-top'                              has to be added only if the class 'navbar-fixed-top' was added on header.navbar
                'header-fixed-bottom'                           has to be added only if the class 'navbar-fixed-bottom' was added on header.navbar

                'fixed-width'                                   for a fixed width layout (can only be used with a static header/main sidebar layout)

                'enable-cookies'                                enables cookies for remembering active color theme when changed from the sidebar links (You can add it along with any other class)
            -->
            
            <div id="page-container" class="header-fixed-top sidebar-visible-lg-mini sidebar-light">
                <!-- Alternative Sidebar -->
                <div id="sidebar-alt" tabindex="-1" aria-hidden="true">
                    <!-- Toggle Alternative Sidebar Button (visible only in static layout) -->
                    <a href="javascript:void(0)" id="sidebar-alt-close" onclick="App.sidebar('toggle-sidebar-alt');"><i class="fa fa-times"></i></a>

                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll-alt">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Profile -->
                            <div class="sidebar-section">
                                <h2 class="text-light">Profile</h2>
                                <form action="index.html" method="post" class="form-control-borderless" onsubmit="return false;">
                                    <div class="form-group">
                                        <label for="side-profile-name">Name</label>
                                        <input type="text" id="side-profile-name" name="side-profile-name" class="form-control" value="John Doe">
                                    </div>
                                    <div class="form-group">
                                        <label for="side-profile-email">Email</label>
                                        <input type="email" id="side-profile-email" name="side-profile-email" class="form-control" value="john.doe@example.com">
                                    </div>
                                    <div class="form-group">
                                        <label for="side-profile-password">New Password</label>
                                        <input type="password" id="side-profile-password" name="side-profile-password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="side-profile-password-confirm">Confirm New Password</label>
                                        <input type="password" id="side-profile-password-confirm" name="side-profile-password-confirm" class="form-control">
                                    </div>
                                    <div class="form-group remove-margin">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END Profile -->

                            <!-- Settings -->
                            <div class="sidebar-section">
                                <h2 class="text-light">Settings</h2>
                                <form action="index.html" method="post" class="form-horizontal form-control-borderless" onsubmit="return false;">
                                    <div class="form-group">
                                        <label class="col-xs-7 control-label-fixed">Notifications</label>
                                        <div class="col-xs-5">
                                            <label class="switch switch-success"><input type="checkbox" checked><span></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-7 control-label-fixed">Public Profile</label>
                                        <div class="col-xs-5">
                                            <label class="switch switch-success"><input type="checkbox" checked><span></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-xs-7 control-label-fixed">Enable API</label>
                                        <div class="col-xs-5">
                                            <label class="switch switch-success"><input type="checkbox"><span></span></label>
                                        </div>
                                    </div>
                                    <div class="form-group remove-margin">
                                        <button type="submit" class="btn btn-effect-ripple btn-primary" onclick="App.sidebar('close-sidebar-alt');">Save</button>
                                    </div>
                                </form>
                            </div>
                            <!-- END Settings -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->
                </div>
                <!-- END Alternative Sidebar -->

                <!-- Main Sidebar -->
                <div id="sidebar">
                    <!-- Sidebar Brand -->
                    <div id="sidebar-brand" class="themed-background">
                        <a href="/#/home" class="sidebar-title themed-background-social">
                            <i class="fa fa-cube"></i> <span class="sidebar-nav-mini-hide">COMESI - <strong>SAEC</strong></span>
                        </a>
                    </div>
                    <!-- END Sidebar Brand -->

                    <!-- Wrapper for scrolling functionality -->
                    <div id="sidebar-scroll">
                        <!-- Sidebar Content -->
                        <div class="sidebar-content">
                            <!-- Sidebar Navigation -->
                            <% if !current_user.has_role? :user %>
                                <ul class="sidebar-nav">
                                    <li>
                                        <a href="/#/home" class=" active"><i class="gi gi-compass sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Panel de Control</span></a>
                                    </li>
                                    <li class="sidebar-separator">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </li>
                                    <li>
                                        <a href="#" id="menu-academico" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-folder_flag sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Cat&aacute;logos</span></a>
                                        <ul>
                                            <% if can? :read, Cycle %>
                                                <li>
                                                    <a href="/#/ciclos">Ciclos</a>
                                                </li>
                                            <% end %>
                                            <% if can? :read, Activity %>
                                                <li>
                                                    <a href="<%= activities_path %>">Actividades</a>
                                                </li>
                                            <% end %>
                                            <% if can? :read, TypeActivity %>
                                                <li>
                                                    <a href="<%= type_activities_path %>">Tipos de Actividades</a>
                                                </li>
                                            <% end %>
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" id="menu-inscription" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="hi hi-user sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Act. Profesional</span></a>
                                        <ul>
                                            <% if can? :create, Assistant %>
                                                <li>
                                                    <a class="menu-ingresar" href="/#/inscripcion">Inscripción a Plan de estudio</a>
                                                </li>
                                                <li>
                                                    <a class="menu-ingresar" href="/#/estudiantes">Ver Estudiantes</a>
                                                </li>
                                            <% end %>
                                            <% if can? :create, Assistant %>
                                                <li>
                                                    <a class="menu-ingresar" href="/#/actividad/registro">Inscripción a Actividades</a>
                                                </li>
                                            <% end %>
                                            <% if can? :read, Assistant %>
                                                <li>
                                                    <a class="menu-ingresar" href="/#/ver/asistentes">Ver Asistentes</a>
                                                </li>
                                                <li>
                                                    <a class="menu-ingresar" href="/#/listas/asistencia">Listas de Asistencia</a>
                                                </li>
                                            <% end %>
                                            <!--<li>
                                                <a href="<%= '/reporte/alumno' %>">Formato impresion</a>
                                            </li>
                                            <li>
                                                <a href="/registrar">Agregar Usuario</a>
                                            </li>-->
                                        </ul>
                                    </li>
                                    <li>
                                        <a href="#" id="menu-inscription3" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-parents sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Usuarios</span></a>
                                        <ul>
                                            <% if can? :read, Teacher %>
                                                <li>
                                                    <a href="/profesores">Docentes</a>
                                                </li>
                                            <% end %>
                                            <% if can? :read, Administrator %>
                                                <li>
                                                    <a class="menu-ingresar3" href="/#/administrativos">Administrativos</a>
                                                </li>
                                            <% end %>
                                            <!--<li>
                                                <a href="<%= '/reporte/alumno' %>">Formato impresion</a>
                                            </li>
                                            <li>
                                                <a href="/registrar">Agregar Usuario</a>
                                            </li>-->
                                        </ul>
                                    </li>
                                    <% if current_user.has_role? :admin or current_user.has_role? :regain or current_user.has_role? :direccion %>
                                        <li>
                                            <a href="#" id="menu-inscription2" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-money sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Pagos</span></a>
                                            <ul>
                                                <% if can? :read, TypePayment %>
                                                    <li>
                                                        <a href="<%= type_payments_path %>">Tipos de pagos</a>
                                                    </li>
                                                <% end %>
                                                <% if can? :read, TypeCost %>
                                                    <li>
                                                        <a href="<%= type_costs_path %>">Tipos de costos</a>
                                                    </li>
                                                <% end %>
                                                <% if can? :read, Debit %>
                                                    <li>
                                                        <a class="menu-ingresar2" href="/#/ver/adeudos/actividades">Adeudos</a>
                                                    </li>
                                                <% end %>
                                                <% if current_user.has_role? :admin %>
                                                    <li>
                                                        <a class="menu-ingresar2" href="/#/reporte/ingresos">Ingresos por Actividad</a>
                                                    </li>
                                                <% end %>
                                            </ul>
                                        </li>
                                    <% end %>
                                    <li class="sidebar-separator">
                                        <i class="fa fa-ellipsis-h"></i>
                                    </li>
                                    <li>
                                        <a href="#" id="menu-planes" class="sidebar-nav-menu"><i class="fa fa-chevron-left sidebar-nav-indicator sidebar-nav-mini-hide"></i><i class="gi gi-folder_flag sidebar-nav-icon"></i><span class="sidebar-nav-mini-hide">Act. Profesional</span></a>
                                        <ul>
                                            <li>
                                                <a class="menu-planes" href="/#/planes">Planes de estudio</a>
                                            </li>
                                            <li>
                                                <a class="menu-planes" href="/#/asignaturas">Asignaturas</a>
                                            </li>
                                            <li>
                                                <a class="menu-planes" href="/#/tipos/becas">Tipos de Becas</a>
                                            </li>
                                            <li>
                                                <a class="menu-planes" href="/#/becas">Becas</a>
                                            </li>
                                            <li>
                                                <a class="menu-planes" href="/#/becas/solicitar">Solicitud de Becas</a>
                                            </li>
                                        </ul>
                                    </li>
                                </ul>
                            <% end %>
                            <!-- END Sidebar Navigation -->
                        </div>
                        <!-- END Sidebar Content -->
                    </div>
                    <!-- END Wrapper for scrolling functionality -->

                    <!-- Sidebar Extra Info -->
                    <div id="sidebar-extra-info" class="sidebar-content sidebar-nav-mini-hide">
                        <div class="push-bit">
                            <span class="pull-right">
                                <a href="javascript:void(0)" class="text-muted"><i class="fa fa-plus"></i></a>
                            </span>
                            <small>Avance del Sistema: <strong>40%</strong> / 100%</small>
                        </div>
                        <div class="progress progress-mini push-bit">
                            <div class="progress-bar progress-bar-primary" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100" style="width: 20%"></div>
                        </div>
                        <div class="text-center">
                            <!--<small>Crafted with <i class="fa fa-heart text-danger"></i> by <a href="http://goo.gl/vNS3I" target="_blank">pixelcave</a></small><br>-->
                            <small><span id="year-copy"></span> &copy; <a href="http:impulzo.com.mx" target="_blank">Impulzo S.A.S</a></small>
                        </div>
                    </div>
                    <!-- END Sidebar Extra Info -->
                </div>
                <!-- END Main Sidebar -->

                <!-- Main Container -->
                <div id="main-container">
                    <!-- Header -->
                    <!-- In the PHP version you can set the following options from inc/config file -->
                    <!--
                        Available header.navbar classes:

                        'navbar-default'            for the default light header
                        'navbar-inverse'            for an alternative dark header

                        'navbar-fixed-top'          for a top fixed header (fixed main sidebar with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar())
                            'header-fixed-top'      has to be added on #page-container only if the class 'navbar-fixed-top' was added

                        'navbar-fixed-bottom'       for a bottom fixed header (fixed main sidebar with scroll will be auto initialized, functionality can be found in js/app.js - handleSidebar()))
                            'header-fixed-bottom'   has to be added on #page-container only if the class 'navbar-fixed-bottom' was added
                    -->
                    <header class="navbar navbar-inverse navbar-fixed-top themed-background-social">
                        <!-- Left Header Navigation -->
                        <ul class="nav navbar-nav-custom">
                            <!-- Main Sidebar Toggle Button -->
                            <li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar');this.blur();">
                                    <i class="fa fa-ellipsis-v fa-fw animation-fadeInRight" id="sidebar-toggle-mini"></i>
                                    <i class="fa fa-bars fa-fw animation-fadeInRight" id="sidebar-toggle-full"></i>
                                </a>
                            </li>
                            <!-- END Main Sidebar Toggle Button -->

                            <!-- Header Link -->
                            <li class="hidden-xs animation-fadeInQuick">
                                <a href="/#/home"><strong>Bienvenido a COMESI:
                                 <% if user_signed_in? %>
                                    <%= "#{ current_user.first_name } #{ current_user.second_name }" %>
                                 <% end %>
                                </strong></a>
                            </li>
                            <!-- END Header Link -->
                        </ul>
                        <!-- END Left Header Navigation -->

                        <!-- Right Header Navigation -->
                        <ul class="nav navbar-nav-custom pull-right">
                            <!-- Search Form -->
                            <!--<li>
                                <form action="page_ready_search_results.html" method="post" class="navbar-form-custom">
                                    <input type="text" id="top-search" name="top-search" class="form-control" placeholder="Search..">
                                </form>
                            </li>-->
                            <!-- END Search Form -->

                            <!-- Alternative Sidebar Toggle Button -->
                            <!--<li>
                                <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');this.blur();">
                                    <i class="gi gi-settings"></i>
                                </a>
                            </li>-->
                            <!-- END Alternative Sidebar Toggle Button -->

                            <!-- User Dropdown -->
                            <li class="dropdown">
                                <a href="javascript:void(0)" class="dropdown-toggle" data-toggle="dropdown">
                                    <%= image_tag 'img/placeholders/avatars/avatar9.jpg' %>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                    <!--<li class="dropdown-header">
                                        <strong>ADMINISTRATOR</strong>
                                    </li>
                                    <li>
                                        <a href="page_app_email.html">
                                            <i class="fa fa-inbox fa-fw pull-right"></i>
                                            Inbox
                                        </a>
                                    </li>
                                   
                                    <li>
                                        <a href="page_app_media.html">
                                            <i class="fa fa-picture-o fa-fw pull-right"></i>
                                            Media Manager
                                        </a>
                                    </li>
                                    <li class="divider"><li>
                                    <li>
                                        <a href="javascript:void(0)" onclick="App.sidebar('toggle-sidebar-alt');">
                                            <i class="gi gi-settings fa-fw pull-right"></i>
                                            Settings
                                        </a>
                                    </li>
                                    <li>
                                        <a href="page_ready_lock_screen.html">
                                            <i class="gi gi-lock fa-fw pull-right"></i>
                                            Lock Account
                                        </a>
                                    </li>-->
                                     <li>
                                        <a href="/#/editar/perfil/<%= current_user.id %>">
                                            <i class="fa fa-pencil-square fa-fw pull-right"></i>
                                            Editar Perfil
                                        </a>
                                    </li>
                                    <li>
                                        <a href="<%= destroy_user_session_path %>">
                                            <i class="fa fa-power-off fa-fw pull-right"></i>
                                            Salir
                                        </a>
                                    </li>
                                </ul>
                            </li>
                            <!-- END User Dropdown -->
                        </ul>
                        <!-- END Right Header Navigation -->
                    </header>
                    <!-- END Header -->

                    <!-- Page content -->
                    <div id="page-content">
                        <%= yield %>
                        <router-view></router-view>
                        <%# <block title="REGISTRO A ACTIVIDADES ACADEMICAS"></block> %>
                    </div>
                    <!-- END Page Content -->
                </div>
                <!-- END Main Container -->
            </div>
            <!-- END Page Container -->
        </div>
        </div>
        <!-- END Page Wrapper -->
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@9"></script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        
        <script src="<%= asset_url('js/vendor/bootstrap.min.js') %>"></script>
        <script src="<%= asset_url('js/plugins.js') %>"></script>
        <script src="<%= asset_url('js/app.js') %>"></script>
        <script type="text/javascript">
            var BASE_URL = '<%= request.base_url %>';
            var AUTHENTICITY_TOKEN = '<%= form_authenticity_token  %>';
        </script>
        <script src="<%= asset_url('js/pages/formsWizard.js') %>"></script>
        <script src="<%= asset_url('js/pages/uiTables.js') %>"></script>
        <script>$(function(){ FormsWizard.init(); });</script> 
        <script>$(function(){ UiTables.init(); }); </script>
        <script type="text/javascript">            
           $('#table-1_wrapper>.filter-responsive').css("width",$('#table-1').width()+2);
        </script>
        <%= yield :javascript %>
  </body>
</html>
