<!DOCTYPE html>
<!--[if IE 9]>         <html class="no-js lt-ie10" lang="en"> <![endif]-->
<!--[if gt IE 9]><!--> <html class="no-js" lang="en"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">

        <title>SAEC - COMESI</title>

        <meta name="description" content="AppUI is a Web App Bootstrap Admin Template created by pixelcave and published on Themeforest">
        <meta name="author" content="pixelcave">
        <meta name="robots" content="noindex, nofollow">

        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

        <!-- Icons -->
        <!-- The following icons can be replaced with your own, they are used by desktop and mobile browsers -->
        <link rel="shortcut icon" href="<%= image_url('img/favicon.png') %>">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon57.png') %>" sizes="57x57">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon72.png') %>" sizes="72x72">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon76.png') %>" sizes="76x76">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon114.png') %>" sizes="114x114">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon120.png') %>" sizes="120x120">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon144.png') %>" sizes="144x144">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon152.png') %>" sizes="152x152">
        <link rel="apple-touch-icon" href="<%= image_url('img/icon180.png') %>" sizes="180x180">
        <!-- END Icons -->
        <!-- Bootstrap is included in its original form, unaltered -->
        <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
<!--<link href="application-aeaf426165edc9b49871b8c710f90c91a7ed51d6216853532f7a6beda3830e5e.css" />-->
    </head>
    <body>
        <!-- Full Background -->
        <!-- For best results use an image with a resolution of 1280x1280 pixels (prefer a blurred image for smaller file size) -->
        <!--<img src="img/placeholders/layout/login2_full_bg.jpg" alt="Full Background" class="full-bg animation-pulseSlow">-->
        <%= image_tag 'img/placeholders/layout/login2_full_bg.jpg', class: 'full-bg animation-pulseSlow'  %>
        <!-- END Full Background -->

        <!-- Login Container -->
        <div id="login-container">
            <!-- Login Header -->
            <h1 class="h2 text-light text-center push-top-bottom animation-pullDown">
                <i class="fa fa-cube text-light-op"></i>
                <strong>SAEC</strong>
            </h1>
            <!-- END Login Header -->
            <%= yield %>
            <!-- Footer -->
            <footer class="text-muted text-center animation-pullUp">
                <small><span>2019 </span> &copy; <a href="#" target="_blank">Impulzo S.A.S de C.V</a></small>
            </footer>
            <!-- END Footer -->
        </div>
        <!-- jQuery, Bootstrap, jQuery plugins and Custom JS code -->
    </body>
</html>
        
