<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <div style="width: 100%">
        <div style="width: 30%;margin-left:10%;border-bottom: 1px solid black;"></div>
        <div style="width: 30%;margin-left:60%;border-bottom: 1px solid black;"></div><br>

        <div style="width: 30%;margin-left:10%;text-align: center;text-transform: uppercase"> docente:</div>
        <div style="width: 30%;margin-left:60%;text-align: center"> Mtro. Ivanhoe Sánchez Vázquez:</div>
        <div style="width: 30%;margin-left:60%;text-align: center;text-transform: uppercase">
            Jefe de Departamento Académico
        </div><br>
    </div>

</body>

</html>