<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
</head>

<body>
    <br><br>
    <div style="border-bottom: 1px solid black;"></div><br>
    <div style="text-align: center;text-transform: uppercase">
        docente: 
        <%-  @activity.teachers.each do |teacher| %>
            <%= "#{teacher.first_name} #{teacher.last_name} #{teacher.second_name}"%>
        <% end %>
    </div>
</body>

</html>