<!DOCTYPE html>

<head>
    <meta http-equiv="Content-Type" content="text/html;charset=UTF-8">
    <%= wicked_pdf_stylesheet_link_tag 'css/layout-reports2.css' -%>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>
    <div>
        <% if !@disable_header %>
        <div class="text-center college-name" style="height: 54px;">
            <span class="p-2">
                COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN
            </span>
           <!-- <%= wicked_pdf_image_tag 'img/arrows.png',:style => "height:60px",:class=>"arrows"%>
            <%= wicked_pdf_image_tag 'img/right-arrow.png',:style => "height:60px",:class=>"right-arrow"%> -->
        </div>
        <% end %>

        <div class="college-info">
            <div class="logo">
                <%= wicked_pdf_image_tag 'img/logo2.jpg', :style => "height: 160px;"%>
            </div>
            <% if @datos_generales==1 %>
                <div class="info">
                    <br>
                    Prolongación de Almendros 1103 A, Col Las Flores, CP. 68050, Oaxaca de Juárez, Oax.<br>
                    RFC: AVA140717NW5 LAS AGUILAS CON VALOR A.C.<br>
                    R&eacute;gimen General de Ley Personas Morales.<br>
                    Teléfono: 044 951 461 0486
                </div>
            <% elsif @datos_generales == 2 %>
                <div class="info">
                    <br>
                    Departamento de Control escolar<br>
                    Ciclo: Enero-Junio 2019
                </div>
            <% elsif @datos_generales == 3 %>
                <div class="info text-right text-uppercase" style="width:80%">
                    <br>
                    FTO.
                        <%= @format?@format:"000" %>
                    <br>    
                    COLEGIO MEXICANO DE ESTUDIOS SUPERIORES E INVESTIGACIÓN <br>
                    <%= @department?@department:"DEPARTAMENTO DE CONTROL ESCOLAR" %><br>
                    <%= @cycle?"CICLO ESCOLAR #{@cycle.name}":"" %>
                </div>
            <% end %>
        </div>
        <%= yield :contenido %>
    </div>
</body>

</html>
